<div class="machine-content" resize>


  <!--  <nav-btn>
      <nav-title></nav-title>
      <nav-list>
        <nav-item ng-click="rentalMachineMngCtr.gotoView(item.title)"></nav-item>
      </nav-list>
      <nav-overlay></nav-overlay>
    </nav-btn>-->

  <!--currentLocation begin-->
  <div id="currentLocation" class="container-fluid">
    <section class="renatlcontent-header">
      <h1>
        <small>{{'rentalCurrentLocate'|translate}}:</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-car"></i>{{'vehicleManagement'| translate}}</a></li>
        <li class="active"><i class="fa fa-map-marker"></i>{{'rentalcurrentPosition'| translate}}</li>
      </ol>
    </section>
    <div class="row info-box-container">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  box-light">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 profit-info-height" >
              <img class="profit-info-height"  style="max-width:6vw;padding-left: 25px"
                   src="assets/images/fence-rental.png"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 profit-info-height" >
              <div class="profit-info-height">{{'rentalGeo-FenceWarning'|translate}}</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 profit-info-height alarm-pointer">
              <div ng-click="rentalMachineMngCtr.queryAlarmMsg(1)" ><strong ng-bind="rentalMachineMngCtr.fenceAlarm"></strong></div>
            </div>
          </div>
          <!--<div class="info-box-left-text" ng-click="rentalMachineMngCtr.queryAlarmMsg(1)" style="cursor:pointer;">
            <span class=" info-box-left-text-top">{{'rentalGeo-FenceWarning'|translate}}</span>
            <span class="info-box-number info-box-left-text-below" ></span>
          </div>-->
          <!-- <div class="miniChart"></div>-->
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  box-light">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 profit-info-height" >
              <img class="profit-info-height"  style="max-width:6vw;padding-left: 25px"
                   src="assets/images/car.png"/>
            </div>
            <div class="ol-lg-6 col-md-6 col-sm-6 col-xs-6  profit-info-height" >
              <div class="profit-info-height" >{{'rentalEquipmentWarning'|translate}}</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 profit-info-height alarm-pointer">
              <div  ng-click="rentalMachineMngCtr.queryAlarmMsg(4)" ><strong  ng-bind="rentalMachineMngCtr.machineAlarm"></strong></div>
            </div>
          </div>
         <!-- <div class="info-box-left-text" ng-click="rentalMachineMngCtr.queryAlarmMsg(4)" style=" cursor:pointer;">
            <span class=" info-box-left-text-top">{{'rentalEquipmentWarning'|translate}}</span>
            <span class="info-box-number info-box-left-text-below" ng-bind="rentalMachineMngCtr.machineAlarm"></span>
          </div>-->
          <!--<div class="miniChart"></div>-->
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  box-light">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 profit-info-height" >
              <img class="profit-info-height"  style="max-width:6vw;padding-left: 25px"
                   src="assets/images/main.png"/>
            </div>
            <div class="ol-lg-6 col-md-6 col-sm-6 col-xs-6  profit-info-height" >
              <div class="profit-info-height">{{'rentalMaintenanceReminder'|translate}}</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 profit-info-height alarm-pointer">
              <div ng-click="rentalMachineMngCtr.queryAlarmMsg(2)"><strong ng-bind="rentalMachineMngCtr.keepAlarm"></strong></div>
            </div>
          </div>
          <!--<div class="info-box-left-text" ng-click="rentalMachineMngCtr.queryAlarmMsg(2)" style=" cursor:pointer;">-->
            <!--<span class=" info-box-left-text-top">{{'rentalMaintenanceReminder'|translate}}</span>-->
            <!--<span class="info-box-number info-box-left-text-below" ></span>-->
          <!--</div>-->
          <!--<div class="miniChart"></div>-->
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  box-light">
          <div class="row">
            <div class="ccol-lg-3 col-md-3 col-sm-3 col-xs-3 profit-info-height" >
              <img class="profit-info-height"  style="max-width:6vw;padding-left: 25px"
                   src="assets/images/offline.png"/>
            </div>
            <div class="ol-lg-6 col-md-6 col-sm-6 col-xs-6  profit-info-height" >
              <div class="profit-info-height">{{'rentalOff-lineReminder'|translate}}</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 profit-info-height alarm-pointer">
              <div ng-click="rentalMachineMngCtr.queryAlarmMsg(3)"><strong ng-bind="rentalMachineMngCtr.offLineAlarm"></strong></div>
            </div>
          </div>
          <!--<div class="info-box-left-text" ng-click="rentalMachineMngCtr.queryAlarmMsg(3)" style=" cursor:pointer;">
            <span class=" info-box-left-text-top">{{'rentalOff-lineReminder'|translate}}</span>
            <span class="info-box-number info-box-left-text-below" ng-bind="rentalMachineMngCtr.offLineAlarm"></span>
          </div>-->
          <!-- <div class="miniChart"></div>-->
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top: 15px">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="box base-left-map-box-container">
          <div class="box-header">
            <span>{{'rentalEquipmentPreview'|translate}}</span>
            <div class="box-tools pull-right">
              <button class="btn btn-sm" title="{{'refresh'|translate}}"
                      ng-click="rentalMachineMngCtr.loadHomeDeviceData(langkey)" style="background-color: transparent">
                <i class="fa fa-refresh"></i>
              </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <div id="homeMap" ng-style="rentalMachineMngCtr.baseBoxMapContainer"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="info-box box-light" style="margin-bottom: 0px;">
          <div class="info-box-content" ng-style="rentalMachineMngCtr.rightBoxTopHeight">
            <div class="middlePicBox">
              <div class="header">{{'TotalNumbersAndRateRents'|translate}}</div>
              <div class="col-lg-6">
                <ul>
                  <li class="machineNumlis"><i>{{'rentalTotal'|translate}}</i><span><a style=" cursor:pointer;"
                                                                                       ng-click="rentalMachineMngCtr.queryByMachineType()"
                                                                                       ng-bind="rentalMachineMngCtr.machineCount"></a></span>
                  </li>
                  <li class="machineNumlis"><i>{{'rentalScissorLift'|translate}}</i><span><a style=" cursor:pointer;"
                                                                                             ng-click="rentalMachineMngCtr.queryByMachineType(1)"
                                                                                             ng-bind="rentalMachineMngCtr.shearFork"></a></span>
                    <div class="miniPie"></div>
                  </li>
                  <li class="machineNumlis"><i>{{'rentalBoomLift'|translate}}</i><span><a style=" cursor:pointer;"
                                                                                          ng-click="rentalMachineMngCtr.queryByMachineType(2)"
                                                                                          ng-bind="rentalMachineMngCtr.straightArm"></a></span>
                    <div class="miniPie"></div>
                  </li>
                  <li class="machineNumlis"><i>{{'rentalArticulatingBoomLift'|translate}}</i><span><a style=" cursor:pointer;"
                                                                                                      ng-click="rentalMachineMngCtr.queryByMachineType(3)"
                                                                                                      ng-bind="rentalMachineMngCtr.crankArm"></a></span>
                    <div class="miniPie"></div>
                  </li>
                  <li class="machineNumlis"><i>{{'other'|translate}}</i><span><a style=" cursor:pointer;"
                                                                                             ng-click="rentalMachineMngCtr.queryByMachineType(4)"
                                                                                             ng-bind="rentalMachineMngCtr.other"></a></span>
                    <div class="miniPie"></div>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <div id="homePie"></div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 10px">
          <div style="background-color: #ffffff"><span>{{'rentalStatistics'|translate}}</span></div>
          <div id="machineBarChart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--currentLocation end-->

</div>
