<div class="profit-content" ng-controller="costStatisticsController as costStatisticsCtr" resize>

  <!--<nav-btn>-->
    <!--<nav-title></nav-title>-->
    <!--<nav-list>-->
      <!--<nav-item ng-click="costStatisticsCtr.gotoAnchor(item.title)"></nav-item>-->
    <!--</nav-list>-->
    <!--<nav-overlay></nav-overlay>-->
  <!--</nav-btn>-->
  <!--Cost statistics-->
  <div id="Cost" class="container-fluid profitItem">
    <section class="renatlcontent-header">
      <h1>
        <small>{{'rentalCurrentLocate'|translate}}:</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-money"></i>{{'assetMng'| translate}}</a></li>
        <li class="active"><i class="glyphicon glyphicon-list-alt "></i>{{'costStatistics'| translate}}</li>
      </ol>
    </section>
    <div class="row info-box-container">

      <div class="col-lg-3 col-md-3">
        <div class="info-card">
          <div class="info-title">{{'rentalMachineCost'| translate}}</div>
          <div class="info-data">{{costStatisticsCtr.rentalMachineCost|number:2}}</div>
          <!--<div class="info-data">¥68928</div>-->

        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="info-card">

          <div class="info-title">{{'rentalSaleCost'| translate}}</div>
          <div class="info-data">{{costStatisticsCtr.rentalSaleCost|number:2}}</div>
          <!--<div class="info-data">¥62466</div>-->

        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="info-card">
          <div class="info-title">{{'rentalManagementCost'| translate}}</div>
          <div class="info-data">{{costStatisticsCtr.rentalManagementCost|number:2}}</div>
          <!--<div class="info-data">¥51696</div>-->

        </div>
      </div>
      <div class="col-lg-23 col-md-3">
        <div class="info-card">
          <div class="info-title">{{'rentalFinanceCost'| translate}}</div>
          <div class="info-data">{{costStatisticsCtr.rentalFinanceCost|number:2}}</div>
          <!--<div class="info-data">¥32310</div>-->

        </div>
      </div>
    </div>

    <div class="info-box-container searchLine">
      <div >
        <div class="forminline" >
          <label>{{'deviceType'| translate}}:</label>

          <div class="forminline" style="width: 150px;">
            <ui-select  ng-model="costStatisticsCtr.machineType" ng-disabled="disabled" required>
              <ui-select-match allow-clear="true" placeholder="{{'rentalMachineType'|translate}}">{{$select.selected.name |translate}}</ui-select-match>
              <ui-select-choices repeat="machineType.id as machineType in costStatisticsCtr.machineTypeList | propsFilter: {name: $select.search}">
                <div ng-bind-html="machineType.name | highlight: $select.search |translate"></div>
              </ui-select-choices>
            </ui-select>
          </div>


        </div>

        <div class="forminline" >

          <label>{{'highlyType'| translate}}:</label>
          <ui-select name="deviceHeightType" ng-model="costStatisticsCtr.queryDeviceHeightType" theme="bootstrap" style="display:inline-block;width: 150px;"
                     ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="{{'rentalHeight'|translate}}">{{$select.selected.name|translate}}
            </ui-select-match>
            <ui-select-choices repeat="deviceHeightType in costStatisticsCtr.deviceHeightTypeList">
              <div ng-bind-html="deviceHeightType.name | highlight: $select.search | translate"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="forminline" style="width: 17%">

          <label class="">{{'brandType'| translate}}:</label>

          <ui-select name="deviceManufacture" ng-model="costStatisticsCtr.queryManufacture" theme="bootstrap" style="display:inline-block;width: 150px;"
                     ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="{{'rentalBrand'|translate}}">{{$select.selected.name|translate}}
            </ui-select-match>
            <ui-select-choices repeat="machineMF in costStatisticsCtr.machineMFList">
              <div ng-bind-html="machineMF.name | highlight: $select.search |translate"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-inline forminline" style="width: 18%">
          <div class="form-group">
            <label class="control-label text-nowrap" >{{'rentalStartingDate'|translate}}:</label>
            <div class="input-group" >
              <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                     ng-model="costStatisticsCtr.startDateDeviceData"
                     is-open="costStatisticsCtr.startDateOpenStatusDeviceData.opened"
                     datepicker-options="costStatisticsCtr.dateOptions"
                     min-date="costStatisticsCtr.minDate"
                     max-date="costStatisticsCtr.maxDate"

                     ng-required="true"
                     current-text="{{'today'|translate}}"
                     clear-text="{{'cleanUp'|translate}}"
                     close-text="{{'close'|translate}}" required readonly="readonly" style="width: 120px;"/>
              <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="costStatisticsCtr.startDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
            </div>
          </div>
        </div>
        <div class="form-inline  forminline"  style="width: 18%" >
          <div class="form-group">
            <label class="control-label text-nowrap" >{{'rentalEndDate'|translate}}:</label>
            <div class="input-group" >
              <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                     ng-model="costStatisticsCtr.endDateDeviceData"
                     is-open="costStatisticsCtr.endDateOpenStatusDeviceData.opened"
                     datepicker-options="costStatisticsCtr.dateOptions"
                     ng-required="true" current-text="{{'today'|translate}}"
                     clear-text="{{'cleanUp'|translate}}"
                     close-text="{{'close'|translate}}" required readonly="readonly" style="width: 120px;"/>
              <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="costStatisticsCtr.endDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
            </div>
          </div>
        </div>

        <button  type="button" class="btn btn-primary searchButton" ng-click="costStatisticsCtr.queryCost(null,null,null,costStatisticsCtr.startDateDeviceData,costStatisticsCtr.endDateDeviceData)">{{'query'|translate}}</button>
        <button  type="button" class="btn btn-default searchButton" ng-click="costStatisticsCtr.reset()">{{'reset'|translate}}</button>
      </div>
    </div>

    <div class="row costPic">
      <div class="leftTable col-md-6">
        <div class="table-responsive">
          <table ng-table="costStatisticsCtr.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
            <tr ng-repeat="costdata in $data">
              <td class="text-nowrap" data-title="'rentalMachineID'|translate" sortable="''">{{costdata.machineLicenseId}}</td>
              <td class="text-nowrap" data-title="'rentalMachineType'|translate" sortable="''">{{costdata.machineTypeName |translate}}</td>
              <td class="text-nowrap" data-title="'rentalHeight'|translate" sortable="''">{{costdata.heightTypeName |translate}}</td>
              <td class="text-nowrap" data-title="'rentalBrand'|translate" sortable="''">{{costdata.machineManufacture |translate}}</td>
              <td class="text-nowrap" data-title="'rentalMachineCost'|translate" sortable="''">{{costdata.machineCost|number:2}}</td>
            </tr>
          </table>
        </div>

        <div class="box-footer">
          <uib-pagination total-items="costStatisticsCtr.page.totalElements"
                          ng-change="costStatisticsCtr.queryCost(costStatisticsCtr.pageNumber-1,null,null,costStatisticsCtr.startDateDeviceData,costStatisticsCtr.endDateDeviceData)"
                          max-size="15"
                          ng-model="costStatisticsCtr.pageNumber"
                          items-per-page="costStatisticsCtr.page.size" class="pagination-sm"
                          boundary-links="true" rotate="false"
                          previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
      </div>
      <div class="rightPic col-md-6">
        <div id="topPie" ng-style="costStatisticsCtr.baseBoxContainer" ></div>
      </div>
    </div>
  </div>





</div>

