<div class="profit-content" ng-controller="costStatisticsController as costStatisticsCtr" resize>

  <nav-btn>
    <nav-title></nav-title>
    <nav-list>
      <nav-item ng-click="costStatisticsCtr.gotoAnchor(item.title)"></nav-item>
    </nav-list>
    <nav-overlay></nav-overlay>
  </nav-btn>
  <!--Cost statistics-->
  <div id="Cost" class="container-fluid profitItem">
    <section class="content-header">
      <h1>
        <small>{{'currentPosition'|translate}}:</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-money"></i>{{'assetMng'| translate}}</a></li>
        <li class="active"><i class="glyphicon glyphicon-list-alt "></i>{{'costStatistics'| translate}}</li>
      </ol>
    </section>
    <div class="row info-box-container">

      <div class="col-lg-3 col-md-3">
        <div class="info-card">
          <div class="info-title">车辆相关</div>
          <div class="info-data">99</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="info-card">

          <div class="info-title">销售费用</div>
          <div class="info-data">49</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="info-card">
          <div class="info-title">管理费用</div>
          <div class="info-data">25</div>
        </div>
      </div>
      <div class="col-lg-23 col-md-3">
        <div class="info-card">
          <div class="info-title">财务费用</div>
          <div class="info-data">25</div>
        </div>
      </div>
    </div>

    <div class="info-box-container searchLine">
      <div >
        <div class="forminline" >
          <label >车型</label>
          <!--<div class="forminline" style="width: 150px;">-->
            <!--<ui-select id="machineType" name="machineType" ng-model="costStatisticsCtr.machineType" theme="bootstrap"-->
                       <!--ng-disabled="disabled" >-->
              <!--<ui-select-match allow-clear="true" placeholder="车辆类型">{{$select.selected.typeName}}-->
              <!--</ui-select-match>-->
              <!--<ui-select-choices  repeat="machineType.id as machineType in costStatisticsCtr.machineTypeList | propsFilter: {typeName: $select.search}" >-->
                <!--<div  ng-bind-html="machineType.typeName | highlight: $select.search"></div>-->
              <!--</ui-select-choices>-->
            <!--</ui-select>-->
          <!--</div>-->
          <div class="forminline" style="width: 150px;">
            <select class="form-control" ng-model="costStatisticsCtr.machineType">
              <option value="1">剪叉</option>
              <option value="2">直臂</option>
              <option value="3">曲臂</option>
            </select>
          </div>

        </div>

        <div class="forminline" >
          <label>高度</label>
          <select name="deviceHeightType"  class="form-control forminline" style="width: 150px;"
                  ng-model="costStatisticsCtr.queryDeviceHeightType"
                  ng-options="deviceHeightType.id as deviceHeightType.name for deviceHeightType in costStatisticsCtr.deviceHeightTypeList">
            <option value="">请选择...</option>
          </select>
        </div>
        <div class="forminline" style="width: 17%">
          <label class="">品牌</label>
          <select name="machineManufacture" class="form-control forminline " style="width: 150px;"
                  ng-model="costStatisticsCtr.queryManufacture"
                  ng-options="machineMF.id as machineMF.name for machineMF in costStatisticsCtr.machineMFList">
            <option value="">请选择...</option>
          </select>
        </div>
        <div class="form-inline forminline" style="width: 18%">
          <div class="form-group">
            <label class="control-label text-nowrap" >{{'startDate'|translate}}:</label>
            <div class="input-group" >
              <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                     ng-model="costStatisticsCtr.startDateDeviceData"
                     is-open="costStatisticsCtr.startDateOpenStatusDeviceData.opened"
                     datepicker-options="costStatisticsCtr.dateOptions"
                     min-date="costStatisticsCtr.minDate"
                     max-date="costStatisticsCtr.maxDate"

                     ng-required="true"
                     current-text="{{'today'|translate}}"
                     clear-text="{{'cleanUp'|translate}}"
                     close-text="{{'close'|translate}}" required readonly="readonly" style="width: 120px;"/>
              <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="costStatisticsCtr.startDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
            </div>
          </div>
        </div>
        <div class="form-inline  forminline"  style="width: 18%" >
          <div class="form-group">
            <label class="control-label text-nowrap" >{{'endDate'|translate}}:</label>
            <div class="input-group" >
              <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                     ng-model="costStatisticsCtr.endDateDeviceData"
                     is-open="costStatisticsCtr.endDateOpenStatusDeviceData.opened"
                     datepicker-options="costStatisticsCtr.dateOptions"
                     ng-required="true" current-text="{{'today'|translate}}"
                     clear-text="{{'cleanUp'|translate}}"
                     close-text="{{'close'|translate}}" required readonly="readonly" style="width: 120px;"/>
              <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="costStatisticsCtr.endDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
            </div>
          </div>
        </div>

        <button  type="button" class="btn btn-sm bg-orange searchButton" ng-click="costStatisticsCtr.queryCost(null,null,null,costStatisticsCtr.startDateDeviceData,costStatisticsCtr.endDateDeviceData)">{{'query'|translate}}</button>
        <button  type="button" class="btn btn-sm bg-orange searchButton" ng-click="costStatisticsCtr.reset()">{{'reset'|translate}}</button>
      </div>
    </div>

    <div class="row costPic">
      <div class="leftTable col-md-6">
        <div class="table-responsive">
          <table ng-table="costStatisticsCtr.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
            <tr ng-repeat="costdata in $data">
              <td class="text-nowrap" data-title="'车号'" sortable="''">{{costdata.machineLicenseId}}</td>
              <td class="text-nowrap" data-title="'车辆类型'" sortable="''">{{costdata.machineTypeName}}</td>
              <td class="text-nowrap" data-title="'高度类型'" sortable="''">{{costdata.heightTypeName}}</td>
              <td class="text-nowrap" data-title="'品牌类型'" sortable="''">{{costdata.machineManufacture}}</td>
              <td class="text-nowrap" data-title="'车辆相关成本费用'" sortable="''">{{costdata.machineCost}}</td>
            </tr>
          </table>
        </div>

        <div class="box-footer">
          <uib-pagination total-items="costStatisticsCtr.page.totalElements"
                          ng-change="costStatisticsCtr.queryCost(costStatisticsCtr.pageNumber-1,null,null,costStatisticsCtr.startDateDeviceData,costStatisticsCtr.endDateDeviceData)"
                          max-size="15"
                          ng-model="costStatisticsCtr.pageNumber"
                          items-per-page="costStatisticsCtr.page.size" class="pagination-sm"
                          boundary-links="true" rotate="false"  first-text="{{'pagingHomePage' | translate}}"
                          last-text="{{'lastPage'|translate}}"
                          next-text="{{'nextPage'|translate}}"
                          previous-text="{{'previousPage'|translate}}"></uib-pagination>
        </div>
      </div>
      <div class="rightPic col-md-6">
        <div id="topPie" ng-style="costStatisticsCtr.baseBoxContainer" ></div>
      </div>
    </div>
  </div>





</div>

