<div class="profit-content" ng-controller="incomeStatisticsController as incomeStatisticsCtr" resize>
  <div id="income" class="container-fluid  profitItem ">
    <section class="renatlcontent-header">
      <h1>
        <small>{{'rentalCurrentLocate'|translate}}:</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-money"></i>{{'assetMng'| translate}}</a></li>
        <li class="active"><i class="fa fa-credit-card "></i>{{'incomeStatistics'| translate}}</li>
      </ol>
    </section>

    <div class="row info-box-container">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  box-light">
          <div class="row"  style="cursor:pointer;">
            <div class="col-md-3 profit-info-height">
              <img class="profit-info-height"  style="width:80px;padding-left: 25px;"
                   src="assets/images/rental_income.png"/>
            </div>
            <div class="col-md-6 profit-info-height" style="text-align: center;">
              <span class="profit-info-height">{{'rentalTotalIncome'|translate}}</span>
            </div>
            <div class="col-md-3 profit-info-height ">
              <span class="info-box-number" >¥{{incomeStatisticsCtr.totalIncome}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  box-light">
          <div class="row"  style="cursor:pointer;">
            <div class="col-md-3 profit-info-height">
              <img class="profit-info-height"  style="width:80px;padding-left: 25px;"
                   src="assets/images/orderlist_shear.png"/>
            </div>
            <div class="col-md-6 profit-info-height" style="text-align: center;">
              <span class="profit-info-height">{{'rentalScissorLiftIncome'|translate}}</span>
            </div>
            <div class="col-md-3 profit-info-height ">
              <span class="info-box-number" >¥{{incomeStatisticsCtr.jcTotalIncome}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  box-light">
          <div class="row"  style="cursor:pointer;">
            <div class="col-md-3 profit-info-height">
              <img class="profit-info-height"  style="width:80px;padding-left: 25px;"
                   src="assets/images/orderlist_straight.png"/>
            </div>
            <div class="col-md-6 profit-info-height" style="text-align: center;">
              <span class="profit-info-height">{{'rentalBoomLiftIncome'|translate}}</span>
            </div>
            <div class="col-md-3 profit-info-height ">
              <span class="info-box-number" >¥{{incomeStatisticsCtr.zbTotalIncome}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  box-light">
          <div class="row"  style="cursor:pointer;">
            <div class="col-md-3 profit-info-height">
              <img class="profit-info-height"  style="width:80px;padding-left: 25px;"
                   src="assets/images/orderlist_crank.png"/>
            </div>
            <div class="col-md-6 profit-info-height" style="text-align: center;">
              <span class="profit-info-height">{{'rentalArticulatingBoomLiftIncome'|translate}}</span>
            </div>
            <div class="col-md-3 profit-info-height ">
              <span class="info-box-number" >¥{{incomeStatisticsCtr.qbTotalIncome}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid table-wrapper" style="margin-top: 15px;">
      <div  class=" col-md-2">
        <div class="row">
          <label class="control-label">{{'rentalQueryType'|translate}}:</label>
        </div >
        <div class="row">
          <select class="form-control" style="width: 125px;display: inline-block;" ng-change="incomeStatisticsCtr.change(incomeStatisticsCtr.queryType)" ng-model="incomeStatisticsCtr.queryType">
            <option value="1" ng-selected="true">{{'rentalByOrder'|translate}}</option>
            <option value="2">{{'rentalByMachine'|translate}}</option>
          </select>
        </div>

      </div>
      <div  class=" col-md-10" ng-show="incomeStatisticsCtr.orderQuery">
        <div class="form-group">
          <div class="row info-box-container">
            <label class="col-md-1 control-label">{{'rentalWorkLocation'|translate}}:</label>
            <div class="col-md-2" >
              <input type="text" id="tipinput" class="form-control ng-pristine ng-valid ng-touched" placeholder="{{'rentalWorkLocation'|translate}}" ng-model="incomeStatisticsCtr.rentalOrder.workplace" style="">
            </div>


            <label class="col-md-1 control-label">{{'rentalCustomerName'|translate}}:</label>
            <div class="col-md-2">
              <p class="input-group">

                <input type="text" id="org" class="form-control" placeholder="{{'pleaseSelect'|translate}}"
                       ng-model="incomeStatisticsCtr.rentalOrder.rentalCustomer.name" name="customerName"
                       placeholder="{{'rentalCustomerName'|translate}}"
                       validator="required" readonly/>
                <span class="input-group-btn">
          <!--打开组织树-->
            <button type="button" class="btn btn-default"  ng-click="incomeStatisticsCtr.selectCustomer('lg')">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
              </p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row info-box-container">
            <div class="col-md-1">
              <label class="control-label">{{'rentalStartingDate'|translate}}:</label>
            </div>
            <div class="col-md-2">
              <p class="input-group" >
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                       ng-model="incomeStatisticsCtr.startDate"
                       is-open="incomeStatisticsCtr.startDateOpenStatusDeviceData.opened"
                       datepicker-options="incomeStatisticsCtr.dateOptions"
                       min-date="incomeStatisticsCtr.minDate"
                       max-date="incomeStatisticsCtr.maxDate"

                       ng-required="true"
                       current-text="{{'today'|translate}}"
                       clear-text="{{'cleanUp'|translate}}"
                       close-text="{{'close'|translate}}" required readonly="readonly" />
                <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="incomeStatisticsCtr.startDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>

                        </span>
              </p>
            </div>
            <div class="col-md-1">
              <label class="control-label">{{'rentalEndDate'|translate}}:</label>
            </div>
            <div class="col-md-2">
              <p class="input-group" >
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                       ng-model="incomeStatisticsCtr.endDate"
                       is-open="incomeStatisticsCtr.endDateOpenStatusDeviceData.opened"
                       datepicker-options="incomeStatisticsCtr.dateOptions"
                       ng-required="true" current-text="{{'today'|translate}}"
                       clear-text="{{'cleanUp'|translate}}"
                       close-text="{{'close'|translate}}" required readonly="readonly" />
                <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="incomeStatisticsCtr.endDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
              </p>
            </div>
            <div class="col-md-4">
              <button  type="button" class="btn btn-primary searchButton" ng-click="incomeStatisticsCtr.queryByOrder(0,incomeStatisticsCtr.pageSize,null,incomeStatisticsCtr.rentalOrder)">{{'query'|translate}}</button>
              <button  type="button" class="btn btn-default searchButton" ng-click="incomeStatisticsCtr.reset()">{{'reset'|translate}}</button>
            </div>
          </div>
        </div>

      </div>
      <div  class="col-md-10" ng-show="incomeStatisticsCtr.machineQuery">
        <div class="form-group">
          <div class="row info-box-container">


            <label class="col-md-1 control-label padding5">{{'vehicleType'|translate}}:</label>
            <div class="col-md-2">
              <ui-select  ng-model="incomeStatisticsCtr.rentalMachine.machineType" ng-disabled="disabled" required>
                <ui-select-match allow-clear="true" placeholder="{{'rentalMachineType'|translate}}">{{$select.selected.name |translate}}</ui-select-match>
                <ui-select-choices repeat="machineType.id as machineType in incomeStatisticsCtr.machineTypeList | propsFilter: {name: $select.search}">
                  <div ng-bind-html="machineType.name | highlight: $select.search |translate"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <label class="col-md-1 control-label padding5">{{'highlyType'|translate}}:</label>
            <div class="col-md-2">
              <ui-select name="deviceHeightType" ng-model="incomeStatisticsCtr.rentalMachine.heightType" theme="bootstrap"
                         ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'rentalHeight'|translate}}">{{$select.selected.name|translate}}
                </ui-select-match>
                <ui-select-choices repeat="deviceHeightType in incomeStatisticsCtr.deviceHeightTypeList">
                  <div ng-bind-html="deviceHeightType.name | highlight: $select.search | translate"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <label class="col-md-1 control-label padding5">{{'brandType'|translate}}:</label>
            <div class="col-md-2">
              <ui-select name="deviceManufacture" ng-model="incomeStatisticsCtr.rentalMachine.machineManufacture" theme="bootstrap"
                         ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'rentalBrand'|translate}}">{{$select.selected.name|translate}}
                </ui-select-match>
                <ui-select-choices repeat="machineMF in incomeStatisticsCtr.machineMFList">
                  <div ng-bind-html="machineMF.name | highlight: $select.search | translate"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row info-box-container">
            <div class="col-md-1 control-label padding5">
              <label class="control-label">{{'rentalStartingDate'|translate}}:</label>
            </div>
            <div class="col-md-2">
              <p class="input-group" >
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                       ng-model="incomeStatisticsCtr.startDate"
                       is-open="incomeStatisticsCtr.startDateOpenStatusDeviceData.opened"
                       datepicker-options="incomeStatisticsCtr.dateOptions"
                       min-date="incomeStatisticsCtr.minDate"
                       max-date="incomeStatisticsCtr.maxDate"

                       ng-required="true"
                       current-text="{{'today'|translate}}"
                       clear-text="{{'cleanUp'|translate}}"
                       close-text="{{'close'|translate}}" required readonly="readonly" />
                <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="incomeStatisticsCtr.startDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>

                        </span>
              </p>
            </div>

            <div class="col-md-1 control-label padding5">
              <label class="control-label ">{{'rentalEndDate'|translate}}:</label>
            </div>
            <div class="col-md-2">
              <p class="input-group" >
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                       ng-model="incomeStatisticsCtr.endDate"
                       is-open="incomeStatisticsCtr.endDateOpenStatusDeviceData.opened"
                       datepicker-options="incomeStatisticsCtr.dateOptions"
                       ng-required="true" current-text="{{'today'|translate}}"
                       clear-text="{{'cleanUp'|translate}}"
                       close-text="{{'close'|translate}}" required readonly="readonly" />
                <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="incomeStatisticsCtr.endDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
              </p>
            </div>

            <div class="col-md-4">
              <button  type="button" class="btn btn-sm btn-primary  searchButton" ng-click="incomeStatisticsCtr.queryByMachine(0,incomeStatisticsCtr.pageSize,null,incomeStatisticsCtr.rentalMachine)">{{'query'|translate}}</button>
              <button  type="button" class="btn btn-sm btn-default  searchButton" ng-click="incomeStatisticsCtr.reset()">{{'reset'|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row incomePic table-wrapper"  style="margin-top: 15px;">
      <div class="col-md-6 leftSelect">
        <div class="liBox" >
          <div class="row" ng-show="incomeStatisticsCtr.orderQuery">
            <div class="col-lg-12 table-responsive "><!--表格框-->
              <p>{{'rentalIncomeDetailSortByOrder'|translate}}</p>
              <table ng-table="incomeStatisticsCtr.orderIncometableParams" class="table table-condensed table-bordered table-striped text-nowrap">
                <tr ng-repeat="rentalOrder in $data">
                  <td class="text-nowrap" data-title="'rentalEndDate'|translate" sortable="'endDate'">{{rentalOrder.endDate | date:'yyyy-MM-dd'}}</td>
                  <td class="text-nowrap" data-title="'ID'" sortable="'id'">{{rentalOrder.id}}</td>
                  <td class="text-nowrap" data-title="'rentalCustomer'|translate" sortable="'rentalCustomer.name'">{{rentalOrder.rentalCustomer.name }}</td>
                  <td class="text-nowrap" data-title="'rentalWorkLocation'|translate" sortable="'rentalWorkLocation'">{{rentalOrder.location }}</td>
                  <td class="text-nowrap" data-title="'rentalIncomeReceived'|translate" sortable="'rentalIncomeReceived'">{{rentalOrder.deposit }}</td>
                  <td class="text-nowrap" data-title="'rentalIncomeReceivable'|translate" sortable="'rentalIncomeReceivable'">{{rentalOrder.totalAmt }}</td>
                </tr>
              </table>
            </div>
            <div class="col-lg-12"><!--分页框-->
              <uib-pagination total-items="incomeStatisticsCtr.page.orderTotalElements"
                              ng-change="incomeStatisticsCtr.queryByOrder(incomeStatisticsCtr.pageNumber-1,incomeStatisticsCtr.pageSize,incomeStatisticsCtr.totalElements,null)"
                              max-size="5" ng-model="incomeStatisticsCtr.pageNumber" items-per-page="incomeStatisticsCtr.page.size"
                              class="pagination-sm" boundary-links="true" rotate="false"
                              previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
              </uib-pagination>
            </div>
          </div>
          <div class="row" ng-show="incomeStatisticsCtr.machineQuery">
            <div class="col-lg-12 table-responsive "><!--表格框-->
              <p>{{'rentalIncomeDetailSortByMachine'|translate}}</p>
              <table ng-table="incomeStatisticsCtr.machineIncometableParams" class="table table-condensed table-bordered table-striped text-nowrap">
                <tr ng-repeat="rentalMachine in $data">
                  <td class="text-nowrap" data-title="'rentalEndDate'|translate" sortable="'endDate'">{{rentalMachine.orderEndData | date:'yyyy-MM-dd'}}</td>
                  <td class="text-nowrap" data-title="'rentalMachineID'|translate" sortable="'id'">{{rentalMachine.licenseId}}</td>
                  <td class="text-nowrap" data-title="'rentalBrand'|translate" sortable="'startDate'">{{rentalMachine.manufacture  |translate}}</td>

                  <td class="text-nowrap" data-title="'rentalHeight'|translate" sortable="'rentalCustomer.name'">{{rentalMachine.heightType |translate}}</td>
                  <td class="text-nowrap" data-title="'rentalMachineType'|translate" sortable="'statusDesc'">{{rentalMachine.machineType  |translate }}</td>
                  <td class="text-nowrap" data-title="'rentalIncomeReceived'|translate" sortable="'statusDesc'">{{rentalMachine.realIncome }}</td>
                  <td class="text-nowrap" data-title="'rentalIncomeReceivable'|translate" sortable="'statusDesc'">{{rentalMachine.totalAmt*rentalMachine.workDays/rentalMachine.totalDays|number:2}}</td>
                </tr>
              </table>
            </div>
            <div class="col-lg-12"><!--分页框-->
              <uib-pagination total-items="incomeStatisticsCtr.machineTotalElements"
                              ng-change="incomeStatisticsCtr.leftMachineListQuery(incomeStatisticsCtr.pageNumber-1,incomeStatisticsCtr.pageSize,incomeStatisticsCtr.machineTotalElements,incomeStatisticsCtr.rentalMachine)"
                              max-size="5" ng-model="incomeStatisticsCtr.pageNumber"
                              items-per-page="incomeStatisticsCtr.pageSize"
                              class="pagination-sm" boundary-links="true" rotate="false"
                              previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
              </uib-pagination>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 rightEchart">
        <div id="incomeLine"  ng-style="incomeStatisticsCtr.baseBoxContainer"></div>
      </div>
    </div>
  </div>
</div>

