<div class="profit-content" ng-controller="profitStatisticsController as profitStatisticsCtr" resize>

  <nav-btn>
    <nav-title></nav-title>
    <nav-list>
      <nav-item ng-click="profitStatisticsCtr.gotoAnchor(item.title)"></nav-item>
    </nav-list>
    <nav-overlay></nav-overlay>
  </nav-btn>
  <!--profit statistics-->
  <div id="profit" class="container-fluid profitItem">
    <section class="content-header">
      <h1>
        <small>{{'currentPosition'|translate}}:</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-money"></i>{{'assetMng'| translate}}</a></li>
        <li class="active"><i class="fa fa-line-chart"></i>{{'profitStatistics'| translate}}</li>
      </ol>
    </section>
    <div class="row info-box-container ">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box    ">
          <h4>车辆总数</h4>
          <section>
            <span>
              Total
            </span>
            <div>
              1024
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box ">
          <h4>订单总数</h4>
          <section>
            <span>Total</span>
            <div>21</div>
          </section>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box ">
          <h4>累计利润 </h4>
          <section>
            <span>54.321（元）</span>
            <div><i>↑</i>12%</div>
          </section>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box ">
          <h4>新增利润</h4>
          <section>
            <span>52.1（元）</span>
            <div><i>↑</i>6%</div>
          </section>
        </div>
      </div>
    </div>
    <div class="row searchLine">
      <div class="center">
        <div class="row">
          <div class="col-md-2 item">
            <div class="row">
              <label class="col-md-4">Type</label>
              <select name="type"  class="form-control col-md-8"
                      ng-model="profitStatisticsCtr.type"
                      ng-options="type as y for y in profitStatisticsCtr.typeList ">
                <option value="">请选择...</option>
              </select>
            </div>

          </div>
          <div class="col-md-2 item" >
            <div class="row">
              <label class="col-md-4">Height</label>
              <select name="deviceHeightType"  class="form-control col-md-8"
                      ng-model="profitStatisticsCtr.deviceinfo.deviceHeightType"
                      ng-options="deviceHeightType.id as deviceHeightType.name for deviceHeightType in profitStatisticsCtr.deviceHeightTypeList">
                <option value="">请选择...</option>
              </select>
            </div>
          </div>
          <div class="col-md-2 item">
            <div class="row">
              <label class="col-md-4">Brand</label>
              <select name="type"  class="form-control col-md-8"
                      ng-model="profitStatisticsCtr.Brand"
                      ng-options="Brand as y for y  in profitStatisticsCtr.BrandList">
                <option value="">请选择...</option>
              </select>
            </div>
          </div>
          <div class="form-inline item col-md-3">
            <div class="form-group">
              <label class="control-label text-nowrap" style="padding-left:15px;float: left;padding-right: 15px;">{{'startDate'|translate}}:</label>
              <div class="input-group" style="float: left;">
                <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomTime}}" ng-model="profitStatisticsCtr.startDateDeviceData" is-open="profitStatisticsCtr.startDateOpenStatusDeviceData.opened" datepicker-options="profitStatisticsCtr.dateOptions" min-date="incomeStatisticsCtr.minDate" max-date="incomeStatisticsCtr.maxDate" ng-required="true" current-text="{{'today'|translate}}" clear-text="{{'cleanUp'|translate}}" close-text="{{'close'|translate}}" />
                <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="profitStatisticsCtr.startDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
              </div>
            </div>
          </div>
          <div class="form-inline item col-md-3">
            <div class="form-group">
              <label class="control-label text-nowrap" style="padding-left:15px;float: left;padding-right: 15px;">{{'endDate'|translate}}:</label>
              <div class="input-group" style="float: left;">
                <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomTime}}" ng-model="profitStatisticsCtr.endDateDeviceData" is-open="profitStatisticsCtr.endDateOpenStatusDeviceData.opened" datepicker-options="profitStatisticsCtr.dateOptions" ng-required="true" current-text="{{'today'|translate}}" clear-text="{{'cleanUp'|translate}}" close-text="{{'close'|translate}}" />
                <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="profitStatisticsCtr.endDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
    <div class="row profitPic">
      <div class="profitBar" id="profitBar"></div>
    </div>
  </div>






</div>

