<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>{{'homePage'| translate}}</a></li>
    <li class="active">{{'orgManagement' | translate}}</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-3">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" ng-model="minemngFleetCtrl.searchText" placeholder="Search" >
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="minemngFleetCtrl.search(minemngFleetCtrl.searchText)">{{'search'|translate}}</button>
          <button class="btn btn-default" type="button" ng-click="minemngFleetCtrl.reset(minemngFleetCtrl.searchText)">{{'reset'|translate}}</button>
        </span>
      </div>
    </div>
    <div class="col-md-7 pull-right" >

      <div class="btn btn-warning" type="button"  ng-click="minemngFleetCtrl.updateOrg()">{{'修改'|translate}}</div>
      <span>&nbsp;</span>
      <div class="btn btn-primary"  type="button"  ng-click="minemngFleetCtrl">{{'新增'|translate}}</div>
      <span>&nbsp;</span>
      <div class="btn btn-primary"  type="button"  ng-click="minemngFleetCtrl.addMineMachineFleet()">{{'添加车辆'|translate}}</div>
      <!--<div class="btn btn-primary" type="button" ng-click="minemngFleetCtrl.MachineTypeMng(minemngFleetCtrl.selectedOrg,'lg')">{{'管理车辆'|translate}}</div>-->
    </div>

  </div>
  <div class="row" ng-controller="orgMngController">


    <div class="col-md-5"  >
      <div style="background:#FFFFFF ;overflow:auto;opacity:1;position: absolute; z-index: 500; display: block; width: 380px;  height:820px;">
        <div style="padding-top: 10px;">
          <abn-tree tree-data="minemngFleetCtrl.fleet_data"
                    tree-control="treeController"
                    on-select="minemngFleetCtrl.my_tree_handler(branch); $event.stopPropagation();"
                    expand-level="2"></abn-tree>
        </div>
      </div>

    </div>



    <div class="col-md-5" style="border: 1px solid #ddd;margin-top: 20px;">
      <table class="table table-striped" >
        <caption style="color:#292828;text-align: left;
    font-size: 18px;"><strong>{{'车队信息' | translate}}：</strong></caption>
        <tbody>
        <tr>
          <td>{{'车队名称' | translate}}:</td>
          <td>{{minemngFleetCtrl.fleetName}}</td>
        </tr>
        <tr>
          <td>{{'小组名称' | translate}}:</td>
          <td>{{minemngFleetCtrl.selectedParentObject}}</td>
        </tr>

        <tr>
          <td>{{'车辆信息'|translate}}:</td>
          <td>
          <span ng-repeat="machineType in minemngFleetCtrl.machineType">
          <span class="label label-info">{{machineType.typeName}}<span>&nbsp;</span></span>
          </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
