<div class="modal-header">
  <h3 class="modal-title">增加车队</h3>
</div>

<form name="newFleetForm" class="form-horizontal">
  <div class="modal-body">
    <div class="box-body">
      <div class="form-group row">
        <label for="fleetName" class="col-sm-2 control-label">车队名字<i class="input-must">*</i></label>
        <div class="col-sm-10">
          <input type="text" id="fleetName" class="form-control" placeholder="请录入..."
                 ng-model="addFleetCtrl.minemngFleet.label"  name="label"  typeahead-show-hint="true"
                 validator="required,maxlength=8" />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-show="newFleetForm.$valid" ng-click="addFleetCtrl.ok(addFleetCtrl.minemngFleet)">确定</button>
    <button class="btn btn-warning" type="button" ng-click="addFleetCtrl.cancel()">取消</button>
  </div>
</form>
