<section class="content-header" style="overflow: hidden">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="minemng"><i class="fa fa-dashboard"></i>首页</a></li>
    <li class="active">Check Point</li>
  </ol>
</section>

<!-- Main content -->
<section class="content form-horizontal" style="overflow: hidden">
  <div class="row form-group minemngFormGroup text-right">
    <label class="col-md-1 control-label">编号</label>
    <div class="col-md-2">
      <input type="text" name="name" class="form-control" ng-model="checkPointMngCtrl.queryName" placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>
    <label class="col-md-1 control-label">工作半径</label>
    <div class="col-md-2">
      <input type="text" name="radius" class="form-control" ng-model="checkPointMngCtrl.queryRadius" placeholder="请录入..."/>
      <span style="position: absolute;top: 6px;right: 26px;">米</span>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-default" type="button" ng-click="checkPointMngCtrl.reset()">{{'reset'|translate}}</button>
      <button class="btn btn-primary" type="button" ng-click="checkPointMngCtrl.query(null, null, null)" style="margin: 0 12px;">{{'rentalQuery'|translate}}</button>
    </div>
  </div>

  <div class="row form-group" style="padding-top: 20px;">
    <div class="btn-group col-md-6" style="line-height: 34px;">
      <span>{{'totalNumberOfRecords'|translate}} {{checkPointMngCtrl.checkPointPage.totalElements}}</span>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-primary" type="button" style="margin: 0 12px;" ng-click="checkPointMngCtrl.addCheckPoint()">增加</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table ng-table="checkPointMngCtrl.checkPointTableParams"
               class="table table-condensed table-bordered table-striped text-nowrap">
          <tr ng-repeat="checkPoint in $data">
            <td class="text-nowrap" data-title="'编号'" sortable="'name'">{{checkPoint.name}}</td>
            <td class="text-nowrap" data-title="'经度'" sortable="'longitudeNum'">{{checkPoint.longitudeNum}}</td>
            <td class="text-nowrap" data-title="'纬度'" sortable="'latitudeNum'">{{checkPoint.latitudeNum}}</td>
            <td class="text-nowrap" data-title="'工作半径'" sortable="'radius'">{{checkPoint.radius}}米</td>
            <td class="text-nowrap" data-title="'更新时间'" sortable="'recordTime'">{{checkPoint.updateTime |
              date:'yyyy-MM-dd HH:mm:ss'}}
            </td>
            <td class="text-nowrap text-center" data-title="'操作'">
              <button class="btn btn-xs btn-warning" ng-click="checkPointMngCtrl.update(checkPoint)">修改</button>
              <button class="btn btn-xs btn-danger" ng-click="checkPointMngCtrl.delete(checkPoint.id)">删除</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <uib-pagination total-items="checkPointMngCtrl.checkPointPage.totalElements"
                      ng-change="checkPointMngCtrl.query(checkPointMngCtrl.checkPoint_pagenumber-1,null,null)"
                      max-size="10"
                      ng-model="checkPointMngCtrl.checkPoint_pagenumber"
                      items-per-page="checkPointMngCtrl.checkPointPage.size"
                      class="pagination-sm" boundary-links="true" rotate="false"
                      first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}"
                      next-text="{{'nextPage'|translate}}"
                      previous-text="{{'previousPage'|translate}}"></uib-pagination>
    </div>
  </div>
</section>
