<div class="modal-header">
  <h3 class="modal-title">新增Check Point</h3>
</div>

<form name="newCheckPoint" class="form-horizontal">
  <div class="modal-body">
    <div class="box-body form-horizontal">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">编号</label>
        <div class="col-sm-10">
          <input type="text" id="name" class="form-control" ng-model="newCheckPointCtrl.newCheckPoint.name" name="name" validator="required" placeholder="请录入..."/>
        </div>
      </div>
      <div class="form-group">
        <label for="longitudeNum" class="col-sm-2 control-label">经度</label>
        <div class="col-sm-10">
          <input type="text" id="longitudeNum" class="form-control" ng-model="newCheckPointCtrl.newCheckPoint.longitudeNum" name="longitudeNum" validator="required" placeholder="请录入..."/>
        </div>
      </div>
      <div class="form-group">
        <label for="latitudeNum" class="col-sm-2 control-label">纬度</label>
        <div class="col-sm-10">
          <input type="text" id="latitudeNum" class="form-control" ng-model="newCheckPointCtrl.newCheckPoint.latitudeNum" name="latitudeNum" validator="required" placeholder="请录入..."/>
        </div>
      </div>
      <div class="form-group">
        <label for="radius" class="col-sm-2 control-label">工作半径</label>
        <div class="col-sm-10">
          <input type="text" id="radius" name="radius" class="form-control" ng-model="newCheckPointCtrl.newCheckPoint.radius" placeholder="请录入..."/>
          <span style="position: absolute;top: 6px;right: 26px;">米</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" validation-submit="newCheckPoint" ng-click="newCheckPointCtrl.ok()" >{{'save'|translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="newCheckPointCtrl.cancel()">{{'cancel'|translate}}</button>
  </div>
</form>
