<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{'homePage'|translate}}</a></li>
    <li class="active">{{'roleManagement'|translate}}</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-1">
      <label class="control-label">{{'roleName'|translate}}</label>

    </div>
    <div class="col-md-3">
      <input type="text" name="name" class="form-control " ng-model="roleMngCtrl.roleInfo.name" placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary" type="button"  ng-click="roleMngCtrl.reset()">{{'reset'|translate}}</button>
      <button class="btn btn-primary" type="button" presentation-href="system:role:query"  ng-click="roleMngCtrl.query(null,null,null,roleMngCtrl.roleInfo)">{{'query'|translate}}</button>

    </div>

  </div>
  <br>

  <div class="row">
    <div class="col-md-3">
      <div class="panel-group" id="orgPanel">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title text-center">
              {{'organizationInformation'|translate}}
            </h4>
          </div>
          <div class="panel-body" style="height: 800px;overflow:auto;">
            <abn-tree tree-data="roleMngCtrl.my_data"
                      tree-control="treeController"
                      on-select="roleMngCtrl.my_tree_handler(branch.id); $event.stopPropagation();"
                      expand-level="2"></abn-tree>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-group" id="userPanel">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title text-center">
              角色列表
              <a class="pull-right" type="button" href="" presentation-href="system:role:create" ng-click="roleMngCtrl.newRole()" >
                <i class="fa fa-plus"></i> <span>{{'add' | translate}}</span>
              </a>
            </h4>


          </div>
          <div class="panel-body" style="height: 800px;overflow:auto;">

            <li class="list-group-item repeat"  ng-repeat="role in roleMngCtrl.roleList">
              <div class="row">
                <div class="col-sm-5">
                  <span>
                    <a href="javascript:;" ng-class="{true: 'text-red'}[roleMngCtrl.selectedRole == role]" presentation-href="system:role:rolePrivilege:query" ng-click="roleMngCtrl.selectRole(role)" class="fa fa-tags">  {{role.name}} </a>
                  </span>
                </div>
                <div class="col-sm-7 text-right">
                  <button type="button" class="btn btn-default btn-xs"
                          presentation-href="system:role:modify"
                          ng-click="roleMngCtrl.updateRole(role)">{{'alter'|translate}}
                  </button>
                  <button type="button" class="btn btn-default btn-xs "
                          presentation-href="system:role:roleUser:query"
                          ng-click="roleMngCtrl.roleUserManage(role,'lg')">{{'includeUsers'|translate}}
                  </button>
                </div>
              </div>

            </li>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel-group" id="rolePanel">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title text-center">
              权限列表
              <a class="pull-right" type="button" href="" presentation-href="system:role:rolePrivilege:modify" ng-click="roleMngCtrl.rolePrivilegeManage(roleMngCtrl.selectedRole,'lg')">
                <i class="fa fa-pencil-square-o"></i> <span>{{'alter' | translate}}</span>
              </a>
            </h4>
          </div>
          <div class="panel-body" style="height: 800px;overflow:auto;">

            <treecontrol class="tree-classic" tree-model="roleMngCtrl.menuList">
              {{node.name}}
            </treecontrol>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>

