<div class="modal-header">
  <h3 class="modal-title">包含权限信息
  </h3>
</div>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-1">
      <label class="control-label">角色名</label>

    </div>
    <div class="col-md-3">
      <input type="text" name="permission" class="form-control " ng-model="rolePriviligeMngController.priviligeInfo.permission" placeholder="支持模糊查询"/>
    </div>
    <div class="col-md-1">
      <label class="control-label">状态</label>
    </div>
    <div class="col-md-3">
      <ui-select name="status" ng-model="rolePriviligeMngController.priviligeInfo.status" theme="bootstrap"
                 ng-disabled="disabled">
        <ui-select-match allow-clear="true" placeholder="状态">{{$select.selected.desc}}
        </ui-select-match>
        <ui-select-choices repeat="priviligeStatus in rolePriviligeMngController.priviligeStatusList">
          <div ng-bind-html="priviligeStatus.desc | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>


    <div class="col-md-2">
      <button class="btn btn-primary" type="button" presentation-href="privilige:priviligePage"  ng-click="priviligeMngCtrl.query(null,null,null,rolePriviligeMngController.priviligeInfo)">查询</button>
      <button class="btn btn-primary" type="button"  ng-click="priviligeMngCtrl.reset()">重置</button>
    </div>


  </div>
  <div class="row">
    <div class="btn-group col-md-2">
      <span class="label label-info pull-left">权限总数:  {{rolePriviligeMngController.page.totalElements}}</span>
    </div>
    <div class="col-md-10">
      <button class="btn btn-warning pull-right" type="button" ng-click="rolePriviligeMngController.cancel()">取消</button>
      <button class="btn btn-primary pull-right" type="button"  ng-click="rolePriviligeMngController.updateRolePrivilige()">更新</button>

    </div>
  </div>
  <div class="row " style="padding: 10px">
      <div class="table-responsive">
        <script id="selectAllHeader" type="text/ng-template">
          <input type="checkbox" ng-click="rolePriviligeMngController.updateAllSelection($event)"
                 ng-model="roleUserMngController.checked" ng-if="rolePriviligeMngController.roleInfo.id !=1">
        </script>
      <table ng-table="rolePriviligeMngController.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="priviligeInfo in $data">
          <td class="text-nowrap" data-header="'selectAllHeader'">
            <input type="checkbox" ng-checked="rolePriviligeMngController.isSelected(priviligeInfo.id)"
                   ng-click="rolePriviligeMngController.updateSelection($event,priviligeInfo.id)" ng-model="priviligeInfo.checked" ng-if="rolePriviligeMngController.roleInfo.id !=1">
          </td>
          <td class="text-nowrap" data-title="'ID'" sortable="'id'">{{priviligeInfo.id}}</td>
          <td class="text-nowrap" data-title="'权限名'" sortable="'permission'">{{priviligeInfo.permission}}</td>
          <td class="text-nowrap" data-title="'描述'" sortable="'remark'">{{priviligeInfo.remark}}</td>
          <td class="text-nowrap" data-title="'状态'" sortable="'statusDesc'">{{priviligeInfo.statusDesc}}</td>

          <td class="text-nowrap" data-title="'创建时间'" sortable="'createTime'">{{priviligeInfo.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td class="text-nowrap" data-title="'更新时间'" sortable="'updateTime'">{{priviligeInfo.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
      </table>
      </div>
    </div>
  <div class="row">
  </div>
  <div class="box-footer">
    <uib-pagination total-items="rolePriviligeMngController.page.totalElements" ng-change="rolePriviligeMngController.query(rolePriviligeMngController.pageNumber-1,10,null,rolePriviligeMngController.priviligeInfo)"
                    max-size="5" ng-model="rolePriviligeMngController.pageNumber" items-per-page="rolePriviligeMngController.page.size" class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>
  </div>

</section>

