<div class="modal-header">
  <h3 class="modal-title">{{'includeUserInformation'|translate}}
  </h3>
</div>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-5">
      <div class="panel-group" id="orgPanel">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title text-center">
              {{'organizationInformation'|translate}}
            </h4>
          </div>
          <div class="panel-body" style="height: 400px;overflow:auto;">
            <abn-tree tree-data="roleUserMngController.my_data"
                      on-select="roleUserMngController.my_tree_handler(branch); $event.stopPropagation();"
                      expand-level="2"></abn-tree>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="panel-group" id="userPanel">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title text-center">{{'userList' | translate}}</h4>
          </div>
          <div class="panel-body" style="height: 400px;overflow:auto;">

            <li class="list-group-item repeat"  ng-repeat="userinfo in roleUserMngController.userinfoList">
              <div class="row">
                <div class="col-sm-4">
                  <input type="checkbox" ng-checked="roleUserMngController.isSelected(userinfo.id)"
                         ng-click="roleUserMngController.updateSelection($event, userinfo.id)" ng-model="priv.checked">
                </div>
                <div class="col-sm-4">
                  <i class="fa fa-user"></i> {{userinfo.lastname}}{{userinfo.firstname}}
                </div>
                <div class="col-sm-4">
                  {{userinfo.ssn}}
                </div>
              </div>

            </li>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" presentation-href="system:role:roleUser:modify" ng-click="roleUserMngController.ok()">{{'confirm'|translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="roleUserMngController.cancel()">{{'cancel'|translate}}</button>
  </div>

</section>

