<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a><b>{{'NVRIOT'|translate}}</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">{{ 'register' |translate}}</p>
    <form name="registerForm" ng-submit="registerCtrl.registerMe()">
      <div class="body bg-gray">
        <div class="form-group">
          <input type="text" id="username" class="form-control" placeholder="{{'userName'|translate}}" ng-model="registerCtrl.registerInfo.username" name="username" required/>
        </div>
        <div class="form-group">
          <input type="password" id="password" class="form-control" placeholder="{{'password'|translate}}" ng-model="registerCtrl.registerInfo.password" name="password" required/>
        </div>
        <div class="form-group">
          <input type="password" id="confirmPassword" class="form-control" placeholder="{{'repeatPassword'|translate}}" ng-model="registerCtrl.registerInfo.confirmPassword" name="confirmPassword" pw-check="password" required/>
          <span class="text-red" ng-show="registerForm.confirmPassword.$error.pwmatch">{{'mismatching'|translate}}</span>
        </div>
        <div class="form-group">
          <input type="mobile" name="mobile" class="form-control" placeholder="{{'cell-phoneNumber'|translate}}" ng-model="registerCtrl.registerInfo.mobile" name="mobile" required/>
        </div>
        <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="{{'email'|translate}}" ng-model="registerCtrl.registerInfo.email" name="email" required/>
        </div>
      </div>
      <div class="footer text-center">
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div><!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary" ng-class="{disabled: registerForm.confirmPassword.$error.pwmatch}">{{'register'|translate}}</button>
          </div><!-- /.col -->
        </div>
      </div>
    </form>
  </div>
</div>
<!-- /.login-box-body -->
</div>
