<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
    <h1>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">设备参数</li>
    </ol>
</section>

<!-- Main content -->

<uib-tabset justified="true">
    <uib-tab  select="devivceparameterCtrl.loadDeviceMF()" presentation-href="config:mfPage">
        <uib-tab-heading>
            生产厂家
        </uib-tab-heading>
        <div class="row" style="padding-top: 10px">
            <div class="col-md-3" ng-repeat="deviceMF in devivceparameterCtrl.deviceMFList">
                <div class="box box-success">
                    <div class="box-header">
                        <h5 class="box-title">{{deviceMF.name}}</h5>
                        <div class="box-tools pull-right">
                            <div class="label bg-gray" ng-if="deviceMF.status == 0"> <i class="fa fa-exclamation-triangle"></i> </div>
                            <div class="label bg-green" ng-if="deviceMF.status == 1"> <i class="fa fa-check-square"></i> </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3" style="padding-left: 15px;padding-right: 0px">
                                地址:
                            </div>
                            <div class="col-md-9" style="padding-left: 0px;padding-right: 0px">
                                {{deviceMF.address}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"  style="padding-left: 15px;padding-right: 0px">
                                短名称:
                            </div>
                            <div class="col-md-9" style="padding-left: 0px;padding-right: 0px">
                                {{deviceMF.shortname}}
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <code>
                            <div class="pull-right">
                                <span ng-if="deviceMF.status == 1"><button type="button" class="btn btn-warning btn-xs" presentation-href="config:mfOper" ng-click="devivceparameterCtrl.updateDeviceMFStatus(deviceMF)">失效</button></span>
                                <span ng-if="deviceMF.status == 0"><button type="button" class="btn btn-success btn-xs" presentation-href="config:mfOper" ng-click="devivceparameterCtrl.updateDeviceMFStatus(deviceMF)">激活</button></span>
                                <button type="button" class="btn btn-primary btn-xs" presentation-href="config:mfOper" ng-click="devivceparameterCtrl.updateMF(deviceMF)">修改</button>
                            </div>
                        </code>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <a class="btn btn-primary" style="width: 15%" presentation-href="config:mfOper" ng-click="devivceparameterCtrl.newMF()">
                <i class="fa fa-plus"></i> {{'add'|translate}}
            </a>
        </div>
    </uib-tab>
    <uib-tab heading="类型" select="devivceparameterCtrl.loadDeviceType()" presentation-href="config:devicetypePage">
        <div class="row" style="padding-top: 10px">
            <div class="col-md-3" ng-repeat="deviceType in devivceparameterCtrl.deviceTypeList">
                <div class="box box-success">
                    <div class="box-header">
                        <h5 class="box-title">{{deviceType.name}}</h5>
                        <div class="box-tools pull-right">
                            <div class="label bg-gray" ng-if="deviceType.status == 0"> <i class="fa fa-exclamation-triangle"></i> </div>
                            <div class="label bg-green" ng-if="deviceType.status == 1"> <i class="fa fa-check-square"></i> </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <code>
                            <div class="pull-right">
                                <span ng-if="deviceType.status == 1"><button type="button" class="btn btn-warning btn-xs" presentation-href="config:devicetypeOper" ng-click="devivceparameterCtrl.updateDeviceTypeStatus(deviceType)">失效</button></span>
                                <span ng-if="deviceType.status == 0"><button type="button" class="btn btn-success btn-xs" presentation-href="config:devicetypeOper" ng-click="devivceparameterCtrl.updateDeviceTypeStatus(deviceType)">激活</button></span>
                                <button type="button" class="btn btn-primary btn-xs" presentation-href="config:devicetypeOper" ng-click="devivceparameterCtrl.updateDeviceType(deviceType)">修改</button>
                            </div>
                        </code>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <a class="btn btn-primary" style="width: 15%" presentation-href="config:devicetypeOper" ng-click="devivceparameterCtrl.newDeviceType()">
                <i class="fa fa-plus"></i>{{'add'|translate}}
            </a>
        </div>
    </uib-tab>
    <uib-tab heading="驱动类型" select="devivceparameterCtrl.loadDevicePowerType()" presentation-href="config:devicepowertypePage">
        <div class="row" style="padding-top: 10px">
            <div class="col-md-3" ng-repeat="devicePowerType in devivceparameterCtrl.devicePowerTypeList">
                <div class="box box-success">
                    <div class="box-header">
                        <h5 class="box-title">{{devicePowerType.name}}</h5>
                        <div class="box-tools pull-right">
                            <div class="label bg-gray" ng-if="devicePowerType.status == 0"> <i class="fa fa-exclamation-triangle"></i> </div>
                            <div class="label bg-green" ng-if="devicePowerType.status == 1"> <i class="fa fa-check-square"></i> </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <code>
                            <div class="pull-right">
                                <span ng-if="devicePowerType.status == 1"><button type="button" class="btn btn-warning btn-xs" presentation-href="config:devicepowertypeOper" ng-click="devivceparameterCtrl.updateDevicePowerTypeStatus(devicePowerType)">失效</button></span>
                                <span ng-if="devicePowerType.status == 0"><button type="button" class="btn btn-success btn-xs" presentation-href="config:devicepowertypeOper" ng-click="devivceparameterCtrl.updateDevicePowerTypeStatus(devicePowerType)">激活</button></span>
                                <button type="button" class="btn btn-primary btn-xs" presentation-href="config:devicepowertypeOper" ng-click="devivceparameterCtrl.updatePowerType(devicePowerType)">修改</button>
                            </div>
                        </code>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <a class="btn btn-primary" style="width: 15%" presentation-href="config:devicepowertypeOper" ng-click="devivceparameterCtrl.newPowerType()">
                <i class="fa fa-plus"></i> {{'add'|translate}}
            </a>
        </div>
    </uib-tab>
    <uib-tab heading="高度" select="devivceparameterCtrl.loadDeviceHeightType()" presentation-href="config:deviceheighttypePage">
        <div class="row" style="padding-top: 10px">
            <div class="col-md-3" ng-repeat="deviceHeightType in devivceparameterCtrl.deviceHeightTypeList">
                <div class="box box-success">
                    <div class="box-header">
                        <h5 class="box-title">{{deviceHeightType.name}}</h5>
                        <div class="box-tools pull-right">
                            <div class="label bg-gray" ng-if="deviceHeightType.status == 0"> <i class="fa fa-exclamation-triangle"></i> </div>
                            <div class="label bg-green" ng-if="deviceHeightType.status == 1"> <i class="fa fa-check-square"></i> </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <code>
                            <div class="pull-right">
                                <span ng-if="deviceHeightType.status == 1"><button type="button" class="btn btn-warning btn-xs" presentation-href="config:deviceheighttypeOper" ng-click="devivceparameterCtrl.updateDeviceHeightTypeStatus(deviceHeightType)">失效</button></span>
                                <span ng-if="deviceHeightType.status == 0"><button type="button" class="btn btn-success btn-xs" presentation-href="config:deviceheighttypeOper" ng-click="devivceparameterCtrl.updateDeviceHeightTypeStatus(deviceHeightType)">激活</button></span>
                                <button type="button" class="btn btn-primary btn-xs" presentation-href="config:deviceheighttypeOper" ng-click="devivceparameterCtrl.updateHeightType(deviceHeightType)">修改</button>
                            </div>
                        </code>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <a class="btn btn-primary" style="width: 15%" presentation-href="config:deviceheighttypeOper" ng-click="devivceparameterCtrl.newHeightType()">
                <i class="fa fa-plus"></i> {{'add'|translate}}
            </a>
        </div>
    </uib-tab>



    <uib-tab heading="组织管理" presentation-href="config:organazitionPage">
        <div>
            <div style="width: 30%;">
                <abn-tree tree-data="devivceparameterCtrl.my_data" tree-control="treeController" on-select="devivceparameterCtrl.my_tree_handler(branch);" expand-level="4"></abn-tree>
            </div>
            <div class="row">
                <div class="col-md-7"></div>
                <a class="btn btn-primary" style="width: 6%"  ng-click="devivceparameterCtrl.addOrg()">
                    <i class="fa fa-plus"></i> {{'add'|translate}}
                </a>
                <a class="btn btn-warning" style="width: 6%"  ng-click="devivceparameterCtrl.updateOrg()">
                    <i class="fa fa-pencil"></i> {{'alter'|translate}}
                </a>
            </div>
        </div>
    </uib-tab>


</uib-tabset><!-- /.col -->
