<div class="modal-header">
    <h3 class="modal-title">新建设备驱动类型</h3>
</div>
<form name="newPowerTypeForm" class="form-horizontal" ng-submit="addPowerTypeCtrl.ok(addPowerTypeCtrl.newPowerType)">
    <div class="modal-body">
        <div class="box-body">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10">
                    <input type="text" id="name" class="form-control" placeholder="名称" ng-model="addPowerTypeCtrl.newPowerType.name" name="name" required/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">{{'confirm' | translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="addPowerTypeCtrl.cancel()">{{'cancel' | translate}}</button>
    </div>
</form>
