
<div class="modal-header">
  <h3 class="modal-title">修改用户信息</h3>
</div>
<form name="updateUserForm" class="form-horizontal">
  <div class="modal-body">
    <div class="box-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">工号</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="请录入..."
                 ng-model="minemngUpdateUserMngCtrl.minemnguser.jobNumber" name="jobNumber" typeahead-show-hint="true"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">姓名<i class="input-must">*</i></label>
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="请录入..."
                 ng-model="minemngUpdateUserMngCtrl.minemnguser.name" name="name" typeahead-show-hint="true"
                 validator="required,chinese,minlength=2,maxlength=7" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">入职时间<i class="input-must">*</i></label>
        <div class="col-sm-5">
          <p class="input-group">
          <input type="text" name="entryTime" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}"
                  ng-model="minemngUpdateUserMngCtrl.minemnguser.entryTime"
                  is-open="minemngUpdateUserMngCtrl.entryTimeSetting.status.opened"
                  datepicker-options="minemngUpdateUserMngCtrl.entryTimeSetting.dateOptions"
                  current-text="{{'today'|translate}}"
                  clear-text="{{'cleanUp'|translate}}"
                  close-text="{{'close'|translate}}"
                  message-id="bootstrap" readonly validator="required"/>

          <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="minemngUpdateUserMngCtrl.entryTimeSetting.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
          </p>
          <span id="bootstrap"></span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">角色类型<i class="input-must">*</i></label>
        <div class="col-sm-5">
          <select class="form-control"validator="required" name="roleType" required
                  ng-model="minemngUpdateUserMngCtrl.minemnguser.roleId"
                  ng-options="userRoleType.id as userRoleType.name for userRoleType in minemngUpdateUserMngCtrl.userRoleTypeList">
            <option value="">请选择...</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">系统用户名<i class="input-must">*</i></label>
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="请录入..."
                 ng-model="minemngUpdateUserMngCtrl.ssn" name="systemName" typeahead-show-hint="true"
                 validator="numberForSsn" style="padding-left: 32px;" />
          <span style="position:absolute;left: 24px;top: 7px;">{{minemngUpdateUserMngCtrl.ssnCode}}</span>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-show="updateUserForm.$valid" ng-click="minemngUpdateUserMngCtrl.ok()">确定</button>
  <button class="btn btn-warning" type="button" ng-click="minemngUpdateUserMngCtrl.cancel()">取消</button>
</div>


