
<div class="modal-header">
  <h3 class="modal-title">{{'修改用户信息'|translate}}</h3>
</div>
<form name="newUserForm" class="form-horizontal">
  <div class="modal-body">
    <div class="box-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">{{'工号'|translate}}</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="{{'工号'|translate}}"
                 ng-model="minemngUpdateUserMngCtrl.minemnguser.jobNumber" name="jobNumber" typeahead-show-hint="true"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">{{'姓名'|translate}}</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="{{'姓名'|translate}}"
                 ng-model="minemngUpdateUserMngCtrl.minemnguser.name" name="name" typeahead-show-hint="true"
                 validator="required,minlength=2,maxlength=7" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">{{'入职时间'|translate}}</label>
        <div class="col-sm-5">
          <p class="input-group">
          <input type="text" name="entryTime" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}"
                  ng-model="minemngUpdateUserMngCtrl.minemnguser.entryTime"
                  is-open="minemngUpdateUserMngCtrl.entryTimeSetting.status.opened"
                  datepicker-options="minemngUpdateUserMngCtrl.entryTimeSetting.dateOptions"
                  current-text="{{'today'|translate}}"
                  clear-text="{{'cleanUp'|translate}}"
                  close-text="{{'close'|translate}}"
                  message-id="bootstrap" readonly validator="required"/>

          <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="minemngUpdateUserMngCtrl.entryTimeSetting.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
          </p>
          <span id="bootstrap"></span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">{{'角色类型'|translate}}</label>
        <div class="col-sm-5">
          <select class="form-control"validator="required" name="roleType" required
                  ng-model="minemngUpdateUserMngCtrl.minemnguser.roleId"
                  ng-options="userRoleType.id as userRoleType.name for userRoleType in minemngUpdateUserMngCtrl.userRoleTypeList">
            <option value="">{{'pleaseSelect'|translate}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">{{'系统用户名'|translate}}</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="{{'系统用户名'|translate}}"
                 ng-model="minemngUpdateUserMngCtrl.ssn" name="systemName" typeahead-show-hint="true"
                 validator="numberForSsn" style="padding-left: 32px;" />
          <span style="position:absolute;left: 24px;top: 7px;">{{minemngUpdateUserMngCtrl.ssnCode}}</span>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" validation-submit="newUserForm" ng-click="minemngUpdateUserMngCtrl.ok()">{{'confirm'|translate}}</button>
  <button class="btn btn-warning" type="button" ng-click="minemngUpdateUserMngCtrl.cancel()">{{'cancel'|translate}}</button>
</div>


