<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">设备管理</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">


  <div class="row">
    <div class="col-md-1">
      <label class="control-label">设备编号:</label>
    </div>
    <div class="col-md-2">
      <input type="text" name="deviceNum" class="form-control " ng-model="deviceinfoMngCtrl.deviceinfo.deviceNum" placeholder="支持模糊查询"/>
    </div>
    <div class="col-md-1">
      <label class="control-label">所属组织:</label>
    </div>
    <div class="col-md-2">
      <p class="input-group">
        <input type="text" id="org" class="form-control" placeholder="所属组织"
               ng-model="deviceinfoMngCtrl.deviceinfo.org.label" name="org" readonly required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="deviceinfoMngCtrl.openOrgTree()"><i
                      class="fa fa-sitemap"></i></button>
                  </span>
      <div ng-controller="orgController as orgCtrl">
        <div
          style="background:#FFFFDF ;opacity:1;position: absolute; z-index: 110009; display: block; width: 90%; "
          ng-show="deviceinfoMngCtrl.showOrgTree">
          <abn-tree tree-data="orgCtrl.my_data" tree-control="orgCtrl.my_tree"
                    on-select="orgCtrl.my_tree_handler(branch)" expand-level="4"></abn-tree>
        </div>
      </div>
      </p>
    </div>
    <div class="col-md-1">
      <label class="control-label">SIM:</label>
    </div>
    <div class="col-md-2">
      <input type="text" name="phoneNumber" class="form-control " ng-model="deviceinfoMngCtrl.deviceinfo.phoneNumber" placeholder="支持模糊查询"/>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" type="button" ng-click="deviceinfoMngCtrl.query(0,10,null,deviceinfoMngCtrl.deviceinfo)">查询</button>
      <button class="btn btn-primary" type="button" ng-click="deviceinfoMngCtrl.reset()">重置</button>
    </div>
  </div>

  <div class="row">
    <div class="btn-group col-md-2">
      <label class="btn btn-default btn-xs" ng-model="deviceinfoMngCtrl.radioListType" uib-btn-radio="'list'" uncheckable>列表</label>
      <label class="btn btn-default btn-xs" ng-model="deviceinfoMngCtrl.radioListType" uib-btn-radio="'block'" uncheckable>列块</label>
    </div>
    <div class="col-md-10">

      <a class="btn btn-primary pull-right"
         ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ||userInfo.userdto.role == 'ROLE_ADMIN'"
         ng-click="deviceinfoMngCtrl.newDeviceinfo()">
        <i class="fa fa-plus"></i> 增加
      </a>
      <a class="btn btn-primary pull-right"
         ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ||userInfo.userdto.role == 'ROLE_ADMIN'"
         ng-click="deviceinfoMngCtrl.uploadDeviceinfo('lg')">
        <i class="fa fa-plus"></i> 批量导入
      </a>
    </div>
    </div>
  <div class="row">

  </div>
  <div class="row " style="padding-top: 10px">
    <div ng-if="deviceinfoMngCtrl.radioListType == 'block'" class="col-md-3" ng-repeat="deviceinfo in deviceinfoMngCtrl.deviceinfoList">
      <div class="box box-success">
        <div class="box-header">
          <h5 class="box-title" ng-if="deviceinfo.userDefinedName">{{deviceinfo.userDefinedName}}</h5>
          <h5 class="box-title text-gray" ng-if="deviceinfo.userDefinedName==null">未定义</h5>
          <div class="box-tools pull-right">
            <div class="text-gray" ng-if="deviceinfo.status == 0"> <i class="fa fa-exclamation-triangle"></i> </div>
            <div class="text-green" ng-if="deviceinfo.status == 1"> <i class="fa fa-check-square"></i> </div>
            <div class="text-yellow" ng-if="deviceinfo.status == 2"> <i class="fa fa-anchor"></i> </div>
            <div class="text-red" ng-if="deviceinfo.status == 9"> <i class="fa fa-info"></i> </div>
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              设备编号:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{deviceinfo.deviceNum}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"  style="padding-left: 15px;padding-right: 0px">
              设备类型:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{deviceinfo.deviceTypeDto.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"  style="padding-left: 15px;padding-right: 0px">
              所属组织:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{deviceinfo.org.label}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"  style="padding-left: 15px;padding-right: 0px">
              协议类型:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
                {{deviceinfo.protocalTypeDesc}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"  style="padding-left: 15px;padding-right: 0px">
              状态:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{deviceinfo.statusDesc}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"  style="padding-left: 15px;padding-right: 0px">
              激活时间:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">

            </div>
          </div>
         <div class="row">
            <div class="col-md-5"  style="padding-left: 15px;padding-right: 0px">
              SIM:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{deviceinfo.sim.phoneNumber}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"  style="padding-left: 15px;padding-right: 0px">
              SIM序列号:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{deviceinfo.sim.serialNumber}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"  style="padding-left: 15px;padding-right: 0px">
              创建时间:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{deviceinfo.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"  style="padding-left: 15px;padding-right: 0px">
              更新时间:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{deviceinfo.lastUpdateTime | date:'yyyy-MM-dd HH:mm:ss'}}
            </div>
          </div>

        </div>
        <div class="box-footer">
          <code>
            <div class="pull-right">
              <button type="button" class="btn btn-default btn-xs" ng-click="deviceDetail(deviceinfo,'lg')">最新状态</button>
              <button type="button" class="btn btn-default btn-xs" ng-click="deviceHistory(deviceinfo,'lg')">历史状态</button>
              <button type="button" class="btn btn-default btn-xs"
                      ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ||userInfo.userdto.role == 'ROLE_ADMIN'"
                      ng-click="deviceinfoMngCtrl.updateDeviceinfo(deviceinfo)">修改
              </button>
            </div>
          </code>
        </div>
      </div>
    </div>
    </div>
    <div ng-if="deviceinfoMngCtrl.radioListType == 'list'" >
      <table class="table table-striped" id="deviceTable">
        <tr>
          <th>设备编号</th>
          <th>设备类型</th>
          <th>所属组织</th>
          <th>协议类型</th>
          <th>状态</th>
          <th>激活时间</th>
          <th>SIM</th>
          <th>SIM序列号</th>
          <th>创建时间</th>
          <th>更新时间</th>
          <th>操作</th>
        </tr>
        <tr ng-repeat="deviceinfo in deviceinfoMngCtrl.deviceinfoList">
          <td> {{deviceinfo.deviceNum}}</td>
          <td> {{deviceinfo.deviceTypeDto.name}}</td>
          <td> {{deviceinfo.org.label}}</td>
          <td> {{deviceinfo.protocalTypeDesc}}</td>
          <td> {{deviceinfo.statusDesc}}</td>
          <td> </td>

          <td> {{deviceinfo.sim.phoneNumber}}</td>
          <td> {{deviceinfo.sim.serialNumber}}</td>
          <td>   {{deviceinfo.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>   {{deviceinfo.lastUpdateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>
            <button type="button" class="btn btn-default btn-xs"
                    ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ||userInfo.userdto.role == 'ROLE_ADMIN'"
                    ng-click="deviceinfoMngCtrl.updateDeviceinfo(deviceinfo)">修改
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="box-footer">
    <uib-pagination total-items="deviceinfoMngCtrl.page.totalElements" ng-change="deviceinfoMngCtrl.query(deviceinfoMngCtrl.pageNumber-1,10,null,deviceinfoMngCtrl.phoneNumber)"
                    max-size="5" ng-model="deviceinfoMngCtrl.pageNumber" items-per-page="deviceinfoMngCtrl.page.size" class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>
  </div>

</section>

