<div class="modal-header">
  <h3 class="modal-title">{{'transferLog'|translate}}</h3>

</div>

<section class="content">
  <div class="table-responsive">
    <p><strong>{{'equipmentNumber'|translate}}:</strong><span>{{deviceinfodeviceNum}}</span></p>
    <table ng-table="machineAllocationController.tableParams" class="table table-bordered table-striped ">
      <tr ng-repeat="allocationlog in allocationlog">
        <td  data-title="'originalOrganization'|translate"  >{{allocationlog.originValue}}</td>
        <td  data-title="'currentOrganization'|translate"  >{{allocationlog.targetValue}}</td>
        <td  data-title="'operator'|translate"  >{{allocationlog.operationStaff}}</td>
        <td  data-title="'operationTime'|translate"  >{{allocationlog.recordTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
    </table>
  </div>
</section>
<form name="myForm" class="form-horizontal ">
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="deviceAllocationController.cancel()">{{'close'|translate}}</button>
  </div>
</form>
