<div class="modal-header">
  <h3 class="modal-title">{{'modifyEquipmentInfo'|translate}}</h3>
</div>
<form name="operForm" class="form-horizontal">
  <div class="modal-body">
    <div class="box-body">
      <div class="form-group">
        <label for="deviceNum" class="col-sm-2 control-label">{{'deviceNum'|translate}}</label>
        <div class="col-sm-10">
          <input type="text" readonly id="deviceNum" class="form-control" placeholder="设备编号"
                 ng-model="updateDeviceinfoController.deviceinfo.deviceNum" name="deviceNum"
                 validator="required"/>
        </div>
      </div>

      <div class="form-group">
        <label for="deviceNum" class="col-sm-2 control-label">{{'SIMCardNumber'|translate}}</label>
        <div class="col-sm-10">
          <ui-select  name="phoneNumber" ng-model="updateDeviceinfoController.deviceinfo.sim" theme="bootstrap"
                      ng-disabled="disabled" >
            <ui-select-match allow-clear="true"  placeholder="{{'lastFourSIMNumber'|translate}}">{{$select.selected.phoneNumber|translate}}
            </ui-select-match>
            <ui-select-choices repeat="sim in updateDeviceinfoController.simList"
                               refresh="updateDeviceinfoController.refreshSimList($select.search)"
                               refresh-delay="0">
              <div ng-bind-html="sim.phoneNumber | highlight: $select.search|translate"></div>
            </ui-select-choices>
          </ui-select>

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">{{'protocalTypeDescribe'|translate}}</label>
        <div class="col-sm-10">
          <select name="deviceMF" validator="required" class="form-control" ng-change="updateDeviceinfoController.changeProtocalType()"
                  ng-model="updateDeviceinfoController.deviceinfo.protocalType"
                  ng-options="protocalType.value as protocalType.desc for protocalType in updateDeviceinfoController.protocalTypeList">
            <option value="">{{'pleaseSelect'|translate}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="org" class="col-sm-2 control-label">{{'organisation'|translate}}</label>
        <div class="col-sm-10">
          <p class="input-group">
            <input type="text" id="org" class="form-control" placeholder="{{'organisation'|translate}}"
                   ng-model="updateDeviceinfoController.deviceinfo.org.label" name="org" readonly validator="required"/>
                  <span class="input-group-btn">
                     <!--打开组织树-->
                    <button type="button" class="btn btn-default" ng-click="updateDeviceinfoController.openTreeInfo()">
                      <i class="fa fa-sitemap"></i>
                    </button>
                  </span>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">{{'state'|translate}}</label>
        <div class="col-sm-10">
          <select name="status" class="form-control" ng-model="updateDeviceinfoController.deviceinfo.status" ng-options="deviceStatus.id as deviceStatus.name for deviceStatus in updateDeviceinfoController.deviceStatusList" required>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{{'type'|translate}}</label>
        <div class="col-sm-10">
          <select name="deviceType" class="form-control" ng-model="updateDeviceinfoController.deviceinfo.deviceTypeDto.id" ng-options="deviceType.id as deviceType.name for deviceType in updateDeviceinfoController.deviceTypeList">
            <option value="">{{'pleaseSelect'|translate}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{{'Manufacturer'|translate}}</label>
        <div class="col-sm-10">
          <select name="deviceManufacture" class="form-control" ng-model="updateDeviceinfoController.deviceinfo.deviceManufactureDto.id" ng-options="deviceMF.id as deviceMF.name for deviceMF in updateDeviceinfoController.deviceMFList">
            <option value="">{{'pleaseSelect'|translate}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="devicepowertype" class="col-sm-2 control-label">{{'driveType'|translate}}</label>
        <div class="col-sm-10">
          <select id="devicePowerType" class="form-control" ng-model="updateDeviceinfoController.deviceinfo.devicePowerTypeDto.id" ng-options="devicePowerType.id as devicePowerType.name for devicePowerType in updateDeviceinfoController.devicePowerTypeList">
            <option value="">{{'pleaseSelect'|translate}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{{'highlyType'|translate}}</label>
        <div class="col-sm-10">
          <select name="deviceHeightType" class="form-control" ng-model="updateDeviceinfoController.deviceinfo.deviceHeightTypeDto.id" ng-options="deviceHeightType.id as deviceHeightType.name for deviceHeightType in updateDeviceinfoController.deviceHeightTypeList">
            <option value="">{{'pleaseSelect'|translate}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">{{'produceDate'|translate}}</label>
        <div class="col-sm-10">
          <p class="input-group">
            <input type="text" name="produceDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="updateDeviceinfoController.deviceinfo.produceDate"
                   is-open="updateDeviceinfoController.produceDateOpenStatus.opened"
                   datepicker-options="updateDeviceinfoController.dateOptions" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="updateDeviceinfoController.produceDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>
      </div>
      <i style="color: red" ng-if="null!=updateDeviceinfoController.errorMsg">
        {{updateDeviceinfoController.errorMsg}}<br/>
      </i>
    </div>
  </div>
  <div class="modal-footer">

    <button class="btn btn-primary" type="button" validation-submit="operForm" presentation-href="deviceMng:gps:modify"
            ng-click="updateDeviceinfoController.ok(updateDeviceinfoController.deviceinfo)">{{'save'|translate}}
    </button>

    <button class="btn btn-warning" type="button" ng-click="updateDeviceinfoController.cancel()">{{'cancel'|translate}}</button>
  </div>
</form>
