<div class="modal-header ng-scope">
    <h3 class="modal-title ng-binding">查看密码确认</h3>
</div>
<div class="modal-body ng-binding ng-scope">这个将消耗一组密码,总共密码为50组,你确定要查看吗?
  <div style="font-size: 15px;" ng-if="null==ViewKeyInputConfirmationController.unBindTime">(友情提示:当前还剩下<span >{{50-ViewKeyInputConfirmationController.passwordNumber}}</span>组密码 )</div>
  <div style="font-size: 15px;" ng-if="null!=ViewKeyInputConfirmationController.unBindTime">(友情提示:当前还剩下<span >{{ViewKeyInputConfirmationController.unBindTime}}</span>组密码 )</div>
</div>

<div class="modal-footer ng-scope">
  <button class="btn btn-primary ng-binding" ng-click=ViewKeyInputConfirmationController.ok()>确定</button>
  <button class="btn btn-default ng-binding" ng-click=ViewKeyInputConfirmationController.cancel()>取消</button>
</div>

