<div class="modal-header">
  <h3 class="modal-title">增加车辆</h3>
</div>

<form name="newMachineForm" class="form-horizontal" style="font-size:13px;">
  <div class="modal-body">
    <div class="box-body">

      <div class="form-group">
        <label for="carNumber" class="col-sm-2 control-label">{{'carNumber'|translate}}<i class="input-must">*</i></label>
        <div class="col-sm-4">

          <input type="text" id="carNumber" class="form-control" placeholder="请录入..."
                 ng-model="newMineMachinemngCtrl.machine.carNumber" name="carNumber" typeahead-show-hint="true"
                 validator="required,maxlength=8" />
        </div>

        <label for="licenseId" class="col-sm-2 control-label">{{'licenseId'|translate}}<i class="input-must">*</i></label>
          <div class="col-sm-4">

            <input type="text" id="licenseId" class="form-control" placeholder="请录入..."
                   ng-model="newMineMachinemngCtrl.machine.licenseId" name="licenseId" typeahead-show-hint="true"
                   validator="required,numberAndChar,maxlength=17"/>
          </div>

      </div>

      <div class="form-group">
        <label for="orderNumber" class="col-sm-2 control-label ">{{'orderNumber'|translate}}</label>
        <div class="col-sm-4">

          <input type="text" id="orderNumber" class="form-control" placeholder="请录入..."
                 ng-model="newMineMachinemngCtrl.machine.orderNumber" name="orderNumber" typeahead-show-hint="true"/>
        </div>


          <label for="productName" class="col-sm-2 control-label ">{{'productName'|translate}}<i class="input-must">*</i></label>
          <div class="col-sm-4">

            <input type="text" id="productName" class="form-control" placeholder="请录入..."
                   ng-model="newMineMachinemngCtrl.machine.productName" name="productName" typeahead-show-hint="true"
                   validator="required,maxlength=20"/>
          </div>

      </div>

      <div class="form-group">
        <label for="productModel" class="col-sm-2 control-label ">{{'productModel'|translate}}<i class="input-must">*</i></label>
        <div class="col-sm-4">

          <input type="text" id="productModel" class="form-control" placeholder="请录入..."
                 ng-model="newMineMachinemngCtrl.machine.productModel" name="productModel" typeahead-show-hint="true"
                 validator="required,numberAndChar,maxlength=20" />
        </div>

        <label for="acceptDate" id="acceptDate" class="col-sm-2 control-label ">{{'acceptDate'|translate}}</label>
        <div class="col-sm-4">
          <p class="input-group">
            <input type="text" name="acceptDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="newMineMachinemngCtrl.machine.acceptDate"
                   is-open="newMineMachinemngCtrl.acceptDateOpenStatus.opened"
                   placeholder="请选择..."
                   datepicker-options="dateOptions" ng-readonly="true"  current-text="{{'today'|translate}}"
                   clear-text="{{'cleanUp'|translate}}"
                   close-text="{{'close'|translate}}"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="newMineMachinemngCtrl.acceptDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>

      </div>

      <div class="form-group">

        <label for="purchaseDate" id="purchaseDate" class="col-sm-2 control-label">{{'purchaseDate'|translate}}</label>
        <div class="col-sm-4">
          <p class="input-group">
            <input type="text" name="purchaseDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="newMineMachinemngCtrl.machine.purchaseDate"
                   is-open="newMineMachinemngCtrl.purchaseDateOpenStatus.opened"
                   placeholder="请选择..."
                   datepicker-options="dateOptions" ng-readonly="true" current-text="{{'today'|translate}}"
                   clear-text="{{'cleanUp'|translate}}"
                   close-text="{{'close'|translate}}"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="newMineMachinemngCtrl.purchaseDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>

        <label for="archivesDate" id="archivesDate" class="col-sm-2 control-label">{{'archivesDate'|translate}}</label>
        <div class="col-sm-4">
          <p class="input-group">
            <input type="text" name="archivesDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="newMineMachinemngCtrl.machine.archivesDate"
                   is-open="newMineMachinemngCtrl.archivesDateOpenStatus.opened"
                   placeholder="请选择..."
                   datepicker-options="dateOptions" ng-readonly="true"  current-text="{{'today'|translate}}"
                   clear-text="{{'cleanUp'|translate}}"
                   close-text="{{'close'|translate}}"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="newMineMachinemngCtrl.archivesDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>

      </div>

      <div class="form-group">
        <label for="manufactoryName" class="col-sm-2 control-label">{{'manufactoryName'|translate}}<i class="input-must">*</i></label>
        <div class="col-sm-4">

          <input type="text" id="manufactoryName" class="form-control" placeholder="请录入..."
                 ng-model="newMineMachinemngCtrl.machine.manufactoryName" name="manufactoryName" typeahead-show-hint="true"
                 validator="required,chineseAndChar,maxlength=20" />
        </div>

        <label for="status" class="col-sm-2 control-label">{{'status'|translate}}</label>
        <div class="col-sm-4">
          <ui-select id="status" name="machineState" ng-model="newMineMachinemngCtrl.machine.machineStatus" theme="bootstrap"
                     ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="请选择...">{{$select.selected.stateDesc}}</ui-select-match>
            <ui-select-choices  repeat="machineState.id as machineState in newMineMachinemngCtrl.machineStateList " >
              <div  ng-bind-html="machineState.stateDesc | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-show="newMachineForm.$valid" ng-click="newMineMachinemngCtrl.ok(newMineMachinemngCtrl.machine)">确定</button>
  <button class="btn btn-warning" type="button" ng-click="newMineMachinemngCtrl.cancel()">{{'cancel'|translate}}</button>
</div>
