<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>{{'homePage'| translate}}</a></li>
    <li class="active">{{'orgManagement' | translate}}</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-3">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" ng-model="minemngMachineFleetCtrl.searchText" placeholder="Search" >
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="minemngMachineFleetCtrl.search(minemngMachineFleetCtrl.searchText)">{{'search'|translate}}</button>
          <button class="btn btn-default" type="button" ng-click="minemngMachineFleetCtrl.reset(minemngMachineFleetCtrl.searchText)">{{'reset'|translate}}</button>
        </span>
      </div>
    </div>
    <div class="col-md-7 pull-right" >

      <div class="btn btn-warning" type="button"  ng-click="minemngMachineFleetCtrl.updateOrg()">{{'alter'|translate}}</div>
      <span>&nbsp;</span>
      <div class="btn btn-danger"  type="button"  ng-click="minemngMachineFleetCtrl.addMineMachineFleet()">{{'add'|translate}}</div>
      <span>&nbsp;</span>
      <div class="btn btn-primary" type="button" ng-click="minemngMachineFleetCtrl.MachineTypeMng(minemngMachineFleetCtrl.selectedOrg,'lg')">{{'manageVehicleType'|translate}}</div>
    </div>

  </div>
  <div class="row" ng-controller="orgMngController">
    <div class="col-md-5"  >
      <div style="background:#FFFFFF ;overflow:auto;opacity:1;position: absolute; z-index: 500; display: block; width: 380px;  height:820px;">
        <div style="padding-top: 10px;">
          <abn-tree tree-data="minemngMachineFleetCtrl.fleet_data"
                    tree-control="treeController"
                    on-select="minemngMachineFleetCtrl.my_tree_handler(branch); $event.stopPropagation();"
                    expand-level="2"></abn-tree>
        </div>
      </div>

    </div>



    <div class="col-md-5" style="border: 1px solid #ddd;margin-top: 20px;">
      <table class="table table-striped" >
        <caption style="color:#292828;text-align: left;
    font-size: 18px;"><strong>{{'车队信息' | translate}}：</strong></caption>
        <tbody>
        <tr>
          <td>{{'所属车队' | translate}}:</td>
          <td>{{minemngMachineFleetCtrl.selectedParentOrg}}</td>
        </tr>
        <tr>
          <td>{{'所属小组' | translate}}:</td>
          <td>{{minemngMachineFleetCtrl.selectedOrg.label}}</td>
        </tr>

        <tr>
          <td>{{'车辆信息'|translate}}:</td>
          <td>
          <span ng-repeat="machineType in minemngMachineFleetCtrl.machineType">
          <span class="label label-info">{{machineType.typeName}}<span>&nbsp;</span></span>
          </span>
          </td>
        </tr>
        <tr ng-show="minemngMachineFleetCtrl.isShow">
          <td>{{'legalRepresentative' | translate}}:</td>
          <td>{{minemngMachineFleetCtrl.selectedOrg.org_legalRepresentative}}</td>
        </tr>
        <tr ng-show="minemngMachineFleetCtrl.isShow">
          <td>{{'tellPhoneNumber' | translate}}:</td>
          <td>{{minemngMachineFleetCtrl.selectedOrg.orgTellPhone}}</td>
        </tr>
        <tr ng-show="minemngMachineFleetCtrl.isShow">
          <td>{{'fax' | translate}}:</td>
          <td>{{minemngMachineFleetCtrl.selectedOrg.orgFax}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
