<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">车辆管理</li>
  </ol>
</section>


<!-- Main content -->
<section class="content form-horizontal">

  <div class="row form-group">
    <div class="col-md-2">
      <label class="control-label">车号</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="licenseId" class="form-control " ng-model="machineMngCtrl.machine.licenseId"
             placeholder="支持模糊查询"/>
    </div>

    <div class="col-md-2">
      <label class="control-label">设备编号</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="deviceNum" class="form-control " ng-model="machineMngCtrl.machine.deviceNum"
             placeholder="支持模糊查询"/>
    </div>


    <div class="col-md-2">
      <button class="btn btn-primary" type="button" presentation-href="machine:page"
              ng-click="machineMngCtrl.query(null,null,null,machineMngCtrl.machine)">查询
      </button>
      <button class="btn btn-primary" type="button" ng-click="machineMngCtrl.reset()">重置</button>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2">
      <label class="control-label">所属组织</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">

        <input type="text" id="org" class="form-control" placeholder="所属组织" ng-model="machineMngCtrl.org.label" name="org" readonly required/>
          <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="machineMngCtrl.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
      </p>
    </div>
    <div class="col-md-2">
      <label class="control-label">调拨组织</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" id="allot" class="form-control" placeholder="调拨组织" ng-model="machineMngCtrl.allot.label" name="allot" readonly required/>
        <span class="input-group-btn">
          <!--打开组织树-->
          <button type="button" class="btn btn-default" ng-click="machineMngCtrl.openTreeInfoAllot()">
            <i class="fa fa-sitemap"></i>
          </button>
        </span>
      </p>
    </div>

    <div class="col-md-2">
      <button class="btn btn-warning" type="button" presentation-href="machine:moveOrg" ng-click="machineMngCtrl.batchMoveOrg()">调拨</button>

    </div>

  </div>
  <div class="row">
    <div class="btn-group col-md-3">
      <span class="label label-info pull-left">车辆总数:{{machineMngCtrl.page.totalElements}}</span>
    </div>
    <div class="col-md-9">


      <a presentation-href="machine:oper" class="btn btn-default pull-right"
         ng-click="machineMngCtrl.newMachine('lg')">
        <i class="fa fa-plus"></i> 增加
      </a>
      <a class="btn btn-default pull-right" presentation-href="machine:upload"
         ng-click="machineMngCtrl.uploadMachine('lg')">
        <i class="fa fa-plus"></i> 批量导入
      </a>
    </div>
  </div>
  <div class="row " style="padding: 10px">
      <script id="selectAllHeader" type="text/ng-template">
        <input type="checkbox" ng-click="machineMngCtrl.updateAllSelection($event)"
               ng-model="machineMngCtrl.checked">
      </script>
      <div class="table-responsive">

      <table ng-table="machineMngCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="machine in $data">
          <td class="text-nowrap" data-header="'selectAllHeader'">
            <input type="checkbox" ng-checked="machineMngCtrl.isSelected(machine.id)"
                   ng-click="machineMngCtrl.updateSelection($event,machine.id)" ng-model="machine.checked">
          </td>
          <td class="text-nowrap" data-title="'车号'" sortable="'licenseId'">
            <a ng-if="machineMngCtrl.validateOperPermission()" href
               ng-click="machineMngCtrl.updateMachine(machine)">{{machine.licenseId}}</a>
            <span ng-if="!machineMngCtrl.validateOperPermission()">{{machine.licenseId}}</span>

          </td>
          <td class="text-nowrap" data-title="'设备号'" sortable="'deviceinfo.deviceNum'">{{machine.deviceinfo.deviceNum}}</td>
          <td class="text-nowrap" data-title="'发动机类型'" sortable="'engineType.engineName'">{{machine.engineType.engineName}}</td>
          <td class="text-nowrap" data-title="'所属组织'" sortable="'org.label'">{{machine.org.label}}</td>
          <td class="text-nowrap" data-title="'车辆状态'" sortable="'machineState'">{{machine.machineState}}</td>
          <td class="text-nowrap" data-title="'操作'">
            <button type="button" class="btn btn-default btn-xs" presentation-href="machine:oper"
                    ng-click="machineMngCtrl.updateMachine(machine,'lg')">修改
            </button>
            <button type="button" class="btn btn-danger btn-xs" presentation-href="machine:unbindDevice"
                    ng-click="machineMngCtrl.removeDevice(machine)">解除关联
            </button>
            <button type="button" class="btn btn-warning btn-xs" presentation-href="allotLog:query"
                    ng-click="machineMngCtrl.allocationlog(machine,'lg')">调拨日志
            </button>
          </td>
        </tr>
      </table>
        </div>

    </div>

  <div class="box-footer">
    <uib-pagination total-items="machineMngCtrl.page.totalElements"
                    ng-change="machineMngCtrl.query(machineMngCtrl.pageNumber-1,null,null,machineMngCtrl.machine)"
                    max-size="5" ng-model="machineMngCtrl.pageNumber" items-per-page="machineMngCtrl.page.size"
                    class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>
  </div>

</section>

