<div class="modal-header">
  <h3 class="modal-title">新建车辆</h3>
</div>
<form name="newMachineForm" class="form-horizontal">
  <div class="modal-body">
    <div class="box-body">
      <div class="form-group">
        <label for="licenseId" class="col-sm-2 control-label">车牌号码</label>
        <div class="col-sm-10">
          <input type="text" id="licenseId" class="form-control" placeholder="车牌号码"
                 ng-model="newMachineController.machine.licenseId" name="licenseId" typeahead-show-hint="true"
                 validator="required" message-id="requireSubmit"/>
          <span id="requireSubmit">23423423424</span>
        </div>
      </div>

      <div class="form-group">
        <label for="licenseId" class="col-sm-2 control-label">绑定终端</label>
        <div class="col-sm-10">
          <input type="text" id="deviceNum" name="deviceNum"  class="form-control" placeholder="手工输入6位号码或扫条码"
                 ng-model="newMachineController.machine.deviceinfo.deviceNum" typeahead-show-hint="false"
                 ng-minlength='6' ng-maxlength='26' ng-change="newMachineController.deviceNumInputChanged(newMachineController.machine.deviceinfo.deviceNum)"/>
          <label class="text-blue" ng-if="newMachineController.deviceNumFromScanner == true">扫码输入终端号:{{newMachineController.deviceNumContentFromScanner}}</label>
          <span class="error text-danger" ng-show="newMachineForm.deviceNum.$error.maxlength">最长26位</span>
          <span class="error text-danger" ng-show="newMachineForm.deviceNum.$error.minlength">最短6位</span>
        </div>
      </div>

      </div>
      <div class="form-group">
        <label for="org" class="col-sm-2 control-label">所属组织</label>
        <div class="col-sm-10">
          <p class="input-group">
            <input type="text" id="org" class="form-control" placeholder="所属组织"
                   ng-model="newMachineController.machine.org.label" name="org" readonly validator="required"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="newMachineController.openOrgTree()"><i
                      class="fa fa-sitemap"></i></button>
                  </span>
          <div ng-controller="orgController as orgCtrl">
            <div
              style="background:#FFFFDF ;opacity:1;position: absolute; z-index: 110009; display: block; width: 90%; "
              ng-show="newMachineController.showOrgTree">
              <abn-tree tree-data="orgCtrl.my_data" tree-control="orgCtrl.my_tree"
                        on-select="orgCtrl.my_tree_handler(branch)" expand-level="4"></abn-tree>
            </div>
          </div>
          </p>
        </div>
      </div>
    <i style="color: red" ng-if="null!=newMachineController.errorMsg">
      {{newMachineController.errorMsg}}<br/>
    </i>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" validation-submit="newMachineForm" ng-click="newMachineController.ok(newMachineController.machine)">提交</button>
    <button class="btn btn-warning" type="button" ng-click="newMachineController.cancel()">取消</button>
  </div>
</form>
