<div class="modal-header">
    <h3 class="modal-title">修改车辆信息</h3>
</div>
<!--<script type="text/ng-template" id="myPopoverTemplate.html">-->
  <!--<div >{{updateUserinfoCtrl.dynamicPopover.content}}</div>-->
  <!--<div class="form-group">-->
    <!--<abn-tree tree-data="orgCtrl1.my_data" tree-control="orgCtrl1.my_tree" on-select="orgCtrl1.my_tree_handler(branch)" expand-level="2"></abn-tree>-->
  <!--</div>-->
<!--</script>-->

<form  name="updateMachineForm"  class="form-horizontal">
  <div class="modal-body">
    <div class="box-body">
      <div class="form-group">
        <label for="licenseId" class="col-sm-3 control-label">整机编号/车号</label>
        <div class="col-sm-9">
          <input type="text" id="licenseId" class="form-control" placeholder="整机编号/车号"
                 ng-model="updateMachineController.machine.licenseId" name="licenseId" typeahead-show-hint="true"
                 validator="required"/>
        </div>
      </div>
      <div class="form-group">
        <label for="deviceNum" class="col-sm-3 control-label">绑定终端</label>
        <div class="col-sm-7">
          <input type="text" id="deviceNum" name="deviceNum"  class="form-control" placeholder="手工输入6位号码或扫条码"
                 ng-model="updateMachineController.machine.deviceinfo.deviceNum" ng-minlength='6' ng-maxlength='26' ng-readonly="updateMachineController.newDeviceChk"
                 ng-change="updateMachineController.deviceNumInputChanged(updateMachineController.machine.deviceinfo.deviceNum)"/>
          <label class="text-blue" ng-if="updateMachineController.deviceNumFromScanner == true">扫码输入终端号:{{updateMachineController.deviceNumContentFromScanner}}</label>
          <span class="error text-danger" ng-show="updateMachineForm.deviceNum.$error.maxlength">最长26位</span>
          <span class="error text-danger" ng-show="updateMachineForm.deviceNum.$error.minlength">最短6位</span>
        </div>
        <div class="col-sm-2">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="newDeviceChk" ng-model="updateMachineController.newDeviceChk" id="newDeviceChk">
              更换
            </label>
          </div>
        </div>
      </div>

      <div class="form-group" ng-show="updateMachineController.newDeviceChk">
        <label for="newDeviceNum" class="col-sm-3 control-label">新终端</label>
        <div class="col-sm-7">
          <input type="text" id="newDeviceNum" name="newDeviceNum"  class="form-control" placeholder="手工输入6位号码或扫条码"
                 ng-model="updateMachineController.newDeviceNum" ng-minlength='6' ng-maxlength='26'
                 ng-change="updateMachineController.newDeviceNumInputChanged(updateMachineController.newDeviceNum)"/>
          <label class="text-blue" ng-if="updateMachineController.newDeviceNumFromScanner == true">扫码输入终端号:{{updateMachineController.newDeviceNumContentFromScanner}}</label>
          <span class="error text-danger" ng-show="updateMachineForm.newDeviceNum.$error.maxlength">最长26位</span>
          <span class="error text-danger" ng-show="updateMachineForm.newDeviceNum.$error.minlength">最短6位</span>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-danger" type="button" validation-submit="updateMachineForm" ng-click="updateMachineController.changeGPS(updateMachineController.machine,updateMachineController.newDeviceNum)">更换</button>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">发动机类型</label>
        <div class="col-sm-9">
          <select name="engineType" class="form-control"
                  ng-model="updateMachineController.machine.engineType.id"
                  ng-options="engineType.id as engineType.engineName for engineType in updateMachineController.engineTypeList">
            <option value="">请选择...</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">所属组织</label>
        <div class="col-sm-9">
          {{updateMachineController.machine.org.label}}
        </div>
      </div>
      <i style="color: red" ng-if="null!=updateMachineController.errorMsg">
        {{updateMachineController.errorMsg}}<br/>
      </i>
  </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" validation-submit="updateMachineForm" ng-click="updateMachineController.ok(updateMachineController.machine)">保存</button>
    <button class="btn btn-warning" type="button" ng-click="updateMachineController.cancel()">取消</button>
  </div>
</form>
