<div class="modal-header">
    <h3 class="modal-title">修改车辆信息</h3>
</div>
<!--<script type="text/ng-template" id="myPopoverTemplate.html">-->
  <!--<div >{{updateUserinfoCtrl.dynamicPopover.content}}</div>-->
  <!--<div class="form-group">-->
    <!--<abn-tree tree-data="orgCtrl1.my_data" tree-control="orgCtrl1.my_tree" on-select="orgCtrl1.my_tree_handler(branch)" expand-level="2"></abn-tree>-->
  <!--</div>-->
<!--</script>-->

<form  name="updateMachineForm"  class="form-horizontal">
  <div class="modal-body row" style="font-size: 13px;">
    <div class="box-body col-sm-7">
      <div class="form-group">
        <label for="licenseId" class="col-sm-2 control-label padding5">{{'machineNumberAndCarNumber'|translate}}</label>
        <div class="col-sm-4">

          <input type="text" id="licenseId" class="form-control" placeholder="{{'machineNumberAndCarNumber'|translate}}"
                 ng-model="updateMachineController.machine.licenseId" name="licenseId" typeahead-show-hint="true"
                 validator="required" ng-readonly="updateMachineController.roleSwitch"/>

        </div>

        <label for="licenseId" class="col-sm-2 control-label padding5" style="padding-right: 0px;">绑定终端</label>
        <div class="col-sm-2" style="padding-right: 0px;">
          <input type="text" id="deviceNum" name="deviceNum"  class="form-control" style="padding: 6px 10px;" placeholder="手工输入6位号码或扫条码"
                 ng-model="updateMachineController.machine.deviceinfo.deviceNum" typeahead-show-hint="false"
                 ng-minlength='6' ng-maxlength='26' ng-change="updateMachineController.deviceNumInputChanged(updateMachineController.machine.deviceinfo.deviceNum)" ng-readonly="updateMachineController.roleSwitch"/>
          <label class="text-blue" ng-if="updateMachineController.deviceNumFromScanner == true">扫码输入终端号:{{updateMachineController.deviceNumContentFromScanner}}</label>
          <span class="error text-danger" ng-show="newMachineForm.deviceNum.$error.maxlength">最长26位</span>
          <span class="error text-danger" ng-show="newMachineForm.deviceNum.$error.minlength">最短6位</span>
        </div>
        <div class="col-sm-2 padding5" ng-hide="updateMachineController.roleSwitch">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="newDeviceChk" ng-model="updateMachineController.newDeviceChk" id="newDeviceChk">
              更换
            </label>
          </div>
        </div>
      </div>

      <div class="form-group" ng-show="updateMachineController.newDeviceChk">
        <label for="newDeviceNum" class="col-sm-2 control-label padding5">新终端</label>
        <div class="col-sm-8">
          <input type="text" id="newDeviceNum" name="newDeviceNum"  class="form-control" placeholder="手工输入6位号码或扫条码"
                 ng-model="updateMachineController.newDeviceNum" ng-minlength='6' ng-maxlength='26'
                 ng-change="updateMachineController.newDeviceNumInputChanged(updateMachineController.newDeviceNum)"/>
          <label class="text-blue" ng-if="updateMachineController.newDeviceNumFromScanner == true">扫码输入终端号:{{updateMachineController.newDeviceNumContentFromScanner}}</label>
          <span class="error text-danger" ng-show="updateMachineForm.newDeviceNum.$error.maxlength">最长26位</span>
          <span class="error text-danger" ng-show="updateMachineForm.newDeviceNum.$error.minlength">最短6位</span>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-danger" type="button" validation-submit="updateMachineForm" ng-click="updateMachineController.changeGPS(updateMachineController.machine,updateMachineController.newDeviceNum)">更换</button>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label padding5">发动机类型</label>
        <div class="col-sm-4">

          <!--车队用户只可以查看不可以修改的字段-->
          <ui-select id="engineType" name="engineType" ng-model="updateMachineController.machine.engineType.id" theme="bootstrap"
                     ng-disabled="updateMachineController.disableSwitch" ng-show="updateMachineController.clearSwitchOne">
            <ui-select-match allow-clear="true" placeholder="发动机类型">{{$select.selected.engineName}}
            </ui-select-match>
            <ui-select-choices  repeat="engineType.id as engineType in updateMachineController.engineTypeList | propsFilter: {engineName: $select.search}" >
              <div  ng-bind-html="engineType.engineName | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>

          <ui-select id="engineType" name="engineType" ng-model="updateMachineController.machine.engineType.id" theme="bootstrap"
                     ng-disabled="updateMachineController.disableSwitch" ng-show="updateMachineController.clearSwitchTwice">
            <ui-select-match  placeholder="发动机类型">{{$select.selected.engineName}}
            </ui-select-match>
            <ui-select-choices  repeat="engineType.id as engineType in updateMachineController.engineTypeList | propsFilter: {engineName: $select.search}" >
              <div  ng-bind-html="engineType.engineName | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <label for="org" class="col-sm-2 control-label padding5">所属组织</label>
        <div class="col-sm-4">
          <p class="input-group">
            <input type="text" id="org" class="form-control" placeholder="所属组织"
                   ng-model="updateMachineController.machine.org.label" name="org" readonly validator="required"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="updateMachineController.openTreeInfo()" ng-disabled="updateMachineController.disableSwitch">
                      <i class="fa fa-sitemap"></i>
                    </button>
                  </span>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label padding5">车辆类型</label>
        <div class="col-sm-4">
          <ui-select id="machineType" name="machineType" ng-model="updateMachineController.machine.machineType" theme="bootstrap"
                     ng-disabled="updateMachineController.disableSwitch" ng-show="updateMachineController.clearSwitchOne">
            <ui-select-match allow-clear="true" placeholder="车辆类型">{{$select.selected.typeName}}
            </ui-select-match>
            <ui-select-choices  repeat="machineType in updateMachineController.machineTypeList | propsFilter: {typeName: $select.search}" >
              <div  ng-bind-html="machineType.typeName | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>

          <ui-select id="machineType" name="machineType" ng-model="updateMachineController.machine.machineType" theme="bootstrap"
                     ng-disabled="updateMachineController.disableSwitch" ng-show="updateMachineController.clearSwitchTwice">
            <ui-select-match  placeholder="车辆类型">{{$select.selected.typeName}}
            </ui-select-match>
            <ui-select-choices  repeat="machineType in updateMachineController.machineTypeList | propsFilter: {typeName: $select.search}" >
              <div  ng-bind-html="machineType.typeName | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

        <label for="machineState" class="col-sm-2 control-label padding5">车辆状态</label>
        <div class="col-sm-4">
          <ui-select id="machineState" name="machineState" ng-model="updateMachineController.machine.machineState" theme="bootstrap"
                     ng-disabled="updateMachineController.disableSwitch" ng-show="updateMachineController.clearSwitchOne">
            <ui-select-match allow-clear="true" placeholder="车辆状态">{{$select.selected.machineState}}
            </ui-select-match>
            <ui-select-choices  repeat="machineState.code as machineState in updateMachineController.machineStateList | propsFilter: {machineState: $select.search}" >
              <div  ng-bind-html="machineState.machineState | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>

          <ui-select id="machineState" name="machineState" ng-model="updateMachineController.machine.machineState" theme="bootstrap"
                     ng-disabled="updateMachineController.disableSwitch" ng-show="updateMachineController.clearSwitchTwice">
            <ui-select-match allow-clear="true" placeholder="车辆状态">{{$select.selected.machineState}}
            </ui-select-match>
            <ui-select-choices  repeat="machineState.code as machineState in updateMachineController.machineStateList | propsFilter: {machineState: $select.search}" >
              <div  ng-bind-html="machineState.machineState | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="form-group">
        <label for="licenseId" class="col-sm-2 control-label padding5">购买价格</label>
        <div class="col-sm-4">

          <input type="text" id="buyPrice" class="form-control" placeholder="购买价格"
                 ng-model="updateMachineController.machine.buyPrice" name="buyPrice" typeahead-show-hint="true"/>

        </div>

        <label for="licenseId" class="col-sm-2 control-label padding5">购买时间</label>
        <div class="col-sm-4">
          <p class="input-group">
            <input type="text" name="buyTime" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="updateMachineController.machine.buyTime"
                   is-open="updateMachineController.buyTimeOpenStatus.opened"
                   datepicker-options="dateOptions" ng-readonly="true"  close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="updateMachineController.buyTimeOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="upkeepPrice" class="col-sm-2 control-label padding5">保养费用</label>
        <div class="col-sm-4">

          <input type="text" id="upkeepPrice" class="form-control" placeholder="保养费用"
                 ng-model="updateMachineController.machine.upkeepPrice" name="upkeepPrice" typeahead-show-hint="true"/>
        </div>

        <label for="upkeepPriceType" class="col-sm-2 control-label padding5">保养费用类型</label>
        <div class="col-sm-4">


          <ui-select type="text" name="upkeepPriceType"  id="upkeepPriceType"  ng-model="updateMachineController.machine.upkeepPriceType"  on-remove="removed($item, $model)" theme="bootstrap"  >
            <ui-select-match  allow-clear="true" placeholder="请选择状态">{{$select.selected.desc}} </ui-select-match>
            <ui-select-choices  repeat="upkeepPriceType.value as upkeepPriceType in updateMachineController.upkeepPriceTypeList | propsFilter: {desc: $select.search}" >
              <div  ng-bind-html="upkeepPriceType.desc | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="form-group">
        <label for="salary" class="col-sm-2 control-label padding5">员工工资</label>
        <div class="col-sm-4">

          <input type="text" id="salary" class="form-control" placeholder="员工工资"
                 ng-model="updateMachineController.machine.salary" name="salary" typeahead-show-hint="true"/>
        </div>

        <label for="salaryType" class="col-sm-2 control-label padding5">员工工资类型</label>
        <div class="col-sm-4">
          <ui-select type="text" id="salaryType" name="salaryType"  ng-model="updateMachineController.machine.salaryType"  on-remove="removed($item, $model)" theme="bootstrap"  >
            <ui-select-match  allow-clear="true" placeholder="请选择状态">{{$select.selected.desc}} </ui-select-match>
            <ui-select-choices  repeat="salaryType.value as salaryType in updateMachineController.salaryTypeList | propsFilter: {desc: $select.search}" >
              <div  ng-bind-html="salaryType.desc | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>


        </div>
      </div>
      <div class="form-group">
        <label for="fuelTank" class="col-sm-2 control-label padding5">油箱容量(升)</label>
        <div class="col-sm-4">

          <input type="text" id="fuelTank" class="form-control" placeholder="油箱容量(升)"
                 ng-model="updateMachineController.machine.fuelTank" name="fuelTank" typeahead-show-hint="true"/>

        </div>

        <label for="fuelConfig" class="col-sm-2 control-label padding5">燃油类型</label>
        <div class="col-sm-4">

          <ui-select id="fuelConfig" name="fuelConfig" ng-model="updateMachineController.machine.fuelConfig.id" theme="bootstrap"
                     ng-disabled="disabled" >
            <ui-select-match allow-clear="true" placeholder="燃油类型">{{$select.selected.name + ' ( '+$select.selected.fuelTypeDesc +' ) '}}
            </ui-select-match>
            <ui-select-choices  repeat="fuelConfig.id as fuelConfig in updateMachineController.fuelConfigList | propsFilter: {name: $select.search}" >
              <div  ng-bind-html="fuelConfig.name +' ( '+fuelConfig.fuelTypeDesc +' ) '| highlight: $select.search"></div>
            </ui-select-choices>


          </ui-select>
        </div>
      </div>
      <div class="form-group">

        <label for="depreciableLife" class="col-sm-2 control-label padding5">折旧年限</label>
        <div class="col-sm-4">
          <input type="text" id="depreciableLife" class="form-control" placeholder="折旧年限"
                 ng-model="updateMachineController.machine.depreciableLife" name="depreciableLife" typeahead-show-hint="true"/>
        </div>

      </div>

      <i style="color: red" ng-if="null!=updateMachineController.errorMsg">
        {{updateMachineController.errorMsg}}<br/>
      </i>
    </div>

    <div class="map-body col-sm-5">
      <div class="form-group">
        <label for="currentAddress" class="col-sm-3 control-label padding5">车辆当前位置</label>
        <div class="col-sm-5">
          <input type="text" id="currentAddress" class="form-control" placeholder="车辆当前位置"
                 ng-model="updateMachineController.machine.currentAddress" name="currentAddress" typeahead-show-hint="true"/>
        </div>
        <input class="btn col-sm-3" type="button" class="btn" value="地图上显示" id="showMachineAddress" ng-click="updateMachineController.showAddress(updateMachineController.machine.currentAddress)">
      </div>
      <div class="box" id="machineMap" style="height:350px;width: 330px;"></div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" validation-submit="updateMachineForm" ng-click="updateMachineController.ok(updateMachineController.machine)">保存</button>
    <button class="btn btn-warning" type="button" ng-click="updateMachineController.cancel()">取消</button>
  </div>
</form>
