<div class="modal-header">
  <h3 class="modal-title">批量导入车辆</h3>
</div>
<form name="myForm" class="form-horizontal ">
  <div class="modal-body">
    <div class="box-body">

      <div class="row">
        <div class="col-md-6">
          <input type="file" ngf-select ng-model="uploadMachineController.file" name="file"
                 accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ngf-max-size="2MB" required
                 ngf-model-invalid="errorFiles" ng-click="uploadMachineController.clean()">
          <i ng-show="myForm.file.$error.required" class="text-danger">请选择要导入的车辆EXCEL</i><br>
          <i ng-show="myForm.file.$error.maxSize">上传文件太大
            {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
          <button type="button" class="btn btn-warning btn-xs" ng-click="uploadMachineController.clean()" ng-show="uploadMachineController.file">移除</button>
        </div>

      </div>
      <div class="row">
        <i ng-if="null!=uploadMachineController.operMsg" style="color: red" >{{uploadMachineController.operMsg}}</i>
        <br/>
        <i style="color: red" ng-repeat="message in uploadMachineController.errorList">
          {{message}}<br/>
        </i>
      </div>
    </div>

  </div>
  </div>
  <div class="modal-footer">
    <a href style="float: left" ng-click="uploadMachineController.templateDownload()">导入模板下载</a>
    <button class="btn btn-primary" type="button" ng-disabled="!myForm.$valid" presentation-href="machine:upload" ng-click="uploadMachineController.upload(uploadMachineController.file)">保存</button>
    <button class="btn btn-warning" type="button" ng-click="uploadMachineController.cancel()">取消</button>
  </div>
</form>
