<div class="modal-header">
  <h3 class="modal-title">隶属组织信息
  </h3>
</div>


<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-1">
      <label class="control-label">组织名称</label>

    </div>
    <div class="col-md-3">
      <input type="text" name="name" class="form-control " ng-model="machineTypeOrgMngCtrl.orgInfo.label" placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>



    <div class="col-md-2">
      <button class="btn btn-primary" type="button"  ng-click="machineTypeOrgMngCtrl.reset()">{{'reset'|translate}}</button>
      <button class="btn btn-primary" type="button"  ng-click="machineTypeOrgMngCtrl.query(null,10,null,machineTypeOrgMngCtrl.orgInfo)">{{'query'|translate}}</button>

    </div>


  </div>
  <div class="row">
    <div class="btn-group col-md-2">
      <span class="label label-info pull-left">组织总数:  {{machineTypeOrgMngCtrl.page.totalElements}}</span>
    </div>
    <div class="col-md-10">
      <button class="btn btn-warning pull-right" type="button" ng-click="machineTypeOrgMngCtrl.cancel()">{{'cancel'|translate}}</button>
      <button class="btn btn-primary pull-right" type="button"  ng-click="machineTypeOrgMngCtrl.updateOrgMachineType()">{{'update'|translate}}</button>

    </div>
  </div>
  <div class="row " style="padding: 10px">
    <div class="table-responsive">
      <script id="selectAllHeader" type="text/ng-template">
        <input type="checkbox" ng-click="machineTypeOrgMngCtrl.updateAllSelection($event)"
               ng-model="machineTypeOrgMngCtrl.checked">
      </script>
      <table ng-table="machineTypeOrgMngCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="orgInfo in $data">
          <td class="text-nowrap" style="text-align:center;" data-header="'selectAllHeader'">
            <input type="checkbox" ng-checked="machineTypeOrgMngCtrl.isSelected(orgInfo.id)"
                   ng-click="machineTypeOrgMngCtrl.updateSelection($event,orgInfo.id)" ng-model="orgInfo.checked"  >
          </td>

          <td class="text-nowrap" data-title="'ID'" sortable="'id'">{{orgInfo.id}}</td>
          <td class="text-nowrap" data-title="'组织名称'" sortable="'typeName'">{{orgInfo.label}}</td>
          <td class="text-nowrap" data-title="'组织简称'" sortable="'name'">{{orgInfo.name}}</td>
          <!--<td class="text-nowrap" data-title="'组织名称'" sortable="'parentId'">{{orgInfo.parentId}}</td>-->

          <td class="text-nowrap" data-title="'createTime'|translate" sortable="'orgCreateTime'">{{orgInfo.orgCreateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <!--<td class="text-nowrap" data-title="'updateTime'|translate" sortable="'updateTime'">{{orgInfo.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>-->

        </tr>
      </table>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="box-footer">
    <uib-pagination total-items="machineTypeOrgMngCtrl.page.totalElements" ng-change="machineTypeOrgMngCtrl.query(machineTypeOrgMngCtrl.pageNumber-1,10,null,machineTypeOrgMngCtrl.orgInfo)"
                    max-size="5" ng-model="machineTypeOrgMngCtrl.pageNumber" items-per-page="machineTypeOrgMngCtrl.page.size" class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
  </div>

</section>

