<aside class="main-sidebar left-side fixed">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/images/avatar.png" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info" ng-if="userInfo">
        <p>{{userInfo.userdto.ssn}}</p>
        <a><i class="fa fa-circle text-success"></i> {{'loggedIn'|translate}}</a>
      </div>

      <div class="pull-left info" ng-if="userInfo == null">
        <a ui-sref="home.login"> {{'pleaseLogin'|translate }} {{rand}}</a>
      </div>
    </div>
    <!-- search form -->
    <!--<form action="#" method="get" class="sidebar-form">-->
    <!--<div class="input-group">-->
    <!--<input type="text" name="q" class="form-control" placeholder="Search..."/>-->
    <!--<span class="input-group-btn">-->
    <!--<button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>-->
    <!--</span>-->
    <!--</div>-->
    <!--</form>-->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu ">
      <li class="treeview">
        <a ui-sref="home" presentation-href="home:dashboard">
          <i class="fa fa-dashboard"></i> <span>{{'dashboard' | translate}}</span>
        </a>

          <li>

            <a ui-sref="home.monitor" presentation-href="device:page">
              <i class="fa fa-th-list"></i> <span>{{'equipmentMonitoring' | translate}}</span>
            </a>
          </li>
          <li>

            <a ui-sref="home.deviceinfoMng"   presentation-href="device:page">
              <i class="fa fa-database"></i> <span>{{'equipmentManagement' | translate}}</span>
            </a>
          </li>
          <!--
          <li>

            <a   ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ||userInfo.userdto.role == 'ROLE_ADMIN'||userInfo.userdto.role == 'ROLE_OPERATOR'">

              <i class="fa fa-warning"></i> <span>{{'alarmEquipment' | translate}}</span>
            </a>
          </li>
          <li>

            <a    ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ||userInfo.userdto.role == 'ROLE_ADMIN'||userInfo.userdto.role == 'ROLE_OPERATOR'">

              <i class="fa fa-bar-chart-o"></i> <span>{{'statisticalCharts' | translate}}</span>
            </a>
          </li>
          -->

      </li>
      <li>

        <a ui-sref="home.simMng" presentation-href="sim:page">
          <i class="fa fa-mobile"></i> <span>{{'SIMManagement' | translate}}</span>
        </a>
      </li>
      <li>

        <a ui-sref="home.machinemng" presentation-href="machine:page">
          <i class="fa fa-car"></i> <span>{{'vehicleManagement' | translate}}</span>
        </a>
      </li>
      <li>
        <a ui-sref="home.machineMove" presentation-href="machine:page">
          <i class="fa fa-car"></i> <span>车辆调拨</span>
        </a>
      </li>

      <li>
        <a ui-sref="home.revenue" presentation-href="machine:page">
          <i class="fa fa-car"></i> <span>收入统计</span>
        </a>
      </li>

      <li>
        <a ui-sref="home.cost" presentation-href="machine:page">
          <i class="fa fa-car"></i> <span>成本统计</span>
        </a>
      </li>
      <li>
        <a ui-sref="home.sysconfigmng" presentation-href="config:sysconfigPage">
          <i class="fa fa-cogs"></i> <span>{{'sysconfigManagement' | translate}}</span>
        </a>
      </li>
      <li class="treeview" presentation-href="user:page">
        <a ui-sref="home.userinfomng">
          <i class="fa fa-user"></i> <span>{{'userManagement' | translate}}</span>
        </a>
      </li>
      <li >
        <a ui-sref="home.roleMng" presentation-href="role:rolePage">
          <i class="fa fa-user"></i> <span>角色管理</span>
          </a>
      </li> <li >
        <a ui-sref="home.priviligeMng" presentation-href="privilige:priviligePage">
          <i class="fa fa-user"></i> <span>权限管理</span>
          </a>
      </li>

      <li class="treeview" >
        <a href="http://releasenotegpscloud.mydoc.io/" target="_blank">
          <i class="fa fa-file-text-o"></i> <span>{{'updateLog' | translate}}</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
