<header class="main-header">
  <a class="logo navbar-static-top">
    <img src='assets/images/logo2.png' height="40">
  </a>
  <nav class="navbar navbar-static-top">
    <a class="sidebar-toggle center" role="button" ng-click="selectAppTopBarCtr.changeLanguage('zh')">
      <img src="assets/images/pic-01.jpg" width="17" height="11" style="margin-top: -5px;">&nbsp;中文
    </a>
    <a class="sidebar-toggle center" role="button" ng-click="selectAppTopBarCtr.changeLanguage('en')">
      <img src="assets/images/pic-02.jpg" width="17" height="11" style="margin-top: -5px;">&nbsp;English
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="user user-menu">
          <a ng-click="selectAppTopBarCtr.logout()" href="">{{'logout'|translate}}</a>
        </li>
        </li>
      </ul>
    </div>
  </nav>
</header>
