<header class="main-header" style="height:50px">
  <a ui-sref="home" class="logo navbar-fixed-top">
    <img src="assets/images/logo.png" width="33" height="30">
    <!-- Add the class icon to your logo image or logo icon to add the margining -->
    {{ 'SDLG' | translate}}
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-fixed-top" role="navigation">
    <!-- Sidebar toggle button-->

    <a ui-sref="home" class="sidebar-toggle" role="button">
      <i class="fa fa-home"></i>
    </a>

    <a  class="sidebar-toggle" role="button" ng-click="changeLanguage('zh')">
      简体中文
    </a>

    <a  class="sidebar-toggle" role="button" ng-click="changeLanguage('en')">
      English
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="user user-menu" ng-if="userInfo == null">
          <a ui-sref="home.login">
            <i class="glyphicon glyphicon-user"></i>
            <span>{{ 'login' | translate }}</span>
          </a>
        </li>

        <li class="dropdown notifications-menu" ng-if="userInfo != null">
          <a ui-sref="home.notification" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">{{notificationNumber}}</span>
          </a>
        </li>

        <li ui-sref="home.profile" role="button" ng-if="userInfo">
          <a>
            <i class="glyphicon glyphicon-user" >
              <span>{{userInfo.userdto.ssn}}
                <small ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN'">{{'sysadmin'|translate}}</small>
                <small ng-if="userInfo.userdto.role == 'ROLE_ADMIN'">{{'administrator'|translate}}</small>
                <small ng-if="userInfo.userdto.role == 'ROLE_USER'">{{'commonUser'|translate}}</small>
              </span>
            </i>
          </a>
        </li>
        <li ui-sref="#" role="button"><a ng-click="mainCtrl.logout()" ng-if="userInfo">{{'logout'|translate}}</a></li>
      </ul>
    </div>
  </nav>
  <!--<div  class="">-->
</header>
