<div class="modal-header">
    <h3 class="modal-title">新建用户</h3>
</div>
<form name="newUserForm" class="form-horizontal" ng-submit="addUserCtrl.ok(addUserCtrl.newUser)">
    <div class="modal-body">
            <div class="box-body">
                <div class="form-group">
                    <label for="ssn" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" id="ssn" class="form-control" placeholder="用户名" ng-model="addUserCtrl.newUser.ssn" name="ssn" required/>
                    </div>
                </div>

              <div class="form-group">
                <label for="org" class="col-sm-2 control-label">所属组织</label>
                <!--<div ng-controller="orgController as orgCtrl1">-->
                <!--<button uib-popover-template="updateUserinfoCtrl.dynamicPopover.templateUrl" popover-title="{{updateUserinfoCtrl.dynamicPopover.title}}" type="button" class="btn btn-default">组织机构</button>-->
                <!--</div>-->
                <div class="col-sm-10">
                  <p class="input-group">
                    <input type="text" id="org" class="form-control" placeholder="所属组织" ng-model="addUserCtrl.newUser.organizationDto.label" name="org" readonly required/>
                    <span class="input-group-btn">
                       <!--打开组织树-->
                      <button type="button" class="btn btn-default" ng-click="addUserCtrl.openTreeInfo(machineMngCtrl.org)">
                        <i class="fa fa-sitemap"></i>
                      </button>
                    </span>
                  </p>
                </div>
              </div>

                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label">姓</label>
                    <div class="col-sm-10">
                        <input type="text" id="lastName" class="form-control" placeholder="姓" ng-model="addUserCtrl.newUser.lastname" name="lastName" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">名字</label>
                    <div class="col-sm-10">
                        <input type="text" id="firstName" class="form-control" placeholder="名字" ng-model="addUserCtrl.newUser.firstname" name="firstName" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-sm-2 control-label">手机号</label>
                    <div class="col-sm-10">
                        <input type="text" id="mobile" class="form-control" placeholder="手机号" ng-model="addUserCtrl.newUser.mobile" name="mobile" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" id="email" class="form-control" placeholder="Email" ng-model="addUserCtrl.newUser.email" name="email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">角色</label>
                    <div class="col-sm-10">
                        <div class="form-group">
                          <div class="radio">
                                <label>
                                    <input type="radio" name="role" ng-model="addUserCtrl.newUser.role" id="optionsRadios1" value="ROLE_USER">
                                    普通用户
                                </label>
                            </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="role" ng-model="addUserCtrl.newUser.role" id="optionsRadios2" value="ROLE_OPERATOR">
                              操作员
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="role" ng-model="addUserCtrl.newUser.role" id="optionsRadios4" value="ROLE_PRODUCER">
                              生产
                            </label>
                          </div>
                            <div class="radio" ng-if="addUserCtrl.operatorInfo.userdto.role == 'ROLE_SYSADMIN'">
                                <label>
                                    <input type="radio" name="newUser.role" ng-model="addUserCtrl.newUser.role" id="optionsRadios3" value="ROLE_ADMIN">
                                    管理员
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">地址</label>
                    <div class="col-sm-10">
                        <input type="text" id="address" class="form-control" placeholder="地址" ng-model="addUserCtrl.newUser.address" name="address" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" id="password" class="form-control" placeholder="密码" ng-model="addUserCtrl.newUser.password" name="password" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="col-sm-2 control-label">重复密码</label>
                    <div class="col-sm-10">
                        <input type="password" id="confirmPassword" class="form-control" placeholder="重复密码" ng-model="addUserCtrl.newUser.confirmPassword" name="confirmPassword" data-match="addUserCtrl.newUser.password" required/>
                      <span class="text-red" data-ng-show="newUserForm.confirmPassword.$error.match">密码两次输入不匹配</span>
                    </div>
                </div>

              <div class="form-group">
                <label for="email" class="col-sm-2 control-label"></label>
                <div class="form-group col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="locationAlarmReceiver" ng-model="addUserCtrl.locationAlarmReceiverChk" id="locationAlarmReceiver">
                      接收机器位置异常报警(勾选时会收到机器超出电子围栏报警信息)
                    </label>
                  </div>
                </div>
              </div>


            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-show="newUserForm.confirmPassword.$valid">添加</button>
        <button class="btn btn-warning" type="button" ng-click="addUserCtrl.cancel()">取消</button>
    </div>
</form>
