<form name="updatedUserForm" class="form-horizontal">
    <div class="modal-body">
        <div class="box-body">
            <div class="form-group">
                <label for="ssn" class="col-sm-2 control-label">{{'userName'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" id="ssn" class="form-control" placeholder="{{'userName'|translate}}" ng-model="profileCtrl.currentUserInfo.userdto.ssn" name="ssn" readonly validator="required"/>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">{{'laseName'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" id="lastName" class="form-control" placeholder="{{'laseName'|translate}}" ng-model="profileCtrl.currentUserInfo.userdto.lastname" name="lastName" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">{{'firstName'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" id="firstName" class="form-control" placeholder="{{'firstName'|translate}}" ng-model="profileCtrl.currentUserInfo.userdto.firstname" name="firstName" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="mobile" class="col-sm-2 control-label">{{'phoneNumber'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" id="mobile" class="form-control" placeholder="{{'phoneNumber'|translate}}" ng-model="profileCtrl.currentUserInfo.userdto.mobile" name="mobile" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">{{'email'|translate}}</label>
                <div class="col-sm-10">
                    <input type="email" id="email" class="form-control" placeholder="{{'email'|translate}}" ng-model="profileCtrl.currentUserInfo.userdto.email" name="email"/>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">{{'address'|translate}}</label>
                <div class="col-sm-10">
                    <input type="text" id="address" class="form-control" placeholder="{{'address'|translate}}" ng-model="profileCtrl.currentUserInfo.userdto.address" name="address" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

        <button class="btn btn-primary" type="button" validation-submit="updatedUserForm"  ng-click="profileCtrl.updateUserInfo()">{{'save'|translate}}</button>
        <button class="btn btn-warning" ng-click="profileCtrl.updatePassword(profileCtrl.currentUserInfo)">{{'changePassword'|translate}}</button>
    </div>
</form>
