<section class="content-header" style="overflow: hidden">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>{{'homePage'|translate}}</a></li>
    <li class="active">{{'userManagement'|translate}}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content form-horizontal" style="overflow: hidden">

  <div class="row form-group">

    <div class="col-md-1">
      <label class="control-label">用户账号</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="ssn" class="form-control " ng-model="userMngController.userinfo.ssn"
             placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>

    <div class="col-md-1">
      <label class="control-label">用户姓名</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="ssn" class="form-control " ng-model="userMngController.userinfo.firstname"
             placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>

    <div class="col-md-4">
      <button class="btn btn-primary" type="button" ng-click="userMngController.reset()">{{'reset'|translate}}</button>
      <button class="btn btn-primary" type="button"
              ng-click="userMngController.query(null,null,null,userMngController.userinfo)">{{'query'|translate}}
      </button>

    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3">
      <div class="panel-group" id="orgPanel">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title text-center">
              {{'organizationInformation'|translate}}
            </h4>
          </div>
          <div class="panel-body" style="height: 800px;overflow:auto;">
            <abn-tree tree-data="userMngController.my_data"
                      on-select="userMngController.my_tree_handler(branch); $event.stopPropagation();"
                      expand-level="2"></abn-tree>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-group" id="userPanel">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title text-center">
              用户列表
              <a class="pull-right" type="button" href="" ng-click="userMngController.addUser('md')">
                <i class="fa fa-plus"></i> <span>{{'add' | translate}}</span>
              </a>
            </h4>


          </div>
          <div class="panel-body" style="height: 800px;overflow:auto;">

            <li class="list-group-item repeat"  ng-repeat="userinfo in userMngController.userinfoList">
              <div class="row">
                <div class="col-sm-4">
                    <span>
                      <a href="javascript:;" ng-class="{true: 'text-red'}[userMngController.selectedUser == userinfo]" ng-click="userMngController.selectUser(userinfo)" class="fa fa-user">
                        {{userinfo.lastname}}{{userinfo.firstname}} </a>
                    </span>
                </div>
                <div class="col-sm-4">
                  {{userinfo.ssn}}</a>
                </div>
                <div class="col-sm-4 text-right">

                  <button type="button" class="btn btn-success btn-xs"
                          ng-if="userinfo.status===0" presentation-href="user:oper"
                          ng-click="userMngController.statusEnable(userinfo,'lg')">{{'enabled'|translate}}
                  </button>
                  <button type="button" class="btn btn-danger btn-xs"
                          ng-if="userinfo.status===1" presentation-href="user:oper"
                          ng-click="userMngController.statusDisable(userinfo)">{{'forbidden'|translate}}
                  </button>
                  <button type="button" class="btn btn-default btn-xs" presentation-href="user:oper"
                          ng-click="userMngController.updateUserInfo(userinfo)">{{'alter'|translate}}
                  </button>

                  <button type="button" class="btn btn-default btn-xs"
                          presentation-href="user:superResetPassword"
                          ng-click="userMngController.updatePassword(userinfo)">{{'resetPassword'|translate}}
                  </button>

                  <button type="button" class="btn btn-default btn-xs" presentation-href="operationLog:page"
                          ng-click="userMngController.logQuery(userinfo,'lg')">{{'operationLog'|translate}}
                  </button>

                </div>
              </div>

            </li>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel-group" id="rolePanel">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h4 class="panel-title text-center">
              角色列表
              <a class="pull-right" type="button" href="" ng-click="userMngController.userRoleManage('lg')">
                <i class="fa fa-pencil-square-o"></i> <span>{{'alter' | translate}}</span>
              </a>
            </h4>
          </div>
          <div class="panel-body" style="height: 800px;overflow:auto;">

            <treecontrol class="tree-classic"
                         tree-model="userMngController.roleList"
                         options = "userMngController.roleTreeOptions">
              {{node.name}}
            </treecontrol>

          </div>
        </div>
      </div>
    </div>
  </div>


</section>

