        <!-- Right side column. Contains the navbar and content of the page -->
            <!-- Content Header (Page header) -->

            <section class="content-header">
                <h1>
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
                    <li class="active">用户管理</li>
                </ol>
            </section>

            <!-- Main content -->

            <section>
                <!--div class="box box-solid box-info"-->
                <div class="box box-solid box-primary">

                    <div class="box-body">
                        <a class="btn btn-app btn-link" ng-if="userMngCtrl.operatorInfo.userdto.role == 'ROLE_SYSADMIN'" ng-click="userMngCtrl.showUserMng('ROLE_SYSADMIN')">
                            <span class="badge bg-purple">{{userMngCtrl.userMngNumberByRole.sysadminnumber}}</span>
                            <i class="fa fa-users"></i> 系统管理员
                        </a>
                        <a class="btn btn-app btn-link" style="width: 15%" ng-if="userMngCtrl.operatorInfo.userdto.role == 'ROLE_SYSADMIN' ||userMngCtrl.operatorInfo.userdto.role == 'ROLE_ADMIN'" ng-click="userMngCtrl.showUserMng('ROLE_ADMIN')">
                            <span class="badge bg-purple">{{userMngCtrl.userMngNumberByRole.adminnumber}}</span>
                            <i class="fa fa-users"></i> 管理员
                        </a>
                        <!--<a class="btn btn-app" style="width: 15%" ng-click="showUserMng('ROLE_OPERATOR')">-->
                            <!--<span class="badge bg-purple">{{userMngNumberByRole.operatornumber}}</span>-->
                            <!--<i class="fa fa-users"></i> 操作员-->
                        <!--</a>-->
                        <a class="btn btn-app btn-link" style="width: 15%" ng-click="userMngCtrl.showUserMng('ROLE_USER')">
                            <span class="badge bg-purple">{{userMngCtrl.userMngNumberByRole.usernumber}}</span>
                            <i class="fa fa-users"></i> 普通用户
                        </a>
                        <a class="btn btn-app btn-link" style="width: 15%;padding-top: 20px" ng-click="userMngCtrl.addUser()">
                            <i class="fa fa-plus"></i> 新增
                        </a>
                    </div>
                </div>
            </section>
            <section class="content scrollable">
                <div class="row">
                    <div class="col-md-3" ng-repeat="userMng in userMngCtrl.userMngList">
                        <div class="box box-success">
                            <div class="box-header">
                                <h5 class="box-title">{{userMng.ssn}}</h5>
                                <div class="box-tools pull-right">
                                    <div class="label bg-gray" ng-if="userMng.status == 0"> <i class="fa fa-exclamation-triangle"></i> </div>
                                    <div class="label bg-green" ng-if="userMng.status == 1"> <i class="fa fa-check-square"></i> </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3" style="padding-left: 15px;padding-right: 0px">
                                        角色:
                                    </div>
                                    <div class="col-md-9" style="padding-left: 0px;padding-right: 0px">
                                        <span ng-if="userMng.role == 'ROLE_SYSADMIN'"> 系统管理员 </span>
                                        <span ng-if="userMng.role == 'ROLE_ADMIN'"> 管理员 </span>
                                        <span ng-if="userMng.role == 'ROLE_OPERATOR'"> 操作员 </span>
                                        <span ng-if="userMng.role == 'ROLE_USER'"> 普通用户 </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"  style="padding-left: 15px;padding-right: 0px">
                                        名字:
                                    </div>
                                    <div class="col-md-9" style="padding-left: 0px;padding-right: 0px">
                                        {{userMng.lastname}} {{userMng.firstname}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" style="padding-left: 15px;padding-right: 0px">
                                        电话:
                                    </div>
                                    <div class="col-md-9" style="padding-left: 0px;padding-right: 0px">
                                        {{userMng.mobile}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3" style="padding-left: 15px;padding-right: 0px">
                                        Email:
                                    </div>
                                    <div class="col-md-9" style="padding-left: 0px;padding-right: 0px">
                                        {{userMng.email}}
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-md-3" style="padding-left: 15px;padding-right: 0px">
                                            公司:
                                        </div>
                                        <div class="col-md-9" style="padding-left: 0px;padding-right: 0px">
                                            {{userMng.rentOrgLevel1.rentname}} <i class="fa fa-chevron-circle-right" ng-if="userMng.rentOrgLevel2.rentname"></i> {{userMng.rentOrgLevel2.rentname}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <code>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default btn-xs" ng-click="userMngCtrl.updatePassword(userMng)">重置密码</button>
                                        <span ng-if="userMng.status == 1"><button type="button" class="btn btn-default btn-xs" ng-click="userMngCtrl.revertUserStatus(userMng)">失效</button></span>
                                        <span ng-if="userMng.status == 0"><button type="button" class="btn btn-default btn-xs" ng-click="userMngCtrl.revertUserStatus(userMng)">激活</button></span>
                                        <!--<button type="button" class="btn btn-primary btn-xs" ng-click="revertUserStatus(userMng)"><span ng-if="userMng.status == 1">失效</span> <span ng-if="userMng.status == 0">激活</span></button>-->
                                        <button type="button" class="btn btn-default btn-xs" ng-click="userMngCtrl.updateUserInfo(userMng)">修改</button>
                                    </div>
                                </code>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                  <uib-pagination total-items="userMngCtrl.page.totalElements" ng-change="userMngCtrl.queryDeviceInfo(userMngCtrl.pagenumber-1,null,null,userMngCtrl.deviceNum)" max-size="5" ng-model="userMngCtrl.pagenumber" items-per-page="userMngCtrl.page.size" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>
                </div>
            </section>
