<div class="modal-header">
  <h3 class="modal-title">{{userRoleMngController.userinfo.lastname}}{{userRoleMngController.userinfo.firstname}}{{'roleManagement'|translate}}
  </h3>
</div>

<!-- Main content -->
<section class="content">
  <uib-tabset justified="true">

    <uib-tab>
      <uib-tab-heading>{{'customRole'|translate}}</uib-tab-heading>
      <div class="row">
        <div class="col-md-5">
          <div class="panel-group" id="orgPanel">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h4 class="panel-title text-center">
                  {{'organizationInformation'|translate}}
                </h4>
              </div>
              <div class="panel-body" style="height: 400px">
                <abn-tree tree-data="userRoleMngController.my_data"
                          on-select="userRoleMngController.my_tree_handler(branch); $event.stopPropagation();"
                          expand-level="2"></abn-tree>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="panel-group" id="userPanel">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h4 class="panel-title text-center">
                  {{'roleManagement'|translate}}
                </h4>


              </div>
              <div class="panel-body" style="height: 400px;overflow:auto;">

                <li class="list-group-item repeat"  ng-repeat="role in userRoleMngController.roleList">
                  <div class="row">
                    <div class="col-sm-2">
                      <input type="checkbox" ng-checked="userRoleMngController.isSelected(role.id)"
                             ng-click="userRoleMngController.updateSelection($event, role.id)" ng-model="role.checked">
                    </div>
                    <div class="col-sm-5">{{role.name}}</div>
                  </div>

                </li>

              </div>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab>
      <uib-tab-heading>{{'systemRole'|translate}}</uib-tab-heading>

      <div class="row " style="padding: 10px">
        <li class="list-group-item repeat"  ng-repeat="sysRole in userRoleMngController.sysRoleList">
          <div class="row">
            <div class="col-sm-2">
              <input type="checkbox" ng-checked="userRoleMngController.isSelected(sysRole.id)"
                     ng-click="userRoleMngController.updateSelection($event, sysRole.id)" ng-model="role.checked">
            </div>
            <div class="col-sm-5">
              {{sysRole.name}}
            </div>
          </div>
        </li>
      </div>
    </uib-tab>
  </uib-tabset>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="userRoleMngController.ok()">{{'confirm'|translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="userRoleMngController.cancel()">{{'cancel'|translate}}</button>
  </div>


</section>

