<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{'homePage'|translate}}</a></li>
    <li class="active">{{'fuelManagement'|translate}}</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-1">
      <label class="control-label">{{'configurationName'|translate}}</label>

    </div>
    <div class="col-md-3">
      <input type="text" name="name" class="form-control " ng-model="fuelConfigMngController.fuelConfig.name" placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>


    <div class="col-md-1">
      <label class="control-label">{{'organisation'|translate}}</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" id="org" class="form-control" placeholder="{{'organisation'|translate}}"
               ng-model="fuelConfigMngController.org.label" name="org" readonly required/>
            <span class="input-group-btn">
               <!--打开组织树-->
              <button type="button" class="btn btn-default" ng-click="fuelConfigMngController.openTreeInfo()">
                <i class="fa fa-sitemap"></i>
              </button>
            </span>
      </p>
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary" type="button"  ng-click="fuelConfigMngController.reset()">{{'reset'|translate}}</button>
      <button class="btn btn-primary" type="button"  presentation-href="fuelConfig:page" ng-click="fuelConfigMngController.query(null,null,null,fuelConfigMngController.fuelConfig)">{{'query'|translate}}</button>
    </div>


  </div>


  <div class="row">
    <div class="btn-group col-md-2">
      <span class="label label-info pull-left">{{'totalNumberOfFuelConfiguration'|translate}}:  {{fuelConfigMngController.page.totalElements}}</span>
    </div>
    <div class="col-md-10">


      <a class="btn btn-default pull-right" presentation-href="sim:oper"
         ng-click="fuelConfigMngController.newFuelConfig()">
        <i class="fa fa-plus"></i> {{'add'|translate}}
      </a>
    </div>
  </div>
  <div class="row " style="padding: 10px">
      <div class="table-responsive">
      <table ng-table="fuelConfigMngController.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="fuelConfig in $data">

          <td class="text-nowrap" data-title="'configurationName'|translate" sortable="'name'">{{fuelConfig.name}}</td>
          <td class="text-nowrap" data-title="'fuelType'|translate" sortable="'fuelTypeDesc'">{{fuelConfig.fuelTypeDesc}}</td>
          <td class="text-nowrap" data-title="'price'|translate" sortable="'price'">{{fuelConfig.price}}</td>
          <td class="text-nowrap" data-title="'organisation'|translate" sortable="'statusDesc'">{{fuelConfig.orgEntity.label}}</td>
          <td class="text-nowrap" data-title="'createTime'|translate" sortable="'createTime'">{{fuelConfig.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td class="text-nowrap" data-title="'updateTime'|translate" sortable="'updateTime'">{{fuelConfig.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td class="text-nowrap" data-title="'operation'|translate">

            <button type="button" class="btn btn-default btn-xs" presentation-href="fuelConfig:oper"
                    ng-click="fuelConfigMngController.updateFuelConfig(fuelConfig)">{{'alter'|translate}}
            </button>
          </td>
        </tr>
      </table>
      </div>
    </div>
  <div class="row">
  </div>
  <div class="box-footer">
    <uib-pagination total-items="fuelConfigMngController.page.totalElements" ng-change="fuelConfigMngController.query(fuelConfigMngController.pageNumber-1,null,null,fuelConfigMngController.phoneNumber)"
                    max-size="5" ng-model="fuelConfigMngController.pageNumber" items-per-page="fuelConfigMngController.page.size" class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
  </div>

</section>

