<div class="main-container" id="dullmachine">
  <div class="left-container">
    <div class="container-fluid">
      <div class="row-fluid">
        <!-- 左侧查询条件 -->
        <div class="span12"  style="margin-top: 20px;">
          <form name="InactiveMachineForm" class="form-horizontal">
              <div class="control-group">

                <label class="control-label">{{'vehicleType'|translate}}:</label>
                <div class="controls">
                  <select class="form-control" ng-model="dullmachineMngController.machine.machineType">
                    <option value="A1">{{'smallExcavator'|translate}}</option>
                    <option value="30">{{'oreMachine'|translate}}</option>
                    <option value="40">{{'mediumExcavator'|translate}}</option>
                    <option value="1,2,3">{{'loader'|translate}}</option>
                    <option value="A001">{{'arialVehicle'|translate}}</option>
                  </select>
                </div>
            </div>
            <br>
            <div class="control-group">
              <div class="controls">
                <input id="queryBtn" type="button" class="btn btn-block btn-primary" presentation-href="statAnalysis:workHistory:dullMachine:query" value="{{'consignmentDistribution'|translate}}" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <div id="mapChart" style="height:100%;"> </div>
    <div class="left-info">
      <table id="countTop" class="table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
          <td>产品类型</td>
          <td>待销数</td>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
