<div class="modal-header">
  <h3 class="modal-title">新建权限</h3>
</div>
<form name="newPriviligeForm" class="form-horizontal">
  <div class="modal-body">
    <div class="box-body">
      <div class="form-group">
        <label for="permission" class="col-sm-2 control-label">{{'priviligeName'|translate}}</label>
        <div class="col-sm-10">
          <input type="text" id="permission" class="form-control" placeholder="{{'priviligeName'|translate}}"
                 ng-model="newPriviligeController.priviligeInfo.permission" name="permission" typeahead-show-hint="true"
                 validator="required"/>
        </div>
      </div>
      <div class="form-group">
        <label for="remark" class="col-sm-2 control-label">{{'description'|translate}}</label>
        <div class="col-sm-10">
          <input type="text" id="remark" class="form-control" placeholder="{{'description'|translate}}"
                 ng-model="newPriviligeController.priviligeInfo.remark" name="remark" typeahead-show-hint="true"
                 validator="required"/>
        </div>
      </div>

      </div>
    <i style="color: red" ng-if="null!=newPriviligeController.errorMsg">
      {{newPriviligeController.errorMsg}}<br/>
    </i>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" presentation-href="privilige:priviligePage" validation-submit="newPriviligeForm" ng-click="newPriviligeController.ok(newPriviligeController.priviligeInfo)">{{'submit'|translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="newPriviligeController.cancel()">{{'cancel'|translate}}</button>
  </div>
</form>
