<div class="modal-header">
  <h3 class="modal-title">{{'affiliatedInformation'|translate}}
  </h3>
</div>

<!-- Main content -->
<section class="content">
  <div class="row form-group">
    <div class="col-md-2">
      <label class="control-label">{{'roleName'|translate}}</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="name" class="form-control " ng-model="priviligeRoleMngController.roleInfo.name"
             placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" type="button" presentation-href="role:rolePage"
              ng-click="priviligeRoleMngController.query(null,10,null,priviligeRoleMngController.roleInfo)">
        {{'query'|translate}}
      </button>
      <button class="btn btn-primary" type="button" ng-click="priviligeRoleMngController.reset()">
        {{'reset'|translate}}
      </button>
    </div>
  </div>

  </div>
  <div class="row form-group">
    <div class="btn-group col-md-2">
      <span class="label label-info pull-left">{{'totalNumbeOfUsers'|translate}}:  {{priviligeRoleMngController.page.totalElements}}</span>
    </div>
    <div class="col-md-10">
      <button class="btn btn-warning pull-right" type="button" ng-click="priviligeRoleMngController.cancel()">
        {{'cancel'|translate}}
      </button>
      <button class="btn btn-primary pull-right" type="button" ng-click="priviligeRoleMngController.updateUserRole()">
        {{'update'|translate}}
      </button>

    </div>
  </div>
  <div class="row " style="padding: 10px">
    <div class="table-responsive">
      <script id="selectAllHeader" type="text/ng-template">
        <input type="checkbox" ng-click="priviligeRoleMngController.updateAllSelection($event)"
               ng-model="priviligeRoleMngController.checked">
      </script>
      <table ng-table="priviligeRoleMngController.tableParams"
             class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="roleInfo in $data">
          <td class="text-nowrap" data-header="'selectAllHeader'">
            <input type="checkbox" ng-checked="priviligeRoleMngController.isSelected(roleInfo.id)"
                   ng-click="priviligeRoleMngController.updateSelection($event,roleInfo.id)"
                   ng-model="roleInfo.checked">
          </td>
          <td class="text-nowrap" data-title="'ID'" sortable="'id'">{{roleInfo.id}}</td>
          <td class="text-nowrap" data-title="'roleName'|translate" sortable="'name'">{{roleInfo.name}}</td>

          <td class="text-nowrap" data-title="'createTime'|translate" sortable="'createTime'">{{roleInfo.createTime |
            date:'yyyy-MM-dd HH:mm:ss'}}
          </td>
          <td class="text-nowrap" data-title="'updateTime'|translate" sortable="'updateTime'">{{roleInfo.updateTime |
            date:'yyyy-MM-dd HH:mm:ss'}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="box-footer">
    <uib-pagination total-items="priviligeRoleMngController.page.totalElements"
                    ng-change="priviligeRoleMngController.query(priviligeRoleMngController.pageNumber-1,10,null,priviligeRoleMngController.userinfo)"
                    max-size="5" ng-model="priviligeRoleMngController.pageNumber"
                    items-per-page="priviligeRoleMngController.page.size" class="pagination-sm" boundary-links="true"
                    rotate="false"
                    first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
  </div>


</section>

