
<section class="content">

  <div class="row">
    <div class="col-sm-2">
      <label class="control-label">整机编号/车号</label>
    </div>
    <div class="col-sm-3">
      <input type="text" name="licenseId" class="form-control " ng-model="addMachineCtrl.machine.licenseId"
             placeholder="支持模糊查询"/>
    </div>
    <div class="col-sm-2">
      <label class="control-label">设备编号</label>
    </div>
    <div class="col-sm-3">
      <input type="text" name="deviceNum" class="form-control " ng-model="addMachineCtrl.machine.deviceNum"
             placeholder="支持模糊查询"/>
    </div>


    <div class="col-sm-2">
      <button class="btn btn-primary " type="button" presentation-href="machine:page"
              ng-click="addMachineCtrl.queryMachine(null,null,null,addMachineCtrl.machine)">查询
      </button>
      <button class="btn btn-warning " type="button" ng-click="addMachineCtrl.cancel()">取消</button>
    </div>

  </div>

  <div class="row " style="padding: 10px">
    <script id="selectAllHeader" type="text/ng-template">
      <input type="checkbox" ng-click="addMachineCtrl.updateAllSelection($event)"
             ng-model="addMachineCtrl.checked">
    </script>
    <div class="table-responsive">

      <table ng-table="addMachineCtrl.machineTableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="machine in $data">
          <td class="text-nowrap" data-header="'selectAllHeader'">
            <input type="checkbox" ng-checked="addMachineCtrl.isSelected(machine.id)"
                   ng-click="addMachineCtrl.updateSelection($event,machine.id)" ng-model="machine.checked">
          </td>
          <td class="text-nowrap" data-title="'整机编号/车号'" sortable="'licenseId'">
            <a ng-if="addMachineCtrl.validateOperPermission()" href
               ng-click="addMachineCtrl.updateMachine(machine)">{{machine.licenseId}}</a>
            <span ng-if="!addMachineCtrl.validateOperPermission()">{{machine.licenseId}}</span>

          </td>
          <td class="text-nowrap" data-title="'设备号'" sortable="'deviceinfo.deviceNum'">{{machine.deviceinfo.deviceNum}}</td>
          <td class="text-nowrap" data-title="'发动机类型'" sortable="'engineType.engineName'">{{machine.engineType.engineName}}</td>
          <td class="text-nowrap" data-title="'所属组织/车队'" sortable="'org.label'">{{machine.org.label}}</td>
          <td class="text-nowrap" data-title="'当前工作车队'" sortable="'fleet.label'">{{machine.fleet.label}}</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="box-footer">
    <uib-pagination total-items="addMachineCtrl.machinePage.totalElements"
                    ng-change="addMachineCtrl.queryMachine(addMachineCtrl.machinePageNumber-1,null,null,null)"
                    max-size="5" ng-model="addMachineCtrl.machinePageNumber" items-per-page="addMachineCtrl.machinePage.size"
                    class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>
    <button class="btn btn-primary pull-right" type="button" ng-if="addMachineCtrl.type=='org'"
            ng-click="addMachineCtrl.batchMoveOrg(addMachineCtrl.type)">添加选中车辆</button>
    <button class="btn btn-primary pull-right" type="button" ng-if="addMachineCtrl.type=='fleet'"
            ng-click="addMachineCtrl.batchMoveOrg(addMachineCtrl.type)">借调选中车辆</button>
  </div>

</section>
