<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>{{'homePage'| translate}}</a></li>
    <li class="active">{{'fleetManagement'| translate}}</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">

  <div class="row">

    <div class="col-md-2">
      <label class="control-label">{{'fleetName'| translate}}</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="label" class="form-control " ng-model="fleetMngCtrl.org.label"
             placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary" type="button" presentation-href="fleet:page"
              ng-click="fleetMngCtrl.query(null,null,null,fleetMngCtrl.org)">{{'query'|translate}}
      </button>
      <button class="btn btn-primary" type="button" ng-click="fleetMngCtrl.reset()">{{'reset'|translate}}</button>
    </div>
  </div>
  <div class="row">
    <div class="btn-group col-md-3">
      <span class="label label-info pull-left">{{'totalNumberOfFleet'|translate}}:{{fleetMngCtrl.page.totalElements}}</span>
    </div>
    <div class="col-md-9">

      <a presentation-href="machine:oper" class="btn btn-default pull-right"
         ng-click="fleetMngCtrl.newFleet('xs')">
        <i class="fa fa-plus"></i> {{'add'|translate}}
      </a>

    </div>
  </div>
  <div class="row " style="padding-top: 30px;padding-left: 10px;padding-right: 10px;">
    <div class="table-responsive">

      <table ng-table="fleetMngCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="fleet in $data">
          <td class="text-nowrap" align="center" data-title="'fleetNo'|translate" sortable="'fleet.id'">{{fleet.id}}</td>
          <td class="text-nowrap" data-title="'fleetName'| translate" sortable="'fleet.label'">
            <a href
               ng-click="fleetMngCtrl.updateFleet(fleet,'lg','query')">{{fleet.label}}</a>
          </td>
          <td class="text-nowrap" align="center" data-title="'ownMachine'|translate" sortable="'fleet.machineNum'">
            <a href
               ng-click="fleetMngCtrl.queryMachineList(fleet,'lg','own')">{{fleet.ownNum}}</a>
          </td>
          <td class="text-nowrap" align="center" data-title="'WorkingMachine'|translate" sortable="'fleet.machineNum'">
            <a href
               ng-click="fleetMngCtrl.queryMachineList(fleet,'lg','work')">{{fleet.workNum}}</a>
          </td>
          <td class="text-nowrap" data-title="'workplaneName'|translate" >
            <a href
               ng-click="fleetMngCtrl.updateWorkplane(fleet.workplaneVo,'lg')">{{fleet.workplaneVo.name}}</a>
          </td>
          <td class="text-nowrap" align="center" data-title="'operation'|translate" >
            <button type="button" class="btn btn-default btn-xs" presentation-href="fleet:oper"
                    ng-click="fleetMngCtrl.updateFleet(fleet,'lg','update')">{{'alter'|translate}}
            </button>
            <button type="button" class="btn btn-default btn-xs" presentation-href="fleet:oper"
                    ng-click="fleetMngCtrl.fleetMachineMng(fleet,'lg')">{{'machineTransfer'|translate}}
            </button>
            <button type="button" class="btn btn-default btn-xs" presentation-href="fleet:oper"
                    ng-click="fleetMngCtrl.updateWorkplaneRela(fleet,'lg')">{{'WorkingFaceMaintain'|translate}}
            </button>
          </td>
        </tr>
      </table>
    </div>

  </div>

  <div class="box-footer">
    <div class="row">
      <div class="col-md-10">
        <uib-pagination total-items="fleetMngCtrl.page.totalElements"
                        ng-change="fleetMngCtrl.query(fleetMngCtrl.pageNumber-1,null,null,null)"
                        max-size="5" ng-model="fleetMngCtrl.pageNumber" items-per-page="fleetMngCtrl.page.size"
                        class="pagination-sm" boundary-links="true" rotate="false"
                        first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>

      </div>
    </div>

  </div>

</section>

