
<section class="content">

  <div class="row">
    <div class="col-sm-2">
      <label class="control-label">整机编号/车号</label>
    </div>
    <div class="col-sm-3">
      <input type="text" name="licenseId" class="form-control " ng-model="loanMachineCtrl.machine.licenseId"
             placeholder="支持模糊查询"/>
    </div>
    <div class="col-sm-2">
      <label class="control-label">设备编号</label>
    </div>
    <div class="col-sm-3">
      <input type="text" name="deviceNum" class="form-control " ng-model="loanMachineCtrl.machine.deviceNum"
             placeholder="支持模糊查询"/>
    </div>


    <div class="col-sm-2">
      <button class="btn btn-primary " type="button" presentation-href="machine:page"
              ng-click="loanMachineCtrl.queryMachine(null,null,null,loanMachineCtrl.machine)">{{'query'|translate}}
      </button>
      <button class="btn btn-warning " type="button" ng-click="loanMachineCtrl.cancel()">取消</button>
    </div>

  </div>

  <div class="row " style="padding: 10px">
    <script id="selectAllHeader" type="text/ng-template">
      <input type="checkbox" ng-click="loanMachineCtrl.updateAllSelection($event)"
             ng-model="loanMachineCtrl.checked">
    </script>
    <div class="table-responsive">

      <table ng-table="loanMachineCtrl.machineTableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="machine in $data">
          <td class="text-nowrap" data-header="'selectAllHeader'">
            <input type="checkbox" ng-checked="loanMachineCtrl.isSelected(machine.id)"
                   ng-click="loanMachineCtrl.updateSelection($event,machine.id)" ng-model="machine.checked">
          </td>
          <td class="text-nowrap" data-title="'整机编号/车号'" sortable="'licenseId'">{{machine.licenseId}}</td>
          <td class="text-nowrap" data-title="'设备号'" sortable="'deviceinfo.deviceNum'">{{machine.deviceinfo.deviceNum}}</td>
          <td class="text-nowrap" data-title="'发动机类型'" sortable="'engineType.engineName'">{{machine.engineType.engineName}}</td>
          <td class="text-nowrap" data-title="'所属组织/车队'" sortable="'org.label'">{{machine.org.label}}</td>
          <td class="text-nowrap" data-title="'当前工作车队'" sortable="'fleet.label'">{{machine.fleet.label}}</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="box-footer">
    <uib-pagination total-items="loanMachineCtrl.machinePage.totalElements"
                    ng-change="loanMachineCtrl.queryMachine(loanMachineCtrl.machinePageNumber-1,null,null,null)"
                    max-size="5" ng-model="loanMachineCtrl.machinePageNumber" items-per-page="loanMachineCtrl.machinePage.size"
                    class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>
    <button class="btn btn-primary pull-right" type="button"
            ng-click="loanMachineCtrl.batchMoveOrg()">借调选中车辆</button>
  </div>

</section>
