<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{'homePage'|translate}}</a></li>
    <li class="active">{{'machineAllocation'|translate}}</li>
  </ol>
</section>
<uib-tabset justified="true">
  <uib-tab heading="{{'map'|translate}}" select="machineMoveCtrl.refreshMap('fleetMap',null,13,null)">
    <div class="box">
    </div>
    <div class="col-xs-12 connectedSortable">
      <div class="row">
        <div class="col-md-1">
          <label class="control-label">{{'fleetName'|translate}}</label>
        </div>
        <div class="col-md-4">
          <p class="input-group">
            <input type="text" id="org" class="form-control" placeholder="{{'fleetName'|translate}}" ng-model="machineMoveCtrl.org.label" name="org" readonly required/>
            <span class="input-group-btn">
              <!--打开组织树-->
              <button type="button" class="btn btn-default" ng-click="machineMoveCtrl.openTreeInfo()">
                <i class="fa fa-sitemap"></i>
              </button>
            </span>
          </p>
        </div>
        <div class="col-md-3 ">
          <button class="btn btn-primary" type="button"  ng-click="machineMoveCtrl.query()">{{'query'|translate}}</button>
          <button class="btn btn-primary" type="button"  ng-click="machineMoveCtrl.reset()">{{'reset'|translate}}</button>
        </div>
        <div class="col-md-1 pull-right">
          <button class="btn btn-danger btn-sm refresh-btn" data-toggle="tooltip" ng-click="machineMoveCtrl.refreshMap('fleetMap',null,13,null)" title="刷新">
            <i class="fa fa-refresh"></i>
          </button>
        </div>
      </div>
      <div class="box box-danger" style="min-height: 600px" id="fleetMap">
      </div>
    </div>
  </uib-tab>

  <uib-tab heading="{{'chart'|translate}}" select="machineMoveCtrl.loadFleetDoubleChart()">
    <div class="box" style="height: 380px">
      <div id="fleetDoubleChart">
        <highchart  config="machineMoveCtrl.fleetDoubleChart" style="position:absolute;width: 100%;height:auto;">

        </highchart>
      </div>

    </div>
    <div class="box-footer" style="margin-left: 25px">
      <uib-pagination total-items="machineMoveCtrl.page.totalElements"
                      ng-change="machineMoveCtrl.loadFleetDoubleChart(machineMoveCtrl.pageNumber-1,null,null)"
                      max-size="5" ng-model="machineMoveCtrl.pageNumber" items-per-page="machineMoveCtrl.page.size"
                      class="pagination-sm" boundary-links="true" rotate="false"
                      first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>

    </div>


  </uib-tab>
</uib-tabset>
