<div class="modal-header">
  <h3 class="modal-title">新建作业面</h3>
</div>

<form name="newWorkplaneForm" class="form-horizontal">
  <div class="modal-body">
    <div class="box-body">
      <div class="form-group">
        <label for="name" class="col-xs-3 control-label">名称</label>
        <div class="col-sm-4">
          <input type="text" id="name" name="name"  class="form-control" placeholder="作业面名称"
                 ng-model="newWorkplaneCtrl.workplane.name" typeahead-show-hint="true"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-xs-3 control-label">描述</label>
        <div class="col-xs-4">
          <input type="text" id="describe" name="describe"  class="form-control" placeholder="描述"
                 ng-model="newWorkplaneCtrl.workplane.describe" typeahead-show-hint="true"/>
        </div>
      </div>

      <div class="form-group">
        <label for="startPoint" class="col-xs-3 control-label">装料点名称</label>
        <div class="col-xs-4">

          <input type="text" id="startPoint" class="form-control" placeholder="装料点名称"
                 ng-model="newWorkplaneCtrl.workplane.startPoint" name="startPoint" typeahead-show-hint="true"/>
        </div>
      </div>
      <div class="form-group">
        <label for="startPoint" class="col-xs-3 control-label">卸料点名称</label>
        <div class="col-xs-4">

          <input type="text" id="endPoint" class="form-control" placeholder="卸料点名称"
                 ng-model="newWorkplaneCtrl.workplane.endPoint" name="endPoint" typeahead-show-hint="true"/>
        </div>

      </div>
      <div class="form-group">
        <label for="totalLength" class="col-xs-3 control-label">路程</label>

        <div class="col-xs-4">
          <input type="text" id="totalLength" class="form-control" placeholder="路程 单位:KM"
                 ng-model="newWorkplaneCtrl.workplane.totalLength" name="totalLength" typeahead-show-hint="true"
                 validator="numberAndDot"/>
        </div>

      </div>
      <i style="color: red" ng-if="null!=newWorkplaneCtrl.errorMsg">
        {{newWorkplaneCtrl.errorMsg}}<br/>
      </i>
    </div>

  </div>
  <!--
  <div class="box box-danger" style="min-height: 400px" id="workplaneMap">
  </div>
  -->
</form>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="newWorkplaneCtrl.ok(newWorkplaneCtrl.workplane)">提交</button>
  <button class="btn btn-warning" type="button" ng-click="newWorkplaneCtrl.cancel()">取消</button>
</div>
