<div class="modal-header">
  <h3 class="modal-title">关联作业面
    <button class="btn btn-warning pull-right" type="button" ng-click="updateWorkplaneRelaCtrl.cancel()">{{'close'|translate}}</button>
  </h3>
</div>
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <label class="control-label">{{'workplaneName'|translate}}</label>

    </div>
    <div class="col-md-3">
      <input type="text" name="workplane.name" class="form-control " ng-model="updateWorkplaneRelaCtrl.workplane.name" placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>

    <div class="col-md-4">
      <button class="btn btn-primary" type="button" presentation-href="workplane:page"  ng-click="updateWorkplaneRelaCtrl.query(null,null,null,updateWorkplaneRelaCtrl.workplane)">{{'query'|translate}}</button>
      <button class="btn btn-primary" type="button"  ng-click="updateWorkplaneRelaCtrl.reset()">{{'reset'|translate}}</button>
    </div>


  </div>
  <div class="row">
    <div class="btn-group col-md-2">
      <span class="label label-info pull-left">{{'TheTotalNumberOfworkplane'|translate}}:  {{updateWorkplaneRelaCtrl.page.totalElements}}</span>
    </div>
    <!--
    <div class="col-md-10">
      <button class="btn btn-warning pull-right" type="button" ng-click="updateWorkplaneRelaCtrl.cancel()">取消</button>
      <button class="btn btn-primary pull-right" type="button"  ng-click="updateWorkplaneRelaCtrl.updateWorkplaneRela()">更新</button>
    </div>
    -->
  </div>
  <div class="row " style=" padding-top: 30px;padding-left: 10px;padding-right: 10px;">
    <div class="table-responsive">
      <!--<caption class="pull-left"><b>其它作业面</b></caption>-->
      <table ng-table="updateWorkplaneRelaCtrl.tableParams" class="table table-condensed table-bordered text-nowrap">
        <tr ng-repeat="workplane in $data" ng-class="{true: 'success', false: ''}[updateWorkplaneRelaCtrl.fleet.workplaneVo.id==workplane.id]">
          <td class="text-nowrap" data-title="'workplaneNO'|translate" sortable="'workplane.id'">{{workplane.id}}</td>
          <td class="text-nowrap" data-title="'name'|translate" sortable="'workplane.name'">{{workplane.name}}</td>
          <td class="text-nowrap" data-title="'description'|translate" sortable="'workplane.describe'">{{workplane.describe}}</td>
          <td class="text-nowrap" data-title="'loadingPointName'|translate" >{{workplane.startPoint}}</td>
          <td class="text-nowrap" data-title="'dischargePointName'|translate" >{{workplane.endPoint}}</td>
          <td class="text-nowrap" data-title="'totalLength(KM)'|translate" sortable="'workplane.totalLength'">{{workplane.totalLength}}</td>
          <td class="text-nowrap" data-title="'IncomePerTonOre'|translate" sortable="'workplane.income'">{{workplane.income}}</td>
          <td class="text-nowrap" data-title="'operation'|translate">
            <button type="button" class="btn btn-warning btn-xs" ng-if="updateWorkplaneRelaCtrl.fleet.workplaneVo.id==workplane.id"
                    ng-click="updateWorkplaneRelaCtrl.cancelRelaToFleet()">{{'disassociation'|translate}}
            </button>
            <button type="button" class="btn btn-primary btn-xs" ng-if="updateWorkplaneRelaCtrl.fleet.workplaneVo.id!=workplane.id"
                    ng-click="updateWorkplaneRelaCtrl.relaToFleet(workplane)">{{'associatedFleet'|translate}}
            </button>
          </td>
        </tr>
      </table>
      <div class="col-md-11">
        <uib-pagination total-items="updateWorkplaneRelaCtrl.page.totalElements"
                        ng-change="updateWorkplaneRelaCtrl.query(updateWorkplaneRelaCtrl.pageNumber-1,null,null,null)"
                        max-size="5" ng-model="updateWorkplaneRelaCtrl.pageNumber" items-per-page="updateWorkplaneRelaCtrl.page.size"
                        class="pagination-sm" boundary-links="true" rotate="false"
                        first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>

      </div>
    </div>
    <div class="box-footer">

    </div>
  </div>
</section>
