<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">作业面管理</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-2">
      <label class="control-label">作业面名称</label>
    </div>
    <div class="col-md-4">
      <input type="text" name="deviceNum" class="form-control " ng-model="workplaneMngCtrl.workplane.label"
             placeholder="支持模糊查询"/>
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary" type="button"
              ng-click="workplaneMngCtrl.query(null,null,null,workplaneMngCtrl.workplane)">查询
      </button>
      <button class="btn btn-primary" type="button" ng-click="workplaneMngCtrl.reset()">重置</button>
    </div>
  </div>
  <div class="row">
    <div class="btn-group col-md-3">
      <span class="label label-info pull-left">作业面总数:{{workplaneMngCtrl.page.totalElements}}</span>
    </div>
    <div class="col-md-9">


      <a presentation-href="machine:oper" class="btn btn-default pull-right"
         ng-click="workplaneMngCtrl.newWorkplane('lg')">
        <i class="fa fa-plus"></i> 增加
      </a>

    </div>
  </div>
  <div class="row " style="padding-top: 30px;padding-left: 10px;padding-right: 10px;">
    <div class="table-responsive">

      <table ng-table="workplaneMngCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="workplane in $data">
          <td class="text-nowrap" data-title="'名称'" sortable="'workplane.name'">{{workplane.name}}</td>
          <td class="text-nowrap" data-title="'描述'" sortable="'workplane.describe'">{{workplane.describe}}</td>
          <td class="text-nowrap" data-title="'装料点名称'" >{{workplane.startPoint}}</td>
          <td class="text-nowrap" data-title="'装料点经/纬度'" >{{workplane.startLongitude}}/{{workplane.startLatitude}}</td>
          <td class="text-nowrap" data-title="'装料点半径(米)'" >{{workplane.startRadius}}</td>
          <td class="text-nowrap" data-title="'卸料点名称'" >{{workplane.endPoint}}</td>
          <td class="text-nowrap" data-title="'卸料点经/纬度'" >{{workplane.endLongitude}}/{{workplane.endLatitude}}</td>
          <td class="text-nowrap" data-title="'卸料点半径(米) '" >{{workplane.endRadius}}</td>
          <td class="text-nowrap" data-title="'总长度(米)'" sortable="'workplane.totalLength'">{{workplane.totalLength}}</td>
          <td class="text-nowrap" data-title="'收入(每吨矿)'" sortable="'workplane.income'">{{workplane.income}}</td>

          <td class="text-nowrap" data-title="''">
            <button type="button" class="btn btn-default btn-xs"
                    ng-click="workplaneMngCtrl.updateWorkplane(workplane,'lg')">修改
            </button>
            <button type="button" class="btn btn-danger btn-xs"
                    ng-click="workplaneMngCtrl.disableWorkPlane(workplane)">停用
            </button>
          </td>
        </tr>
      </table>
    </div>

  </div>

  <div class="box-footer">
    <uib-pagination total-items="workplaneMngCtrl.page.totalElements"
                    ng-change="workplaneMngCtrl.query(workplaneMngCtrl.pageNumber-1,null,null,null)"
                    max-size="5" ng-model="workplaneMngCtrl.pageNumber" items-per-page="workplaneMngCtrl.page.size"
                    class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>

  </div>

</section>

