<section class="content-header" style="overflow: hidden">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="minemng"><i class="fa fa-dashboard"></i>首页</a></li>
    <li class="active">调度管理</li>
  </ol>
</section>

<!-- Main content -->
<section class="content form-horizontal">

  <uib-tabset active="active" type="tabs">
    <uib-tab index="0" active="true" heading="总调度" select="dispatchMngCtrl.totalDispatchTab()">
      <div style="padding: 10px;">
        <div class="row form-group minemngFormGroup text-right">
          <label class="col-md-1 control-label">车队</label>
          <div class="col-md-2">
            <select name="fleet" class="form-control"
                    ng-model="dispatchMngCtrl.totalDispatch.fleet"
                    ng-options="fleets.id as fleets.name for fleets in dispatchMngCtrl.fleetList"
                    ng-change="dispatchMngCtrl.getTeamList(dispatchMngCtrl.totalDispatch.fleet)">
              <option value="">{{'pleaseSelect'|translate}}</option>
            </select>
          </div>
          <label class="col-md-1 control-label">小组</label>
          <div class="col-md-2">
            <select name="fleet" class="form-control"
                    ng-model="dispatchMngCtrl.totalDispatch.team"
                    ng-options="teams.id as teams.name for teams in dispatchMngCtrl.teamList">
              <option value="">{{'pleaseSelect'|translate}}</option>
            </select>
          </div>
          <label class="col-md-1 control-label">班次</label>
          <div class="col-md-2">
            <select name="workShift" class="form-control"
                    ng-model="dispatchMngCtrl.totalDispatch.workShift"
                    ng-options="workShifts.code as workShifts.description for workShifts in dispatchMngCtrl.workShiftList">
              <option value="">{{'pleaseSelect'|translate}}</option>
            </select>
          </div>
          <div class="col-md-3 text-right">
            <button class="btn btn-default" ng-click="dispatchMngCtrl.resetTotalDispatch()">重置</button>
            <button class="btn btn-primary" ng-click="dispatchMngCtrl.queryTotalDispatch(null, null, null)">查询</button>
          </div>
        </div>
        <div class="row form-group minemngFormGroup text-right">
          <label class="col-md-1 control-label">作业面</label>
          <div class="col-md-2">
            <select name="workFace" class="form-control"
                    ng-model="dispatchMngCtrl.totalDispatch.workFace"
                    ng-options="workFaces.id as workFaces.name for workFaces in dispatchMngCtrl.workFaceList">
              <option value="">{{'pleaseSelect'|translate}}</option>
            </select>
          </div>
          <label class="col-md-1 control-label">排土场</label>
          <div class="col-md-2">
            <select name="dumpField" class="form-control"
                    ng-model="dispatchMngCtrl.totalDispatch.dumpField"
                    ng-options="dumpFields.id as dumpFields.name for dumpFields in dispatchMngCtrl.dumpFieldList">
              <option value="">{{'pleaseSelect'|translate}}</option>
            </select>
          </div>
          <label class="col-md-1 control-label">日期</label>
          <div class="col-md-2">
            <p class="input-group">
              <input type="text" name="effectiveDate" class="form-control m-b-20" uib-datepicker-popup="yyyy-MM-dd"
                     ng-model="dispatchMngCtrl.effectiveDate"
                     is-open="dispatchMngCtrl.entryTimeSetting.status.opened"
                     datepicker-options="dispatchMngCtrl.dateOptions"
                     current-text="{{'today'|translate}}"
                     clear-text="{{'cleanUp'|translate}}"
                     close-text="{{'close'|translate}}"
                     message-id="bootstrap" readonly/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="dispatchMngCtrl.entryTimeSetting.open($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
        </div>
        <div class="row form-group" style="padding-top: 20px;">
          <div class="btn-group col-md-6" style="line-height: 34px;">
            <span style="font-size: 18px;font-weight: bold;">分配列表</span>
            <span>{{'totalNumberOfRecords'|translate}} {{dispatchMngCtrl.totalDispatchPage.totalElements}}</span>
          </div>
          <div class="col-md-6 text-right">
            <button class="btn btn-warning" ng-click="dispatchMngCtrl.batchUpdateTotalDispatch()" ng-show="dispatchMngCtrl.batchUpdateTotalDispatchBtn">批量修改</button>
            <button class="btn btn-primary" ng-click="dispatchMngCtrl.addTotalDispatch()">增加</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <script id="selectTotalDispatchAllHeader" type="text/ng-template">
              <input type="checkbox" ng-click="dispatchMngCtrl.totalDispatchAllSelection($event)"
                     ng-model="dispatchMngCtrl.checked"/>
            </script>
            <div class="table-responsive">
              <table ng-table="dispatchMngCtrl.totalDispatchTableParams"
                     class="table table-condensed table-bordered table-striped text-nowrap">
                <tr ng-repeat="totalDispatch in $data">
                  <td class="text-nowrap text-center" data-header="'selectTotalDispatchAllHeader'">
                    <input type="checkbox" ng-checked="dispatchMngCtrl.isTotalDispatchSelected(totalDispatch)"
                           ng-click="dispatchMngCtrl.totalDispatchSelection($event,totalDispatch)"
                           ng-model="totalDispatch.checked"/>
                  </td>
                  <td class="text-nowrap" data-title="'车队'" sortable="'fleet'">{{totalDispatch.fleetName}}</td>
                  <td class="text-nowrap" data-title="'小组'" sortable="'team'">{{totalDispatch.teamName}}</td>
                  <td class="text-nowrap" data-title="'工作面'" sortable="'workFace'">{{totalDispatch.workFaceName}}</td>
                  <td class="text-nowrap" data-title="'排土场'" sortable="'dumpField'">{{totalDispatch.dumpFieldName}}</td>
                  <td class="text-nowrap" data-title="'班次'" sortable="'workShift'">{{totalDispatch.workShiftDesc}}</td>
                  <td class="text-nowrap" data-title="'创建时间'" sortable="'createTime'">{{totalDispatch.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                  <td class="text-nowrap" data-title="'更新时间'" sortable="'updateTime'">{{totalDispatch.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                  <td class="text-nowrap text-center" data-title="'操作'">
                    <button class="btn btn-xs btn-warning" ng-click="dispatchMngCtrl.updateTotalDispatch(totalDispatch)" ng-show="dispatchMngCtrl.updateTotalDispatchBtn">修改</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <uib-pagination total-items="dispatchMngCtrl.totalDispatchPage.totalElements"
                            ng-change="dispatchMngCtrl.queryTotalDispatch(dispatchMngCtrl.totalDispatch_pagenumber-1,null,null)"
                            max-size="10"
                            ng-model="dispatchMngCtrl.totalDispatch_pagenumber"
                            items-per-page="dispatchMngCtrl.totalDispatchPage.size"
                            class="pagination-sm" boundary-links="true" rotate="false"
                            first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}"
                            next-text="{{'nextPage'|translate}}"
                            previous-text="{{'previousPage'|translate}}"></uib-pagination>
          </div>
        </div>
      </div>
    </uib-tab>



    <uib-tab index="1" heading="临时调度" select="dispatchMngCtrl.temporaryDispatchTab()">
      <div style="padding: 10px;">
        <div class="row form-group minemngFormGroup text-right">
          <label class="col-md-1 control-label">车号</label>
          <div class="col-md-2">
            <input type="text" class="form-control" ng-model="dispatchMngCtrl.temporaryDispatchCarNumber"
                   placeholder="{{'supportfuzzyqueries'|translate}}">
          </div>
          <div class="col-md-2 col-md-offset-7">
            <button class="btn btn-default" ng-click="dispatchMngCtrl.resetTemporaryDispatch()">重置</button>
            <button class="btn btn-primary" ng-click="dispatchMngCtrl.queryTemporaryDispatch(null, null, null)">查询
            </button>
          </div>
        </div>

        <div class="row form-group" style="padding-top: 20px;">
          <div class="btn-group col-md-6" style="line-height: 34px;">
            <span style="font-size: 18px;font-weight: bold;">临时调度列表</span>
            <span>{{'totalNumberOfRecords'|translate}} {{dispatchMngCtrl.temporaryDispatchPage.totalElements}}</span>
          </div>
          <div class="col-md-6 text-right">
            <button class="btn btn-warning" ng-click="dispatchMngCtrl.batchCancelTemporaryDispatch()">批量取消调度</button>
            <button class="btn btn-primary" ng-click="dispatchMngCtrl.addTemporaryDispatch()">增加</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <script id="selectTemporaryDispatchAllHeader" type="text/ng-template">
              <input type="checkbox" ng-click="dispatchMngCtrl.temporaryDispatchAllSelection($event)"
                     ng-model="dispatchMngCtrl.checked"/>
            </script>
            <div class="table-responsive">
              <table ng-table="dispatchMngCtrl.temporaryDispatchTableParams"
                     class="table table-condensed table-bordered table-striped text-nowrap">
                <tr ng-repeat="temporaryDispatch in $data">
                  <td class="text-nowrap text-center" data-header="'selectTemporaryDispatchAllHeader'">
                    <input type="checkbox" ng-checked="dispatchMngCtrl.isTemporaryDispatchSelected(temporaryDispatch)"
                           ng-click="dispatchMngCtrl.temporaryDispatchSelection($event,temporaryDispatch)"
                           ng-model="temporaryDispatch.checked"/>
                  </td>
                  <td class="text-nowrap" data-title="'车型'" sortable="'machineType'">{{temporaryDispatch.machineTypeName}}</td>
                  <td class="text-nowrap" data-title="'车号'" sortable="'carNumber'">{{temporaryDispatch.carNumber}}</td>
                  <td class="text-nowrap" data-title="'原车队'" sortable="'oldFleet'">{{temporaryDispatch.oldFleetName}}</td>
                  <td class="text-nowrap" data-title="'原小组'" sortable="'oldTeam'">{{temporaryDispatch.oldTeamName}}</td>
                  <td class="text-nowrap" data-title="'现车队'" sortable="'nowFleet'">{{temporaryDispatch.nowFleetName}}</td>
                  <td class="text-nowrap" data-title="'现小组'" sortable="'nowTeam'">{{temporaryDispatch.nowTeamName}}</td>
                  <td class="text-nowrap" data-title="'状态'" sortable="'status'" style="color: red;" ng-if="temporaryDispatch.status==0">未读</td>
                  <td class="text-nowrap" data-title="'状态'" sortable="'status'" ng-if="temporaryDispatch.status==1">已读</td>
                  <td class="text-nowrap" data-title="'状态'" sortable="'status'" ng-if="temporaryDispatch.status!=0&&temporaryDispatch.status!=1">未调度</td>
                  <td class="text-nowrap text-center" data-title="'操作'">
                    <button class="btn btn-xs btn-warning" ng-click="dispatchMngCtrl.updateTemporaryDispatch(temporaryDispatch)">修改</button>
                    <button class="btn btn-xs btn-danger" ng-click="dispatchMngCtrl.cancelTemporaryDispatch(temporaryDispatch.minemngMachineId)">取消调度</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <uib-pagination total-items="dispatchMngCtrl.temporaryDispatchPage.totalElements"
                            ng-change="dispatchMngCtrl.queryTemporaryDispatch(dispatchMngCtrl.temporaryDispatch_pagenumber-1,null,null)"
                            max-size="10"
                            ng-model="dispatchMngCtrl.temporaryDispatch_pagenumber"
                            items-per-page="dispatchMngCtrl.temporaryDispatchPage.size"
                            class="pagination-sm" boundary-links="true" rotate="false"
                            first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}"
                            next-text="{{'nextPage'|translate}}"
                            previous-text="{{'previousPage'|translate}}"></uib-pagination>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>


</section>

