<div class="modal-header">
  <h3 class="modal-title">{{'addDataPoints'|translate}}</h3>
</div>
<form name="newFleetForm" class="form-horizontal">
  <div class="modal-body">
    <div class="box-body">
      <div class="form-group">
        <label class="control-label col-sm-3">{{'name'|translate}}</label>
        <div class="col-sm-5">
          <input type="text" required="required" ng-model="addDataCtrl.templateInfo.name" class="form-control ng-pristine ng-pending ng-touched" placeholder="string">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">{{'type'|translate}}</label>
        <div class="col-sm-5">
          <select name="type" required="required" class="form-control" ng-click="addDataCtrl.editable()" ng-model="selectedType" ng-options="x.name for x in addDataCtrl.templateInfo.type"></select>
        </div>
      </div>
      <div class="form-group" required="required">
        <label class="control-label col-sm-3">{{'length'|translate}}</label>
        <div class="col-sm-5">
          <input type="number" ng-model="selectedType.value" class="form-control ng-pristine ng-pending ng-touched" placeholder="number" ng-readonly="addDataCtrl.readonly()">
        </div>
      </div>
      <!--<div class="form-group">-->
        <!--<label class="control-label col-sm-3">寄存器变量</label>-->
        <!--<div class="col-sm-5">-->
          <!--<input type="number" required="required" ng-model="addDataCtrl.templateInfo.register" class="form-control ng-pristine ng-pending ng-touched" placeholder="number" readonly="readonly">-->
        <!--</div>-->
      <!--</div>-->
      <div class="form-group">
        <label class="control-label col-sm-3">转换器</label>
        <div class="col-sm-5">
          <input type="text" required="required" ng-model="addDataCtrl.templateInfo.converter" class="form-control ng-pristine ng-pending ng-touched" placeholder="string">
        </div>
      </div>
    </div>
  </div>
</form>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="addDataCtrl.ok()">{{'confirm'|translate}}</button>
  <button class="btn btn-warning" type="button" ng-click="addDataCtrl.cancel()">{{'cancel'|translate}}</button>
</div>
