<div class="modal-header">
  <h3 class="modal-title">新建</h3>
</div>
<form class="form-horizontal">
  <div class="modal-body row">
    <div class="box-body col-sm-6">
      <div class="form-group">
        <label for="name" class="control-label col-sm-3" >名称</label>
        <div class="col-sm-8">
          <input  name="name" id="name" class="form-control" ng-model="newTemplateController.templateInfo.name"/>
        </div>

      </div>
      <div class="form-group">
        <label for="cname" class="control-label col-sm-3" >中文名称</label>
        <div class="col-md-8">
          <input id="cname" name="cname" class="form-control" ng-model="newTemplateController.templateInfo.cname"/>
        </div>
      </div>
      <div class="form-group">
        <label  class="control-label col-sm-3" >类型</label>
        <div class="col-sm-8">
          <select name="type" class="form-control" ng-model="newTemplateController.templateInfo.type"  ng-change="newTemplateController.showCharLengthInputBox()">
            <option value="int">int</option>
            <option value="short">short</option>
            <option value="char">char</option>
          </select>
        </div>
      </div>
      <div class="form-group" ng-show="newTemplateController.show">
        <label for="charLength"  class="control-label col-sm-5" >请输入长度</label>
        <div class="col-sm-7">
          <input value="" class="form-control" id="charLength" ng-model="newTemplateController.templateInfo.length">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" >转换器</label>
        <div class="col-sm-8">
          <select name="type" class="form-control" ng-model="newTemplateController.templateInfo.converter" >
            <option ng-repeat="x in newTemplateController.converterData" value="{{x.value}}">{{x.name}}</option>
          </select>
        </div>
      </div>
      <P> </P>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="newTemplateController.confirm(newTemplateController.templateInfo)">确定</button>
    <button class="btn btn-warning" type="button" ng-click="newTemplateController.cancel()">取消</button>
  </div>

</form>
