<section class="content-header">
  <h3>{{'protocolTemplate'|translate}}</h3>
</section>
<!-- Main content -->
<section class="content form-horizontal" style="margin-left: 1%">
  <div class="row">
    <div class="col-lg-7">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="{{'protocolVersionNumber'|translate}}">
        <span class="input-group-btn">
          <button type="button" name="search" id="search-btn" presentation-href="system:registerTemplate:query" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="col-lg-1 col-lg-offset-4">
      <button class="btn btn-primary" presentation-href="system:registerTemplate:create" ng-click="templateMngController.newTemplate()">{{'rentalAdd'|translate}}</button>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-12" style="margin-top: 2%">
      <table ng-table="templateMngController.tableParams" class="table table-condensed table-bordered table-striped"
             role="grid">
        <tr ng-repeat="template in $data">
          <td data-title="'serialNumber'|translate">{{$index+1}}</td>
          <td data-title="'equipmentType'|translate" sortable="'deviceType'">
            <a href ng-click="templateMngController.updateInfo($index)">{{template.deviceType}}</a>
          </td>
          <td data-title="'name'|translate" sortable="'tName'">{{template.tName}}</td>
          <td data-title="'state'|translate" sortable="'status'">{{template.status}}</td>
          <td data-title="'createTime'|translate" sortable="'recordTime'">{{template.recordTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td data-title="'rentalUpdateTime'|translate" sortable="'updateTime'">{{template.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td data-title="'description'|translate" sortable="'description'">{{template.description}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="box-footer">
    <uib-pagination total-items="templateMngController.page.totalElements"
                    ng-change="templateMngController.query(templateMngController.pageNumber-1,null,null,null)"
                    max-size="5" ng-model="templateMngController.pageNumber"
                    items-per-page="templateMngController.page.size"
                    class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}"
                    next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
  </div>

</section>

