<section class="content-header">
  <h1>
    协议信息
  </h1>
</section>
<div style="margin-top: 20px; width: 800px;padding: 15px;">
  <table class="table table-striped" >
    <tr >
      <td>协议版本号</td>
      <td>详细信息</td>
    </tr>
    <tr>
      <td ng-click="VersionInfoMngController.setversionNumber('03')"><a ui-sref="home.templateRegistry">03</a></td>
      <td>矿车消息协议</td>
    </tr>
    <tr>
      <td ng-click="VersionInfoMngController.setversionNumber('30')"><a ui-sref="home.templateRegistry">30</a></td>
      <td>高空车消息协议</td>
    </tr>
  </table>
</div>
