<section class="content-header" style="overflow: hidden">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a ui-sref="minemng"><i class="fa fa-dashboard"></i>首页</a></li>
    <li class="active">终端基本信息</li>
  </ol>
</section>

<section class="content form-horizontal" style="overflow: hidden">
  <div class="row form-group">
    <div class="col-md-1 paddingR0">
      <label class="control-label">终端号码</label>
    </div>
    <div class="col-md-2">
      <input type="text" name="terminalNumber" class="form-control"  ng-model="minemngTerminalMngCtrl.minemngTerminal.terminalNumber"
             placeholder="支持模糊查询"/>
    </div>
    <label class="col-md-1 control-label paddingR0">SIM卡号</label>
    <div class="col-md-2">
      <input type="text" name="simCardNumber" class="form-control"  ng-model="minemngTerminalMngCtrl.minemngTerminal.simCardNumber"
             placeholder="支持模糊查询" />
    </div>
    <label class="col-md-1 control-label paddingR0">绑定车辆</label>
    <div class="col-md-2">
      <input type="text" name="carNumber" class="form-control"  ng-model="minemngTerminalMngCtrl.carNumber"
             placeholder="支持模糊查询"/>
    </div>
    <div class="col-md-3  text-right">
      <button class="btn btn-default  " type="button"  ng-click="minemngTerminalMngCtrl.reset()">重置</button>
      <span>&nbsp;</span>
      <button class="btn btn-primary " type="button"  ng-click="minemngTerminalMngCtrl.query(null,null,null,minemngTerminalMngCtrl.minemngTerminal)">查询</button>
    </div>
  </div>

  <div class="row form-group">
    <div class="btn-group col-md-6" style="line-height: 34px;">
      <span>记录总数 {{minemngTerminalMngCtrl.page.totalElements}}</span>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-primary" type="button" ng-click="minemngTerminalMngCtrl.new()">增加</button>
      <span>&nbsp;</span>
      <button class="btn btn-primary" type="button"  ng-click="minemngTerminalMngCtrl.query(null,null,null,minemngTerminalMngCtrl.terminal)">批量导入</button>
    </div>
  </div>


  <div class="row">

    <div class="col-lg-12 table-responsive "><!--表格框-->
      <table ng-table="minemngTerminalMngCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="minemngTerminal in $data">
          <td class="text-nowrap" data-title="'终端号码'|translate" sortable="'terminalNumber'">{{minemngTerminal.terminalNumber}}</td>
          <td class="text-nowrap" data-title="'SIM卡号'|translate" sortable="'simCardNumber'">{{minemngTerminal.simCardNumber}}</td>
          <td class="text-nowrap" data-title="'绑定车辆'|translate" sortable="'carNumber'">{{minemngTerminal.carNumber}}</td>
          <td class="text-nowrap text-center" data-title="'操作'|translate">
            <button type="button" class="btn btn-warning btn-xs"
                    ng-click="minemngTerminalMngCtrl.updateTerminal(minemngTerminal)">{{'修改'|translate}}
            </button>
            <button type="button" class="btn btn-danger btn-xs"
                    ng-click="minemngTerminalMngCtrl.delete(minemngTerminal.id)">{{'删除'|translate}}
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-12"><!--分页框-->
      <uib-pagination total-items="minemngTerminalMngCtrl.page.totalElements"
                      ng-change="minemngTerminalMngCtrl.query(minemngTerminalMngCtrl.pageNumber-1,null,null,null)"
                      max-size="5" ng-model="minemngTerminalMngCtrl.pageNumber" items-per-page="minemngTerminalMngCtrl.page.size"
                      class="pagination-sm" boundary-links="true" rotate="false"
                      first-text="首页" last-text="前一页" next-text="下一页"
                      previous-text="最后一页"></uib-pagination>
    </div>
  </div>
</section>
