
<div id="currentState" class="container-fluid">
  <section class="content-header">
    <h1>
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>{{'首页'| translate}}</a></li>
      <li class="active">{{'终端基本信息'| translate}}</li>
    </ol>
  </section>
  <div class="container-fluid table-wrapper" style="margin-top: 15px">
    <div class="row info-box-container">
      <form name="queryForm" class="form-horizontal" role="form">

        <div class="form-group">
          <label class="col-md-1 control-label font-nomal">{{'终端号码'|translate}}:</label>
          <div class="col-md-2">
            <input type="text" name="terminalNumber" class="form-control"  ng-model="minemngTerminalMngCtrl.minemngTerminal.terminalNumber"
                   placeholder="{{'输入终端号码'|translate}}"/>
          </div>
          <label class="col-md-1 control-label font-nomal">{{'SIM卡号'|translate}}:</label>
          <div class="col-md-2">
            <input type="text" name="simCardNumber" class="form-control"  ng-model="minemngTerminalMngCtrl.minemngTerminal.simCardNumber"
                   placeholder="{{'输入SIM卡号'|translate}}" />
          </div>
          <label class="col-md-1 control-label font-nomal">{{'绑定车辆'|translate}}:</label>
          <div class="col-md-2">
            <input type="text" name="carNumber" class="form-control"  ng-model="minemngTerminalMngCtrl.carNumber"
                   placeholder="{{'输入绑定车辆'|translate}}"/>
          </div>

          <div class="col-md-3  text-right">


            <button class="btn btn-default  " type="button"  ng-click="minemngTerminalMngCtrl.reset()">{{'重置'|translate}}
            </button>



              <button class="btn btn-primary " type="button"  ng-click="minemngTerminalMngCtrl.query(null,null,null,minemngTerminalMngCtrl.minemngTerminal)">{{'query'|translate}}
              </button>

          </div>


        </div>
        <div class="form-group">
          <div class="btn-group col-md-6" style="line-height: 34px;">
            <span>{{'totalNumberOfRecords'|translate}} {{minemngTerminalMngCtrl.page.totalElements}}</span>
          </div>
          <div class="col-md-6 text-right">

            <button class="btn btn-primary" type="button"
                    ng-click="minemngTerminalMngCtrl.new()">{{'增加'|translate}}
            </button>
            <button class="btn btn-primary" type="button"  ng-click="minemngTerminalMngCtrl.query(null,null,null,minemngTerminalMngCtrl.terminal)">{{'批量导入'|translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row" ng-style="minemngTerminalMngCtrl.baseBoxContainer">

      <div class="col-lg-12 table-responsive "><!--表格框-->
        <table ng-table="minemngTerminalMngCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
          <tr ng-repeat="minemngTerminal in $data">
            <td class="text-nowrap" data-title="'终端号码'|translate" sortable="'name'">{{minemngTerminal.terminalNumber}}</td>
            <td class="text-nowrap" data-title="'SIM卡号'|translate" sortable="'contacts'">{{minemngTerminal.simCardNumber}}</td>
            <td class="text-nowrap" data-title="'绑定车辆'|translate" sortable="'mobile'">{{minemngTerminal.carNumber}}</td>
            <td class="text-nowrap" data-title="'操作'|translate">
              <button type="button" class="btn btn-warning btn-xs"
                      ng-click="minemngTerminalMngCtrl.updateTerminal(minemngTerminal)">{{'修改'|translate}}
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      ng-click="minemngTerminalMngCtrl.delete(minemngTerminal.id)">{{'删除'|translate}}
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-12"><!--分页框-->
        <uib-pagination total-items="minemngTerminalMngCtrl.page.totalElements"
                        ng-change="minemngTerminalMngCtrl.query(minemngTerminalMngCtrl.pageNumber-1,null,null,null)"
                        max-size="5" ng-model="minemngTerminalMngCtrl.pageNumber" items-per-page="minemngTerminalMngCtrl.page.size"
                        class="pagination-sm" boundary-links="true" rotate="false"
                        first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}"
                        previous-text="{{'previousPage'|translate}}"></uib-pagination>
      </div>
    </div>
  </div>
</div>
