<aside class="main-sidebar left-side static">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/images/avatar5.png" class="img-circle" alt="User Image"/>
      </div>
      <div class="pull-left info" ng-if="userInfo">
        <p> {{userInfo.userdto.ssn}} </p>
        <i class="fa fa-circle text-success"></i> {{userInfo.userdto.organizationDto.orgSimpleName}}
      </div>

      <div class="pull-left info" ng-if="userInfo == null">
        <a ui-sref="login"> {{'pleaseLogin'|translate }} {{rand}}</a>
      </div>

    </div>

    <hr>
    <ul class="sidebar-menu">

      <li class="treeview">
        <a ng-click="minemngHome=!minemngHome"  href="">
          <i class="fa fa-dashboard"></i>
          <span>首页</span>
          <span class="glyphicon pull-right"
                ng-class="minemngHome?'glyphicon-chevron-up':'glyphicon-chevron-down'"></span>
        </a>
        <ul class="panel-collapse collapse treeview-menu" ng-class="{in: minemngHome}">
          <li>
            <a ui-sref="minemng.minemngTrip">
              <i class="fa fa-th-list"></i> <span>趟数</span>
            </a>
          </li>
          <li>
            <a ui-sref="minemng.minemngFuel">
              <i class="fa fa-th-list"></i> <span>油耗</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a ng-click="workPlanMng=!workPlanMng" href="" >
          <i class="fa ion-clipboard"></i>
          <span>工作计划与调度</span>
          <span class="glyphicon pull-right"
                ng-class="workPlanMng?'glyphicon-chevron-up':'glyphicon-chevron-down'">&nbsp;&nbsp;
          </span>
        </a>
        <ul class="treeview-menu panel-collapse collapse" ng-class="{in: workPlanMng}">
          <li>
            <a ui-sref="minemng.dispatchMng">
              <i class="fa ion-ios-location"></i> <span>调度管理</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a ng-click="basicInfoMng=!basicInfoMng" href="" >
          <i class="fa ion-clipboard"></i>
          <span>基本信息管理</span>
          <span class="glyphicon pull-right"
                ng-class="basicInfoMng?'glyphicon-chevron-up':'glyphicon-chevron-down'">&nbsp;&nbsp;
          </span>
        </a>
        <ul class="treeview-menu panel-collapse collapse" ng-class="{in: basicInfoMng}">
          <li>
            <a ui-sref="minemng.minemngUserMng">
              <i class="fa ion-ios-location"></i> <span>人员基本信息</span>
            </a>
          </li>
          <li>
            <a ui-sref="minemng.mineMachine">
              <i class="fa ion-ios-location"></i> <span>车辆基本信息</span>
            </a>
          </li>
          <li>
            <a ui-sref="minemng.minemngTerminalMng">
              <i class="fa ion-ios-location"></i> <span>终端基本信息</span>
            </a>
          </li>
          <li>
            <a ui-sref="minemng.mineMachineFleet">
              <i class="fa ion-ios-location"></i> <span>车队基本信息</span>
            </a>
          </li>
          <li>
            <a ui-sref="minemng.minemngCheckPointMng">
              <i class="fa ion-ios-location"></i> <span>Check Point</span>
            </a>
          </li>
        </ul>
      </li>



    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
