<!--电子围栏-->
<div class="modal-body">
  <div class="row">
    <div class="col-md-1">
      <label class="control-label text-nowrap">{{'address'|translate}}:</label>
    </div>
    <div class="col-md-4">
      <input type="text" id="tipinput" class="form-control"
             placeholder="{{'search'|translate}}" name="tipinput" style="width: 200px;"/>
    </div>
    <div class="col-md-1">
      <label class="control-label text-nowrap">{{'radius'|translate}}:</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" class="form-control" id="test" ng-model="machineMonitorCtrl.radius" ng-change="machineMonitorCtrl.changeradius(machineMonitorCtrl.radius)"/>
      </p>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" type="button" presentation-href="dashboard:deviceMonitor:electronicFence:set" ng-click="machineMonitorCtrl.updateScopeMap()">{{'SetFence'|translate}}</button>
      <button class="btn btn-primary" type="button" presentation-href="dashboard:deviceMonitor:electronicFence:cancel" ng-click="machineMonitorCtrl.cacheElectronicFence()">{{'cancelFence'|translate}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label class="text-nowrap">{{'currentAddress'|translate}}:</label>
      <span ng-if="machineMonitorCtrl.deviceInfo.locateStatus==1"> {{machineMonitorCtrl.deviceInfo.address}}</span>
      <span ng-if="machineMonitorCtrl.deviceInfo.locateStatus!=1" style="color: red;"> ({{'notLocate' | translate}})</span>
    </div>
    <div class="col-md-5">
      <label class="control-label text-nowrap">{{'coordinate'|translate}}:</label>
      {{'longitude'|translate}}:<span style="color: red;"> {{machineMonitorCtrl.amaplongitudeNum}}</span>
      &nbsp;&nbsp
      {{'latitude'|translate}}:<span style="color: red;"> {{machineMonitorCtrl.amaplatitudeNum}}</span>
    </div>
    <div class="col-md-1" style="float: right">
      <button type="button" class="btn btn-default" title="{{'returnToMachineLocation'|translate}}" ng-click="machineMonitorCtrl.backCurrentAdd()">
        <span class="glyphicon glyphicon-send"></span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="text-nowrap">{{'selectAddress'|translate}}:</label>
      <span style="color: red;"> {{machineMonitorCtrl.selectAddress}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box-body" style="height: 600px" id="deviceScopeMap"></div>
    </div>
  </div>
</div>
