<div class="machine-content" resize>
  <nav-btn>
    <nav-title></nav-title>
    <nav-list>
      <nav-item ng-click="machineAlarmInfoCtr.gotoView(item.title)"></nav-item>
    </nav-list>
    <nav-overlay></nav-overlay>
  </nav-btn>
  <!--alarmInfo begin-->
  <div id="alarmInfo" class="container-fluid">
    <div class="row info-box-container">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  box-light">
          <div class="info-box-content">
            <div class="row">
              <div class="col-lg-4 info-box-left-text">
                <div class="div-float">
                  <span class="info-box-text info-box-left-text-top">围栏报警</span>
                  <span class="info-box-number info-box-left-text-below">410</span>
                </div>
                <div class="div-border"></div>
              </div>

              <div class="col-lg-8">
                a
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  box-light">
          <div class="info-box-content">
            <div class="row">
              <div class="col-lg-4 info-box-left-text">
                <div class="div-float">
                  <span class="info-box-text info-box-left-text-top">车辆报警</span>
                  <span class="info-box-number info-box-left-text-below">410</span>
                </div>
                <div class="div-border"></div>
              </div>

              <div class="col-lg-8">
                b
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  box-light">
          <div class="info-box-content">
            <div class="row">
              <div class="col-lg-4 info-box-left-text">
                <div class="div-float">
                  <span class="info-box-text info-box-left-text-top">保养提醒</span>
                  <span class="info-box-number info-box-left-text-below">410</span>
                </div>
                <div class="div-border"></div>
              </div>

              <div class="col-lg-8">
                c
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  box-light">
          <div class="info-box-content">
            <div class="row">
              <div class="col-lg-4 info-box-left-text">
                <div class="div-float">
                  <span class="info-box-text info-box-left-text-top">离线报警</span>
                  <span class="info-box-number info-box-left-text-below">410</span>
                </div>
                <div class="div-border"></div>
              </div>

              <div class="col-lg-8">
                d
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row base-box-container" ng-style="machineAlarmInfoCtr.baseBoxContainer"  style="margin-left: 0px!important;margin-right: 0px!important;padding-top: 20px;">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{'type'|translate}}</h3>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li ng-class="">
                  <a style="cursor: hand;cursor: pointer;"><i class="fa fa-envelope-o"></i>{{'allpendingmessages'|translate}}
                    <span class="label label-warning pull-right">{{notificationCtrl.noProcessNumber}}</span>
                  </a>
                </li>
                <li ng-class="">
                  <a style="cursor: hand;cursor: pointer;"><i class="fa fa-unlink"></i>{{'longTimeNotConnectedDevices'|translate}}
                    <span
                      class="label label-warning pull-right">{{notificationCtrl.noConnectionNotificationNumber}}</span>
                  </a>
                </li>
                <li ng-class="">
                  <a style="cursor: hand;cursor: pointer;"><i class="fa fa-cog"></i> {{'maintenanceToRemind'|translate}}
                    <span class="label label-warning pull-right">{{notificationCtrl.maintainNotificationNumber}}</span>
                  </a>
                </li>
                <li ng-class="">
                  <a style="cursor: hand;cursor: pointer;" ng-click=""><i class="fa fa-map"></i>{{'locationToRemind'|translate}}
                    <span class="label label-danger pull-right">{{notificationCtrl.locationNotificationNumber}}</span>
                  </a>
                </li>
                <li ng-class="">
                  <a style="cursor: hand;cursor: pointer;" ng-click=""><i class="fa fa-check-square-o"></i>{{'allMessages'|translate}}
                    <span class="label label-primary pull-right">{{notificationCtrl.allNotificationNumber}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8">
          <div class="box box-primary">
            <div class="box-header with-border">
              <div class="row">
                <div class="col-lg-3">
                  <h3 class="box-title">消息内容</h3>
                </div>
                <div class="col-lg-9">
                  <div class="box-tools">
                    <div class="row form-group table-form-group"><!--搜索框-->
                      <div class="col-lg-12 col-md-12">
                        <div class="tab-content-search-box">
                          <label>车号:</label>
                          <input class="input-sm" placeholder="车辆编号"/>
                        </div>
                        <div  class="tab-content-search-box">
                          <label>设备号:</label>
                          <input class="input-sm" placeholder="设备号"/>
                        </div>
                        <div  class="tab-content-search-box">
                          <label>内容:</label>
                          <input class="input-sm" placeholder="提醒内容" style="width: 100px"/>
                        </div>
                        <div class="search-box-button">
                          <button class="btn btn-primary" type="button">{{'query'|translate}}</button>
                          <button class="btn btn-default" type="button">{{'reset'|translate}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-body no-padding">
              <div class="mailbox-controls">
                <button type="button" class="btn btn-default btn-sm" ng-click="">
                  {{'checkAll'|translate}}
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm" ng-click="">
                    {{'markedAsAlreadyProcessed'|translate}}
                  </button>
                </div>
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                  <th>{{'select'|translate}}</th>
                  <th>{{'content'|translate}}</th>
                  <th>{{'generateTime'|translate}}</th>
                  <th>{{'operation'|translate}}</th>
                  <tr ng-repeat="notification in notificationCtrl.notificationList">
                    <td><input type="checkbox" ng-model="notification.checked"></td>
                    <td class="mailbox-subject"></td>
                    <td class="mailbox-date"></td>
                    <td>
                      <button type="button" class="btn btn-default btn-xs" ng-click=""></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="box-footer no-padding">
              <div class="mailbox-controls">
                <uib-pagination class="pagination-sm" boundary-links="true" rotate="false"
                                total-items="" ng-change="" max-size="5" ng-model="vm.currentPage" items-per-page=""
                                first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}"
                                next-text="{{'nextPage'|translate}}"
                                previous-text="{{'previousPage'|translate}}">
                </uib-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--alarmInfo end-->
</div>
