<div class="machine-content" resize>

  <nav-btn>
    <nav-title></nav-title>
    <nav-list>
      <nav-item ng-click="machineCurrentStatusCtr.gotoView(item.title)"></nav-item>
    </nav-list>
    <nav-overlay></nav-overlay>
  </nav-btn>

  <!--currentState begin-->
  <div id="currentState" class="container-fluid">
    <section class="content-header">
      <h1>
        <small>{{'currentPosition'|translate}}:</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-car"></i>{{'vehicleManagement'| translate}}</a></li>
        <li class="active"><i class="fa fa-history"></i>{{'currentState'| translate}}</li>
      </ol>
    </section>
    <div class="row info-box-container">
      <div class="col-lg-2 col-md-2">
        <div class="info-card">
          <div class="info-title">车辆总数</div>
          <div class="info-data" ><a ng-click="machineCurrentStatusCtr.machineStatusLoadData()" ng-bind="machineCurrentStatusCtr.machineCount"></a></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card">

          <div class="info-title">在库维修</div>
          <div class="info-data"><a ng-click="machineCurrentStatusCtr.machineStatusLoadData(6)"  ng-bind="machineCurrentStatusCtr.libraryMaintainCount"></a></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card">
          <div class="info-title">在库待租</div>
          <div class="info-data"><a ng-click="machineCurrentStatusCtr.machineStatusLoadData(7)"  ng-bind="machineCurrentStatusCtr.libraryRentCount"></a></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card">
          <div class="info-title">途中</div>
          <div class="info-data"><a ng-click="machineCurrentStatusCtr.machineStatusLoadData(8)"   ng-bind="machineCurrentStatusCtr.transportCount"></a></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card">
          <div class="info-title">出租中</div>
          <div class="info-data" ><a ng-click="machineCurrentStatusCtr.machineStatusLoadData(9)"   ng-bind="machineCurrentStatusCtr.leaseingCount"></a></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card">
          <div class="info-title">现场报停</div>
          <div class="info-data"><a ng-click="machineCurrentStatusCtr.machineStatusLoadData(10)"   ng-bind="machineCurrentStatusCtr.sceneSuspensionCount"></a></div>
        </div>
      </div>
    </div>
    <div class="row" ng-style="machineCurrentStatusCtr.baseBoxContainer">
        <div class="col-lg-12 form-group table-form-group tab-content-search"><!--搜索框-->
          <div class="col-lg-12 col-md-12">
            <div class="col-lg-2 tab-content-search-head">
              Current Status
            </div>
            <div class="col-lg-10">
            <div class="tab-content-search-box">
              <label>车号:</label>
              <input type="text" name="licenseId" id="licenseId" ng-model="machineCurrentStatusCtr.searchConditions.licenseId" />
            </div>
            <div  class="tab-content-search-box">
              <label>设备号:</label>
              <input name="deviceNum" id="deviceNum" ng-model="machineCurrentStatusCtr.searchConditions.deviceNum" />
            </div>
            <div  class="tab-content-search-box">
              <label>订单号:</label>
              <input name="orderNum" id="orderNum" ng-model="machineCurrentStatusCtr.searchConditions.orderNum" />
            </div>
            <div  class="tab-content-search-box">
              <label>类型:</label>
              <input name="type" id="type" ng-model="machineCurrentStatusCtr.searchConditions.type" />
            </div>
            <div  class="tab-content-search-box">
              <label>地址:</label>
              <input name="address" id="address" ng-model="machineCurrentStatusCtr.searchConditions.address" />
            </div>
            <div class="search-box-button">
              <button class="btn btn-primary" type="button" ng-click="machineCurrentStatusCtr.loadMachineData(0,machineCurrentStatusCtr.pageSize,null,machineCurrentStatusCtr.searchConditions)">{{'query'|translate}}</button>
              <button class="btn btn-default" type="button" ng-click="machineCurrentStatusCtr.searchConditions=null">{{'reset'|translate}}</button>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 table-responsive "><!--表格框-->
          <table ng-table="machineCurrentStatusCtr.customConfigParams"
                 class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="row in $data">
              <td data-title="'设备号'" sortable="'设备号'">{{row.deviceNum}}</td>
              <td data-title="'车号'" sortable="'车号'">{{row.machineLicenseId}}</td>
              <td data-title="'车型'" sortable="'车型'">{{row.deviceType}}</td>
              <td data-title="'订单号'" sortable="'订单号'">{{row.name4}}</td>
              <td data-title="'客户'" sortable="'客户'">{{row.name5}}</td>
              <td data-title="'当前位置'" sortable="'当前位置'">{{row.currentAddress}}</td>
              <td data-title="'总工作小时'" sortable="'总工作小时'">{{row.totalDuration | convertToMins}}</td>
              <td data-title="'最近数据上传时间'" sortable="'最近数据上传时间'">{{row.lastDataUploadTime| date:'yyyy-MM-dd HH:mm:ss'}}</td>
              <td data-title="'操作'" style="text-align: center" >
                <button type="button" class="btn btn-primary btn-xs" ng-click="rentalMachineMngCtr.monitoring(row.deviceNum)">监控</button>
                <button type="button" class="btn btn-success btn-xs" ng-click="rentalMachineMngCtr.management(row.machineLicenseId)">管理</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-lg-12"><!--分页框-->
          <uib-pagination class="pagination-sm pagination-custom" boundary-links="true" rotate="false"
                          total-items="machineCurrentStatusCtr.totalElements"
                          ng-change="machineCurrentStatusCtr.loadMachineData(rentalMachineMngCtr.currentPage-1,machineCurrentStatusCtr.pageSize,machineCurrentStatusCtr.totalElements,machineCurrentStatusCtr.searchConditions)"
                          max-size="10"
                          ng-model="rentalMachineMngCtr.currentPage"
                          items-per-page="machineCurrentStatusCtr.pageSize"
                          first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}"
                          next-text="{{'nextPage'|translate}}"
                          previous-text="{{'previousPage'|translate}}">
          </uib-pagination>
        </div>
    </div>
  </div>
  <!--currentState end-->
</div>
