<!--数据-->
<div class="modal-body" ng-controller="machineMonitorDataController as vm">
  <div class="box-body">
    <div class="row">
      <div class="col-md-6">
        <span>{{'GSMsignalStrength'|translate}}</span>
        <uib-progressbar max="100" value="vm.deviceInfo.gsmsignalStrength" type="warning"><span
          style="color:white; white-space:nowrap;">{{vm.deviceInfo.gsmsignalStrength}}/100</span></uib-progressbar>
      </div>
      <div class="col-md-6">
        <span>{{'batteryPower'|translate}}</span>
        <uib-progressbar max="25.6" value="vm.deviceInfo.voltage"><span style="color:white; white-space:nowrap;">{{vm.deviceInfo.voltage| number : 2}}V/25.6V</span>
        </uib-progressbar>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row detailMargin">
          <table class="table table-striped" ng-init="rowInx=0">
            <tr>
              <table class="table table-striped" ng-init="rowInx=0">
                <caption>{{'deviceBasicInformation'|translate}}</caption>
              </table>
            </tr>
            <tr>
              <table class="table table-striped" ng-init="rowInx=0">
                <caption>{{'deviceInputInformation'|translate}}</caption>
              </table>
            </tr>
            <tr>
              <table class="table table-striped" ng-init="rowInx=0">
                <caption>{{'deviceOutputInformation'|translate}}</caption>
              </table>
            </tr>
            <tr>
              <table class="table table-striped" ng-init="rowInx=0">
                <caption>{{'deviceOtherInformation'|translate}}</caption>
              </table>
            </tr>
            <tr>
              <table class="table table-striped" ng-if="vm.deviceInfo.pcuStatus">
                <caption>{{'PCUinformation'|translate}}</caption>
              </table>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
