<div class="machine-content" resize>
  <section class="content-header">
    <h1>
      <small>{{'currentState'| translate}}</small>
    </h1>
    <ol class="breadcrumb">
      {{'rentalCurrentLocate'|translate}}:
      <li><i class="fa fa-car"></i>{{'vehicleManagement'| translate}}</li>
      <li class="active"><i class="fa fa-history"></i>{{'currentState'| translate}}</li>
    </ol>
  </section>

  <div class="container-fluid" >
    <div class="row info-box-container"  presentation-href="rental:machinemng:currentState:topNavigation">
      <div class="col-lg-2 col-md-2">
        <div class="info-card" ng-click="machineCurrentStatusCtr.machineStatusLoadData()">
          <div class="info-title">{{'rentalMachineTotal'|translate}}</div>
          <div class="info-data" ng-bind="machineCurrentStatusCtr.machineCount"></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card" ng-click="machineCurrentStatusCtr.machineStatusLoadData(6)">
          <div class="info-title">{{'rentalLibraryService'|translate}}</div>
          <div class="info-data" ng-bind="machineCurrentStatusCtr.libraryMaintainCount"></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card" ng-click="machineCurrentStatusCtr.machineStatusLoadData(7)">
          <div class="info-title">{{'rentalLibraryForrent'|translate}}</div>
          <div class="info-data" ng-bind="machineCurrentStatusCtr.libraryRentCount"></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card" ng-click="machineCurrentStatusCtr.machineStatusLoadData(8)">
          <div class="info-title">{{'rentalTransportation'|translate}}</div>
          <div class="info-data" ng-bind="machineCurrentStatusCtr.transportCount"></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card" ng-click="machineCurrentStatusCtr.machineStatusLoadData(9)">
          <div class="info-title">{{'rentalRentedOut'|translate}}</div>
          <div class="info-data" ng-bind="machineCurrentStatusCtr.leaseingCount"></div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card" ng-click="machineCurrentStatusCtr.machineStatusLoadData(10)">
          <div class="info-title">{{'rentalStop'|translate}}</div>
          <div class="info-data" ng-bind="machineCurrentStatusCtr.sceneSuspensionCount"></div>
        </div>
      </div>
    </div>
    <div class="container-fluid table-wrapper" style="margin-top: 15px">
      <div class="row info-box-container"><!--搜索框-->
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="control-label font-nomal col-md-1 ">{{'rentalMachineID'|translate}}:</label>
            <div class="col-md-2">
              <input class="form-control" type="text" name="licenseId" id="licenseId"
                     placeholder="{{'rentalMachineID'|translate}}"
                     ng-model="machineCurrentStatusCtr.searchConditions.licenseId"/>
            </div>
            <label class="control-label font-nomal col-md-1">{{'rentalDeviceID'|translate}}:</label>
            <div class="col-md-2">
              <input class="form-control" name="deviceNum" id="deviceNum" placeholder="{{'rentalDeviceID'|translate}}"
                     ng-model="machineCurrentStatusCtr.searchConditions.deviceNum"/>
            </div>
            <label class="control-label font-nomal col-md-1">{{'rentalMachineType'|translate}}:</label>
            <div class="col-md-2">
              <ui-select ng-model="machineCurrentStatusCtr.searchConditions.type" ng-disabled="disabled" required>
                <ui-select-match allow-clear="true" placeholder="{{'rentalMachineType'|translate}}">
                  {{$select.selected.name | translate}}
                </ui-select-match>
                <ui-select-choices
                  repeat="machineType.id as machineType in machineCurrentStatusCtr.deviceTypeList | propsFilter: {name: $select.search}">
                  <div ng-bind-html="machineType.name | highlight: $select.search | translate"></div>
                </ui-select-choices>
              </ui-select>
            </div>
            <label class="control-label font-nomal col-md-1 ">{{'address'|translate}}:</label>
            <div class="col-md-2">
              <input class="form-control" name="address" id="address" placeholder="{{'address'|translate}}"
                     ng-model="machineCurrentStatusCtr.searchConditions.address"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-9 col-md-3">
              <div class="col-md-8">
                <button class="btn btn-default" type="button"
                        ng-click="machineCurrentStatusCtr.searchConditions=null">{{'reset'|translate}}
                </button>
                <button class="btn btn-primary" type="button" presentation-href="rental:machinemng:currentState:query"
                        ng-click="machineCurrentStatusCtr.loadMachineData(0,machineCurrentStatusCtr.pageSize,null,machineCurrentStatusCtr.searchConditions)">
                  {{'query'|translate}}
                </button>
              </div>
              <div class="col-md-3">
                <button class="btn btn-primary ng-binding pull-right" type="button" presentation-href="rental:machinemng:currentState:addMachine"
                        ng-click="machineCurrentStatusCtr.addMachine()">{{'rentalNewMachine'|translate}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row" ng-style="machineCurrentStatusCtr.baseBoxContainer">
        <div class="col-lg-12 table table-responsive  "><!--表格框-->
          <table ng-table="machineCurrentStatusCtr.customConfigParams"
                 class="table table-condensed table-bordered table-striped text-nowrap">
            <tr ng-repeat="row in $data">
              <td data-title="'rentalMachineID'|translate" sortable="'machineLicenseId'">{{row.machineLicenseId}}</td>
              <td data-title="'rentalDeviceID'|translate" sortable="'deviceNum'">{{row.deviceNum}}</td>
              <td data-title="'type'|translate" sortable="'deviceType'">{{row.deviceType | translate}}</td>
              <!--<td data-title="'rentalBrand'|translate" sortable="'rentalBrand'|translate">{{row.manufacture|translate}}</td>-->
              <td data-title="'highlyType'|translate" sortable="'heightType'">{{row.heightType | translate}}</td>
              <td data-title="'rentalCurrentLocate'|translate" sortable="'currentAddress'">{{row.currentAddress}}</td>
              <td data-title="'rentalTotalWorkingHours'|translate" sortable="'totalDurationConverter'">
                {{row.totalDurationConverter | convertToMins}}
              </td>
              <td data-title="'rentalTimeofLastDataTransmitted'|translate" sortable="'lastDataUploadTime'">
                {{row.lastDataUploadTime| date:'yyyy-MM-dd HH:mm:ss':machineCurrentStatusCtr.timezone}}
              </td>
              <td data-title="'operation'|translate" style="text-align: center">
                <button type="button" class="btn  btn-danger btn-xs"   presentation-href="rental:machinemng:currentState:modify"
                        ng-click="machineCurrentStatusCtr.machineMng(row.machineLicenseId)">{{'rentalEdit'|translate}}
                </button>
                <button type="button" class="btn btn-default btn-xs" presentation-href="rental:machinemng:currentState:monitor"
                        ng-click="machineCurrentStatusCtr.machineMonitor(row.machineLicenseId)">
                  {{'equipmentMonitoring'|translate}}
                </button>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-lg-12"><!--分页框-->
          <uib-pagination class="pagination-sm pagination-custom" boundary-links="true" rotate="false"
                          total-items="machineCurrentStatusCtr.totalElements"
                          ng-change="machineCurrentStatusCtr.loadMachineData(rentalMachineMngCtr.currentPage-1,machineCurrentStatusCtr.pageSize,machineCurrentStatusCtr.totalElements,machineCurrentStatusCtr.searchConditions)"
                          max-size="10"
                          ng-model="rentalMachineMngCtr.currentPage"
                          items-per-page="machineCurrentStatusCtr.pageSize"
                          previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
          </uib-pagination>
        </div>
      </div>
    </div>
  </div>
  <!--currentState end-->
</div>
