<div class="machine-content" resize>
  <div class="container-fluid">
    <div class="row info-box-container">
      <div class="col-lg-3 col-xs-6 col-sm-12">
        <div class="machine-small-box machine-bg-aqua">
          <div class="machine-small-box-title">
            Rent
          </div>
          <div class="machine-small-box-content-two">
            <div class="machine-small-box-content-1 machine-small-box-content-1-cover">
              <h5>Not Rent</h5>
              <p>150</p>
            </div>

            <div class="machine-small-box-content-2">
              <div>JianCha:88%</div>
              <div>ZhiBi:12%</div>
              <div>QvBi:33%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-12">
        <div class="machine-small-box machine-bg-aqua ">
          <div class="machine-small-box-title">
            JianCha
          </div>
          <div class="machine-small-box-content machine-small-box-content-cover">
            <ui>
              <li>①</li>
              <li>②</li>
              <li>③</li>
            </ui>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-12">
        <div class="machine-small-box machine-bg-aqua">
          <div class="machine-small-box-title">
            ZhiBi
          </div>
          <div class="machine-small-box-content machine-small-box-content-cover">
            <ui>
              <li>①</li>
              <li>②</li>
              <li>③</li>
            </ui>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6 col-sm-12">
        <div class="machine-small-box machine-bg-aqua">
          <div class="machine-small-box-title">
            QvBi
          </div>
          <div class="machine-small-box-content machine-small-box-content-cover">
            <ui>
              <li>①</li>
              <li>②</li>
              <li>③</li>
            </ui>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
