<div class="modal-header modal-header-padding">
  <div class="modal-title">
    <div class="modal-title-text">{{'MachineWorkDetails'|translate}}</div>
    <div class="modal-title-btn">
      <div ng-click="vm.refreshCurrentDeviceInfo()"><i class="fa fa-refresh" aria-hidden="true"></i></div>
      <div ng-click="vm.cancel()"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
  </div>
</div>

<uib-tabset justified="true">
  <!--数据-->
  <uib-tab>
    <uib-tab-heading>{{'data'|translate}}</uib-tab-heading>
    <div class="modal-body" ng-style="vm.monitorheight">
      <div ng-include="'app/components/rentalPlatform/machineMng/machineMonitor_monitor.html'"  ></div>
    </div>
  </uib-tab>

  <!--历史数据-->
  <uib-tab >
    <uib-tab-heading>{{'historicalData'|translate}}</uib-tab-heading>
    <div class="modal-body" ng-style="vm.monitorheight">
      <div ng-include="'app/components/rentalPlatform/machineMng/machineMonitor_history.html'"  ></div>
    </div>
  </uib-tab>

  <!--报警数据-->
  <uib-tab>
    <uib-tab-heading>{{'warningData'|translate}}</uib-tab-heading>
    <div class="modal-body"  ng-style="vm.monitorheight">
      <div ng-include="'app/components/rentalPlatform/machineMng/machineMonitor_waring.html'"  ></div>
    </div>
  </uib-tab>

  <!--地图-->
  <uib-tab>
    <uib-tab-heading>{{'rentalLocus'|translate}}</uib-tab-heading>
    <div class="modal-body"  ng-style="vm.monitorheight">
      <div ng-include="'app/components/rentalPlatform/machineMng/machineMonitor_map.html'"  ></div>
    </div>
  </uib-tab>

  <!--生命周期-->
  <uib-tab>
    <uib-tab-heading>{{'rentalLifecycle'|translate}}</uib-tab-heading>
    <div class="modal-body"  ng-style="vm.monitorheight">
      <div ng-include="'app/components/rentalPlatform/machineMng/machineMonitor_lifeCycle.html'"  ></div>
    </div>
  </uib-tab>

  <!--数据分析-->
  <uib-tab>
    <uib-tab-heading>{{'dataAnalysis'|translate}}</uib-tab-heading>
    <div class="modal-body"   ng-style="vm.monitorheight">
      <div ng-include="'app/components/rentalPlatform/machineMng/machineMonitor_analysis.html'"  ></div>
    </div>
  </uib-tab>

</uib-tabset>
<div class="modal-footer"></div>
