<div class="modal-header modal-header-padding">
  <div class="modal-title">
    <div class="modal-title-text">添加车辆</div>
    <div class="modal-title-btn">
      <div ng-click="vm.cancel()"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
  </div>
</div>
<div class="row modal-body">
  <form class="form-horizontal">
    <div class="modal-body">
      <div class="box-body col-sm-7">
        <div class="form-group">
          <label class="col-sm-3 control-label">车号</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="车号"
                   ng-model="newRentalOrderController.rentalOrder.totalAmt"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">设备号</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="设备号"
                   ng-model="newRentalOrderController.rentalOrder.totalAmt"/>
          </div>
        </div>
      </div>
      <div class="map-body col-sm-5">
        <div class="row">
          <div class="col-md-8">
            <label class="control-label text-nowrap">{{'coordinate'|translate}}:</label>
            {{'longitude'|translate}}:<span
            style="color: red;"> {{newRentalOrderController.amaplongitudeNum}}</span>
            &nbsp;&nbsp;
            {{'latitude'|translate}}:<span
            style="color: red;"> {{newRentalOrderController.amaplatitudeNum}}</span>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="text-nowrap">{{'selectAddress'|translate}}:</label>
            <span style="color: red;"> {{newRentalOrderController.selectAddress}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="box-body" id="newOrderMap" ng-style="newRentalOrderController.baseBoxMapContainer"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer ng-scope">
  <button class="btn btn-primary" type="button" ng-click="vm.addMachine()">提交</button>
  <button class="btn btn-warning" type="button" ng-click="vm.reset()">重置</button>
</div>
