<!--数据分析-->
<div class="modal-body" ng-controller="machineMonitorHistoryController as vm">
  <input type="hidden" ng-model="vm.deviceInfo">
  <div class="form-group">
    <form   class="form-horizontal">
      <label class="col-md-2 control-label font-nomal">{{'startDate'|translate}}:</label>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomTime}}"
                 ng-model="vm.queryStartDate" is-open="openStartDate"
                 ng-required="true" max-date="vm.queryEndDate"
                 current-text="{{'today'|translate}}"
                 clear-text="{{'cleanUp'|translate}}"
                 close-text="{{'close'|translate}}"/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openStartDate=true">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
        </div>
      </div>

      <label class="col-md-2 control-label font-nomal">{{'endDate'|translate}}:</label>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomTime}}"
                 ng-model="vm.queryEndDate" is-open="openEndDate"
                 ng-required="true"
                 current-text="{{'today'|translate}}"
                 clear-text="{{'cleanUp'|translate}}"
                 close-text="{{'close'|translate}}"/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openEndDate=true">
                <i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" type="button"
                ng-click="vm.getAnalysisRunData(0,vm.pageSize,null,'locate_date,desc',vm.deviceInfo.deviceNum,vm.queryStartDate,vm.queryEndDate)">
          {{'confirm'|translate}}
        </button>
      </div>
      </form>
  </div>
  <div class="row"></div>
</div>
