<!--地图-->
<div class="modal-body"  ng-controller="machineMonitorMapController as vm">
  {{vm.test}}
  <div class="row">
    <div class="col-md-1">
      <label class="control-label text-nowrap">{{'startDate'|translate}}:</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomTime}}" ng-model="machineMonitorCtrl.startDateMapData" is-open="machineMonitorCtrl.startDateOpenStatusMapData.opened" datepicker-options="machineMonitorCtrl.dateOptions" min-date="machineMonitorCtrl.minDate" max-date="machineMonitorCtrl.maxDate" ng-required="true" current-text="{{'today'|translate}}" clear-text="{{'cleanUp'|translate}}" close-text="{{'close'|translate}}" />
        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="machineMonitorCtrl.startDateOpenMapData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
      </p>
    </div>
    <div class="col-md-1">
      <label class="control-label text-nowrap">{{'endDate'|translate}}:</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomTime}}" ng-model="machineMonitorCtrl.endDateMapData" is-open="machineMonitorCtrl.endDateOpenStatusMapData.opened" datepicker-options="machineMonitorCtrl.dateOptions" ng-required="true" current-text="{{'today'|translate}}" clear-text="{{'cleanUp'|translate}}" close-text="{{'close'|translate}}" />
        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="machineMonitorCtrl.endDateOpenMapData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
      </p>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" type="button" presentation-href="dashboard:deviceMonitor:map:query" ng-click="machineMonitorCtrl.getDeviceMapData(0,10000,null,machineMonitorCtrl.deviceInfo.deviceNum,machineMonitorCtrl.deviceInfo.versionNum,machineMonitorCtrl.startDateMapData,machineMonitorCtrl.endDateMapData)">{{'confirm'|translate}}</button>
    </div>
    <div class="col-md-3 btn-group " role="group" >
      <button id="start" class="btn btn-sm" type="button" presentation-href="dashboard:deviceMonitor:map:query">{{'startAnimation'|translate}}</button>
      <button id="stop" class="btn  btn-sm" type="button" presentation-href="dashboard:deviceMonitor:map:query">{{'endAnimation'|translate}}</button>
      <button id="move" class="btn  btn-sm" type="button" presentation-href="dashboard:deviceMonitor:map:query">{{'moveAnimation'|translate}}</button>
    </div>
  </div>

  <div ng-show="machineMonitorCtrl.lnglatShow" class="text-right" style="line-height: 34px;">
          <span style="font-size: 16px;padding: 0 10px;">
            行使了 <span style="color: red;font-weight: bold;">{{machineMonitorCtrl.trackMileage}}</span> 米
          </span>
    <input type="text" id="lnglat" class="form-control" placeholder="经纬度" name="lnglat" style="width: 200px;float: right"/>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box-body" style="height: 600px" id="deviceDetailMap"></div>
    </div>
  </div>
</div>
