<div class="modal-header modal-header-padding">
  <div class="modal-title">
    <div class="modal-title-text">{{'rentalUpdateMachine'|translate}}</div>
    <div class="modal-title-btn">
      <div ng-click="vm.cancel()"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
  </div>
</div>
<div class="row modal-body" style="padding-top: 0px!important;">
  <form name="updateMachine" class="form-horizontal">
    <div class="modal-body">
      <div class="box-body col-sm-3">
        <div class="row"><h5>{{'rentalBasicinfo'|translate}}:</h5></div>
        <div class="form-group">
          <label class="col-sm-4 control-label padding5 ng-binding">{{'machineNumberAndCarNumber'|translate}}</label>
          <div class="col-sm-8">
            <input type="text" class="form-control ng-pristine ng-pending ng-touched" placeholder="{{'machineNumberAndCarNumber'|translate}}" validator="required" ng-model="vm.machine.licenseId"
                   typeahead-show-hint="true">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label padding5">{{'rentalBindingTterminal'|translate}}</label>
          <div class="col-sm-8">
            <input type="text" class="form-control ng-pristine ng-valid ng-touched" placeholder="{{'rentalEntersixdigitsorsweepthebarcode'|translate}}" ng-model="vm.machine.deviceNum"  validator="required" ng-minlength='6' ng-maxlength='26'
                   typeahead-show-hint="false">
            <span class="error text-danger" ng-show="updateMachine.deviceNum.$error.maxlength">{{'rentalMaximum26bits'|translate}}</span>
            <span class="error text-danger" ng-show="updateMachine.deviceNum.$error.minlength">{{'rentalMinimum6bits'|translate}}</span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label padding5">{{'vehicleType'|translate}}</label>
          <div class="col-sm-8">
            <ui-select id="machineType" name="machineType" ng-model="vm.machine.machineTypeId"
                       theme="bootstrap"
                       ng-disabled="disabled">
              <ui-select-match allow-clear="true" placeholder="{{'vehicleType'|translate}}">{{$select.selected.typeName}}
              </ui-select-match>
              <ui-select-choices
                repeat="machineType.id as machineType in vm.machineTypeList | propsFilter: {typeName: $select.search}">
                <div ng-bind-html="machineType.typeName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label padding5">{{'engineType'|translate}}</label>
          <div class="col-sm-8">
            <ui-select id="engineType" name="engineType" ng-model="vm.machine.engineTypeId"
                       theme="bootstrap"
                       ng-disabled="disabled">
              <ui-select-match allow-clear="true" placeholder="{{'engineType'|translate}}">{{$select.selected.engineName}}
              </ui-select-match>
              <ui-select-choices
                repeat="engineType.id as engineType in vm.engineTypeList | propsFilter: {engineName: $select.search}">
                <div ng-bind-html="engineType.engineName | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label padding5">{{'rentalVehicleState'|translate}}</label>
          <div class="col-sm-8">
            <ui-select id="machineState" name="machineState" ng-model="vm.machine.status">
              <ui-select-match allow-clear="true" placeholder="{{'rentalVehicleState'|translate}}">{{$select.selected.machineState}}</ui-select-match>
              <ui-select-choices repeat="machineState.code as machineState in vm.machineStateList | propsFilter: {machineState: $select.search}">
                <div ng-bind-html="machineState.machineState | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label padding5">{{'brandType'|translate}}</label>
          <div class="col-sm-8">
            <input type="text" class="form-control ng-pristine ng-valid ng-touched" placeholder="{{'brandType'|translate}}" ng-model="vm.machine.brand"  validator="required"
                   typeahead-show-hint="false">
          </div>
        </div>

      </div>
      <div class="map-body col-sm-9">
        <div class="row"><h5>{{'electricFence'|translate}}</h5></div>
        <div class="row">
          <div class="col-md-6">
            <label class="col-sm-2 control-label padding5">{{'rentalAddress'|translate}}:</label>
            <div class="col-lg-8">
              <input type="text" id="tipinput" class="form-control" placeholder="{{'search'|translate}}" />
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-sm-2 control-label padding5">{{'rentalRadius'|translate}}:</label>
            <div class="col-lg-6">
              <input type="text" class="form-control ng-pristine ng-valid ng-touched" placeholder="{{'rentalRadius'|translate}}" ng-model="vm.machine.radius" ng-change="vm.changeRadius(deviceAerialCurrentInfoController.radius)"
                     typeahead-show-hint="false">
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="text-nowrap">{{'selectAddress'|translate}}:</label>
            <span ng-bind="vm.machine.fenceAddress"></span>
          </div>
          <div class="col-md-6">
            <label class="control-label text-nowrap">{{'coordinate'|translate}}:</label>
            {{'longitude'|translate}}:<span ng-bind="vm.machine.amaplongitudeNum"></span>
            {{'latitude'|translate}}:<span ng-bind="vm.machine.amaplatitudeNum"></span>
          </div>
        </div>
        <div class="form-group">
          <div class="box-body" id="newMachineMap" style="height: 600px;width: 868px" ng-style="vm.baseBoxMapContainer"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" validation-submit="updateMachine"  ng-click="vm.updateMachine()">{{'submit'|translate}}</button>
  <button class="btn btn-warning" type="button" ng-click="vm.reset()">{{'reset'|translate}}</button>
</div></div>
