<!--数据分析-->
{{vm.test}}
  <div class="modal-body">
    <div class="box-body">
      <div class="row">
        <div class="col-md-1">
          <label class="control-label text-nowrap">{{'startDate'|translate}}:</label>
        </div>
        <div class="col-md-3">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{formatCustom}}" ng-model="machineMonitorCtrl.startDateMapData" is-open="machineMonitorCtrl.startDateOpenStatusMapData.opened" datepicker-options="machineMonitorCtrl.dateOptions" min-date="machineMonitorCtrl.minDate" max-date="machineMonitorCtrl.maxDate" ng-required="true" current-text="{{'today'|translate}}" clear-text="{{'cleanUp'|translate}}" close-text="{{'close'|translate}}" />
            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="machineMonitorCtrl.startDateOpenMapData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
          </p>
        </div>
        <div class="col-md-1">
          <label class="control-label text-nowrap">{{'endDate'|translate}}:</label>
        </div>
        <div class="col-md-3">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{formatCustom}}" ng-model="machineMonitorCtrl.endDateMapData" is-open="machineMonitorCtrl.endDateOpenStatusMapData.opened" datepicker-options="machineMonitorCtrl.dateOptions" ng-required="true" current-text="{{'today'|translate}}" clear-text="{{'cleanUp'|translate}}" close-text="{{'close'|translate}}" />
            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="machineMonitorCtrl.endDateOpenMapData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
          </p>
        </div>
        <div class="col-md-4" style="padding: 0px;">
          <div style="float:left;margin-top: -5px;">
            <div><input type="radio" name="radio" value="DASHBOARD" ng-model="machineMonitorCtrl.checkedRad">&nbsp;{{'comprehensiveAnalysis'|translate}}</div>
            <div><input type="radio" name="radio" value="STATEQUANTITY" ng-model="machineMonitorCtrl.checkedRad">&nbsp;{{'dataDisplay'|translate}}</div>
          </div>
          <button type="button" style="float:left;margin-left: 18px;" ng-class="machineMonitorCtrl.checkedRad=='DASHBOARD'?'disabled':''"
                  class="btn btn-default" ng-click="machineMonitorCtrl.selectSensor(machineMonitorCtrl.checkedRad)">{{'stateQuantity'|translate}}</button>
          <button class="btn btn-primary ng-binding" style="float:left;margin-left: 18px;" type="button" presentation-href="dashboard:deviceMonitor:dataAnalysis:query" ng-click="machineMonitorCtrl.viewReport(machineMonitorCtrl.deviceInfo.versionNum,machineMonitorCtrl.deviceInfo.deviceNum, machineMonitorCtrl.startDateMapData,machineMonitorCtrl.endDateMapData)">{{'confirm'|translate}}</button>
        </div>
      </div>
      <div ng-show="machineMonitorCtrl.checkedRad=='DASHBOARD'?false:true">
             <span ng-repeat="(x,y) in machineMonitorCtrl.sensorItem" style="padding-left: 2px;">
             {{y}}<i  class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="machineMonitorCtrl.removeItem(x)"></i>
           </span>
      </div>
      <div style="padding-top: 10px;">
        <div ng-switch="machineMonitorCtrl.checkedRad">
          <div ng-switch-when="DASHBOARD">
            <div class="row">
              <div class="col-md-12">
                <label style="position: absolute;right: 50px;top: 5px;z-index: 99;">
                  <button type="button" class="btn btn-primary btn-sm" ng-click="machineMonitorCtrl.changeChartType(machineMonitorCtrl.workTimeChart)">{{'switching'|translate}}</button>
                </label>
                <highchart id="workTimeChart" title="{{'averageWorkingHours'|translate}}"
                           style="height:250px;"
                           config="machineMonitorCtrl.workTimeChart">
                </highchart>
              </div>
              <div class="col-md-12">
                <label style="position: absolute;right: 50px;top: 5px;z-index: 99;">
                  <button type="button" class="btn btn-primary btn-sm" ng-click="machineMonitorCtrl.changeChartType(machineMonitorCtrl.startTimesChart)">{{'switching'|translate}}</button>
                </label>
                <highchart id="startTimesChart" title="{{'averageNumberOfStarts'|translate}}"
                           style="height: 250px"
                           config="machineMonitorCtrl.startTimesChart">
                </highchart>
              </div>
            </div>
            <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
            <!--<highchart id="realtimeChart" title="{{'analysisOfMachineSingleWorkHours'|translate}}"-->
            <!--style="min-width:850px;height: 300px"-->
            <!--config="machineMonitorCtrl.singleWorkHours">-->
            <!--</highchart>-->
            <!--</div>-->
            <!--</div>-->
          </div>
          <div ng-switch-when="STATEQUANTITY">
            <highchart id="simpleChart" title="{{'operationalDataAnalysis'|translate}}" style="min-width:850px;height:500px;"  config="machineMonitorCtrl.chartConfig" ></highchart>
          </div>
        </div>
      </div>
    </div>
  </div>
