<div class="modal-body" ng-controller="machineMonitorHistoryController as vm">
  <input type="hidden" ng-model="vm.deviceInfo">
  <div class="row">
    <div class="col-md-1">
      <label class="control-label">{{'startDate'|translate}}:</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomTime}}"
               ng-model="vm.queryStartDate" is-open="openStartDate"
               ng-required="true" max-date="vm.queryEndDate"
               current-text="今天" clear-text="清除" close-text="关闭"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openStartDate=true">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
      </p>
    </div>
    <div class="col-md-1">
      <label class="control-label">{{'endDate'|translate}}:</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomTime}}"
               ng-model="vm.queryEndDate" is-open="openEndDate"
               ng-required="true" current-text="今天" clear-text="清除" close-text="关闭"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openEndDate=true">
              <i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      </p>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" type="button"
              ng-click="vm.getHistoryRunData(0,vm.pageSize,null,'locate_date,desc',vm.deviceInfo.deviceNum,vm.queryStartDate,vm.queryEndDate)">
        {{'confirm'|translate}}
      </button>
    </div>
    <div class="col-md-3">
      <a class="btn" title="ExportHistoryData"
         ng-click="vm.excelExport(vm.deviceInfo.deviceNum,vm.deviceInfo.versionNum,vm.queryStartDate,vm.queryEndDate)">全部导出</a>
      <a class="btn" title="ExportHistoryData"
         ng-click='csv.generate()'
         ng-href="{{csv.link()}}"
         download="{{vm.deviceInfo.deviceNum}}{{'historicalData'|translate}}.csv">导出本页</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="overflow-x: auto;">
      <table ng-table="vm.deviceHistoryRunData" class="table table-responsive history-tab-tr-nowrap" export-csv='csv'>
        <tr ng-repeat="deviceWarningData in $data">
          <!--数据回传时间-->
          <td data-title="'dataReturnTime'|translate">{{}} </td>
          <!--定位时间-->
          <td data-title="'positioningTime'|translate">{{}}
          </td>
          <!--gpsSpeed 速度-->
          <td data-title="'speed'|translate">{{}}
          </td>
          <!--总工时-->
          <td data-title="'totalProductiveHours'|translate">{{}}
          </td>
          <!--燃油液位-->
          <td data-title="'fuelLevel'|translate">{{}}
          </td>
          <!--发动机转速-->
          <td data-title="'engineSpeed'|translate">{{}}
          </td>
          <!--水温-->
          <td data-title="'waterTemperature'|translate">{{}}
          </td>
          <!--串口通信状态-->
          <td data-title="'CANCommunicationStatus'|translate">{{}}
          </td>
          <!--供电方式-->
          <td data-title="'powerSupplyMode'|translate">{{}}
          </td>
          <!--变矩器油温-->
          <td data-title="'torqueConverterOilTemperature'|translate">{{}}
          </td>
          <!--制动气压-->
          <td data-title="'brakePressure'|translate">{{}}
          </td>
          <!--gsm信号质量-->
          <td data-title="'GPRSSignalQuality'|translate">{{}}
          </td>
          <!--运行监控-->
          <td data-title="'operationMonitoring'|translate">{{}}
          </td>
          <!--led状态-->
          <td data-title="'LEDState'|translate">{{}}
          </td>
          <!--实时工时-->
          <td data-title="'realTimeWork'|translate">{{}}
          </td>
          <!--启动次数-->
          <td data-title="'numberOfStarts'|translate">{{}}
          </td>
          <!--锁车状态-->
          <td data-title="'lockedCarStatus'|translate">{{}}
          </td>
          <!--开关机状态-->
          <td data-title="'ACCState'|translate">{{}}
          </td>
          <!--发电机状态-->
          <td data-title="'generatorState'|translate">{{}}
          </td>
          <!--GPS电源检测和模拟量1是相同的-->
          <td data-title="'GPSPowerDetection'|translate">{{}}
          </td>
          <!--模拟量2-->
          <td data-title="'Built-inBatteryRealTime'|translate">{{}}
          </td>
          <!--电压-->
          <td data-title="'vehicleMountedBatteryVoltage'|translate">{{}}
          </td>
          <!--开盖状态-->
          <td data-title="'openCoverState'|translate">{{}}
          </td>
          <!--可见卫星数-->
          <td data-title="'visibleSatelliteNumber'|translate">{{}}
          </td>
          <!--可用卫星数-->
          <td data-title="'usableSatelliteNumber'|translate">{{}}
          </td>
          <!--定位所用时间-->
          <td data-title="'locateDuration'|translate">{{}}
          </td>
          <!--ECU锁车状态-->
          <td data-title="'ecuLockStatus'|translate">{{}}
          </td>
          <!--实际绑定车号-->
          <td data-title="'bindMachineId'|translate">{{}}
          </td>
          <!--累计里程-->
          <td data-title="'totalMileage'|translate">{{}}
          </td>
          <!--气压表二-->
          <td data-title="'pressureMeter'|translate">{{}}
          </td>
          <!--机油压力-->
          <td data-title="'oilPress'|translate">{{}}
          </td>
          <!--阶段工作时间-->
          <td data-title="'momentWorkTime'|translate">{{}}
          </td>
          <!--阶段里程-->
          <td data-title="'momentMileage'|translate">{{}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <uib-pagination class="pagination-sm pagination-custom"
                      boundary-links="true"
                      rotate="false" max-size="10"
                      total-items="vm.totalElements"
                      ng-change="vm.getDeviceWarningData(vm.currentPage-1,vm.pageSize,vm.totalElements,'locate_date,desc',vm.deviceInfo.deviceNum,vm.queryStartDate,vm.queryEndDate)"
                      ng-model="vm.currentPage"
                      items-per-page="vm.pageSize"
                      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
      </uib-pagination>
    </div>
  </div>
</div>
