<div class="modal-header modal-header-padding">
  <div class="modal-title">
    <div class="modal-title-text">{{'rentalNewMachine'|translate}}</div>
    <div class="modal-title-btn">
      <div ng-click="vm.cancel()"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
  </div>
</div>
<div class="row modal-body" style="padding-top: 0px!important;">
  <form  name="newDeviceForm"  class="form-horizontal">
    <div class="modal-body">
      <div class="box-body col-sm-3">
        <div class="row"><h5>{{'rentalBasicinfo'|translate}}:</h5></div>
        <div class="form-group">
          <label class="col-sm-4 control-label padding5 ng-binding">{{'machineNumberAndCarNumber'|translate}}</label>
          <div class="col-sm-8">
            <input type="text" class="form-control ng-pristine ng-pending ng-touched"  name="licenseId" placeholder="{{'machineNumberAndCarNumber'|translate}}" ng-model="vm.machine.licenseId" validator="required" typeahead-show-hint="true">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label padding5">{{'rentalBindingTterminal'|translate}}</label>
          <div class="col-sm-8">
            <input type="text"  id="deviceNum" name="deviceNum" class="form-control ng-pristine ng-valid ng-touched" placeholder="{{'rentalEntersixdigitsorsweepthebarcode'|translate}}" ng-model="vm.machine.deviceNum" validator="required" ng-minlength='6' ng-maxlength='26'
                   typeahead-show-hint="false">
            <span class="error text-danger" ng-show="newDeviceForm.deviceNum.$error.maxlength">{{'rentalMaximum26bits'|translate}}</span>
            <span class="error text-danger" ng-show="newDeviceForm.deviceNum.$error.minlength">{{'rentalMinimum6bits'|translate}}</span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label padding5">{{'vehicleType'|translate}}</label>
          <div class="col-sm-8">
            <ui-select  ng-model="vm.machine.machineTypeId" ng-disabled="disabled" required>
              <ui-select-match allow-clear="true" placeholder="{{'vehicleType'|translate}}">{{$select.selected.name |translate}}</ui-select-match>
              <ui-select-choices repeat="machineType.id as machineType in vm.machineTypeList | propsFilter: {name: $select.search}">
                <div ng-bind-html="machineType.name | highlight: $select.search |translate"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label padding5">{{'engineType'|translate}}</label>
          <div class="col-sm-8">
            <ui-select  ng-model="vm.machine.engineTypeId" ng-disabled="disabled" required>
              <ui-select-match allow-clear="true" placeholder="{{'engineType'|translate}}">{{$select.selected.engineName |translate}}</ui-select-match>
              <ui-select-choices repeat="engineType.id as engineType in vm.engineTypeList | propsFilter: {engineName: $select.search}">
                <div ng-bind-html="engineType.engineName | highlight: $select.search | translate"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label padding5">{{'rentalVehicleState'|translate}}</label>
          <div class="col-sm-8">
            <ui-select  ng-model="vm.machine.status" ng-disabled="disabled" required>
              <ui-select-match allow-clear="true" placeholder="{{'rentalVehicleState'|translate}}">{{$select.selected.machineState |translate}}</ui-select-match>
              <ui-select-choices repeat="machineState.code as machineState in vm.machineStateList | propsFilter: {machineState: $select.search}">
                <div ng-bind-html="machineState.machineState | highlight: $select.search|translate"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <!--<div class="form-group">
          <label class="col-sm-4 control-label padding5">{{'brandType'|translate}}</label>
          <div class="col-sm-8">
            <ui-select  ng-model="vm.machine.manufacture " ng-disabled="disabled" required>
              <ui-select-match allow-clear="true" placeholder="{{'brandType'|translate}}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="manufacture.id as manufacture in vm.machineManufacture | propsFilter: {name: $select.search}">
                <div ng-bind-html="manufacture.name | highlight: $select.search|translate"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>-->
        <div class="form-group">
        <label class="col-sm-4 control-label padding5">{{'highlyType'|translate}}</label>
        <div class="col-sm-8">
          <ui-select  ng-model="vm.machine.manufacture " ng-disabled="disabled" required>
            <ui-select-match allow-clear="true" placeholder="{{'highlyType'|translate}}">{{$select.selected.name|translate |translate}}</ui-select-match>
            <ui-select-choices repeat="heightType.id as heightType in vm.machineHeightType | propsFilter: {name: $select.search}">
              <div ng-bind-html="heightType.name | highlight: $select.search|translate"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      </div>
      <div class="map-body col-sm-9">
        <div class="row"><h5 style="padding: 0px!important;">{{'setFence'|translate}}</h5></div>
        <div class="row">
          <div class="col-md-6">
            <label class="col-sm-2 control-label padding5">{{'rentalAddress'|translate}}:</label>
            <div class="col-lg-8">
              <input type="text" id="tipinput" class="form-control" placeholder="{{'search'|translate}}"  />
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-sm-2 control-label padding5">{{'rentalRadius'|translate}}:</label>
            <div class="col-lg-6">
              <input type="text" class="form-control ng-pristine ng-valid ng-touched" placeholder="{{'rentalRadius'|translate}}" ng-model="vm.machine.radius" ng-change="vm.changeRadius(deviceAerialCurrentInfoController.radius)"
                     typeahead-show-hint="false">
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="text-nowrap">{{'selectAddress'|translate}}:</label>
            <span ng-bind="vm.machine.fenceAddress"></span>
          </div>
          <div class="col-md-6">
            <label class="control-label text-nowrap">{{'coordinate'|translate}}:</label>
            {{'longitude'|translate}}:<span ng-bind="vm.machine.amaplongitudeNum" ></span>
            {{'latitude'|translate}}:<span ng-bind="vm.machine.amaplatitudeNum"></span>
          </div>
        </div>
        <div class="form-group">
          <div class="box-body" id="newMachineMap" style="height: 450px;width: 868px" ng-style="vm.baseBoxMapContainer"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer ng-scope">
  <button class="btn btn-primary" type="button" validation-submit="newDeviceForm" ng-click="vm.addMachine()">{{'submit'|translate}}</button>
  <button class="btn btn-warning" type="button" ng-click="vm.reset()">{{'reset'|translate}}</button>
</div>
