<!--地图-->
<div class="modal-body" ng-controller="machineMonitorMapController as vm">
  <div class="row">
    <div class="col-md-1">
      <label class="control-label">{{'startDate'|translate}}:</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomTime}}"
               ng-model="vm.queryStartDate" is-open="openStartDate"
               ng-required="true" max-date="vm.queryEndDate"
               current-text="今天" clear-text="清除" close-text="关闭"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openStartDate=true">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
      </p>
    </div>
    <div class="col-md-1">
      <label class="control-label">{{'endDate'|translate}}:</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomTime}}"
               ng-model="vm.queryEndDate" is-open="openEndDate"
               ng-required="true" current-text="今天" clear-text="清除" close-text="关闭"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openEndDate=true">
              <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" type="button"
              ng-click="vm.getDeviceWarningData(0,vm.pageSize,null,'locate_date,desc',vm.deviceInfo.deviceNum,vm.queryStartDate,vm.queryEndDate)">
        {{'confirm'|translate}}
      </button>
    </div>
  </div>
  <div ng-show="vm.lnglatShow" class="text-right" style="line-height: 34px;">
          <span style="font-size: 16px;padding: 0 10px;">
            行使了 <span style="color: red;font-weight: bold;">{{vm.trackMileage}}</span> 米
          </span>
    <input type="text" id="lnglat" class="form-control" placeholder="经纬度" name="lnglat"
           style="width: 200px;float: right"/>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box-body" style="height: 600px" id="deviceDetailMap"></div>
    </div>
  </div>
</div>
