<div class="modal-body" ng-controller="machineMonitorPositionController as vm">
  <input type="hidden" ng-model="vm.deviceInfo">
  <div class="row">
    <form   class="form-horizontal">
      <div class="col-md-1">
        <label class="control-label font-nomal">{{'startDate'|translate}}:</label>
      </div>
      <div class="col-md-3">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomTime}}"
                 ng-model="vm.queryStartDate" is-open="openStartDate"
                 ng-required="true" max-date="vm.queryEndDate"
                 current-text="{{'today'|translate}}"
                 clear-text="{{'cleanUp'|translate}}"
                 close-text="{{'close'|translate}}"/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openStartDate=true">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
          </span>
        </p>
      </div>
      <div class="col-md-1">
        <label class="control-label font-nomal">{{'endDate'|translate}}:</label>
      </div>
      <div class="col-md-3">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomTime}}"
                 ng-model="vm.queryEndDate" is-open="openEndDate"
                 ng-required="true" current-text="{{'today'|translate}}"
                 clear-text="{{'cleanUp'|translate}}"
                 close-text="{{'close'|translate}}"/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openEndDate=true">
                <i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" type="button"
                ng-click="vm.getLocateDateByDate(0,vm.pageSize,null,'locate_date,desc',vm.deviceInfo.deviceNum,vm.queryStartDate,vm.queryEndDate)">
          {{'confirm'|translate}}
        </button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table ng-table="vm.deviceLocateData" class="table table-responsive  history-tab-tr-nowrap">
          <tr ng-repeat="deviceLocation in $data">
            <td ng-cloak data-title="'dataAcquisitionTime'|translate" sortable="'locateDateTime'">{{deviceLocation.locateDateTime | date:'yyyy-MM-dd HH:mm:ss' :machineMonitorPositionController.timezone}}</td>
            <td ng-cloak data-title="'address'|translate" sortable="'address'">{{deviceLocation.address}}</td>
            <td ng-cloak data-title="'gps速度'" sortable="'gpsSpeed'">{{deviceLocation.gpsSpeed | unitConversionFilter:0.01:" km/H"}}</td>
            <td ng-cloak data-title="'gps高度(装置所处位置高度)'" sortable="'gpsHeight'">{{deviceLocation.gpsHeight |unitConversionFilter:1:" m"}}</td>
            <td ng-cloak data-title="'是否激活'" sortable="'lockStatus'">{{deviceLocation.lockStatus |stateConversionFilter:'{"00":"未激活","10":"已激活"}'}}</td>
            <td ng-cloak data-title="'GPS电源检测'" sortable="'gpspowerStatus'">{{deviceLocation.gpspowerStatus |stateConversionFilter:'{"00":"正常","0":"正常","01":"无电源","10":"无信号"}'}}</td>
            <td ng-cloak data-title="'开盖状态'" sortable="'lockerStatus'">{{deviceLocation.lockerStatus|stateConversionFilter:'{"0":"未开盖","00":"未开盖","11":"已开盖"}'}}</td>
            <td ng-cloak data-title="'CAN通信是否正常'" sortable="'canStatus'">{{deviceLocation.canStatus |stateConversionFilter:'{"0":"通信中断","1":"通信正常"}'}}</td>
            <td ng-cloak data-title="'longitude'|translate" sortable="'amaplongitudeNum'"> {{deviceLocation.amaplongitudeNum}} </td>
            <td ng-cloak data-title="'latitude'|translate" sortable="''">{{deviceLocation.amaplatitudeNum}}</td>
            <!--平台接收时间-->
           <!-- <td ng-cloak data-title="'recordGenerationTime'|translate" sortable="'recordTime'">{{deviceLocation.recordTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>-->
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <uib-pagination class="pagination-sm pagination-custom"
                      boundary-links="true"
                      rotate="false" max-size="10"
                      total-items="vm.totalElements"
                      ng-change="vm.getLocateDateByDate(vm.currentPage-1,vm.pageSize,vm.totalElements,'locate_date,desc',vm.deviceInfo.deviceNum,vm.queryStartDate,vm.queryEndDate)"
                      ng-model="vm.currentPage"
                      items-per-page="vm.pageSize"
                      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
      </uib-pagination>
    </div>
  </div>
</div>

