<div class="machine-content">
  <div class="row">
    <section class="renatlcontent-header">
      <div class="col-md-4">
        <h4>新建围栏</h4>
      </div>
      <div class="col-md-8">
        <a ui-sref="rental.orgFence"><i class="fa fa-fw fa-mail-reply"></i></a>
      </div>
    </section>
  </div>
  <div class="container-fluid row">
    <form name="newRentalFence" class="form-horizontal row">
      <div class="box-body col-sm-4">
        <div class="form-group">
          <label class="col-sm-3 control-label">名称</label>
          <div class="col-md-5">
            <input type="text" id="org" class="form-control" placeholder="围栏名称"
                   ng-model="newRentalFenceController.org.label" validator="required"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'rentalLongitude'|translate}}</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="{{'automaticMatching'|translate}}"
                   readonly name="longitude"
                   ng-model="newRentalFenceController.rentalOrgFence.longitude"
                   validator="required"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'latitude'|translate}}</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="{{'automaticMatching'|translate}}" readonly
                   ng-model="newRentalFenceController.rentalOrgFence.latitude" name="latitude"
                   typeahead-show-hint="true" validator="required"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'radius'|translate}}</label>
          <div class="col-sm-5">
            <input type="text" class="form-control"
                   ng-model="newRentalFenceController.rentalOrgFence.radius"
                   ng-change="newRentalFenceController.changeradius(newRentalFenceController.rentalOrgFence.radius)" name="radius"
                   validator="number" typeahead-show-hint="true" validator="required"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'description'|translate}}</label>
          <div class="col-sm-5">
              <textarea class="form-control" placeholder="{{'description'|translate}}"
                        ng-model="newRentalFenceController.rentalOrgFence.description" name="description"
                        typeahead-show-hint="true">

              </textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 col-md-offset-1">
            <button class="btn btn-primary" ng-click="newRentalFenceController.ok()">{{'confirm'|translate}}
            </button>
            <button class="btn btn-warning" type="button" ng-click="newRentalFenceController.cancel()">
              {{'cancel'|translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="map-body col-sm-8">
        <div class="form-group">
          <label class="col-sm-2 control-label">围栏地址</label>
          <input type="text" class="form-control col-sm-7" id="tipinput"
                 placeholder="{{'search'|translate}}"
                 ng-model="newRentalFenceController.rentalOrgFence.fenceAddress"/>
        </div>
       <!-- <div class="row">
          <div class="col-md-12">
            <label class="control-label text-nowrap">{{'coordinate'|translate}}:</label>
            {{'longitude'|translate}}:
            <span style="color: red;"> {{newRentalFenceController.rentalOrgFence.longitude}}</span>
            {{'latitude'|translate}}:
            <span style="color: red;"> {{newRentalFenceController.rentalOrgFence.latitude}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="text-nowrap">{{'selectAddress'|translate}}:</label>
            <span style="color: red;"> {{newRentalFenceController.rentalOrgFence.selectAddress }}</span>
          </div>
        </div>-->
        <div class="form-group" style="margin-right: 10px">
          <div class="box-body" id="newOrderMap" ng-style="newRentalFenceController.baseBoxMapContainer"></div>
        </div>
      </div>
    </form>
  </div>
</div>
