<div class="modal-header modal-header-padding">
  <div class="modal-title">
    <div class="modal-title-text">
      {{'newFence'|translate}}
    </div>
  </div>
</div>

<div class="row modal-body" style=" margin-left:10px ;padding-top: 0px!important;">
  <div class="container-fluid row">
    <div class="box-body col-sm-4 col-md-4">
      <form name="newRentalFence" class="form-horizontal row">
        <div class="form-group">
          <label class="col-sm-3 control-label font-nomal">{{'name'|translate}}:</label>
          <div class="col-md-7">
            <input type="text" id="fenceName" class="form-control" placeholder="{{'fenceName'|translate}}"
                   name="fenceName" ng-model="newRentalFenceCtrl.rentalOrgFence.fenceName"  />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label font-nomal">{{'rentalLongitude'|translate}}:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="{{'automaticMatching'|translate}}"
                   readonly name="longitude"
                   ng-model="newRentalFenceCtrl.rentalOrgFence.longitude"
                   validator="required"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label font-nomal">{{'latitude'|translate}}:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" placeholder="{{'automaticMatching'|translate}}" readonly
                   ng-model="newRentalFenceCtrl.rentalOrgFence.latitude" name="latitude"
                   typeahead-show-hint="true" validator="required"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label font-nomal">{{'radius'|translate}}:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control"
                   ng-model="newRentalFenceCtrl.rentalOrgFence.radius"
                   ng-change="newRentalFenceCtrl.changeradius(newRentalFenceCtrl.rentalOrgFence.radius)" name="radius"
                   validator="number" typeahead-show-hint="true" validator="required"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label font-nomal">{{'description'|translate}}:</label>
          <div class="col-sm-7">
              <textarea class="form-control" placeholder="{{'description'|translate}}"
                        ng-model="newRentalFenceCtrl.rentalOrgFence.description" name="description"
                        typeahead-show-hint="true">

              </textarea>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-md-12 col-md-offset-1">
            <button class="btn btn-primary" type="button" validation-submit="newRentalFence" ng-click="newRentalFenceCtrl.ok()">{{'confirm'|translate}}</button>
            <button class="btn btn-warning" type="button" ng-click="newRentalFenceCtrl.cancel()">{{'cancel'|translate}}</button>
          </div>
        </div>
      </form>
    </div>

    <div class="box-body col-sm-8 col-md-8">
      <form name="newRentalFence" class="form-horizontal row">
       <div class="form-group row">
        <label class="col-sm-3 control-label font-nomal">{{'fenceAddress'|translate}}:</label>
        <input type="text" class="form-control col-sm-4" id="tipinput"
               placeholder="{{'search'|translate}}"
               ng-model="newRentalFenceCtrl.rentalOrgFence.fenceAddress"/>
      </div>
      </form>
      <div class="map-body row ">

        <div class="form-group" style="margin-right: 10px">
          <div class="box-body" id="newOrderMap" style="height: 300px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>


