<div class="modal-header modal-header-padding">
  <div class="modal-title">
    <div class="modal-title-text">{{'processingAalarm'|translate}}</div>
    <div class="modal-title-btn">
      <div ng-click="vm.cancel()"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
  </div>
</div>
<div class="row modal-body" style="padding-top: 0px!important;">
  aa<br>
  bb<br>
  cc
</div>
<div class="modal-footer ng-scope">
  <button class="btn btn-primary" type="button" validation-submit="newDeviceForm">{{'submit'|translate}}</button>
  <button class="btn btn-warning" type="button" ng-click="vm.reset()">{{'reset'|translate}}</button>
</div>
