<div class="modal-header modal-header-padding">
  <div class="modal-title">
    <div class="modal-title-text">{{'processingAalarm'|translate}}</div>
    <div class="modal-title-btn">
      <div ng-click="vm.cancel()"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
  </div>
</div>
<div class="row modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label " style="text-align: center">描述</label>
      <div class="col-sm-9" >
        <textarea class="form-control" rows="3" placeholder="描述" style="width: 75%!important;"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label "  style="text-align: center">自定义短信内容</label>
      <div class="col-sm-9">
        <input type="text"  class="form-control ng-pristine ng-valid ng-touched"
               placeholder="短信内容"  style="width: 75%!important;">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label "  style="text-align: center">短信接收人</label>
      <div class="col-sm-9">
        <input type="text"  class="form-control ng-pristine ng-valid ng-touched"
               placeholder="邮件或手机号"  style="width: 75%!important;">
      </div>
    </div>

  </form>
</div>
<div class="modal-footer ng-scope">
  <button class="btn btn-primary" type="button">{{'processAlarm'| translate}}</button>
  <button class="btn btn-warning" type="button">{{'reset'| translate}}</button>
</div>
