<div class="machine-content" resize>
  <div id="currentState" class="container-fluid">
    <section class="renatlcontent-header">
      <h1>
        <small>{{'rentalCurrentLocate'|translate}}:</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-car"></i>{{'vehicleManagement'| translate}}</a></li>
        <li class="active"><i class="fa fa-file-text-o"></i>{{'fenceMng'|translate}}</li>
      </ol>
    </section>

    <div class="info-box-container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="info-card cost-info-height">
            <div class="info-title">{{'rentalGeoFence'| translate}}</div>
            <div class="info-data">{{rentalFenceMngController.fenceStatus.fenceCount}}</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="info-card cost-info-height">

            <div class="info-title">{{'rentalValid'| translate}}</div>
            <div class="info-data">{{rentalFenceMngController.fenceStatus.normalCount}}</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="info-card cost-info-height">
            <div class="info-title">{{'rentalInvalid'| translate}}</div>
            <div class="info-data">{{rentalFenceMngController.fenceStatus.lapseCount}}</div>
          </div>

        </div>
      </div>

    </div>

    <div class=" info-box-container table-wrapper ">

      <form class="form-horizontal" role="form">
        <div class="form-group ">
          <label class="col-md-1 control-label font-nomal">{{'fenceName'| translate}}:</label>
          <div class="col-md-2">
              <input type="text"  class="form-control" style="border-radius: 4px" placeholder="{{'fenceName'| translate}}" ng-model="rentalFenceMngController.searchCondition.fenceName" />
          </div>
          <label class="col-md-1 control-label font-nomal">{{'fenceAddress'| translate}}:</label>
          <div class="col-md-2">

            <p class="input-group">
              <input type="text" class="form-control" style="border-radius: 4px"  placeholder="{{'fenceAddress'| translate}}" ng-model="rentalFenceMngController.searchCondition.fenceAddress" />
            </p>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3">


            <button class="btn btn-primary" type="button"
                    ng-click="rentalFenceMngController.query(null,null,null,rentalFenceMngController.searchCondition)">{{'search'|translate}}
            </button>
            <button class="btn btn-default" type="button" ng-click="rentalFenceMngController.searchCondition=null">{{'rentalReset'|translate}}</button>
            <button class="btn btn-primary pull-right" type="button"
                    ng-click="rentalFenceMngController.new()">{{'rentalAdd'|translate}}
            </button>
          </div>
          </div>
        </div>
      </form>
      <div class="form-group table-wrapper" ng-style="rentalFenceMngController.baseBoxContainer">
        <div class="col-lg-12 table-responsive "><!--表格框-->
          <table ng-table="rentalFenceMngController.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
            <tr ng-repeat="rentalOrgFence in $data">
              <td class="text-nowrap" data-title="'fenceName'|translate" sortable="'label'">{{rentalOrgFence.fenceName }}</td>
              <td class="text-nowrap" data-title="'fenceAddress'|translate" sortable="'label'">{{rentalOrgFence.fenceAddress }}</td>
              <td class="text-nowrap" data-title="'rentalLongitude'|translate" sortable="'longitude'">{{rentalOrgFence.longitude }}</td>
              <td class="text-nowrap" data-title="'rentalLatitude'|translate" sortable="'latitude'">{{rentalOrgFence.latitude }}</td>
              <td class="text-nowrap" data-title="'rentalRadius'|translate" sortable="'radius'">{{rentalOrgFence.radius }}</td>
              <td class="text-nowrap" data-title="'rentalCreateTime'|translate" sortable="'createTime'">{{rentalOrgFence.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
              <td class="text-nowrap" data-title="'founder'|translate" sortable="'createTime'">{{rentalOrgFence.createUser}}</td>
              <td class="text-nowrap" data-title="'modificationTime'|translate" sortable="'updateTime'">{{rentalOrgFence.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
              <td class="text-nowrap" data-title="'modifier'|translate" sortable="'updateTime'">{{rentalOrgFence.updateUser}}</td>
              <td class="text-nowrap" data-title="'rentalOperations'|translate">
                <button type="button" class="btn btn-danger btn-xs"
                        ng-click="rentalFenceMngController.delete(rentalOrgFence.id)">{{'rentalDelete'| translate}}
                </button>
                <button type="button" class="btn btn-default btn-xs"
                        ng-click="rentalFenceMngController.view(rentalOrgFence.id)">{{'manage'|translate}}
                </button>

              </td>



            </tr>
          </table>
        </div>
        <div class="col-lg-12"><!--分页框-->
          <uib-pagination total-items="rentalFenceMngController.page.totalElements"
                          ng-change="rentalFenceMngController.query(rentalFenceMngController.pageNumber-1,null,null,null)"
                          max-size="5"
                          ng-model="rentalFenceMngController.pageNumber"
                          items-per-page="rentalFenceMngController.page.size"
                          class="pagination-sm" boundary-links="true" rotate="false"
                          previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
          </uib-pagination>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
