@device-exc-image-width: 54px;
@device-exc-image-height: 48px;
@device-exc-normal-icon-image-path: 'assets/images/excavator-normal.png';
@device-exc-warning-icon-image-path: "assets/images/excavator-warning.png";

//应急转向
.emergencysteeringNormal{
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -110px -28px;
}
.emergencysteeringWarning{
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -110px -28px;
}
//安全解锁
.securityunlockNormal{
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  //background-position:
}
//应急转向
.securityunlockWarning{
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  //background-position:
}
//左转
.excTurnLeftNormal {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -107px -26px;
}
.excTurnLeftWarning {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-warning-icon-image-path}") no-repeat;
  background-position: -118px -24px;
}

//三角警示灯
.excTriangleLightNormal{
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -168px -25px;
}
.excTriangleLightWarning{
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-warning-icon-image-path}") no-repeat;
  background-position: -175px -21px;
}

//右转
.excTurnRightNormal {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -228px -25px;
}
.excTurnRightWarning {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-warning-icon-image-path}") no-repeat;
  background-position: -230px -21px;
}

//发动机机油压力报警
.excEngineOilPressureNormal {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -31px -381px;
}
.excEngineOilPressureWarning {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-warning-icon-image-path}") no-repeat;
  background-position: -35px -396px;
}
//充电
.excChargeNormal {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -103px -380px;
}
.excChargeWarning {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-warning-icon-image-path}") no-repeat;
  background-position: -110px -398px;
}

//空气滤清器堵塞报警
.excAirFilterNormal {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -175px -381px;
}
.excAirFilterWarning {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-warning-icon-image-path}") no-repeat;
  background-position: -184px -392px;
}

//发动机冷却液温度报警
.excColderOilTempNormal {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -246px -380px;
}
.excColderOilTempWarning {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-warning-icon-image-path}") no-repeat;
  background-position: -254px -393px;
}

//发动机故障指示
.excEngineErrorNormal {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -30px -439px;
}
.excEngineErrorWarning {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-warning-icon-image-path}") no-repeat;
  background-position: -45px -455px;
}
//油水分离器报警
.excOilWaterNormal {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -103px -439px;
}
.excOilWaterWarning {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-warning-icon-image-path}") no-repeat;
  background-position: -108px -453px;
}
//行走高速指示
.excHighSpeedNormal{
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -172px -441px;
}
.excHighSpeedWarning{
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-warning-icon-image-path}") no-repeat;
  background-position: -182px -459px;
}
//预热指示
.excPreWarmNormal {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-normal-icon-image-path}") no-repeat;
  background-position: -246px -441px;
}
.excPreWarmWarning {
  width: @device-exc-image-width;
  height: @device-exc-image-height;
  background: url("@{base-url}/@{device-exc-warning-icon-image-path}") no-repeat;
  background-position: -259px -455px;
}
