.leftBox{

  .filter-wrapper{
    //background: #E8E8E8;
    //padding: 10px;
    //border-radius: 5px;

    .filter{
      margin: 10px 0;
    }

    .filter-group{
      min-width: 40px;
    }
  }

  .mapContainerBox{
    float: left;

    .mapContainer{
      height: 500px;
      border: 1px solid #ccc;
    }

    .mapInfo-Container{
      position: absolute;
      top: 50px;
      right: 20px;

      .info-item {
        background: #C1C1C1;
        border: 0;
        padding: 2px;
        font-size: 12px;
      }
    }

    .backChina{
      position: absolute;
      top: 0;
      left: 0;
    }

  }
}

.rightBox{

  .subMap{
    min-height: 250px;
    margin-top: 20px;
    border: 1px solid #ccc;
  }
}

.bottomBox{

  .chart-container{
    height:300px;
    margin-top: 50px;
    display: inline-block;
    float: left;
  }
}
