.machineCompared{
  .leftBox{

    .filter-wrapper{

      .filter{
        margin: 10px 0;
      }

      .button-wrapper {
        display: inline-block;
        margin-left: 80px;
      }

      .filter-group{
        min-width: 245px;
      }
    }

    .mapContainerBox{
      float: left;

      .mapContainer{
        height: 500px;
        border: 1px solid #ccc;
      }

      .mapInfo-Container{
        position: absolute;
        top: 50px;
        right: 20px;

        .info-item {
          background: #C1C1C1;
          border: 0;
          padding: 2px;
          font-size: 12px;
        }
      }

      .backChina{
        position: absolute;
        top: 0;
        left: 0;
      }

    }
  }

  .rightBox{

    .filter-wrapper{
      min-height: 100px;
    }

    .subMap{
      min-height: 250px;
      margin-top: -1px;
      border: 1px solid #ccc;
    }
  }

  .bottomBox{

    .chart-container{
      height:300px;
      margin-top: 50px;
      display: inline-block;
      float: left;
    }
  }
}
