#machineCompared{
  position: relative;
  width: 100%;
  height: 930px;
  .leftBox{
    position: absolute;
    left: 0;
    top: 0;
    width: 65%;
    height: 900px;
    padding:20px 10px;
    .form-group{
      margin-bottom: 10px;
    } }
  .detdistribution{
    margin-top: 10px;
    min-height: 150px;
    //height: 200px;
    height: 30%;
    border: 1px solid #EEE;
  }
}
