.machine-content {
  padding-top: 50px;
}

.info-box-container {
  padding-top: 15px;

}

.base-box-container {
  padding: 0px 0px 5px 15px;
}

.base-left-map-box-container {
  margin-bottom: 0px !important;
  margin-left: -15px;
}


.nav-container{
  width: 250px;
  position: fixed;
  top: 100px;
  right: 100px;
  z-index: 9999;

  .nav-title {
    width: 60px;
    height: 60px;
    position: absolute;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background: #e83232;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.4);
    -webkit-transition: all 0.2s ease-in, all 0.2s ease-out;
    transition: all 0.2s ease-in, all 0.2s ease-out;

    i{
      color: #fff;
      position: absolute;
      top: 16px;
      left: 18px;
    }
  }

  .nav-active{
    //less bug
    @offset:60px;
    height: calc(~"100%  + @{offset}");
  }

  .nav-list{
    list-style-type: none;
    display: block;
    top: 60px;
    padding: 0;
    z-index: 2;
    position: relative;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-in, all 0.2s ease-out;
    transition: all 0.2s ease-in, all 0.2s ease-out;

    .nav-btn-link{
      height:42px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;

      i{
        position: absolute;
        right: 18px;
        font-size: 28px;
      }
    }
  }

  .nav-list-open{
    visibility: visible;
  }

  .nav-btn-link:hover{
    color: #FFC800;
  }


  .nav-overlay{
    position: fixed;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}
