.machine-content {
  padding-top: 50px;
}

.info-box-container {
  padding-top: 15px;

}

.base-box-container {
  padding: 0px 0px 5px 15px;
}

.base-left-map-box-container {
  margin-bottom: 0px !important;
  margin-left: -15px;
}


