.minemngFilterSelect {
  padding: 3px 12px!important;
  text-align: left;
  input {
    width: 100%!important;
  }
}

.cleanDateButton .uib-button-bar .btn-group {
  display: none;
}

.control-label .input-must {
  color: #ff3c00;
  position: absolute;
  right: 3px;
  top: 7px;
  font-size: 20px;
}
