.machine-small-box-content-cover{
  background-color: #ffffff !important;
  margin-top: 10px;

  li{
    list-style: none;
    padding-top: 4px;
    border-bottom: 1px solid #c8c8c8;padding-left: 5px;
  }
}

.history-tab-content-search{
  padding-top: 20px;
  padding-bottom: 20px;
}

.machine-small-box-content-1-cover{
  border-right: 1px solid #ffffff !important;
}
