

<div class="modal-header">
<h3 class="modal-title">{{'unUsedMachineList'|translate}}

</h3>
</div>
<section class="content">

  <div class="row" ng-style="newOrderMoveMachineCtrl.baseBoxContainer">
    <script id="selectAllHeader" type="text/ng-template">
    <input type="checkbox"  ng-click="newOrderMoveMachineCtrl.updateAllSelection($event)"
    ng-model="machineMngCtrl.checked">
    </script>
    <div class="col-md-12 table-responsive" >
      <table ng-table="newOrderMoveMachineCtrl.tableParams" class="table table-bordered table-hover table-condensed editable-table demoTable"
             ng-form="newOrderMoveMachineCtrl.tableForm"
             disable-filter="newOrderMoveMachineCtrl.isAdding"
             demo-tracked-table="newOrderMoveMachineCtrl.tableTracker">

        <tr ng-repeat="machine in $data"  ng-form="machineForm" newOrderMoveMachineCtrl-tracked-table-row="machine" >
          <td class="text-nowrap" data-header="'selectAllHeader'">
              <input type="checkbox" ng-checked="newOrderMoveMachineCtrl.isSelected(machine.id)"
              ng-click="newOrderMoveMachineCtrl.updateSelection($event,machine)" ng-model="machine.checked">
          </td>
          <td title="'车号'" filter="{licenseId: 'text'}" sortable="'licenseId'" ng-switch="machine.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" ng-form="name" newOrderMoveMachineCtrl-tracked-table-cell>
            <span ng-switch-default class="editable-text">{{machine.licenseId}}</span>

          </td>
          <td title="'组织'"  filter="{label: 'text'}" sortable="'label'" ng-switch="machine.isEditing" ng-class="label.$dirty ? 'bg-warning' : ''" ng-form="label" newOrderMoveMachineCtrl-tracked-table-cell>
            <span ng-switch-default class="editable-text">{{machine.label}}</span>

          </td>
          <td title="'工作天数'" filter="{wordays: 'number'}" sortable="'wordays'" ng-switch="machine.isEditing" ng-class="wordays.$dirty ? 'bg-warning' : ''" ng-form="wordays" newOrderMoveMachineCtrl-tracked-table-cell>
            <span ng-switch-default class="editable-text">{{machine.wordays}}</span>
            <div class="controls" ng-class="wordays.$invalid && wordays.$dirty ? 'has-error' : ''" ng-switch-when="true">
              <input type="number" name="wordays" ng-model="machine.wordays" class="editable-input form-control input-sm" min="0" required/>
            </div>
          </td>
          <td>
            <button class="btn btn-primary btn-sm" ng-click="newOrderMoveMachineCtrl.save(machine, machineForm)" ng-if="machine.isEditing" ng-disabled="machineForm.$pristine || machineForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
            <button class="btn btn-default btn-sm" ng-click="newOrderMoveMachineCtrl.cancel(machine, machineForm)" ng-if="machine.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-default btn-sm" ng-click="machine.isEditing = true" ng-if="!machine.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
          </td>
        </tr>
      </table>

      <uib-pagination total-items="newOrderMoveMachineCtrl.page.totalElements"
                        ng-change="newOrderMoveMachineCtrl.queryMachine(newOrderMoveMachineCtrl.machineOption,newOrderMoveMachineCtrl.machineType,newOrderMoveMachineCtrl.pageNumber-1,null,null)"
                        max-size="5" ng-model="newOrderMoveMachineCtrl.pageNumber" items-per-page="newOrderMoveMachineCtrl.page.size"
                        class="pagination-sm" boundary-links="true" rotate="false"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
  </div>
  <div class="pull-right">
    <button class="btn btn-primary" type="button" ng-click="newOrderMoveMachineCtrl.moveConfirm()">{{'confirm'|translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="newOrderMoveMachineCtrl.moveCancel()">{{'cancel'|translate}}</button>
  </div>


</section>


