<div class="machine-content" xmlns="http://www.w3.org/1999/html">

  <section class="content-header">
    <h1>
      <small>{{'currentPosition'|translate}}:</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-taxi"></i>{{'rentalMng'| translate}}</a></li>
      <li class="active"><i class="fa  fa-user"></i>车辆保养</li>
    </ol>
  </section>

  <div class="container-fluid">


    <div class="box-header with-border">
      <h3 class="box-title">新建保养信息</h3>
    </div>
    <form name="newrentalCustomerForm2" class="form-horizontal">
      <div class="modal-body">
        <div class="box-body">

          <div class="form-group">
            <label class="col-sm-3 control-label">选择车辆</label>
            <div class="col-md-5">
              <p class="input-group">

                <input type="text" id="org" class="form-control" placeholder="请选择"
                       ng-model="newRentalMaintenanceController.customer.name" name="customer" readonly
                       validator="required"/>
                <span class="input-group-btn">
          <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="newRentalMaintenanceController.selectMachine('lg')">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
              </p>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-3 control-label">描述</label>
            <div class="col-sm-5">
              <textarea class="form-control" placeholder="描述"
                     ng-model="newRentalMaintenanceController.rentalCustomer.description" name="description" typeahead-show-hint="true">

              </textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="box-footer">
      <button class="btn btn-primary" type="button" validation-submit="newrentalCustomerForm2" ng-click="newRentalMaintenanceController.ok()">{{'confirm'|translate}}</button>
      <button class="btn btn-warning" type="button" ng-click="newRentalMaintenanceController.cancel()">{{'cancel'|translate}}</button>
    </div>



  </div>



</div>
