  <div class="modal-header modal-header-padding">
    <div class="modal-title">
      <div class="modal-title-text">
        {{'newOrder'|translate}}
      </div>
    </div>
  </div>
  <div class="modal-body">
    <form name="newrentalOrderForm" class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <label for="orderNumber" class="col-md-2 control-label font-nomal">{{'rentalOrderNumber'|translate}}:</label>
          <div class="col-md-3">
            <input type="text" class="form-control" id="orderNumber" placeholder="{{'rentalOrderNumber'|translate}}" ng-model="newRentalOrderCtrl.rentalOrder.orderNumber" name="orderNumber" typeahead-show-hint="true" validator="required" />
          </div>
          <label class="col-md-2 control-label font-nomal">{{'rentalCustomerName'|translate}}:</label>
          <div class="col-md-3">
            <div class="input-group">

              <input type="text" id="org" class="form-control" placeholder="{{'pleaseSelect'|translate}}" ng-model="newRentalOrderCtrl.rentalOrder.rentalCustomer.name" name="customer" validator="required" readonly/>
              <span class="input-group-btn vertical-align_top">
          <!--打开组织树-->
                <button type="button" class="btn btn-default"  ng-click="newRentalOrderCtrl.selectCustomer('lg')">
                  <i class="fa fa-sitemap"></i>
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label font-nomal">{{'rentalStartingDate'|translate}}(<span class="text-red">*</span>):</label>
          <div class="col-md-3">
            <div class="input-group">
              <input type="text" name="startDate" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}" ng-model="newRentalOrderCtrl.rentalOrder.startDate" is-open="newRentalOrderCtrl.startDateSetting.status.opened"
                     datepicker-options="newRentalOrderCtrl.startDateSetting.dateOptions"
                     current-text="{{'today'|translate}}"
                     clear-text="{{'cleanUp'|translate}}"
                     close-text="{{'close'|translate}}"  readonly required/>

              <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="newRentalOrderCtrl.startDateSetting.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
            </div>
          </div>

          <label class="col-md-2 control-label font-nomal">{{'rentalEndDate'|translate}}(<span class="text-red">*</span>):</label>
          <div class="col-md-3">
            <div class="input-group">
              <input type="text" name="endDate" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}" ng-model="newRentalOrderCtrl.rentalOrder.endDate" is-open="newRentalOrderCtrl.endDateSetting.status.opened"
                     datepicker-options="newRentalOrderCtrl.endDateSetting.dateOptions"
                     current-text="{{'today'|translate}}"
                     clear-text="{{'cleanUp'|translate}}"
                     close-text="{{'close'|translate}}"  readonly required/>

              <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="newRentalOrderCtrl.endDateSetting.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
            </div>
          </div>
        </div>
        <div class="form-group">

          <label class="col-md-2 control-label font-nomal">{{'paymentMethod'|translate}}:</label>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="{{'paymentMethod'|translate}}" ng-model="newRentalOrderCtrl.rentalOrder.payType" name="payType" typeahead-show-hint="true" validator="required" />
          </div>
          <label class="col-md-2 control-label font-nomal">{{'rentalWorkLocation'|translate}}:</label>
          <div class="col-md-3">
            <input type="text" class="form-control" ng-model="newRentalOrderCtrl.rentalOrder.location" name="location" validator="required" typeahead-show-hint="true" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label font-nomal">{{'deposit'|translate}}:</label>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="{{'deposit'|translate}}" ng-model="newRentalOrderCtrl.rentalOrder.deposit" name="deposit" typeahead-show-hint="true" validator="number" />
          </div>

          <label class="col-md-2 control-label font-nomal">{{'amount'|translate}}:</label>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="{{'amount'|translate}}" ng-model="newRentalOrderCtrl.rentalOrder.totalAmt" name="totalAmt" typeahead-show-hint="true" validator="number" />
          </div>
        </div>

        <div class="form-group">

          <label class="col-md-2 control-label font-nomal">{{'descritpion'|translate}}:</label>
          <div class="col-md-3">
						<input type="text" class="form-control" placeholder="{{'descritpion'|translate}}" ng-model="newRentalOrderCtrl.rentalOrder.description" name="description" typeahead-show-hint="true" />

          </div>
        </div>
        <div class="form-group">
          <div class="col-md-1">
            <label class=" control-label font-nomal">{{'剪叉'|translate}}:</label>
          </div>
          <div class="col-md-11">

            <label class="col-md-1 control-label font-nomal">数量(<span class="text-red">*</span>):</label>
            <div class="col-md-2">
              <input type="text" class="form-control" ng-model="newRentalOrderCtrl.jcOption.quantity" placeholder="0"  validator="number" typeahead-show-hint="true" />
            </div>

            <label class="col-md-1 control-label font-nomal">高度(<span class="text-red">*</span>):</label>
            <div class="col-md-2">
              <ui-select name="deviceHeightType" ng-model="newRentalOrderCtrl.jcOption.deviceHeightType" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'highlyType'|translate}}">{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="deviceHeightType in newRentalOrderCtrl.deviceHeightTypeList">
                  <div ng-bind-html="deviceHeightType.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <label class="col-md-1 control-label font-nomal">{{'rentalBrand'|translate}}(<span class="text-red">*</span>):</label>
            <div class="col-md-2">
              <ui-select name="deviceManufacture" ng-model="newRentalOrderCtrl.jcOption.deviceManufacture" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'rentalBrand'|translate}}">{{$select.selected.name|translate}}
                </ui-select-match>
                <ui-select-choices repeat="deviceManufacture in newRentalOrderCtrl.deviceManufactureList">
                  <div ng-bind-html="deviceManufacture.name | highlight: $select.search|translate"></div>
                </ui-select-choices>
              </ui-select>
            </div>


            <label class="col-md-2 control-label font-nomal">{{'dayPrice'|translate}}(<span class="text-red">*</span>):</label>
            <div class="col-md-1">
              <input type="text" class="form-control" ng-model="newRentalOrderCtrl.jcOption.price" placeholder="0"  validator="number" typeahead-show-hint="true" />

            </div>

          </div>
        </div>

        <div class="form-group">
          <div class="col-md-1">
            <label class=" control-label font-nomal">{{'直臂'|translate}}:</label>
          </div>
          <div class="col-md-11">

            <label class="col-md-1 control-label font-nomal">数量:</label>
            <div class="col-md-2">
              <input type="text" class="form-control" ng-model="newRentalOrderCtrl.zbOption.quantity" placeholder="0"   typeahead-show-hint="true" />
            </div>

            <label class="col-md-1 control-label font-nomal">高度:</label>
            <div class="col-md-2">
              <ui-select name="deviceHeightType" ng-model="newRentalOrderCtrl.zbOption.deviceHeightType" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'highlyType'|translate}}">{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="deviceHeightType in newRentalOrderCtrl.deviceHeightTypeList">
                  <div ng-bind-html="deviceHeightType.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <label class="col-md-1 control-label font-nomal">{{'rentalBrand'|translate}}:</label>
            <div class="col-md-2">
              <ui-select name="deviceManufacture" ng-model="newRentalOrderCtrl.zbOption.deviceManufacture" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'rentalBrand'|translate}}">{{$select.selected.name|translate}}
                </ui-select-match>
                <ui-select-choices repeat="deviceManufacture in newRentalOrderCtrl.deviceManufactureList">
                  <div ng-bind-html="deviceManufacture.name | highlight: $select.search|translate"></div>
                </ui-select-choices>
              </ui-select>
            </div>


            <label class="col-md-2 control-label font-nomal">{{'dayPrice'|translate}}:</label>
            <div class="col-md-1">
              <input type="text" class="form-control" ng-model="newRentalOrderCtrl.zbOption.price" placeholder="0"   typeahead-show-hint="true" />

            </div>

          </div>
        </div>

        <div class="form-group">
          <div class="col-md-1">
            <label class=" control-label font-nomal">{{'曲臂'|translate}}:</label>
          </div>
          <div class="col-md-11">
            <label class="col-md-1 control-label font-nomal">数量:</label>
            <div class="col-md-2">
              <input type="text" class="form-control" ng-model="newRentalOrderCtrl.qbOption.quantity" placeholder="0"   typeahead-show-hint="true" />
            </div>

            <label class="col-md-1 control-label font-nomal">高度:</label>
            <div class="col-md-2">
              <ui-select name="deviceHeightType" ng-model="newRentalOrderCtrl.qbOption.deviceHeightType" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'highlyType'|translate}}">{{$select.selected.name|translate}}
                </ui-select-match>
                <ui-select-choices repeat="deviceHeightType in newRentalOrderCtrl.deviceHeightTypeList">
                  <div ng-bind-html="deviceHeightType.name | highlight: $select.search|translate"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <label class="col-md-1 control-label font-nomal">{{'rentalBrand'|translate}}:</label>
            <div class="col-md-2">
              <ui-select name="deviceManufacture" ng-model="newRentalOrderCtrl.qbOption.deviceManufacture" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'rentalBrand'|translate}}">{{$select.selected.name|translate}}
                </ui-select-match>
                <ui-select-choices repeat="deviceManufacture in newRentalOrderCtrl.deviceManufactureList">
                  <div ng-bind-html="deviceManufacture.name | highlight: $select.search|translate"></div>
                </ui-select-choices>
              </ui-select>
            </div>


            <label class="col-md-2 control-label font-nomal">{{'dayPrice'|translate}}:</label>
            <div class="col-md-1">
              <input type="text"  class="form-control" ng-model="newRentalOrderCtrl.qbOption.price" placeholder="0"   typeahead-show-hint="true" />

            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="form-group" style="text-align: center;">
      <button class="btn  btn-primary " type="button" style="margin-right: 8px;" validation-submit="newrentalOrderForm" ng-click="newRentalOrderCtrl.ok(newRentalOrderCtrl.rentalOrder)">{{'confirm'|translate}}
      </button>
      <button class="btn  btn-warning  " type="button" ng-click="newRentalOrderCtrl.cancel()">
        {{'cancel'|translate}}
      </button>
    </div>
  </div>


