<div class="machine-content" xmlns="http://www.w3.org/1999/html">
  <!--<section class="renatlcontent-header">-->
    <!--<h1>-->
      <!--<small>{{'currentPosition'|translate}}:</small>-->
    <!--</h1>-->
    <!--<ol class="breadcrumb">-->
      <!--<li><a href="#"><i class="fa fa-car"></i>{{'rentalMng'| translate}}</a></li>-->
      <!--<li class="active"><i class="fa fa-file-text-o"></i>{{'orderMng'| translate}}</li>-->
    <!--</ol>-->
  <!--</section>-->

  <div class="container-fluid">

    <div class="box-header with-border">
      <h3 class="box-title">{{'newOrder'|translate}}</h3>
    </div>
    <form name="newrentalOrderForm2" class="form-horizontal">
      <div class="box-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'rentalCustomerName'|translate}}</label>
            <div class="col-md-5">
              <p class="input-group">

                <input type="text" id="org" class="form-control" placeholder="{{'pleaseSelect'|translate}}"
                       ng-model="newRentalOrderController.customer.name" name="customer" validator="required" readonly/>
                <span class="input-group-btn">
          <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="newRentalOrderController.selectCustomer('lg')">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'amount'|translate}}</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="{{'amount'|translate}}"
                     ng-model="newRentalOrderController.rentalOrder.totalAmt" name="totalAmt"
                     typeahead-show-hint="true" validator="number"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">{{'deposit'|translate}}</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="{{'deposit'|translate}}"
                     ng-model="newRentalOrderController.rentalOrder.deposit" name="deposit"
                     typeahead-show-hint="true" validator="number"/>
            </div>

          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">{{'paymentMethod'|translate}}</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="{{'paymentMethod'|translate}}"
                     ng-model="newRentalOrderController.rentalOrder.payType" name="payType"
                     typeahead-show-hint="true" validator="required"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">{{'rentalStartingDate'|translate}}</label>
            <div class="col-sm-5">
              <p class="input-group">
                <input type="text" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}"
                       ng-model="newRentalOrderController.rentalOrder.startDate"
                       is-open="newRentalOrderController.startDateSetting.status.opened"
                       datepicker-options="newRentalOrderController.startDateSetting.dateOptions" close-text="Close"
                        message-id="bootstrap" readonly/>

                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="newRentalOrderController.startDateSetting.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
              <span id="bootstrap"></span>

            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'rentalEndDate'|translate}}</label>
            <div class="col-sm-5">
              <p class="input-group">
                <input type="text" name="endDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                       ng-model="newRentalOrderController.rentalOrder.endDate"
                       is-open="newRentalOrderController.endDateOpenStatus.opened"
                       datepicker-options="dateOptions" close-text="Close" readonly/>
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="newRentalOrderController.endDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </p>
            </div>
          </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'rentalWorkLocation'|translate}}</label>
          <div class="col-sm-5">
            <input type="text" class="form-control"
                   ng-model="newRentalOrderController.rentalOrder.location"
                    name="location"
                   validator="required" typeahead-show-hint="true"/>
          </div>
        </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">{{'rentalScissorLiftNumbers'|translate}}</label>
            <div class="col-sm-5">
              <input type="text" class="form-control"
                     ng-model="newRentalOrderController.rentalOrder.jc"
                     placeholder="0" name="jc"
                     validator="number" typeahead-show-hint="true"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'rentalBoomLiftNubmers'|translate}}</label>
            <div class="col-sm-5">
              <input type="text" class="form-control"
                     ng-model="newRentalOrderController.rentalOrder.zb"
                     placeholder="0" name="zb"
                     validator="number" typeahead-show-hint="true"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'rentalArticulatingBoomLiftNumbers'|translate}}</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="0" name="qb"
                     ng-model="newRentalOrderController.rentalOrder.qb"
                     validator="number" typeahead-show-hint="true"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">{{'descritpion'|translate}}</label>
            <div class="col-sm-5">
              <textarea class="form-control" placeholder="{{'description'|translate}}"
                        ng-model="newRentalOrderController.rentalOrder.description" name="description"
                        typeahead-show-hint="true">

              </textarea>
            </div>
          </div>

          <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label"></label>-->
            <!--<div class="col-sm-5">-->
              <!--<label>-->
                <!--<input type="checkbox" name="locationAlarmReceiver" ng-model="newRentalOrderController.locationAlarmReceiverChk" id="locationAlarmReceiver">-->
                <!--接收机器位置异常报警(勾选时会收到机器超出电子围栏报警信息)-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->

          <div class="form-group">
            <button class="btn btn-primary" type="button" validation-submit="newrentalOrderForm2"
                    ng-click="newRentalOrderController.ok()">{{'confirm'|translate}}
            </button>
            <button class="btn btn-warning" type="button" ng-click="newRentalOrderController.cancel()">
              {{'cancel'|translate}}
            </button>
          </div>

        </div>
    </form>
  </div>

</div>
