<div class="machine-content" resize>
  <!--currentState begin-->
  <div id="currentState" class="container-fluid">
    <section class="renatlcontent-header">
      <h1>
        <small>{{'rentalCurrentPosition'|translate}}:</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-taxi"></i>{{'rentalMng'| translate}}</a></li>
        <li class="active"><i class="fa fa-car "></i>{{'machineInfo'| translate}}</li>
      </ol>
    </section>
    <div class="row info-box-container">
      <div class="col-lg-2 col-md-2">
        <div class="info-card">
          <div class="info-title">{{'totalNumberOfMachine'|translate}}</div>
          <div class="info-data">99</div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card">

          <div class="info-title">{{'rentalScissorLift'|translate}}</div>
          <div class="info-data">49</div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card">
          <div class="info-title">{{'rentalArticulatingBoomLift'|translate}}</div>
          <div class="info-data">25</div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="info-card">
          <div class="info-title">{{'rentalBoomLift'|translate}}</div>
          <div class="info-data">25</div>
        </div>
      </div>
    </div>
    <div class="row info-box-container">
      <form class="form-horizontal" role="form">

        <div class="form-group">

          <label class="col-md-2 control-label">{{'machineNumber'| translate}}</label>
          <div class="col-md-2">
            <input type="text" name="licenseId" class="form-control"  ng-model="rentalFleetMachineMngController.machine.licenseId"
                   placeholder="{{'supportfuzzyqueries'|translate}}"/>
          </div>

          <label class="col-md-1 control-label">{{'rentalOrganization'|translate}}:</label>
          <div class="col-md-2">
            <p class="input-group">

              <input type="text" id="org" class="form-control" placeholder="{{'rentalOrganization'|translate}}" ng-model="rentalFleetMachineMngController.org.label" name="org" readonly required/>
              <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="rentalFleetMachineMngController.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
            </p>
          </div>

          <div class="col-md-2">
            <label class="control-label">{{'rentalsubordinateOrganization'|translate}}:</label>
            <input type="checkbox" checked="checked" ng-model="rentalFleetMachineMngController.querySubOrg"/>
          </div>
        </div>

        <div class="form-group">

          <label  class="col-md-2 control-label">{{'rentalMachineType'|translate}}</label>
          <div class="col-md-1">
            <ui-select name="deviceType" ng-model="rentalFleetMachineMngController.machine.deviceType" theme="bootstrap"
                       ng-disabled="disabled">
              <ui-select-match allow-clear="true" placeholder="{{'state'|translate}}">{{$select.selected.desc|translate}}
              </ui-select-match>
              <ui-select-choices repeat="deviceType in rentalFleetMachineMngController.deviceTypeList">
                <div ng-bind-html="deviceType.name | highlight: $select.search|translate"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <label class="col-md-1 control-label">{{'driveType'|translate}}</label>
          <div class="col-md-1">
            <ui-select name="devicePowerType" ng-model="rentalFleetMachineMngController.machine.devicePowerType" theme="bootstrap"
                       ng-disabled="disabled">
              <ui-select-match allow-clear="true" placeholder="{{'driveType'|translate}}">{{$select.selected.name|translate}}
              </ui-select-match>
              <ui-select-choices repeat="devicePowerType in rentalFleetMachineMngController.devicePowerTypeList">
                <div ng-bind-html="devicePowerType.name | highlight: $select.search|translate"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <label class="col-md-1 control-label">{{'highlyType'|translate}}</label>
          <div class="col-md-1">
            <ui-select name="deviceHeightType" ng-model="rentalFleetMachineMngController.machine.deviceHeightType" theme="bootstrap"
                       ng-disabled="disabled">
              <ui-select-match allow-clear="true" placeholder="{{'highlyType'|translate}}">{{$select.selected.name|translate}}
              </ui-select-match>
              <ui-select-choices repeat="deviceHeightType in rentalFleetMachineMngController.deviceHeightTypeList">
                <div ng-bind-html="deviceHeightType.name | highlight: $select.search|translate"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <label  class="col-md-1 control-label">{{'brandType'|translate}}</label>
          <div class="col-md-1">
            <ui-select name="deviceManufacture" ng-model="rentalFleetMachineMngController.machine.deviceManufacture" theme="bootstrap"
                       ng-disabled="disabled">
              <ui-select-match allow-clear="true" placeholder="品牌">{{$select.selected.name|translate}}
              </ui-select-match>
              <ui-select-choices repeat="deviceManufacture in rentalFleetMachineMngController.deviceManufactureList">
                <div ng-bind-html="deviceManufacture.name | highlight: $select.search|translate"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-2">

            <button class="btn btn-primary" type="button"
                    ng-click="rentalFleetMachineMngController.query(null,null,null,rentalFleetMachineMngController.machine)">{{'query'|translate}}
            </button>
            <button class="btn btn-default" type="button" ng-click="rentalFleetMachineMngController.reset()">{{'reset'|translate}}</button>
          </div>
        </div>
      </form>

    </div>


    <div class="row" ng-style="rentalOrderMngController.baseBoxContainer">

      <div class="col-lg-12 table-responsive "><!--表格框-->
        <table ng-table="rentalFleetMachineMngController.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
          <tr ng-repeat="machine in $data">
            <td class="text-nowrap" data-header="'selectAllHeader'">
              <input type="checkbox" ng-checked="rentalFleetMachineMngController.isSelected(machine.id)"
                     ng-click="rentalFleetMachineMngController.updateSelection($event,machine.id)" ng-model="machine.checked">
            </td>
            <td class="text-nowrap" data-title="'machineNumberAndCarNumber'|translate" sortable="'licenseId'">
              <a ng-if="rentalFleetMachineMngController.validateOperPermission()" href
                 ng-click="rentalFleetMachineMngController.updateMachine(machine,'lg')">{{machine.licenseId}}</a>
              <span ng-if="!rentalFleetMachineMngController.validateOperPermission()">{{machine.licenseId}}</span>

            </td>

            <td class="text-nowrap" data-title="'terminalno'|translate" sortable="'deviceinfo.deviceNum'">{{machine.deviceinfo.deviceNum}}</td>
            <td class="text-nowrap" data-title="'deviceType'|translate" sortable="'deviceType.name'">{{machine.deviceType.name|translate}}</td>
            <td class="text-nowrap" data-title="'highlyType'|translate" sortable="'deviceHeightType.name'">{{machine.deviceHeightType.name|translate}}</td>
            <td class="text-nowrap" data-title="'driveType'|translate" sortable="'devicePowerType.name'">{{machine.devicePowerType.name|translate}}</td>
            <td class="text-nowrap" data-title="'brandType'|translate" sortable="'deviceManufacture.name'">{{machine.deviceManufacture.name|translate}}</td>

          </tr>
        </table>
      </div>
      <div class="col-lg-12"><!--分页框-->


        <uib-pagination total-items="rentalFleetMachineMngController.page.totalElements"
                        ng-change="rentalFleetMachineMngController.query(rentalFleetMachineMngController.pageNumber-1,null,null,null)"
                        max-size="5" ng-model="rentalFleetMachineMngController.pageNumber" items-per-page="rentalFleetMachineMngController.page.size"
                        class="pagination-sm" boundary-links="true" rotate="false"
                        first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
      </div>
    </div>
  </div>
  <!--currentState end-->
</div>
