<div class="machine-content">
  <section class="content-header">
    <h1>
      客户管理
      <small></small>
    </h1>
  </section>

  <div class="container-fluid">
    <!--totalSummary begin-->
    <div id="totalSummary" class="row info-box-container">

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  bg-aqua">
                <span class="info-box-icon">
                  <i class="ion ion-bag"></i></span>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">客户总数</span>
            <span class="info-box-number">420</span>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <span class="progress-description" style="cursor: pointer;text-decoration: none;color: currentColor;">
                   More Info <i class="fa fa-arrow-circle-right"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-orange">
          <span class="info-box-icon"><i class="fa fa-book"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">当前订单</span>
            <span class="info-box-number">210</span>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <span class="progress-description">
              <a>More Info <i class="fa fa-arrow-circle-right"></i></a>
           </span>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-green">
          <span class="info-box-icon"><i class="fa fa-navicon"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">计划订单</span>
            <span class="info-box-number">42</span>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <span class="progress-description">
              More Info <i class="fa fa-arrow-circle-right"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-1 ">
        <a class="info-box btn btn-app  bg-blue " ui-sref="rental.newCustomer">
          <i class="glyphicon glyphicon-plus btn-lg"></i> 新增
        </a>
      </div>

    </div>
    <!--totalSummary end-->

    <!--machineInfo begin-->

    <div id="machineInfo" class="row info-box-container">
    <form class="form-horizontal" role="form">

      <div class="form-group">

        <label class="col-md-1 control-label">客户名</label>
        <div class="col-md-2">
          <input type="text" name="name" class="form-control"  ng-model="rentalCustomerMngController.customer.name"
                 placeholder="客户名"/>
        </div>

        <label class="col-md-1 control-label">手机号</label>
        <div class="col-md-2">
          <input type="text" name="phone" class="form-control"  ng-model="rentalCustomerMngController.customer.phone"
                 placeholder="手机号"/>
        </div>

        <label class="col-md-2 control-label">{{'organisation'|translate}}:</label>
        <div class="col-md-2">
          <p class="input-group">

            <input type="text" id="org" class="form-control" placeholder="{{'organisation'|translate}}" ng-model="rentalCustomerMngController.org.label" name="org" readonly required/>
            <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="rentalCustomerMngController.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
          </p>
        </div>
        <div class="col-md-1">
          <label class="control-label">{{'subordinateOrganization'|translate}}:</label>
          <input type="checkbox" checked="checked" ng-model="rentalCustomerMngController.querySubOrg"/>
        </div>
        <div class="col-md-2">

          <button class="btn btn-primary" type="button"
                  ng-click="rentalCustomerMngController.query(null,null,null,rentalCustomerMngController.machine)">{{'query'|translate}}
          </button>
          <button class="btn btn-default" type="button" ng-click="rentalCustomerMngController.reset()">{{'reset'|translate}}</button>
        </div>
      </div>

    </form>
      </div>

    <div class="row form-group" style="padding: 10px">
      <script id="selectAllHeader" type="text/ng-template">
        <input type="checkbox" ng-click="rentalCustomerMngController.updateAllSelection($event)"
               ng-model="rentalCustomerMngController.checked">
      </script>
      <div class="table-responsive">

        <table ng-table="rentalOrderMngController.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
          <tr ng-repeat="machine in $data">
            <td class="text-nowrap" data-header="'selectAllHeader'">
              <input type="checkbox" ng-checked="rentalOrderMngController.isSelected(machine.id)"
                     ng-click="rentalOrderMngController.updateSelection($event,machine.id)" ng-model="machine.checked">
            </td>
            <td class="text-nowrap" data-title="'machineNumberAndCarNumber'|translate" sortable="'licenseId'">
              <a ng-if="rentalOrderMngController.validateOperPermission()" href
                 ng-click="rentalOrderMngController.updateMachine(machine,'lg')">{{machine.licenseId}}</a>
              <span ng-if="!rentalOrderMngController.validateOperPermission()">{{machine.licenseId}}</span>

            </td>

            <td class="text-nowrap" data-title="'terminalno'|translate" sortable="'deviceinfo.deviceNum'">{{machine.deviceinfo.deviceNum}}</td>
            <td class="text-nowrap" data-title="'engineType'|translate" sortable="'engineType.engineName'">{{machine.engineType.engineName}}</td>
            <td class="text-nowrap" data-title="'state'|translate" sortable="'state'">{{machine.machineState }}</td>
            <td class="text-nowrap" data-title="'organisation'|translate" sortable="'org.label'">{{machine.org.label}}</td>
            <td class="text-nowrap" data-title="'vehicleType'|translate" sortable="'typeName'">{{machine.machineType.typeName}}</td>

            <td class="text-nowrap" data-title="'operation'|translate">

              <button type="button" class="btn btn-default btn-xs" presentation-href="machineMng:machine:modify"
                      ng-click="rentalCustomerMngController.updateMachine(machine,'lg')">{{'alter'| translate}}
              </button>
              <button type="button" class="btn btn-danger btn-xs" presentation-href="machineMng:machine:unBind"
                      ng-click="rentalCustomerMngController.removeDevice(machine)">{{'relieve'| translate}}
              </button>
              <button type="button" class="btn btn-warning btn-xs" presentation-href="machineMng:machine:moveLog"
                      ng-click="rentalCustomerMngController.allocationlog(machine,'lg')">{{'transferLog'| translate}}
              </button>
            </td>
          </tr>
        </table>

      </div>

      <div >
        <uib-pagination total-items="rentalOrderMngController.page.totalElements"
                        ng-change="rentalOrderMngController.query(rentalOrderMngController.pageNumber-1,null,null,null)"
                        max-size="5" ng-model="rentalOrderMngController.pageNumber" items-per-page="rentalOrderMngController.page.size"
                        class="pagination-sm" boundary-links="true" rotate="false"
                        first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
      </div>


    </div>

    <!--machineInfo end-->
  </div>
</div>
