<div class="modal-header">
  <h3 class="modal-title">客户列表
    <button style="margin-left: 5px" class="btn btn-warning pull-right" type="button" ng-click="orderListMngController.cancel()">{{'close'|translate}}</button>
    <button style="margin-left: 15px" class="btn btn-primary pull-right" type="button" ng-click="orderListMngController.ok(deviceCurrentInfoCtrl.deviceinfo.id)">确定</button>
  </h3>
</div>
<!-- Main content -->
<section class="content">

  <div class="row info-box-container">
    <form class="form-horizontal" role="form">

      <div class="form-group">

        <label class="col-md-1 control-label">订单号</label>
        <div class="col-md-2">
          <input type="text" name="id" class="form-control"  ng-model="orderListMngController.rentalOrder.id"
                 placeholder="订单号"/>
        </div>

        <label  class="col-md-1 control-label">客户</label>
        <div class="col-md-2">
          <input type="text" name="customerName" class="form-control"  ng-model="orderListMngController.rentalOrder.customerName"
                 placeholder="订单号"/>
        </div>
        <label class="col-md-1 control-label">{{'organisation'|translate}}</label>
        <div class="col-md-2">
          <p class="input-group">

            <input type="text" id="org" class="form-control" placeholder="{{'organisation'|translate}}" ng-model="orderListMngController.org.label" name="org" readonly required/>
            <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="orderListMngController.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
          </p>
        </div>

      </div>
      <div class="form-group">

        <label class="col-md-1 control-label">开始时间</label>
        <div class="col-md-2">
          <p class="input-group">
            <input type="text" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="orderListMngController.rentalOrder.startDate"
                   is-open="orderListMngController.startDateSetting.status.opened"
                   datepicker-options="orderListMngController.startDateSetting.dateOptions" close-text="Close"
                   validator="required" message-id="bootstrap" readonly/>

            <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="orderListMngController.startDateSetting.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
          </p>
          <span id="bootstrap"></span>
        </div>

        <label  class="col-md-1 control-label">结束时间</label>
        <div class="col-md-2">
          <p class="input-group">
            <input type="text" name="endDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="orderListMngController.rentalOrder.endDate"
                   is-open="orderListMngController.endDateOpenStatus.opened"
                   datepicker-options="dateOptions" ng-readonly="true" close-text="Close"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="orderListMngController.endDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>

        <label class="col-md-1 control-label">状态</label>
        <div class="col-md-2">
          <ui-select name="status" ng-model="orderListMngController.rentalOrder.status" theme="bootstrap"
                     ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="{{'state'|translate}}">{{$select.selected.desc}}
            </ui-select-match>
            <ui-select-choices repeat="retanlOrderStatus in orderListMngController.retanlOrderStatusList">
              <div ng-bind-html="retanlOrderStatus.desc | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="col-md-2">

          <button class="btn btn-primary" type="button"
                  ng-click="orderListMngController.query(null,null,null,orderListMngController.rentalOrder)">{{'query'|translate}}
          </button>
          <button class="btn btn-default" type="button" ng-click="orderListMngController.reset()">{{'reset'|translate}}</button>
        </div>

      </div>

    </form>

  </div>


  <div class="row">

    <div class="col-lg-12 table-responsive "><!--表格框-->
      <table ng-table="orderListMngController.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="rentalOrder in $data">
          <td class="text-nowrap">
            <input type="radio" name="rentalOrder.radio"  ng-value="rentalOrder" ng-model="orderListMngController.selectRadio">
          </td>
          <td class="text-nowrap" data-title="'ID'" sortable="'id'">{{rentalOrder.id}}</td>
          <td class="text-nowrap" data-title="'开始时间'" sortable="'startDate'">{{rentalOrder.startDate | date:'yyyy-MM-dd'}}</td>
          <td class="text-nowrap" data-title="'结束时间'" sortable="'endDate'">{{rentalOrder.endDate | date:'yyyy-MM-dd'}}</td>
          <td class="text-nowrap" data-title="'客户'" sortable="'rentalCustomer.name'">{{rentalOrder.rentalCustomer.name }}</td>
          <td class="text-nowrap" data-title="'当前状态'" sortable="'statusDesc'">{{rentalOrder.statusDesc }}</td>
          <td class="text-nowrap" data-title="'工作地址'" sortable="'statusDesc'">{{rentalOrder.location }}</td>
          <td class="text-nowrap" data-title="'车辆数量(剪叉/直臂/曲臂)'" sortable="'typeName'">
            {{machine.machineType.typeName}}
            <span ng-if="rentalOrder.jc==null">0</span>
            <span ng-if="rentalOrder.jc!=null">{{rentalOrder.jc}}</span> /
            <span ng-if="rentalOrder.zb==null">0</span>
            <span ng-if="rentalOrder.zb!=null">{{rentalOrder.zb}}</span> /
            <span ng-if="rentalOrder.qb==null">0</span>
            <span ng-if="rentalOrder.qb!=null">{{rentalOrder.qb}}</span>

          </td>

        </tr>
      </table>
    </div>
    <div class="col-lg-12"><!--分页框-->


      <uib-pagination total-items="orderListMngController.page.totalElements"
                      ng-change="orderListMngController.query(orderListMngController.pageNumber-1,null,null,null)"
                      max-size="5" ng-model="orderListMngController.pageNumber" items-per-page="orderListMngController.page.size"
                      class="pagination-sm" boundary-links="true" rotate="false"
                      first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
      </uib-pagination>
    </div>
  </div>
</section>

</div>
