<style type="text/css">
  .tableScroll {
    height: 300px;
    overflow: scroll;
  }

</style>

<div class="machine-content">
  <section class="content-header">
    <h1>
      <small>{{'currentPosition'|translate}}:</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-taxi"></i>{{'rentalMng'| translate}}</a></li>
      <li class="active"><i class="fa fa-circle-o-notch"></i>{{'fenceMng'| translate}}</li>
    </ol>
  </section>

  <div class="container-fluid">
    <!--totalSummary begin-->
    <div id="totalSummary" class="row info-box-container">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  bg-red">
                <span class="info-box-icon">
                  <i class="fa fa-automobile"></i></span>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">围栏机器总数</span>
            <span class="info-box-number">{{rentalFenceMngController.page.totalElements}}</span>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <span class="progress-description" style="cursor: pointer;text-decoration: none;color: currentColor;">
                   More Info <i class="fa fa-arrow-circle-right"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-orange">
          <span class="info-box-icon"><i class="fa fa-cab"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">车辆报警</span>
            <span class="info-box-number">410</span>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <span class="progress-description">
              <a>More Info <i class="fa fa-arrow-circle-right"></i></a>
           </span>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-yellow">
          <span class="info-box-icon"><i class="fa fa-automobile"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">保养提醒</span>
            <span class="info-box-number">410</span>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <span class="progress-description">
              More Info <i class="fa fa-arrow-circle-right"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-1 ">
        <a class="info-box btn btn-app  bg-blue " ui-sref="rental.newFence">
          <i class="glyphicon glyphicon-plus btn-lg"></i> 新增
        </a>
      </div>
    </div>
    <!--totalSummary end-->

    <!--machineInfo begin-->

    <div id="machineInfo" class="row info-box-container">
      <form class="form-horizontal" role="form">

        <div class="form-group">

          <label class="col-md-1 control-label">车队名称</label>
          <div class="col-md-2">
            <p class="input-group">
              <input type="text" id="fleet" class="form-control" placeholder="{{'fleet'|translate}}"
                     ng-model="workPointCtrl.fleet.label" name="fleet" readonly required/>
              <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="workPointCtrl.openFleetTree()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
            </p>
          </div>


          <label class="col-md-1 control-label">驱动</label>
          <div class="col-md-1">
            <ui-select name="devicePowerType" ng-model="rentalFenceMngController.machine.devicePowerType"
                       theme="bootstrap"
                       ng-disabled="disabled">
              <ui-select-match allow-clear="true" placeholder="高度">{{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="devicePowerType in rentalFenceMngController.devicePowerTypeList">
                <div ng-bind-html="devicePowerType.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <label class="col-md-1 control-label">高度</label>
          <div class="col-md-1">
            <ui-select name="deviceHeightType" ng-model="rentalFenceMngController.machine.deviceHeightType"
                       theme="bootstrap"
                       ng-disabled="disabled">
              <ui-select-match allow-clear="true" placeholder="高度">{{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="deviceHeightType in rentalFenceMngController.deviceHeightTypeList">
                <div ng-bind-html="deviceHeightType.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <label class="col-md-1 control-label">品牌</label>
          <div class="col-md-1">
            <ui-select name="deviceManufacture" ng-model="rentalFenceMngController.machine.deviceManufacture"
                       theme="bootstrap"
                       ng-disabled="disabled">
              <ui-select-match allow-clear="true" placeholder="品牌">{{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="deviceManufacture in rentalFenceMngController.deviceManufactureList">
                <div ng-bind-html="deviceManufacture.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-1">

            <button class="btn btn-primary" type="button"
                    ng-click="machineMngCtrl.query(null,null,null,machineMngCtrl.machine)">{{'query'|translate}}
            </button>
            <button class="btn btn-default" type="button" ng-click="machineMngCtrl.reset()">{{'reset'|translate}}
            </button>
          </div>
        </div>

      </form>
    </div>

    <div class="row form-group" style="padding: 10px">
      <section class="content">

        <div class="row">
          <!--<div class="btn-group col-md-4">-->
          <!--<span>{{'totalNumberOfRecords'|translate}} {{workPointCtrl.page.totalElements}}</span>-->
          <!--</div>-->
          <div class="btn-group col-md-12 right">
            <a class="btn btn-default pull-right"  presentation-href="fleetMng:workPoint:create"  ng-click="workPointCtrl.create()">{{'create'|translate}}{{'workPoint'|translate}}</a>
          </div>
        </div>

        <div class="row" style="padding: 10px">
          <!--列表模式-->
          <div class="table-responsive">
            <table ng-table="workPointCtrl.tableParams"  class="table table-condensed table-bordered table-striped text-nowrap" export-csv='csv'>
              <tr ng-repeat="workPoint in $data">

                <td class="text-nowrap" data-title="'id'|translate" sortable="'workPoint.id'">{{workPoint.id}}</td>
                <td class="text-nowrap" data-title="'name'|translate" sortable="'workPoint.name'">{{workPoint.name}}</td>
                <td class="text-nowrap" data-title="'type'|translate" sortable="'workPoint.typeDesc'" >{{workPoint.typeDesc}}</td>
                <td class="text-nowrap" data-title="'description'|translate" sortable="'workPoint.describe'">{{workPoint.describe}}</td>
                <td class="text-nowrap" data-title="'longitude'|translate" >{{workPoint.longitude}}</td>
                <td class="text-nowrap" data-title="'latitude'|translate" >{{workPoint.latitude}}</td>
                <td class="text-nowrap" data-title="'radius'|translate" >{{workPoint.radius}}</td>

                <td class="text-nowrap" data-title="'operation'|translate">
                  <!--<button type="button" class="btn btn-default btn-xs" ng-hide="workPoint.id==workPointCtrl.operWorkPorint"-->
                  <!--presentation-href="fleetMng:workPoint:modify" ng-click="workPointCtrl.update(workPoint)">{{'edit'|translate}}-->
                  <!--</button>-->
                  <!--<button type="button" class="btn btn-warning btn-xs" ng-show="workPoint.id==workPointCtrl.operWorkPorint"-->
                  <!--presentation-href="fleetMng:workPoint:modify" ng-click="workPointCtrl.save(workPoint)">{{'save'|translate}}-->
                  <!--</button>-->
                  <button type="button" class="btn btn-warning btn-xs" presentation-href="fleetMng:workPoint:modify"
                          ng-click="workPointCtrl.updateInModal(workPoint)">{{'alter'|translate}}
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="box-footer">
          <uib-pagination total-items="workPointCtrl.page.totalElements"
                          ng-change="workPointCtrl.initQuery(workPointCtrl.pagenumber-1,null,null)"
                          max-size="15" ng-model="workPointCtrl.pagenumber" items-per-page="workPointCtrl.page.size"
                          class="pagination-sm" boundary-links="true" rotate="false"
                          first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}">

          </uib-pagination>
        </div>

      </section>
    </div>

    <!--machineInfo end-->
  </div>
</div>
