<div class="machine-content" resize>
  <section class="content-header">
    <h1>
      <small>订单详情</small>
    </h1>
    <ol class="breadcrumb">
      {{'rentalCurrentLocate'|translate}}:
      <li><i class="fa fa-taxi"></i>{{'rentalMng'| translate}}</li>
      <li class="active"><i class="fa fa-file-text-o"></i>{{'rentalOrderMng'| translate}}</li>
      <li class="active"><i class="fa fa-file-text-o"></i>订单详情</li>
    </ol>
  </section>
  <div class="container-fluid">
    <div class="container-fluid table-wrapper">
      <div class="row info-box-container">
        <div class="col-lg-8 col-md-8 orderDetailBox" >
          <h4>订单信息</h4>
          <form name="orderDetail" class="form-horizontal">
            <div class="row form-group">
              <label class="col-md-2 control-label font-nomal">{{'rentalOrderNumber'|translate}}:</label>
              <div class="col-md-3 ">
                {{rentalOrderDetailCtrl.rentalOrder.orderNumber}}
              </div>
              <label class="col-md-2 control-label font-nomal">{{'rentalCustomerName'|translate}}:</label>
              <div class="col-md-3">
                <p class="input-group">
                  {{rentalOrderDetailCtrl.rentalOrder.rentalCustomer.name}}
                </p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label font-nomal">{{'rentalStartingDate'|translate}}:</label>
              <div class="col-md-3">
                <p class="input-group ">
                  {{rentalOrderDetailCtrl.rentalOrder.startDate| date:'yyyy-MM-dd'}}
                </p>
              </div>
              <label class="col-md-2 control-label font-nomal">{{'rentalEndDate'|translate}}:</label>
              <div class="col-md-3">
                <p class="input-group ">
                  {{rentalOrderDetailCtrl.rentalOrder.endDate| date:'yyyy-MM-dd'}}
                </p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label font-nomal">{{'paymentMethod'|translate}}:</label>
              <div class="col-md-3 ">
                {{rentalOrderDetailCtrl.rentalOrder.payType}}
              </div>
              <label class="col-md-2 control-label font-nomal">{{'rentalWorkLocation'|translate}}:</label>
              <div class="col-md-3 ">
                {{rentalOrderDetailCtrl.rentalOrder.location}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label font-nomal">{{'deposit'|translate}}:</label>
              <div class="col-md-3 ">
                {{rentalOrderDetailCtrl.rentalOrder.deposit}}
              </div>
              <label class="col-md-2 control-label font-nomal">{{'amount'|translate}}:</label>
              <div class="col-md-3 ">
                {{rentalOrderDetailCtrl.rentalOrder.totalAmt}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label font-nomal">{{'descritpion'|translate}}:</label>
              <div class="col-md-3 ">
                {{rentalOrderDetailCtrl.rentalOrder.description}}
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-3 col-md-3" style="margin-left: 20px;">
          <div class="row" >
            <div class="col-lg-4 col-md-4 orderDetailButton" >
              <i class="fa fa-pencil" aria-hidden="true"></i><a presentation-href="rental:rentalMng:order:modify"
                                                                ng-click="rentalOrderDetailCtrl.update(rentalOrderDetailCtrl.rentalOrder.id,rentalOrderDetailCtrl.rentalOrder.realNumber)">{{'orderEdit'| translate}}
            </a>
            </div>
            <div class="col-lg-2 col-md-2 " ></div>
            <div class="col-lg-4 col-md-4 orderDetailButton">
              <i class="fa fa-user" aria-hidden="true"></i><a presentation-href="rental:rentalMng:order:view"
                                                              ng-click="rentalOrderDetailCtrl.view(rentalOrderDetailCtrl.rentalOrder.id)">{{'orderApproval'| translate}}</a>
            </div>
          </div>
          <div class="row" style="height: 50px;"></div>
          <div class="row">
            <div class="col-lg-4 col-md-4 orderDetailButton">
                <i class="fa fa-sign-in" aria-hidden="true"></i><a presentation-href="rental:rentalMng:order:entry"
                                                                   ng-click="rentalOrderDetailCtrl.goSite(rentalOrderDetailCtrl.rentalOrder)">{{'goSite'| translate}} </a>
            </div>
            <div class="col-lg-2 col-md-2 " ></div>
            <div class="col-lg-4 col-md-4 orderDetailButton">
              <i class="fa fa-sign-out" aria-hidden="true"></i><a presentation-href="rental:rentalMng:order:exit"
                                                                  ng-click="rentalOrderDetailCtrl.leaveSite(rentalOrderDetailCtrl.rentalOrder)">{{'leaveSite'| translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid table-wrapper" >
      <uib-tabset justified="true">
        <!--车辆列表-->
        <uib-tab select="rentalOrderDetailCtrl.carlist(null,rentalOrderDetailCtrl.rentalOrder.id);">
          <uib-tab-heading>
            {{'machineInfo'|translate}}
          </uib-tab-heading>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table ng-table="rentalOrderDetailCtrl.tableParams" class="table history-tab-tr-nowrap">
                  <tr ng-repeat="orderData in $data">
                    <td ng-cloak data-title="'deviceNum'|translate">{{orderData.machine.deviceinfo.deviceNum}}</td>
                    <td ng-cloak data-title="'rentalMachineID'|translate">{{orderData.machine.licenseId}}</td>
                    <td ng-cloak data-title="'rentalMachineType'|translate">{{orderData.machine.deviceType.name}}</td>
                    <td ng-cloak data-title="'rentalBrand'|translate">{{orderData.machine.deviceManufacture.name}}</td>
                    <td ng-cloak data-title="'admissionTime'|translate">{{orderData.enterTime| date:'yyyy-MM-dd HH:mm:ss'}}
                    </td>
                    <td ng-if="orderData.enterTime!= null" ng-cloak data-title="'workingHoursWhenEntry'|translate">
                      {{orderData.enterfactoryworkhours* 5 / 60|number:2}}小时
                    </td>
                    <td ng-if="orderData.enterTime== null" ng-cloak data-title="'workingHoursWhenEntry'|translate"></td>
                    <td ng-cloak data-title="'exitTime'|translate">{{orderData.leaveTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td ng-if="orderData.leaveTime != null" ng-cloak data-title="'workingHoursWhenExit'|translate">
                      {{orderData.leavefactoryworkhours* 5 / 60|number:2}}小时
                    </td>
                    <td ng-if="orderData.leaveTime == null" ng-cloak data-title="'workingHoursWhenExit'|translate"></td>
                    <td ng-if="orderData.leaveTime == null" ng-cloak data-title="'在场天数(/天)'"></td>
                    <td ng-if="orderData.leaveTime != null" ng-cloak data-title="'在场天数(/天)'">
                      {{(orderData.leaveTime-orderData.enterTime)/1000/60/60/24|number:2}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </uib-tab>
        <!--进场单-->
        <uib-tab select="rentalOrderDetailCtrl.entryList(null,rentalOrderDetailCtrl.rentalOrder.id);">
          <uib-tab-heading>
            {{'goSiteList'|translate}}
          </uib-tab-heading>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table ng-table="rentalOrderDetailCtrl.entryTableParams" class="table history-tab-tr-nowrap">
                  <tr ng-repeat="entryData in $data">
                    <td ng-cloak data-title="'goSiteListNumber'|translate">{{entryData.id}}</td>
                    <td ng-cloak data-title="'admissionTime'|translate">{{entryData.time| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td ng-cloak data-title="'operator'|translate">{{entryData.operator}}</td>
                    <td ng-cloak data-title="'operationTime'|translate">{{entryData.operationTime| date:'yyyy-MM-dd HH:mm:ss'}}
                    </td>
                    <td ng-cloak data-title="'totalNumberOfMachine'|translate">{{entryData.machineVoList.length}}</td>
                    <td ng-cloak data-title="'attachment'|translate">{{}}</td>
                    <td class="text-nowrap text-center" data-title="'rentalOperations'|translate">
                      <button type="button" class="btn btn-default btn-xs"
                              ng-click="">{{'rentalDelete'|translate}}
                      </button>
                      <button type="button" class="btn btn-default btn-xs"
                              ng-click="">{{'rentalEdit'|translate}}
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </uib-tab>
        <!--退场单-->
        <uib-tab  select="rentalOrderDetailCtrl.entryList(null,rentalOrderDetailCtrl.rentalOrder.id);">
          <uib-tab-heading>
            {{'leaveSiteList'|translate}}
          </uib-tab-heading>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table ng-table="rentalOrderDetailCtrl.exitTableParams" class="table history-tab-tr-nowrap">
                  <tr ng-repeat="exitData in $data">
                    <td ng-cloak data-title="'leaveSiteListNumber'|translate">{{exitData.id}}</td>
                    <td ng-cloak data-title="'exitTime'|translate">{{exitData.time| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td ng-cloak data-title="'operator'|translate">{{exitData.operator}}</td>
                    <td ng-cloak data-title="'operationTime'|translate">{{exitData.operationTime| date:'yyyy-MM-dd HH:mm:ss'}}
                    </td>
                    <td ng-cloak data-title="'totalNumberOfMachine'|translate">{{exitData.machineVoList.length}}</td>
                    <td ng-cloak data-title="'attachment'|translate">{{}}</td>
                    <td class="text-nowrap text-center" data-title="'rentalOperations'|translate">
                      <button type="button" class="btn btn-default btn-xs"
                              ng-click="">{{'rentalDelete'|translate}}
                      </button>
                      <button type="button" class="btn btn-default btn-xs"
                              ng-click="">{{'rentalEdit'|translate}}
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
    <div  class="container-fluid table-wrapper" style="overflow: hidden;">
      <button class="btn btn-warning pull-right" type="button" ng-click="rentalOrderDetailCtrl.cancel()">
        {{'return'|translate}}
      </button>
    </div>

  </div>
</div>


