<div class="machine-content">
  <section class="content-header">
    <h1>
      客户管理
      <small></small>
    </h1>
  </section>

  <div class="container-fluid">
    <!--totalSummary begin-->
    <div id="totalSummary" class="row info-box-container">

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box  bg-aqua">
                <span class="info-box-icon">
                  <i class="ion ion-bag"></i></span>
          </span>
          <div class="info-box-content">
            <span class="info-box-text">客户总数</span>
            <span class="info-box-number">{{rentalCustomerMngController.page.totalElements}}</span>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <span class="progress-description" style="cursor: pointer;text-decoration: none;color: currentColor;">
                   More Info <i class="fa fa-arrow-circle-right"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-1 col-sm-6 col-xs-12">
        <a class="info-box btn btn-app  bg-blue " ui-sref="rental.newCustomer">
          <i class="glyphicon glyphicon-plus btn-lg"></i> 新增
        </a>
      </div>

    </div>
    <!--totalSummary end-->

    <!--machineInfo begin-->

    <div id="machineInfo" class="row info-box-container">
    <form name="queryForm" class="form-horizontal" role="form">

      <div class="form-group">

        <label class="col-md-1 control-label">客户名</label>
        <div class="col-md-2">
          <input type="text" name="name" class="form-control"  ng-model="rentalCustomerMngController.customer.name"
                 placeholder="客户名"/>
        </div>

        <label class="col-md-1 control-label">手机号</label>
        <div class="col-md-2">
          <input type="text" name="mobile" class="form-control"  ng-model="rentalCustomerMngController.customer.mobile"
                 placeholder="手机号" />
        </div>

        <label class="col-md-2 control-label">{{'organisation'|translate}}:</label>
        <div class="col-md-2">
          <p class="input-group">

            <input type="text" id="org" class="form-control" placeholder="{{'organisation'|translate}}" ng-model="rentalCustomerMngController.org.label" name="org" readonly required/>
            <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="rentalCustomerMngController.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
          </p>
        </div>
        <div class="col-md-1">
          <label class="control-label">{{'subordinateOrganization'|translate}}:</label>
          <input type="checkbox" checked="checked" ng-model="rentalCustomerMngController.querySubOrg"/>
        </div>
        <div class="col-md-2">

          <button class="btn btn-primary" type="button"  ng-click="rentalCustomerMngController.query(null,null,null,rentalCustomerMngController.customer)">{{'query'|translate}}
          </button>
          <button class="btn btn-default" type="button" ng-click="rentalCustomerMngController.reset()">{{'reset'|translate}}</button>
        </div>
      </div>

    </form>
      </div>

    <div class="row form-group" style="padding: 10px">
      <script id="selectAllHeader" type="text/ng-template">
        <input type="checkbox" ng-click="rentalCustomerMngController.updateAllSelection($event)"
               ng-model="rentalCustomerMngController.checked">
      </script>
      <div class="table-responsive">

        <table ng-table="rentalCustomerMngController.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
          <tr ng-repeat="customer in $data">
            <td class="text-nowrap" data-header="'selectAllHeader'">
              <input type="checkbox" ng-checked="rentalCustomerMngController.isSelected(machine.id)"
                     ng-click="rentalCustomerMngController.updateSelection($event,machine.id)" ng-model="machine.checked">
            </td>

            <td class="text-nowrap" data-title="'id'" sortable="'deviceinfo.deviceNum'">{{customer.id}}</td>
            <td class="text-nowrap" data-title="'名称'" sortable="'deviceinfo.deviceNum'">{{customer.name}}</td>
            <td class="text-nowrap" data-title="'电话'" sortable="'engineType.engineName'">{{customer.tel}}</td>
            <td class="text-nowrap" data-title="'手机'" sortable="'state'">{{customer.mobile}}</td>
            <td class="text-nowrap" data-title="'地址'" sortable="'state'">{{customer.address}}</td>
            <td class="text-nowrap" data-title="'邮编'" sortable="'state'">{{customer.postcode}}</td>
            <td class="text-nowrap" data-title="'organisation'|translate" sortable="'org.label'">{{customer.org.label}}</td>
            <td class="text-nowrap" data-title="'创建时间'" sortable="'state'">{{customer.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td class="text-nowrap" data-title="'更新时间'" sortable="'state'">{{customer.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td class="text-nowrap" data-title="'operation'|translate">


              <button type="button" class="btn btn-danger btn-xs" presentation-href="machineMng:machine:unBind"
                      ng-click="rentalCustomerMngController.update(customer.id)">{{'alter'| translate}}
              </button>
              <button type="button" class="btn btn-default btn-xs" presentation-href="machineMng:machine:modify"
                      ng-click="rentalCustomerMngController.view(customer.id)">查看
              </button>
            </td>
          </tr>
        </table>

      </div>

      <div >
        <uib-pagination total-items="rentalCustomerMngController.page.totalElements"
                        ng-change="rentalCustomerMngController.query(rentalCustomerMngController.pageNumber-1,null,null,null)"
                        max-size="5" ng-model="rentalCustomerMngController.pageNumber" items-per-page="rentalCustomerMngController.page.size"
                        class="pagination-sm" boundary-links="true" rotate="false"
                        first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
      </div>


    </div>

    <!--machineInfo end-->
  </div>
</div>
