<div class="modal-header">
  <h3 class="modal-title">未分配车辆列表
    <button style="margin-left: 5px" class="btn btn-warning pull-right" type="button" ng-click="orgMachineListMngController.cancel()">{{'close'|translate}}</button>
    <button style="margin-left: 15px" class="btn btn-primary pull-right" type="button" ng-click="orgMachineListMngController.batchMoveMachine()">确定</button>
  </h3>
</div>

<section class="content">

  <div class="row info-box-container">
    <form class="form-horizontal" role="form">

      <div class="form-group">

        <label class="col-md-2 control-label">{{'machineNumber'| translate}}</label>
        <div class="col-md-2">
          <input type="text" name="licenseId" class="form-control"  ng-model="orgMachineListMngController.searchConditions.licenseId"
                 placeholder="{{'supportfuzzyqueries'|translate}}"/>
        </div>

        <label class="col-md-1 control-label">{{'organisation'|translate}}:</label>
        <div class="col-md-2">
          <p class="input-group">

            <input type="text" id="org" class="form-control" placeholder="{{'organisation'|translate}}" ng-model="orgMachineListMngController.org.label" name="org" readonly required/>
            <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="orgMachineListMngController.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
          </p>
        </div>

      </div>

      <div class="form-group">

        <label  class="col-md-2 control-label">类型</label>
        <div class="col-md-2">
          <ui-select name="deviceType" ng-model="orgMachineListMngController.searchConditions.typeId" theme="bootstrap"
                     ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="{{'state'|translate}}">{{$select.selected.desc}}
            </ui-select-match>
            <ui-select-choices repeat="deviceType in orgMachineListMngController.deviceTypeList">
              <div ng-bind-html="deviceType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <label class="col-md-1 control-label">驱动</label>
        <div class="col-md-2">
          <ui-select name="devicePowerType" ng-model="orgMachineListMngController.searchConditions.powerTypeId" theme="bootstrap"
                     ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="驱动">{{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="devicePowerType in orgMachineListMngController.devicePowerTypeList">
              <div ng-bind-html="devicePowerType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

      </div>

      <div class="form-group">

        <label class="col-md-2 control-label">高度</label>
        <div class="col-md-2">
          <ui-select name="deviceHeightType" ng-model="orgMachineListMngController.searchConditions.heightTypeId" theme="bootstrap"
                     ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="高度">{{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="deviceHeightType in orgMachineListMngController.deviceHeightTypeList">
              <div ng-bind-html="deviceHeightType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <label  class="col-md-1 control-label">品牌</label>
        <div class="col-md-2">
          <ui-select name="deviceManufacture" ng-model="orgMachineListMngController.searchConditions.factoryId" theme="bootstrap"
                     ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="品牌">{{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="deviceManufacture in orgMachineListMngController.deviceManufactureList">
              <div ng-bind-html="deviceManufacture.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-md-2">

          <button class="btn btn-primary" type="button"
                  ng-click="orgMachineListMngController.query(null,null,null,orgMachineListMngController.searchConditions)">{{'query'|translate}}
          </button>
          <button class="btn btn-default" type="button" ng-click="orgMachineListMngController.reset()">{{'reset'|translate}}</button>
        </div>
      </div>
    </form>

  </div>


  <div class="row" ng-style="rentalOrderMngController.baseBoxContainer">
    <script id="selectAllHeader" type="text/ng-template">
      <input type="checkbox"  ng-click="orgMachineListMngController.updateAllSelection($event)"
             ng-model="machineMngCtrl.checked">
    </script>
    <div class="col-lg-12 table-responsive "><!--表格框-->
      <table ng-table="orgMachineListMngController.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="machine in $data">
          <td class="text-nowrap" data-header="'selectAllHeader'">
            <input type="checkbox" ng-checked="orgMachineListMngController.isSelected(machine.id)"
                   ng-click="orgMachineListMngController.updateSelection($event,machine)" ng-model="machine.checked">
          </td>
          <td class="text-nowrap" data-title="'machineNumberAndCarNumber'|translate" sortable="'licenseId'">
            {{machine.licenseId}}
          </td>

          <td class="text-nowrap" data-title="'organisation'|translate" sortable="'label'">{{machine.label}}</td>
          <td class="text-nowrap" data-title="'deviceType'|translate" sortable="'typeName'">
            {{machine.typeName}}</td>
          <td class="text-nowrap" data-title="'highlyType'|translate" sortable="'heightTypeName'">{{machine.heightTypeName }}</td>
          <td class="text-nowrap" data-title="'driveType'|translate" sortable="'powerTypeName'">{{machine.powerTypeName}}</td>
          <td class="text-nowrap" data-title="'brandType'|translate" sortable="'factoryName'">{{machine.factoryName}}</td>

        </tr>
      </table>
    </div>
    <div class="col-lg-12"><!--分页框-->


      <uib-pagination total-items="orgMachineListMngController.page.totalElements"
                      ng-change="orgMachineListMngController.query(orgMachineListMngController.pageNumber-1,null,null,null)"
                      max-size="5" ng-model="orgMachineListMngController.pageNumber" items-per-page="orgMachineListMngController.page.size"
                      class="pagination-sm" boundary-links="true" rotate="false"
                      first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
    </div>
  </div>
</section>

