<div class="machine-content" resize>
  <!--currentState begin-->
  <div id="currentState" class="container-fluid">
    <section class="content-header">
      <h1>
        <small>{{'currentPosition'|translate}}:</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-taxi"></i>{{'rentalMng'| translate}}</a></li>
        <li class="active"><i class="fa  fa-user"></i>{{'rentalMng'| translate}}</li>
      </ol>
    </section>
    <div class="row info-box-container">
      <div class="col-lg-3 col-md-3">
        <div class="info-card">
          <div class="info-title">{{'rentalTotal'|translate}}</div>
          <div class="info-data">99</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="info-card">

          <div class="info-title">{{'rentalInProgress'|translate}}</div>
          <div class="info-data">49</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="info-card">
          <div class="info-title">{{'rentalPlan'|translate}}</div>
          <div class="info-data">25</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="info-card">
          <div class="info-title">{{'rentalComplete'|translate}}</div>
          <div class="info-data">25</div>
        </div>
      </div>
    </div>
    </div>

  <div class="row info-box-container">
    <form class="form-horizontal" role="form">

      <div class="form-group">

        <label class="col-md-1 control-label">{{'rentalMachineID'|translate}}</label>
        <div class="col-md-2">
          <input type="text" name="id" class="form-control"  ng-model="rentalMaintenanceController.machine.licenseId"
                 placeholder="{{'rentalMachineID'|translate}}"/>
        </div>

        <label class="col-md-1 control-label">{{'rentalOrganization'|translate}}</label>
        <div class="col-md-2">
          <p class="input-group">

            <input type="text" id="org" class="form-control" placeholder="{{'rentalOrganization'|translate}}" ng-model="rentalMaintenanceController.org.label" name="org" readonly required/>
            <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="rentalMaintenanceController.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
          </p>
        </div>
        <div class="col-md-2">
          <label class="control-label">{{'subordinateOrganization'|translate}}:</label>
          <input type="checkbox" checked="checked" ng-model="rentalMaintenanceController.querySubOrg"/>
        </div>

      </div>
      <div class="form-group">

        <label class="col-md-1 control-label">{{'rentalStartingDate'|translate}}</label>
        <div class="col-md-2">
          <p class="input-group">
            <input type="text" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="rentalMaintenanceController.rentalOrder.startDate"
                   is-open="rentalMaintenanceController.startDateSetting.status.opened"
                   datepicker-options="rentalMaintenanceController.startDateSetting.dateOptions" close-text="Close"
                   validator="required" message-id="bootstrap" readonly/>

            <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="rentalMaintenanceController.startDateSetting.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
          </p>
          <span id="bootstrap"></span>
        </div>

        <label  class="col-md-1 control-label">{{'rentalEndDate'|translate}}</label>
        <div class="col-md-2">
          <p class="input-group">
            <input type="text" name="endDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="rentalMaintenanceController.rentalOrder.endDate"
                   is-open="rentalMaintenanceController.endDateOpenStatus.opened"
                   datepicker-options="dateOptions" ng-readonly="true" close-text="Close"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="rentalMaintenanceController.endDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>


        <div class="col-md-3">
        </div>

        <div class="col-md-2">

          <button class="btn btn-primary" type="button"
                  ng-click="rentalMaintenanceController.query(null,null,null,rentalMaintenanceController.maintenance)">{{'query'|translate}}
          </button>
          <button class="btn btn-default" type="button" ng-click="rentalMaintenanceController.reset()">{{'reset'|translate}}</button>
        </div>

        <div class="col-md-1">

          <button class="btn btn-primary" type="button"
                  ng-click="rentalMaintenanceController.new()">{{'rentalAdd'|translate}}
          </button>
        </div>
      </div>

    </form>

  </div>

    <div class="row" ng-style="rentalMaintenanceController.baseBoxContainer">

      <div class="col-lg-12 table-responsive "><!--表格框-->
        <table ng-table="rentalMaintenanceController.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
          <tr ng-repeat="maintenance in $data">
            <td class="text-nowrap" data-title="'rentalMachineID'|translate" sortable="'licenseId'">{{maintenance.machine.licenseId}}</td>
            <td class="text-nowrap" data-title="'rentalOrganization'|translate" sortable="'label'">{{maintenance.org.label}}</td>
            <td class="text-nowrap" data-title="'rentalMaintenanceCost'|translate" sortable="'totalMaintentanceCost'">{{maintenance.totalMaintentanceCost}}</td>
            <td class="text-nowrap" data-title="'rentalLaborCost'|translate" sortable="'totalOperatorCost'">{{maintenance.totalOperatorCost}}</td>
            <td class="text-nowrap" data-title="'rentalMaintenanceCertification'|translate" sortable="'reason'">{{maintenance.reason}}</td>
            <td class="text-nowrap" data-title="'rentalStatus'|translate" sortable="'state'|translate">{{maintenance.statusDesc}}</td>
            <td class="text-nowrap" data-title="'rentalMaintenanceDescripition'|translate" sortable="'state'">{{maintenance.statusDesc}}</td>
            <td class="text-nowrap" data-title="'rentalCreateTime'|translate" sortable="'rentalCreateTime'|translate">{{maintenance.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td class="text-nowrap" data-title="'rentalUpdateTime'|translate" sortable="'rentalUpdateTime'|translate">{{maintenance.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td class="text-nowrap" data-title="'rentalOperations'|translate">
              <button type="button" class="btn btn-danger btn-xs" presentation-href="machineMng:machine:unBind"
                      ng-click="rentalMaintenanceController.update(maintenance.id)">{{'alter'| translate}}
              </button>
              <button type="button" class="btn btn-default btn-xs" presentation-href="machineMng:machine:modify"
                      ng-click="rentalMaintenanceController.view(maintenance.id)">{{'rentalView'| translate}}
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-12"><!--分页框-->

        <uib-pagination total-items="rentalMaintenanceController.page.totalElements"
                        ng-change="rentalMaintenanceController.query(rentalMaintenanceController.pageNumber-1,null,null,null)"
                        max-size="5" ng-model="rentalMaintenanceController.pageNumber" items-per-page="rentalMaintenanceController.page.size"
                        class="pagination-sm" boundary-links="true" rotate="false"
                        first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
      </div>
    </div>
  </div>
  <!--currentState end-->
</div>
