<div class="modal-header">
  <h3 class="modal-title">{{'unUsedMachineList'|translate}}
    <button style="margin-left: 5px" class="btn btn-warning pull-right" type="button" ng-click="rentalUnUsedMachineListCtrl.cancel()">{{'close'|translate}}</button>
    <button style="margin-left: 15px" class="btn btn-primary pull-right" type="button" ng-click="rentalUnUsedMachineListCtrl.batchMoveMachine()">{{'confirm'|translate}}</button>
  </h3>
</div>

<section class="content">

  <div class="row info-box-container">
    <form class="form-horizontal" role="form">

      <div class="form-group">

        <label class="col-md-2 control-label">{{'machineNumber'| translate}}</label>
        <div class="col-md-2">
          <input type="text" name="licenseId" class="form-control"  ng-model="rentalUnUsedMachineListCtrl.searchConditions.licenseId"
                 placeholder="{{'supportfuzzyqueries'|translate}}"/>
        </div>

        <label class="col-md-1 control-label">{{'rentalOrganization'|translate}}:</label>
        <div class="col-md-2">
          <p class="input-group">

            <input type="text" id="org" class="form-control" placeholder="{{'rentalOrganization'|translate}}" ng-model="rentalUnUsedMachineListCtrl.org.label" name="org" readonly required/>
            <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="rentalUnUsedMachineListCtrl.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
          </p>
        </div>

      </div>

      <div class="form-group">

        <label  class="col-md-2 control-label">{{'rentalMachineType'|translate}}</label>
        <div class="col-md-2">
          <ui-select name="deviceType" ng-model="rentalUnUsedMachineListCtrl.searchConditions.type" theme="bootstrap"
                     ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="{{'state'|translate}}">{{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="deviceType in rentalUnUsedMachineListCtrl.deviceTypeList">
              <div ng-bind-html="deviceType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <label class="col-md-1 control-label">{{'driveType'|translate}}</label>
        <div class="col-md-2">
          <ui-select name="devicePowerType" ng-model="rentalUnUsedMachineListCtrl.searchConditions.powerType" theme="bootstrap"
                     ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="{{'driveType'|translate}}">{{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="devicePowerType in rentalUnUsedMachineListCtrl.devicePowerTypeList">
              <div ng-bind-html="devicePowerType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>

      </div>

      <div class="form-group">

        <label class="col-md-2 control-label">{{'highlyType'|translate}}</label>
        <div class="col-md-2">
          <ui-select name="deviceHeightType" ng-model="rentalUnUsedMachineListCtrl.searchConditions.heightType" theme="bootstrap"
                     ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="{{'highlyType'|translate}}">{{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="deviceHeightType in rentalUnUsedMachineListCtrl.deviceHeightTypeList">
              <div ng-bind-html="deviceHeightType.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <label  class="col-md-1 control-label">{{'rentalBrand'|translate}}</label>
        <div class="col-md-2">
          <ui-select name="deviceManufacture" ng-model="rentalUnUsedMachineListCtrl.searchConditions.factory" theme="bootstrap"
                     ng-disabled="disabled">
            <ui-select-match allow-clear="true" placeholder="{{'rentalBrand'|translate}}">{{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="deviceManufacture in rentalUnUsedMachineListCtrl.deviceManufactureList">
              <div ng-bind-html="deviceManufacture.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-md-3">

          <button class="btn btn-primary" type="button"
                  ng-click="rentalUnUsedMachineListCtrl.query(null,null,null,rentalUnUsedMachineListCtrl.searchConditions)">{{'query'|translate}}
          </button>
          <button class="btn btn-default" type="button" ng-click="rentalUnUsedMachineListCtrl.reset()">{{'reset'|translate}}</button>
        </div>
      </div>
    </form>

  </div>


  <div class="row" ng-style="rentalOrderMngController.baseBoxContainer">
    <script id="selectAllHeader" type="text/ng-template">
      <input type="checkbox"  ng-click="rentalUnUsedMachineListCtrl.updateAllSelection($event)"
             ng-model="machineMngCtrl.checked">
    </script>
    <div class="col-lg-12 table-responsive "><!--表格框-->
      <table ng-table="rentalUnUsedMachineListCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="machine in $data">
          <td class="text-nowrap" data-header="'selectAllHeader'">
            <input type="checkbox" ng-checked="rentalUnUsedMachineListCtrl.isSelected(machine.id)"
                   ng-click="rentalUnUsedMachineListCtrl.updateSelection($event,machine)" ng-model="machine.checked">
          </td>
          <td class="text-nowrap" data-title="'machineNumberAndCarNumber'|translate" sortable="'licenseId'">
            {{machine.licenseId}}
          </td>

          <td class="text-nowrap" data-title="'rentalOrganization'|translate" sortable="'label'">{{machine.label}}</td>
          <td class="text-nowrap" data-title="'deviceType'|translate" sortable="'typeName'">
            {{machine.typeName}}</td>
          <td class="text-nowrap" data-title="'highlyType'|translate" sortable="'heightTypeName'">{{machine.heightTypeName }}</td>
          <td class="text-nowrap" data-title="'driveType'|translate" sortable="'powerTypeName'">{{machine.powerTypeName}}</td>
          <td class="text-nowrap" data-title="'brandType'|translate" sortable="'factoryName'">{{machine.factoryName}}</td>

        </tr>
      </table>
    </div>
    <div class="col-lg-12"><!--分页框-->


      <uib-pagination total-items="rentalUnUsedMachineListCtrl.page.totalElements"
                      ng-change="rentalUnUsedMachineListCtrl.query(rentalUnUsedMachineListCtrl.pageNumber-1,null,null,null)"
                      max-size="5" ng-model="rentalUnUsedMachineListCtrl.pageNumber" items-per-page="rentalUnUsedMachineListCtrl.page.size"
                      class="pagination-sm" boundary-links="true" rotate="false"
                      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
  </div>
</section>

