<style type="text/css">
  .tableScroll {
    height: 400px;
    overflow: scroll;
  }

  .on-drag-enter {
    background-color: #ff0000;
  }

  .on-drag-hover:before {
    content: 'Drop him gently';
    display: block;
    color: white;
    font-size: x-large;
    font-weight: 800;
  }

</style>

<div class="machine-content">
  <section class="renatlcontent-header">
    <h1>
      <small>{{'rentalCurrentLocate'|translate}}:</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-taxi"></i>{{'rentalMng'| translate}}</a></li>
      <li class="active"><i class="fa fa-flag-checkered"></i>{{'rentalfleet'| translate}}</li>
    </ol>
  </section>

  <div class="container-fluid">


    <div class="row form-group" style="padding: 10px">


      <section class="content" ng-style="rentalFleetMngCtr.baseBoxContainer">
        <div class="row">
          <div class="col-md-5">
            <label class="col-md-2 control-label">仓库</label>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <label class="col-md-2 control-label">{{'rentalSelectOrder'| translate}}</label>
            <div class="col-md-6">
              <p class="input-group">

                <input type="text" id="rightRentalOrder" class="form-control"
                       ng-model="rentalFleetMngCtr.rightRentalOrder.id" name="rightRentalOrder"
                       validator="required" readonly/>
                <span class="input-group-btn">
          <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="rentalFleetMngCtr.selectRightOrder('lg')">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
              </p>
            </div>
            <div class="col-md2">
              <button class="btn btn-warning" type="button" ng-click="rentalFleetMngCtr.rightReset()">
                {{'cancel'|translate}}
              </button>
            </div>


          </div>


        </div>

        <div>
          <div class="col-md-5">
            <div class="box">
              <!-- /.box-header -->
              <div >
                <table ng-table="rentalFleetMngCtr.tableParams"
                       class="table table-condensed table-bordered table-striped text-nowrap">
                  <tr ng-repeat="rentalOrderMachine in $data" ui-draggable="true" drag="on-drag-enter"
                      on-drop-success="rentalFleetMngCtr.dropSuccessHandler1($event,$index,rentalFleetMngCtr.tableParams,rentalFleetMngCtr.tableParams2,rentalFleetMngCtr.rightRentalOrderId)">

                    <td data-title="'rentalMachineID'|translate" sortable="'machineLicenseId'">{{rentalOrderMachine.machineLicenseId}}</td>
                    <td data-title="'rentalDeviceID'|translate" sortable="'deviceNum'">{{rentalOrderMachine.deviceNum}}</td>
                    <td data-title="'type'|translate" sortable="'deviceType'">{{rentalOrderMachine.deviceType | translate}}</td>
                    <td data-title="'rentalBrand'|translate" sortable="'rentalBrand'|translate">{{rentalOrderMachine.manufacture|translate}}</td>
                    <td data-title="'highlyType'|translate" sortable="'heightType'">{{rentalOrderMachine.heightType | translate}}</td>

                  </tr>
                </table>

              </div>
              <div class=""><!--分页框-->
                <uib-pagination class="pagination-sm pagination-custom" boundary-links="true" rotate="false"
                                total-items="rentalFleetMngCtr.totalElements"
                                ng-change="rentalFleetMngCtr.leftQuery(rentalFleetMngCtr.currentPage-1,rentalFleetMngCtr.pageSize,rentalFleetMngCtr.totalElements,rentalFleetMngCtr.searchConditions)"
                                max-size="10"
                                ng-model="rentalFleetMngCtr.currentPage"
                                items-per-page="rentalFleetMngCtr.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </uib-pagination>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <div class="col-md-2">
            <img src="assets/images/arrow.png" align="center">
          </div>
          <div class="col-md-5">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">{{'rentalOrderNumber'| translate}}:{{rentalFleetMngCtr.rightRentalOrder.id}}</h3>
                <span ng-if="rentalFleetMngCtr.rightRentalOrder!=null">
                <button class="btn btn-primary pull-right" type="button"
                        ng-click="rentalFleetMngCtr.getMachineFromOrg(rentalFleetMngCtr.tableParams2,rentalFleetMngCtr.rightRentalOrderId,'lg')">{{'dispatch'|translate}}
                </button>

                  <button class="btn btn-primary pull-right" type="button"
                          ng-click="rentalFleetMngCtr.bringUpBatch(rentalFleetMngCtr.tableParams2,rentalFleetMngCtr.tableParams,rentalFleetMngCtr.rightRentalOrderId,'lg')">批量调出
                </button>
                  </span>
              </div>
              <!-- /.box-header -->
              <div style="height: 400px;overflow: scroll">
                <script id="selectAllHeader" type="text/ng-template">
                  <input type="checkbox"  ng-click="rentalFleetMngCtr.updateAllSelection($event)"
                         ng-model="rentalFleetMngCtr.checked">
                </script>
                <div class="col-lg-12 table-responsive ">
                  <table ng-table="rentalFleetMngCtr.tableParams2"
                         class="table table-condensed table-bordered table-striped text-nowrap">
                    <tr ng-repeat="rentalOrderMachine in $data" ui-draggable="true" drag="on-drag-enter"
                        on-drop-success="rentalFleetMngCtr.dropSuccessHandler2($event,$index,rentalFleetMngCtr.tableParams2,rentalFleetMngCtr.tableParams,rentalFleetMngCtr.rightRentalOrderId)">

                      <td class="text-nowrap" data-header="'selectAllHeader'">
                        <input type="checkbox" ng-checked="rentalFleetMngCtr.isSelected(rentalOrderMachine.id)"
                               ng-click="rentalFleetMngCtr.updateSelection($event,rentalOrderMachine.id,rentalOrderMachine.machine.licenseId,rentalOrderMachine.machine.deviceinfo.deviceNum,rentalOrderMachine.machine.deviceType.name,rentalOrderMachine.machine.deviceManufacture.name,rentalOrderMachine.machine.deviceHeightType.name)"
                               ng-model="rentalOrderMachine.checked">
                      </td>
                      <td data-title="'rentalMachineID'|translate" sortable="'machineLicenseId'"> {{rentalOrderMachine.machine.licenseId}}</td>
                      <td data-title="'rentalDeviceID'|translate" sortable="'deviceNum'">{{rentalOrderMachine.machine.deviceinfo.deviceNum}}</td>
                      <td data-title="'type'|translate" sortable="'deviceType'">{{rentalOrderMachine.machine.deviceType.name | translate}}</td>
                      <td data-title="'rentalBrand'|translate" sortable="'rentalBrand'|translate">{{rentalOrderMachine.machine.deviceManufacture.name|translate}}</td>
                      <td data-title="'highlyType'|translate" sortable="'heightType'">{{rentalOrderMachine.machine.deviceHeightType.name | translate}}</td>


                    </tr>
                  </table>
                </div>
              </div>
              <!-- /.box-body -->

            </div>
            <!-- /.box -->
          </div>


        </div>
      </section>
    </div>
    <!--machineInfo end-->
  </div>
</div>
