<div class="modal-header">
  <h3 class="modal-title">{{'customerList'|translate}}
  <button style="margin-left: 5px" class="btn btn-warning pull-right" type="button" ng-click="customerListCtrl.cancel()">{{'close'|translate}}</button>
  <button style="margin-left: 15px" class="btn btn-primary pull-right" type="button" ng-click="customerListCtrl.ok(deviceCurrentInfoCtrl.deviceinfo.id)">{{'confirm'|translate}}</button>
  </h3>
</div>




<!-- Main content -->
<section class="content">

  <div class="row form-group">
    <div class="col-md-2">
      <label class="control-label">{{'rentalCustomerName'|translate}}</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="name" class="form-control"  ng-model="customerListCtrl.customer.name"
             placeholder="{{'rentalCustomerName'|translate}}"/>
    </div>

    <div class="col-md-1">
      <label class="control-label">{{'phoneNumber'|translate}}:</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="mobile" class="form-control"  ng-model="customerListCtrl.customer.mobile"
             placeholder="{{'phoneNumber'|translate}}" />
    </div>


    <div class="col-md-3">
      <button class="btn btn-primary" type="button"  ng-click="customerListCtrl.query(null,null,null,customerListCtrl.customer)">{{'query'|translate}}
      </button>
      <button class="btn btn-default" type="button" ng-click="customerListCtrl.reset()">{{'reset'|translate}}</button>


    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2">
      <label class="control-label">{{'rentalOrganization'|translate}}:</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">

        <input type="text" id="org" class="form-control" placeholder="{{'rentalOrganization'|translate}}" ng-model="customerListCtrl.org.label" name="org" required/>
        <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="customerListCtrl.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
      </p>
    </div>

    <div class="col-md-2">
      <label class="control-label">{{'rentalsubordinateOrganization'|translate}}:</label>
    </div>
    <div class="col-md-1">
      <input type="checkbox" checked="checked" ng-model="customerListCtrl.querySubOrg"/>
    </div>
    <div class="col-md-3 pull-right">
      <button class="btn btn-primary" type="button" ng-click="customerListCtrl.addNewcustomer()">{{'add'|translate}}</button>
    </div>


  </div>

  </div>
  <div class="row">
    <div class="btn-group col-md-2">
      <span class="label label-info pull-left">{{'totalNumbeOfUsers'|translate}}:  {{userRoleMngController.page.totalElements}}</span>
    </div>

  </div>
  <div class="row " style="padding: 10px">
      <div class="table-responsive">

        <table ng-table="customerListCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
          <tr ng-repeat="customer in $data">
            <td class="text-nowrap">
              <input type="radio" name="customer.radio"  ng-value="customer" ng-model="customerListCtrl.selectRadio">
            </td>

            <td class="text-nowrap" data-title="'id'" sortable="'id'">{{customer.id}}</td>
            <td class="text-nowrap" data-title="'name'|translate" sortable="'name'">{{customer.name}}</td>
            <td class="text-nowrap" data-title="'rentalLinkman'|translate" sortable="'contacts'">{{customer.contacts}}</td>
            <td class="text-nowrap" data-title="'rentalCustomerPosition'|translate" sortable="'title'">{{customer.title}}</td>
            <td class="text-nowrap" data-title="'tellPhoneNumber'|translate" sortable="'engineType.engineName'">{{customer.tel}}</td>
            <td class="text-nowrap" data-title="'rentalPhoneNumber'|translate" sortable="'state'">{{customer.mobile}}</td>
            <td class="text-nowrap" data-title="'rentalOrganization'|translate" sortable="'org.label'">{{customer.org.label}}</td>
          </tr>
        </table>

      </div>

        <uib-pagination total-items="customerListCtrl.page.totalElements"
                        ng-change="customerListCtrl.query(customerListCtrl.pageNumber-1,null,null,null)"
                        max-size="5" ng-model="customerListCtrl.pageNumber" items-per-page="customerListCtrl.page.size"
                        class="pagination-sm" boundary-links="true" rotate="false"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
      </div>
    </div>
  </div>

</section>



