<div class="machine-content" resize>
  <!--currentState begin-->
  <div id="currentState" class="container-fluid">
    <section class="renatlcontent-header">
      <h1>
        <small>{{'rentalCurrentLocate'|translate}}:</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-car"></i>{{'rentalMng'| translate}}</a></li>
        <li class="active"><i class="fa fa-file-text-o"></i>{{'rentalOrderMng'| translate}}</li>
      </ol>
    </section>
    <div class="row info-box-container">
      <div class="col-lg-3 col-md-3">
        <div class="info-card">
          <div class="info-title">{{'rentalTotal'|translate}}</div>
          <div class="info-data">{{rentalOrderMngController.totalOrders}}</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="info-card">

          <div class="info-title">{{'rentalInProgress'|translate}}</div>
          <div class="info-data">{{rentalOrderMngController.planOrders}}</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="info-card">
          <div class="info-title">{{'rentalPlan'|translate}}</div>
          <div class="info-data">{{rentalOrderMngController.processOrders}}</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="info-card">
          <div class="info-title">{{'rentalComplete'|translate}}</div>
          <div class="info-data">{{rentalOrderMngController.fininshOrders}}</div>
        </div>
      </div>
    </div>
    <div class="container-fluid table-wrapper" style="margin-top: 15px">
      <div class="row info-box-container">
        <form class="form-horizontal" role="form">

          <div class="form-group">

            <label class="col-md-1 control-label">{{'rentalOrderNumber'|translate}}</label>
            <div class="col-md-2">
              <input type="text" name="id" class="form-control"  ng-model="rentalOrderMngController.rentalOrder.id"
                     placeholder="{{'rentalOrderNumber'|translate}}"/>
            </div>

            <label  class="col-md-1 control-label">{{'rentalCustomer'|translate}}</label>
            <div class="col-md-2">
              <input type="text" name="customerName" class="form-control"  ng-model="rentalOrderMngController.rentalOrder.customerName"
                     placeholder="{{'rentalCustomer'|translate}}"/>
            </div>
            <label class="col-md-1 control-label">{{'rentalOrganization'|translate}}</label>
            <div class="col-md-2">
              <p class="input-group">

                <input type="text" id="org" class="form-control" placeholder="{{'rentalOrganization'|translate}}" ng-model="rentalOrderMngController.org.label" name="org"/>
                <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="rentalOrderMngController.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
              </p>
            </div>

          </div>
          <div class="form-group">

            <label class="col-md-1 control-label">{{'rentalStartingDate'|translate}}</label>
            <div class="col-md-2">
              <p class="input-group">
                <input type="text" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}"
                       ng-model="rentalOrderMngController.rentalOrder.startDate"
                       is-open="rentalOrderMngController.startDateSetting.status.opened"
                       datepicker-options="rentalOrderMngController.startDateSetting.dateOptions"
                       message-id="bootstrap"
                       current-text="{{'today'|translate}}"
                       clear-text="{{'cleanUp'|translate}}"
                       close-text="{{'close'|translate}}"readonly/>

                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="rentalOrderMngController.startDateSetting.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
              <span id="bootstrap"></span>
            </div>

            <label  class="col-md-1 control-label">{{'rentalEndDate'|translate}}</label>
            <div class="col-md-2">
              <p class="input-group">
                <input type="text" name="endDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                       ng-model="rentalOrderMngController.rentalOrder.endDate"
                       is-open="rentalOrderMngController.endDateOpenStatus.opened"
                       datepicker-options="dateOptions"
                       current-text="{{'today'|translate}}"
                       clear-text="{{'cleanUp'|translate}}"
                       close-text="{{'close'|translate}}"readonly/>
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="rentalOrderMngController.endDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </p>
            </div>

            <label class="col-md-1 control-label">{{'rentalStatus'|translate}}</label>
            <div class="col-md-2">
              <ui-select name="status" ng-model="rentalOrderMngController.rentalOrder.status" theme="bootstrap"
                         ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'rentalStatus'|translate}}">{{$select.selected.desc|translate}}
                </ui-select-match>
                <ui-select-choices repeat="retanlOrderStatus in rentalOrderMngController.retanlOrderStatusList">
                  <div ng-bind-html="retanlOrderStatus.desc | highlight: $select.search |translate"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="col-md-2">

              <button class="btn btn-primary" type="button"
                      ng-click="rentalOrderMngController.query(null,null,null,rentalOrderMngController.rentalOrder)">{{'search'|translate}}
              </button>
              <button class="btn btn-default" type="button" ng-click="rentalOrderMngController.reset()">{{'rentalReset'|translate}}</button>
            </div>

            <div class="col-md-1">
              <button class="btn btn-primary" type="button" ng-click="rentalOrderMngController.new()">{{'rentalAdd'|translate}}</button>
            </div>
          </div>

        </form>

      </div>
      <div class="row" ng-style="rentalOrderMngController.baseBoxContainer">

        <div class="col-lg-12 table-responsive "><!--表格框-->
          <table ng-table="rentalOrderMngController.tableParams" class="table table-condensed table-bordered text-nowrap">
            <tr ng-repeat="rentalOrder in $data">
              <td class="text-nowrap" data-title="'rentalOrderNumber'|translate" sortable="'id'">{{rentalOrder.id}}</td>
              <td class="text-nowrap" data-title="'rentalStartingDate'|translate" sortable="'startDate'">{{rentalOrder.startDate | date:'yyyy-MM-dd'}}</td>
              <td class="text-nowrap" data-title="'rentalEndDate'|translate" sortable="'endDate'">{{rentalOrder.endDate | date:'yyyy-MM-dd'}}</td>
              <td class="text-nowrap" data-title="'rentalCustomer'|translate" sortable="'rentalCustomer.name'">{{rentalOrder.rentalCustomer.name }}</td>
              <td class="text-nowrap" data-title="'rentalStatus'|translate" sortable="'statusDesc'">{{rentalOrder.statusDesc |translate }}</td>
              <td class="text-nowrap" data-title="'rentalAddress'|translate" sortable="'location'">{{rentalOrder.location }}</td>
              <td class="text-nowrap" data-title="'rentalTotalNumberOfMachine'|translate" >
                <span ng-if="rentalOrder.jc==null">0</span>
                <span ng-if="rentalOrder.jc!=null">{{rentalOrder.jc}}</span> /
                <span ng-if="rentalOrder.zb==null">0</span>
                <span ng-if="rentalOrder.zb!=null">{{rentalOrder.zb}}</span> /
                <span ng-if="rentalOrder.qb==null">0</span>
                <span ng-if="rentalOrder.qb!=null">{{rentalOrder.qb}}</span>

              </td>

              <td class="text-nowrap" data-title="'rentalOperations'|translate">
                <button type="button" class="btn btn-danger btn-xs"
                        ng-click="rentalOrderMngController.update(rentalOrder.id)">{{'rentalEdit'| translate}}
                </button>
                <button type="button" class="btn btn-default btn-xs"
                        ng-click="rentalOrderMngController.view(rentalOrder.id)">{{'rentalView'| translate}}
                </button>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-lg-12"><!--分页框-->
          <uib-pagination total-items="rentalOrderMngController.page.totalElements"
                          ng-change="rentalOrderMngController.query(rentalOrderMngController.pageNumber-1,null,null,null)"
                          max-size="5" ng-model="rentalOrderMngController.pageNumber" items-per-page="rentalOrderMngController.page.size"
                          class="pagination-sm" boundary-links="true" rotate="false"
                          first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
          </uib-pagination>
        </div>
      </div>
    </div>
  </div>
  <!--currentState end-->
</div>
