<style>
  .editable-table > tbody > tr > td {
    padding: 4px
  }

  .editable-text {
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
  }

  .editable-table tbody > tr > td > .controls {
  / / width: 100 %
  }

  .editable-input > .ui-select-match {
    padding: 0px!important;
    height: auto!important;
    border: none!important;
  }
  .editable-input > .ui-select-match>.ui-select-toggle{
    height: 28px!important;
    border: none!important;
  }
  .editable-input.input-sm {
    height: 30px;
    font-size: 14px;
    padding: 0;
  }




</style>
<div class="modal-header modal-header-padding" class="newRentalOrder">
  <div class="modal-title">
    <div class="modal-title-text">
      {{'newOrder'|translate}}
    </div>
  </div>
</div>
<div class="modal-body">
  <form name="updateRentalOrderForm" class="form-horizontal">
    <div class="box-body">
      <div class="form-group">
        <label for="orderNumber" class="col-md-2 control-label font-nomal">{{'rentalOrderNumber'|translate}}:</label>
        <div class="col-md-3">
          <input type="text" class="form-control" id="orderNumber" placeholder="{{'rentalOrderNumber'|translate}}" ng-model="updateRentalOrderCtrl.rentalOrder.orderNumber" name="orderNumber" typeahead-show-hint="true" validator="required" />
        </div>

        <label class="col-md-2 control-label font-nomal">{{'rentalCustomerName'|translate}}:</label>
        <div class="col-md-3">
          <div class="input-group">
            <input type="text" id="org" class="form-control" placeholder="{{'pleaseSelect'|translate}}" ng-model="updateRentalOrderCtrl.rentalOrder.rentalCustomer.name" name="customer" validator="required" readonly/>
            <span class="input-group-btn vertical-align_top">
                <button type="button" class="btn btn-default"  ng-click="updateRentalOrderCtrl.selectCustomer('lg')">
                  <i class="fa fa-sitemap"></i>
                </button>
              </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label font-nomal">工程名称</label>
        <div class="col-md-3">
          <input type="text" class="form-control" ng-model="updateRentalOrderCtrl.rentalOrder.projectName"  placeholder="工程名称"  name="" typeahead-show-hint="true"  />
        </div>

        <label class="col-md-2 control-label font-nomal">施工地点</label>
        <div class="col-md-3">
          <input type="text" class="form-control"  placeholder="施工地点" ng-model="updateRentalOrderCtrl.rentalOrder.location"  name="" typeahead-show-hint="true"  />
        </div>
      </div>

      <div class="form-group">

        <label class="col-md-2 control-label font-nomal">作业内容:</label>
        <div class="col-md-3">
          <ui-select  ng-model="updateRentalOrderCtrl.rentalOrder.jobContent" ng-disabled="disabled" required>
            <ui-select-match allow-clear="true" placeholder="作业内容">{{$select.selected.name |translate}}</ui-select-match>
            <ui-select-choices repeat="jobContent in updateRentalOrderCtrl.jobContentList | propsFilter: {name: $select.search}" >
              <div ng-bind-html="jobContent.name | highlight: $select.search |translate"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <label class="col-md-2 control-label font-nomal">支付方式:</label>
        <div class="col-md-3">
          <ui-select  ng-model="updateRentalOrderCtrl.rentalOrder.payType" ng-disabled="disabled" required>
            <ui-select-match allow-clear="true" placeholder="支付方式">{{$select.selected.desc |translate}}</ui-select-match>
            <ui-select-choices repeat="payType.value as payType in updateRentalOrderCtrl.payTypeList | propsFilter: {desc: $select.search}">
              <div ng-bind-html="payType.desc | highlight: $select.search |translate"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label font-nomal">租金收取约定:</label>

        <div class="col-md-3">
          <ui-select  ng-model="updateRentalOrderCtrl.rentalOrder.collectionAgreement" ng-disabled="disabled" required>
            <ui-select-match allow-clear="true" placeholder="租金收取约定">{{$select.selected.desc |translate}}</ui-select-match>
            <ui-select-choices repeat="collectionAgreement.value as collectionAgreement in updateRentalOrderCtrl.collectionAgreementList | propsFilter: {desc: $select.search}">
              <div ng-bind-html="collectionAgreement.desc | highlight: $select.search |translate"></div>
            </ui-select-choices>
          </ui-select>
        </div>

        <label class="col-md-2 control-label font-nomal">租金支付日期:</label>
        <div class="col-md-3">
          <div class="input-group">
            <input type="text" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="updateRentalOrderCtrl.rentalOrder.paymentDate" is-open="updateRentalOrderCtrl.paymentdateSetting.status.opened"
                   datepicker-options="updateRentalOrderCtrl.paymentdateSetting.dateOptions"  message-id="bootstrap"
                   current-text="{{'today'|translate}}"
                   clear-text="{{'cleanUp'|translate}}"
                   close-text="{{'close'|translate}}"readonly/>
            <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="updateRentalOrderCtrl.paymentdateSetting.open($event)">
                          <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
          </div>
          <span id="bootstrap"></span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label font-nomal">进退场费用:</label>
        <div class="col-md-2">
          <ui-select  ng-model="updateRentalOrderCtrl.rentalOrder.costType" ng-disabled="disabled" required>
            <ui-select-match allow-clear="true" placeholder="">{{$select.selected.desc |translate}}</ui-select-match>
            <ui-select-choices repeat="costType.value as costType in updateRentalOrderCtrl.operationType | propsFilter: {desc: $select.search}">
              <div ng-bind-html="costType.desc | highlight: $select.search |translate"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-md-2">
          <ui-select  ng-model="updateRentalOrderCtrl.rentalOrder.responsibility" ng-disabled="disabled" required>
            <ui-select-match allow-clear="true" placeholder="">{{$select.selected.desc |translate}}</ui-select-match>
            <ui-select-choices repeat="responsibility.value as responsibility in updateRentalOrderCtrl.responsibilityList | propsFilter: {desc: $select.search}">
              <div ng-bind-html="responsibility.desc | highlight: $select.search |translate"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div  class="col-md-1">
          <i>¥</i>
        </div>
        <div  class="col-md-2">
          <input type="text" class="form-control" placeholder="" ng-model="updateRentalOrderCtrl.rentalOrder.entryOrExitCost" name="entryOrExitCost" typeahead-show-hint="true" validator="money" />
        </div>

      </div>
      <div class="form-group">
        <div>
          <label class="col-md-2 control-label font-nomal">预付租金总额:</label>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="{{'amount'|translate}}" ng-model="updateRentalOrderCtrl.rentalOrder.prepaidRent" name="prepaidrent" typeahead-show-hint="true" validator="money" />
          </div>
        </div>

        <label class="col-md-2 control-label font-nomal">预付款总额:</label>
        <div class="col-md-3">
          <input type="text" class="form-control" placeholder="{{'amount'|translate}}" ng-model="updateRentalOrderCtrl.rentalOrder.grossAdvance" name="grossAdvance" typeahead-show-hint="true" validator="money" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label font-nomal">设备押金:</label>
        <div class="col-md-3">
          <input type="text" class="form-control" placeholder="{{'deposit'|translate}}" ng-model="updateRentalOrderCtrl.rentalOrder.deposit" name="deposit" typeahead-show-hint="true" validator="money" />
        </div>

        <label class="col-md-2 control-label font-nomal">合同总额:</label>
        <div class="col-md-3">
          <input type="text" class="form-control" placeholder="{{'amount'|translate}}" ng-model="updateRentalOrderCtrl.rentalOrder.totalAmt" name="totalAmt" typeahead-show-hint="true" validator="money" />
        </div>
      </div>
    </div>
  </form>
  <div class="form-group">
    <div class="brn-group pull-right">
      <button class="btn btn-default" ng-if="updateRentalOrderCtrl.isEditing" ng-click="updateRentalOrderCtrl.cancelChanges()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button class="btn btn-primary" ng-if="!updateRentalOrderCtrl.isEditing" ng-click="updateRentalOrderCtrl.isEditing = true">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button class="btn btn-primary" ng-if="updateRentalOrderCtrl.isEditing" ng-disabled="!updateRentalOrderCtrl.hasChanges() || updateRentalOrderCtrl.tableTracker.$invalid" ng-click="updateRentalOrderCtrl.saveChanges()">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button class="btn btn-default" ng-click="updateRentalOrderCtrl.add()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
    <table ng-table="updateRentalOrderCtrl.tableParams" class="table table-bordered table-hover table-condensed editable-table" ng-form="updateRentalOrderCtrl.tableForm" disable-filter="updateRentalOrderCtrl.isAdding" demo-tracked-table="updateRentalOrderCtrl.tableTracker">
      <colgroup>
        <col width="15%" />
        <col width="10%" />
        <col width="15%" />
        <col width="10%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="5%" />
      </colgroup>
      <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
        <td title="'设备类型'" filter="{deviceType: 'text'}" sortable="'deviceType'" ng-switch="updateRentalOrderCtrl.isEditing" ng-class="deviceType.$dirty ? 'bg-warning' : ''" ng-form="deviceType" demo-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.deviceType.name}}</span>
          <div class="controls" ng-class="deviceType.$invalid && deviceType.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <ui-select  ng-model="row.deviceType"  ng-disabled="disabled" class="editable-input form-control input-sm" required>
              <ui-select-match allow-clear="true" placeholder="">{{$select.selected.name |translate}}</ui-select-match>
              <ui-select-choices repeat="deviceType in updateRentalOrderCtrl.deviceTypeList | propsFilter: {name: $select.search}">
                <div ng-bind-html="deviceType.name | highlight: $select.search |translate"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </td>
        <td title="'高度类型'" filter="{height: 'number'}" sortable="'height'" ng-switch="updateRentalOrderCtrl.isEditing" ng-class="height.$dirty ? 'bg-warning' : ''" ng-form="height" demo-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.height}}</span>
          <div class="controls" ng-class="height.$invalid && height.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="number" name="height" ng-model="row.height" class="editable-input form-control input-sm" required/>
          </div>
        </td>
        <td title="'价格单位'" filter="{priceUnit: 'text'}" sortable="'priceUnit'" ng-switch="updateRentalOrderCtrl.isEditing" ng-class="priceUnit.$dirty ? 'bg-warning' : ''" ng-form="priceUnit" demo-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.priceUnit.desc}}</span>
          <div class="controls" ng-class="priceUnit.$invalid && priceUnit.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <ui-select  ng-model="row.priceUnit"  ng-disabled="disabled" class="editable-input form-control input-sm" required>
              <ui-select-match allow-clear="true" placeholder="">{{$select.selected.desc |translate}}</ui-select-match>
              <ui-select-choices repeat="priceUnit in updateRentalOrderCtrl.priceUnitList | propsFilter: {desc: $select.search}">
                <div ng-bind-html="priceUnit.desc | highlight: $select.search |translate"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </td>
        <td title="'金额'" filter="{dayPrice: 'number'}" sortable="'price'" ng-switch="updateRentalOrderCtrl.isEditing" ng-class="price.$dirty ? 'bg-warning' : ''" ng-form="price" demo-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.price}}</span>
          <div class="controls" ng-class="price.$invalid && price.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="number" name="price" ng-model="row.price" class="editable-input form-control input-sm" required/>
          </div>
        </td>
        <td title="'数量'" filter="{quantity: 'number'}" sortable="'quantity'" ng-switch="updateRentalOrderCtrl.isEditing" ng-class="quantity.$dirty ? 'bg-warning' : ''" ng-form="quantity" demo-tracked-table-cell>
          <span ng-switch-default class="editable-text">{{row.quantity}}</span>
          <div class="controls" ng-class="quantity.$invalid && quantity.$dirty ? 'has-error' : ''" ng-switch-when="true">
            <input type="number" name="quantity" ng-model="row.quantity" class="editable-input form-control input-sm" required/>
          </div>
        </td>
        <td title="'startDate'"  sortable="'startDate'" ng-switch="updateRentalOrderCtrl.isEditing" ng-class="startDate.$dirty ? 'bg-warning' : ''" ng-form="startDate" demo-tracked-table-cell>
          <div class="input-group">
            <input type="text" name="startDate" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="row.startDate" is-open="updateRentalOrderCtrl.startDateSetting.status.opened"
                   datepicker-options="updateRentalOrderCtrl.startDateSetting.dateOptions"
                   current-text="{{'today'|translate}}"
                   clear-text="{{'cleanUp'|translate}}"
                   close-text="{{'close'|translate}}"  readonly required/>
            <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="updateRentalOrderCtrl.startDateSetting.open($event)">
                          <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>
          </div>
        </td>
        <td title="'endDate'"  sortable="'endDate'" ng-switch="updateRentalOrderCtrl.isEditing" ng-class="endDate.$dirty ? 'bg-warning' : ''" ng-form="endDate" demo-tracked-table-cell>
          <div class="input-group">
            <input type="text" name="endDate" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}" ng-model="row.endDate" is-open="updateRentalOrderCtrl.endDateSetting.status.opened"
                   datepicker-options="updateRentalOrderCtrl.endDateSetting.dateOptions"
                   current-text="{{'today'|translate}}"
                   clear-text="{{'cleanUp'|translate}}"
                   close-text="{{'close'|translate}}"  readonly required/>
            <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="updateRentalOrderCtrl.endDateSetting.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
          </div>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" ng-click="updateRentalOrderCtrl.del(row)" ng-disabled="!updateRentalOrderCtrl.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="modal-footer">
  <div class="form-group" style="text-align: center;">
    <button class="btn  btn-primary " type="button" style="margin-right: 8px;" validation-submit="updateRentalOrderForm" ng-click="updateRentalOrderCtrl.newOrder(updateRentalOrderCtrl.rentalOrder)">{{'confirm'|translate}}
    </button>
    <button class="btn  btn-warning  " type="button" ng-click="updateRentalOrderCtrl.cancel()">
      {{'cancel'|translate}}
    </button>
  </div>
</div>

