<div class="machine-content" xmlns="http://www.w3.org/1999/html">
  <section class="renatlcontent-header">
    <h1>
      {{'customerInfo'|translate}}
      <small></small>
    </h1>
  </section>

  <div class="container-fluid">


    <div class="box-header with-border">
      <h3 class="box-title">{{'newCustomer'|translate}}</h3>
    </div>
    <form name="newrentalOrgFenceForm2" class="form-horizontal">
      <div class="modal-body">
        <div class="box-body">
          <div class="box-body col-sm-6">
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'rentalOrganization'|translate}}</label>
              <div class="col-md-5">
                <p class="input-group">

                  <input type="text" id="org" class="form-control" placeholder="{{'rentalOrganization'|translate}}" ng-model="updateRentalOrgFenceController.org.label" name="org" readonly validator="required"/>
                  <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="updateRentalOrgFenceController.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">{{'longitude'|translate}}</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="{{'AutomaticMatching'|translate}}" readonly
                       ng-model="updateRentalOrgFenceController.rentalOrgFence.longitude" name="longitude"
                       typeahead-show-hint="true" validator="required"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'latitude'|translate}}</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="{{'AutomaticMatching'|translate}}" readonly
                       ng-model="updateRentalOrgFenceController.rentalOrgFence.latitude" name="latitude"
                       typeahead-show-hint="true" validator="required"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">{{'radius'|translate}}</label>
              <div class="col-sm-5">
                <input type="text" class="form-control"
                       ng-model="updateRentalOrgFenceController.radius"
                       ng-change="updateRentalOrgFenceController.changeradius(updateRentalOrgFenceController.radius)" name="radius"
                       validator="number" typeahead-show-hint="true" validator="required"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">{{'descritpion'|translate}}</label>
              <div class="col-sm-5">
              <textarea class="form-control" placeholder="{{'descritpion'|translate}}"
                        ng-model="updateRentalOrgFenceController.rentalOrgFence.description" name="description"
                        typeahead-show-hint="true">

              </textarea>
              </div>
            </div>




            <div class="form-group">
              <button class="btn btn-primary" type="button" validation-submit="newrentalOrgFenceForm2"
                      ng-click="updateRentalOrgFenceController.ok()">{{'confirm'|translate}}
              </button>
              <button class="btn btn-warning" type="button" ng-click="updateRentalOrgFenceController.cancel()">
                {{'cancel'|translate}}
              </button>
            </div>

          </div>
          <div class="map-body col-sm-6">
            <div class="form-group">
              <label class="col-sm-2 control-label">{{'workAddress'|translate}}</label>
              <div class="col-sm-7">
                <input type="text" id="tipinput" class="form-control" placeholder="{{'search'|translate}}"
                       ng-model="updateRentalOrgFenceController.tipinput"/>
              </div>

            </div>
            <div class="row">
              <div class="col-md-8">
                <label class="control-label text-nowrap">{{'coordinate'|translate}}:</label>
                {{'longitude'|translate}}:<span
                style="color: red;"> {{updateRentalOrgFenceController.amaplongitudeNum}}</span>
                &nbsp;&nbsp;
                {{'latitude'|translate}}:<span style="color: red;"> {{updateRentalOrgFenceController.amaplatitudeNum}}</span>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="text-nowrap">{{'selectAddress'|translate}}:</label>
                <span style="color: red;"> {{updateRentalOrgFenceController.selectAddress}}</span>
              </div>
            </div>
            <div class="form-group">
              <div class="box-body" id="newOrderMap" ng-style="updateRentalOrgFenceController.baseBoxMapContainer"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="box-footer">

    </div>


  </div>


</div>
