<!--<div class="machine-content" xmlns="http://www.w3.org/1999/html">-->
  <!--<section class="renatlcontent-header">-->
    <!--<h1>-->
      <!--{{'customerInfo'|translate}}-->
      <!--<small></small>-->
    <!--</h1>-->
  <!--</section>-->

  <!--<div class="container-fluid">-->


    <!--<div class="box-header with-border">-->
      <!--<h3 class="box-title">{{'newCustomer'|translate}}</h3>-->
    <!--</div>-->
    <!--<form name="newrentalOrderForm2" class="form-horizontal">-->
      <!--<div class="modal-body">-->
        <!--<div class="box-body">-->
            <!--<div class="form-group">-->
              <!--<label class="col-sm-3 control-label">{{'rentalCustomerName'|translate}}</label>-->
              <!--<div class="col-md-5">-->
                <!--<p class="input-group">-->

                  <!--<input type="text" id="org" class="form-control" placeholder="{{'pleaseSelect'|translate}}"-->
                         <!--ng-model="updateRentalOrderController.customer.name" name="customer" readonly-->
                         <!--validator="required"/>-->
                  <!--<span class="input-group-btn">-->
          <!--&lt;!&ndash;打开组织树&ndash;&gt;-->
            <!--<button type="button" class="btn btn-default" ng-click="updateRentalOrderController.selectCustomer('lg')">-->
              <!--<i class="fa fa-sitemap"></i>-->
            <!--</button>-->
          <!--</span>-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label class="col-sm-3 control-label">{{'amount'|translate}}</label>-->
              <!--<div class="col-sm-5">-->
                <!--<input type="text" class="form-control" placeholder="{{'amount'|translate}}"-->
                       <!--ng-model="updateRentalOrderController.rentalOrder.totalAmt" name="totalAmt"-->
                       <!--typeahead-show-hint="true"/>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<label class="col-sm-3 control-label">{{'deposit'|translate}}</label>-->
              <!--<div class="col-sm-5">-->
                <!--<input type="text" class="form-control" placeholder="{{'deposit'|translate}}"-->
                       <!--ng-model="updateRentalOrderController.rentalOrder.deposit" name="deposit"-->
                       <!--typeahead-show-hint="true"/>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<label class="col-sm-3 control-label">{{'paymentMethod'|translate}}</label>-->
              <!--<div class="col-sm-5">-->
                <!--<input type="text" class="form-control" placeholder="{'paymentMethod'|translate}}"-->
                       <!--ng-model="updateRentalOrderController.rentalOrder.payType" name="payType"-->
                       <!--typeahead-show-hint="true"/>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<label class="col-sm-3 control-label">{{'startingTime'|translate}}</label>-->
              <!--<div class="col-sm-5">-->
                <!--<p class="input-group">-->
                  <!--<input type="text" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}"-->
                         <!--ng-model="updateRentalOrderController.rentalOrder.startDate"-->
                         <!--is-open="updateRentalOrderController.startDateSetting.status.opened"-->
                         <!--datepicker-options="updateRentalOrderController.startDateSetting.dateOptions" close-text="Close"-->
                         <!--validator="required" message-id="bootstrap" readonly/>-->

                  <!--<span class="input-group-btn">-->
                  <!--<button type="button" class="btn btn-default"-->
                          <!--ng-click="updateRentalOrderController.startDateSetting.open($event)">-->
                    <!--<i class="glyphicon glyphicon-calendar"></i>-->
                  <!--</button>-->
                <!--</span>-->
                <!--</p>-->
                <!--<span id="bootstrap"></span>-->

              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label class="col-sm-3 control-label">{{'endTime'|translate}}</label>-->
              <!--<div class="col-sm-5">-->
                <!--<p class="input-group">-->
                  <!--<input type="text" name="endDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"-->
                         <!--ng-model="updateRentalOrderController.rentalOrder.endDate"-->
                         <!--is-open="updateRentalOrderController.endDateOpenStatus.opened"-->
                         <!--datepicker-options="dateOptions" ng-readonly="true" close-text="Close"/>-->
                  <!--<span class="input-group-btn">-->
                <!--<button type="button" class="btn btn-default"-->
                        <!--ng-click="updateRentalOrderController.endDateOpen($event)">-->
                  <!--<i class="glyphicon glyphicon-calendar"></i></button>-->
              <!--</span>-->
                <!--</p>-->
              <!--</div>-->
            <!--</div>-->

          <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label">{{'rentalWorkLocation'|translate}}</label>-->
            <!--<div class="col-sm-5">-->
              <!--<input type="text" class="form-control"-->
                     <!--ng-model="updateRentalOrderController.rentalOrder.location"-->
                      <!--name="location"-->
                     <!--validator="required" typeahead-show-hint="true"/>-->
            <!--</div>-->
          <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label class="col-sm-3 control-label">{{'rentalScissorLiftNumbers'|translate}}</label>-->
              <!--<div class="col-sm-5">-->
                <!--<input type="text" class="form-control"-->
                       <!--ng-model="updateRentalOrderController.rentalOrder.jc"-->
                       <!--placeholder="0" name="jc"-->
                       <!--validator="number" typeahead-show-hint="true"/>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label class="col-sm-3 control-label">{{'rentalBoomLiftNubmers'|translate}}</label>-->
              <!--<div class="col-sm-5">-->
                <!--<input type="text" class="form-control"-->
                       <!--ng-model="updateRentalOrderController.rentalOrder.zb"-->
                       <!--placeholder="0" name="zb"-->
                       <!--validator="number" typeahead-show-hint="true"/>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label class="col-sm-3 control-label">{{'rentalArticulatingBoomLiftNumbers'|translate}}</label>-->
              <!--<div class="col-sm-5">-->
                <!--<input type="text" class="form-control" placeholder="0" name="qb"-->
                       <!--ng-model="updateRentalOrderController.rentalOrder.qb"-->
                       <!--validator="number" typeahead-show-hint="true"/>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<label class="col-sm-3 control-label">{{'descritpion'|translate}}</label>-->
              <!--<div class="col-sm-5">-->
              <!--<textarea class="form-control" placeholder="{{'descritpion'|translate}}"-->
                        <!--ng-model="updateRentalOrderController.rentalOrder.description" name="description"-->
                        <!--typeahead-show-hint="true">-->

              <!--</textarea>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<label class="col-sm-3 control-label"></label>-->
              <!--<div class="col-sm-5">-->
                <!--<label>-->
                  <!--<input type="checkbox" name="locationAlarmReceiver" ng-model="updateRentalOrderController.locationAlarmReceiverChk" id="locationAlarmReceiver">-->
                  <!--{{'AbnormalAlarmReceivingMachine'|translate}}-->
                <!--</label>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<button class="btn btn-primary" type="button" validation-submit="newrentalOrderForm2"-->
                      <!--ng-click="updateRentalOrderController.ok()">{{'confirm'|translate}}-->
              <!--</button>-->
              <!--<button class="btn btn-warning" type="button" ng-click="updateRentalOrderController.cancel()">-->
                <!--{{'cancel'|translate}}-->
              <!--</button>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
    <!--</form>-->
    <!--<div class="box-footer">-->

    <!--</div>-->


  <!--</div>-->


<!--</div>-->


<div class="machine-content">

  <div class="container-fluid">

    <div class="box-header with-border">
      <h3 class="box-title">修改订单信息</h3>
    </div>
    <form name="newrentalOrderForm2" class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <label for="orderNumber" class="col-md-2 control-label">订单号</label>
          <div class="col-md-3">
            <input type="text" class="form-control" id="orderNumber" placeholder="订单号" ng-model="updateRentalOrderController.rentalOrder. orderNumber" name="orderNumber" typeahead-show-hint="true" validator="required" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">{{'rentalCustomerName'|translate}}</label>
          <div class="col-md-3">
            <p class="input-group">

              <input type="text" id="org" class="form-control" placeholder="{{'pleaseSelect'|translate}}" ng-model="updateRentalOrderController.customer.name" name="customer" validator="required" readonly/>
              <span class="input-group-btn">
          <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="updateRentalOrderController.selectCustomer('lg')">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
            </p>
          </div>

          <label class="col-md-2 control-label">{{'paymentMethod'|translate}}</label>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="{{'paymentMethod'|translate}}" ng-model="updateRentalOrderController.rentalOrder.payType" name="payType" typeahead-show-hint="true" validator="required" />
          </div>

        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">{{'deposit'|translate}}</label>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="{{'deposit'|translate}}" ng-model="updateRentalOrderController.rentalOrder.deposit" name="deposit" typeahead-show-hint="true" validator="number" />
          </div>

          <label class="col-md-2 control-label">{{'amount'|translate}}</label>
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="{{'amount'|translate}}" ng-model="updateRentalOrderController.rentalOrder.totalAmt" name="totalAmt" typeahead-show-hint="true" validator="number" />
          </div>

        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">{{'rentalStartingDate'|translate}}</label>
          <div class="col-md-3">
            <p class="input-group">
              <input type="text" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}" ng-model="updateRentalOrderController.rentalOrder.startDate" is-open="updateRentalOrderController.startDateSetting.status.opened" datepicker-options="updateRentalOrderController.startDateSetting.dateOptions" close-text="Close" message-id="bootstrap" readonly/>

              <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="updateRentalOrderController.startDateSetting.open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
            </p>
            <span id="bootstrap"></span>

          </div>

          <label class="col-md-2 control-label">{{'rentalEndDate'|translate}}</label>
          <div class="col-md-3">
            <p class="input-group">
              <input type="text" name="endDate" class="form-control" uib-datepicker-popup="{{formatCustom}}" ng-model="updateRentalOrderController.rentalOrder.endDate" is-open="updateRentalOrderController.endDateOpenStatus.opened" datepicker-options="dateOptions" close-text="Close" readonly/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="updateRentalOrderController.endDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">{{'rentalWorkLocation'|translate}}</label>
          <div class="col-md-3">
            <input type="text" class="form-control" ng-model="updateRentalOrderController.rentalOrder.location" name="location" validator="required" typeahead-show-hint="true" />
          </div>

          <label class="col-md-2 control-label">{{'descritpion'|translate}}</label>
          <div class="col-md-3">
						<textarea class="form-control" placeholder="{{'description'|translate}}" ng-model="updateRentalOrderController.rentalOrder.description" name="description" typeahead-show-hint="true">

              </textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-1">
            <label class=" control-label">剪叉:</label>
          </div>
          <div class="col-md-11">

            <label class="col-md-1 control-label">数量</label>
            <div class="col-md-1">
              <input type="text" class="form-control" ng-model="updateRentalOrderController.jcOption.nums" placeholder="0" name="jc" validator="number" typeahead-show-hint="true" />
            </div>

            <label class="col-md-1 control-label">高度</label>
            <div class="col-md-2">
              <ui-select name="deviceHeightType" ng-model="updateRentalOrderController.jcOption.heightTypeId" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'highlyType'|translate}}">{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="deviceHeightType in updateRentalOrderController.deviceHeightTypeList">
                  <div ng-bind-html="deviceHeightType.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <label class="col-md-1 control-label">{{'rentalBrand'|translate}}</label>
            <div class="col-md-2">
              <ui-select name="deviceManufacture" ng-model="updateRentalOrderController.jcOption.factoryId" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'rentalBrand'|translate}}">{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="deviceManufacture in updateRentalOrderController.deviceManufactureList">
                  <div ng-bind-html="deviceManufacture.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <label class="col-md-1 control-label">单价(/天)</label>
            <div class="col-md-1">
              <input type="text" class="form-control" ng-model="updateRentalOrderController.jcOption.price" placeholder="0" name="jc" validator="number" typeahead-show-hint="true" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-sm btn-primary pull-right" type="button" ng-click="updateRentalOrderController.addMachine('lg',updateRentalOrderController.jcOption,1)">调拨车辆</button>

            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-1">
            <label class=" control-label">直臂:</label>
          </div>
          <div class="col-md-11">

            <label class="col-md-1 control-label">数量</label>
            <div class="col-md-1">
              <input type="text" class="form-control" ng-model="updateRentalOrderController.zbOption.nums" placeholder="0" name="jc" validator="number" typeahead-show-hint="true" />
            </div>

            <label class="col-md-1 control-label">高度</label>
            <div class="col-md-2">
              <ui-select name="deviceHeightType" ng-model="updateRentalOrderController.zbOption.heightTypeId" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'highlyType'|translate}}">{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="deviceHeightType in updateRentalOrderController.deviceHeightTypeList">
                  <div ng-bind-html="deviceHeightType.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <label class="col-md-1 control-label">{{'rentalBrand'|translate}}</label>
            <div class="col-md-2">
              <ui-select name="deviceManufacture" ng-model="updateRentalOrderController.zbOption.factoryId" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'rentalBrand'|translate}}">{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="deviceManufacture in updateRentalOrderController.deviceManufactureList">
                  <div ng-bind-html="deviceManufacture.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <label class="col-md-1 control-label">单价(/天)</label>
            <div class="col-md-1">
              <input type="text" class="form-control" ng-model="updateRentalOrderController.zbOption.price" placeholder="0" name="jc" validator="number" typeahead-show-hint="true" />
            </div>
            <div class="col-sm-2">

              <button class="btn btn-sm btn-primary pull-right" type="button" ng-click="updateRentalOrderController.addMachine('lg',updateRentalOrderController.zbOption,2)">调拨车辆</button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-1">
            <label class=" control-label">曲臂:</label>
          </div>
          <div class="col-md-11">
            <label class="col-md-1 control-label">数量</label>
            <div class="col-md-1">
              <input type="text" class="form-control" ng-model="updateRentalOrderController.qbOption.nums" placeholder="0" name="jc" validator="number" typeahead-show-hint="true" />
            </div>

            <label class="col-md-1 control-label">高度</label>
            <div class="col-md-2">
              <ui-select name="deviceHeightType" ng-model="updateRentalOrderController.qbOption.heightTypeId" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'highlyType'|translate}}">{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="deviceHeightType in updateRentalOrderController.deviceHeightTypeList">
                  <div ng-bind-html="deviceHeightType.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <label class="col-md-1 control-label">{{'rentalBrand'|translate}}</label>
            <div class="col-md-2">
              <ui-select name="deviceManufacture" ng-model="updateRentalOrderController.qbOption.factoryId" theme="bootstrap" ng-disabled="disabled">
                <ui-select-match allow-clear="true" placeholder="{{'rentalBrand'|translate}}">{{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="deviceManufacture in updateRentalOrderController.deviceManufactureList">
                  <div ng-bind-html="deviceManufacture.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

            <label class="col-md-1 control-label">单价(/天)</label>
            <div class="col-md-1">
              <input type="text" class="form-control" ng-model="updateRentalOrderController.qbOption.price" placeholder="0" name="jc" validator="number" typeahead-show-hint="true" />
            </div>
            <div class="col-md-2">
              <button class="btn btn-sm btn-primary pull-right" type="button" ng-click="updateRentalOrderController.addMachine('lg',updateRentalOrderController.qbOption,3)">调拨车辆</button>
            </div>
          </div>

        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="button" validation-submit="newrentalOrderForm2" ng-click="updateRentalOrderController.ok()">{{'confirm'|translate}}
          </button>
          <button class="btn btn-warning" type="button" ng-click="updateRentalOrderController.cancel()">
            {{'cancel'|translate}}
          </button>
        </div>

      </div>
    </form>
  </div>

</div>

