<div class="machine-content" xmlns="http://www.w3.org/1999/html">

  <section class="content-header">
    <h1>
      <small>{{'rentalCurrentLocate'|translate}}:</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-taxi"></i>{{'rentalMng'| translate}}</a></li>
      <li class="active"><i class="fa  fa-user"></i>车辆保养</li>
    </ol>
  </section>

  <div class="container-fluid">


    <div class="box-header with-border">
      <h3 class="box-title">查看保养信息</h3>
    </div>
    <form name="form" class="form-horizontal">
      <div class="modal-body">
        <div class="box-body">

          <div class="form-group">

            <label class="col-md-1 control-label">车辆</label>
            <div class="col-md-2">
              <input type="text" name="reason" class="form-control"  ng-model="viewRentalMaintenanceController.maintenance.machine.licenseId"
                     placeholder="车辆" readonly/>
              </button>
              </span>
              </p>
            </div>

            <label  class="col-md-1 control-label">保养依据</label>
            <div class="col-md-2">
              <input type="text" name="reason" class="form-control"  ng-model="viewRentalMaintenanceController.maintenance.reason"
                     placeholder="保养依据" readonly/>
            </div>
            <label class="col-md-1 control-label">描述</label>
            <div class="col-md-5">
              <input type="text" name="description" class="form-control"  ng-model="viewRentalMaintenanceController.maintenance.description"
                     placeholder="描述" readonly/>
            </div>


          </div>
          <div class="form-group">

            <label class="col-md-1 control-label">保养总费用</label>
            <div class="col-md-2">
              <input type="text" name="totalMaintentanceCost"
                     class="form-control"  ng-model="viewRentalMaintenanceController.maintenance.totalMaintentanceCost"
                     placeholder="总保养费用" validator="required" readonly/>

            </div>

            <label  class="col-md-1 control-label">人工总费用</label>
            <div class="col-md-2">
              <input type="text" name="totalOperatorCost" class="form-control"  ng-model="viewRentalMaintenanceController.maintenance.totalOperatorCost"
                     placeholder="总人工费用" validator="required" readonly/>
            </div>

          </div>
          <hr/>
          <div class="form-group">

            <div class="col-lg-12 table-responsive "><!--表格框-->

              <table ng-table="viewRentalMaintenanceController.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
                <tr ng-repeat="maintenanceList in $data">

                  <td class="text-nowrap" data-title="'保养类别'" sortable="'deviceinfo.deviceNum'">{{maintenanceList.machineMaintenanceType.type}}</td>
                  <td class="text-nowrap" data-title="'保养项目'" sortable="'org.label'">{{maintenanceList.machineMaintenanceType.content}}</td>

                  <td class="text-nowrap" data-title="'保养费用'" sortable="'deviceinfo.deviceNum'">
                    <input type="text" name="maintenaceCost" class="form-control"  ng-model="maintenanceList.maintenaceCost" placeholder="保养费用" readonly/>
                  </td>
                  <td class="text-nowrap" data-title="'人工费用'" sortable="'engineType.engineName'">
                    <input type="text" name="operatorCost" class="form-control"  ng-model="maintenanceList.operatorCost" placeholder="人工费用" readonly/>
                  </td>

                  <td class="text-nowrap" data-title="'保养时间'" sortable="'deviceinfo.deviceNum'" >
                    <p class="input-group">
                      <input type="text" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}"
                             ng-model="maintenanceList.createTime"
                             is-open="maintenanceList.opened"
                             datepicker-options="dateOptions" close-text="Close"
                             validator="required" message-id="bootstrap" readonly/>

                      <span class="input-group-btn">
                </span>
                    </p>
                    <span id="bootstrap"></span>
                  </td>
                  <td class="text-nowrap" data-title="'保养人'" sortable="'deviceinfo.deviceNum'">
                    <input type="text" name="operatorRequiredOnly{{$index}}" message-id="operatorRequiredOnly{{$index}}"
                           class="form-control"  validator="required" ng-model="maintenanceList.operator" placeholder="保养人" readonly/>
                    <span id="operatorRequiredOnly{{$index}}"></span>
                  </td>
                  <td class="text-nowrap" data-title="'状态'" sortable="'state'">
                    <input type="text" name="maintenaceCost" class="form-control"  ng-model="maintenanceList.statusDesc" placeholder="状态" readonly/>
                  </td>

                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="box-footer">
      <button class="btn btn-warning" type="button" ng-click="viewRentalMaintenanceController.cancel()">{{'cancel'|translate}}</button>
    </div>



  </div>



</div>
