<div class="modal-header">
  <div class="modal-title">
    <div class="modal-title-text">
      {{'viewMaintenanceInfo'|translate}}
    </div>
  </div>
</div>

<div class="modal-body">
  <form name="form" class="form-horizontal">
    <div class="box-body">
      <div class="form-group">
        <label class="col-md-1 control-label font-nomal">{{'Machine'|translate}}:</label>
        <div class="col-md-2">
          <input type="text" name="reason" class="form-control"  ng-model="viewRentalMaintenanceCtrl.maintenance.machine.licenseId"
                     placeholder="{{'Machine'|translate}}" readonly/>
        </div>
        <label  class="col-md-1 control-label font-nomal">{{'MaintenanceBasis'|translate}}:</label>
        <div class="col-md-2">
          <input type="text" name="reason" class="form-control"  ng-model="viewRentalMaintenanceCtrl.maintenance.reason"
                     placeholder="{{'MaintenanceBasis'|translate}}" readonly/>
        </div>
        <label class="col-md-1 control-label font-nomal">{{'descritpion'|translate}}:</label>
        <div class="col-md-5">
          <input type="text" name="description" class="form-control"  ng-model="viewRentalMaintenanceCtrl.maintenance.description"
                     placeholder="{{'descritpion'|translate}}" readonly/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-1 control-label font-nomal">{{'rentalTotalMaintenanceCost'|translate}}:</label>
        <div class="col-md-2">
          <input type="text" name="totalMaintentanceCost" class="form-control"  ng-model="viewRentalMaintenanceCtrl.maintenance.totalMaintentanceCost"
                     placeholder="{{'rentalTotalMaintenanceCost'|translate}}" validator="required" readonly/>
        </div>

        <label  class="col-md-1 control-label font-nomal">{{'rentalLaborCost'|translate}}:</label>
        <div class="col-md-2">
          <input type="text" name="totalOperatorCost" class="form-control"  ng-model="viewRentalMaintenanceCtrl.maintenance.totalOperatorCost"
                     placeholder="{{'rentalLaborCost'|translate}}" validator="required" readonly/>
        </div>
      </div>
      <hr/>
      <div class="form-group">
        <div class="col-lg-12 table-responsive "><!--表格框-->
          <table ng-table="viewRentalMaintenanceCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
            <tr ng-repeat="maintenanceList in $data">

              <td class="text-nowrap" data-title="'rentalMaintenanceCategories'|translate" sortable="'deviceinfo.deviceNum'">{{maintenanceList.machineMaintenanceType.type}}</td>
              <td class="text-nowrap" data-title="'rentalMaintenanceItems'|translate" sortable="'org.label'">{{maintenanceList.machineMaintenanceType.content|translate}}</td>
              <td class="text-nowrap" data-title="'rentalMaintenanceCost'|translate" sortable="'deviceinfo.deviceNum'">
                    <input type="text" name="maintenaceCost" class="form-control"  ng-model="maintenanceList.maintenaceCost" placeholder="{{'rentalMaintenanceCost'|translate}}" readonly/>
                  </td>
              <td class="text-nowrap" data-title="'rentalLaborCost'|translate" sortable="'engineType.engineName'">
                <input type="text" name="operatorCost" class="form-control"  ng-model="maintenanceList.operatorCost" placeholder="{{'rentalLaborCost'|translate}}" readonly/>
              </td>

              <td class="text-nowrap" data-title="'rentalMaintenanceTime'|translate" sortable="'deviceinfo.deviceNum'" >
                <p class="input-group">
                  <input type="text" class="form-control m-b-20" uib-datepicker-popup="{{formatCustom}}"
                             ng-model="maintenanceList.createTime"
                             is-open="maintenanceList.opened"
                             datepicker-options="dateOptions" close-text="Close"
                             validator="required" message-id="bootstrap" readonly/>

                  <span class="input-group-btn">
                  </span>
                </p>
                <span id="bootstrap"></span>
              </td>
              <td class="text-nowrap" data-title="'rentalMaintenancePerson'|translate" sortable="'deviceinfo.deviceNum'">
                <input type="text" name="operatorRequiredOnly{{$index}}" message-id="operatorRequiredOnly{{$index}}"
                           class="form-control"  validator="required" ng-model="maintenanceList.operator" placeholder="{{'rentalMaintenancePerson'|translate}}" readonly/>
                <span id="operatorRequiredOnly{{$index}}"></span>
              </td>
              <td class="text-nowrap" data-title="'state'|translate" sortable="'state'">
                <input type="text" name="maintenaceCost" class="form-control"  ng-model="maintenanceList.statusDesc" placeholder="{{'state'|translate}}" readonly/>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="viewRentalMaintenanceCtrl.cancel()">{{'return'|translate}}</button>
</div>

