<div class="machine-content" xmlns="http://www.w3.org/1999/html">
  <!--<section class="renatlcontent-header">-->
    <!--<h1>-->
      <!--{{'customerInfo'|translate}}-->
      <!--<small></small>-->
    <!--</h1>-->
  <!--</section>-->

  <div class="container-fluid">


    <div class="box-header with-border">
      <h3 class="box-title">{{'rentalOrderDetail'|translate}}</h3>
    </div>
    <form name="newrentalOrderForm2" class="form-horizontal">
      <div class="modal-body">
        <div class="box-body">
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'rentalCustomerName'|translate}}:</label>
              <div class="col-md-5">
                {{viewRentalOrderCtrl.customer.name}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'amount'|translate}}</label>
              <div class="col-sm-5">
                {{viewRentalOrderCtrl.rentalOrder.totalAmt}}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">{{'deposit'|translate}}:</label>
              <div class="col-sm-5">
                {{viewRentalOrderCtrl.rentalOrder.deposit}}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">{{'paymentMethod'|translate}}:</label>
              <div class="col-sm-5">
                {{viewRentalOrderCtrl.rentalOrder.payType}}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">{{'startingTime'|translate}}:</label>
              <div class="col-sm-5">
                {{viewRentalOrderCtrl.rentalOrder.startDate | date:'yyyy-MM-dd'}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'endTime'|translate}}:</label>
              <div class="col-sm-5">
                {{viewRentalOrderCtrl.rentalOrder.endDate | date:'yyyy-MM-dd'}}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">{{'rentalWorkLocation'|translate}}:</label>
              <div class="col-sm-5">
                {{viewRentalOrderCtrl.rentalOrder.location}}
              </div>
            </div>
          <div class="form-group">
              <label class="col-sm-3 control-label">{{'rentalScissorLiftNumbers'|translate}}:</label>
              <div class="col-sm-5">
                {{viewRentalOrderCtrl.rentalOrder.jc}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'rentalBoomLiftNubmers'|translate}}:</label>
              <div class="col-sm-5">
                {{viewRentalOrderCtrl.rentalOrder.zb}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'rentalArticulatingBoomLiftNumbers'|translate}}:</label>
              <div class="col-sm-5">
                {{viewRentalOrderCtrl.rentalOrder.qb}}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">{{'descritpion'|translate}}:</label>
              <div class="col-sm-5">
                {{viewRentalOrderCtrl.rentalOrder.description}}
              </div>
            </div>

            <!--<div class="form-group">-->
              <!--<label class="col-sm-3 control-label"></label>-->
              <!--<div class="col-sm-5">-->
                <!--<label>-->
                  <!--<input type="checkbox" name="locationAlarmReceiver" ng-model="viewRentalOrderCtrl.locationAlarmReceiverChk" id="locationAlarmReceiver" disabled="disabled" >-->
                  <!--{{'AbnormalAlarmReceivingMachine'|translate}}-->
                <!--</label>-->
              <!--</div>-->
            <!--</div>-->

            <div class="form-group">
              <button class="btn btn-primary" type="button" ng-click="viewRentalOrderCtrl.cancel()">
                {{'return'|translate}}
              </button>
            </div>

          </div>
        </div>
    </form>
    <div class="box-footer">

    </div>


  </div>


</div>
