<div class="modal-header ">
  <div class="modal-title">
    <div class="modal-title-text">
      {{'customerInfo'|translate}}
    </div>
  </div>
</div>

<div class="modal-body">
  <form name="newrentalCustomerForm2" class="form-horizontal">

    <div class="box-body">

      <div class="form-group">
          <label class="col-sm-3 control-label font-nomal">{{'name'|translate}}:</label>
          <div class="col-sm-5 control-label" style="text-align: left">
            {{viewRentalCustomerCtrl.rentalCustomer.name}}
          </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label font-nomal">{{'rentalLinkman'|translate}}:</label>
        <div class="col-sm-5 control-label" style="text-align: left">
          {{viewRentalCustomerCtrl.rentalCustomer.contacts}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label font-nomal">{{'rentalCustomerPosition'|translate}}:</label>
        <div class="col-sm-5 control-label" style="text-align: left">
          {{viewRentalCustomerCtrl.rentalCustomer.title}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label font-nomal">{{'rentalTel'|translate}}:</label>
        <div class="col-sm-5 control-label" style="text-align: left">
          {{viewRentalCustomerCtrl.rentalCustomer.tel}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label font-nomal">{{'rentalPhoneNumber'|translate}}:</label>
        <div class="col-sm-5 control-label" style="text-align: left">
          {{viewRentalCustomerCtrl.rentalCustomer.mobile}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label font-nomal">{{'rentalMail'|translate}}:</label>
        <div class="col-sm-5 control-label" style="text-align: left">
          {{viewRentalCustomerCtrl.rentalCustomer.email}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label font-nomal">{{'address'|translate}}:</label>
        <div class="col-sm-5 control-label" style="text-align: left">
          {{viewRentalCustomerCtrl.rentalCustomer.address}}

        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label font-nomal">{{'rentalPostcode'|translate}}:</label>
        <div class="col-sm-5 control-label" style="text-align: left">
          {{viewRentalCustomerCtrl.rentalCustomer.postcode}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label font-nomal">{{'rentalOrganization'|translate}}:</label>
        <div class="col-md-5 control-label" style="text-align: left">
          {{viewRentalCustomerCtrl.rentalCustomer.org.label}}

        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label font-nomal">{{'descritpion'|translate}}:</label>
        <div class="col-sm-5 control-label" style="text-align: left">
          {{viewRentalCustomerCtrl.rentalCustomer.description}}
        </div>
      </div>
    </div>
  </form>
</div>


<div class="modal-footer">
  <button class="btn btn-primary" type="button" validation-submit="newrentalCustomerForm2" ng-click="viewRentalCustomerCtrl.back()">{{'return'|translate}}</button>
</div>
