<div class="modal-header">
  <h3 class="modal-title">{{'modifyEquipmentInfo'|translate}}</h3>
</div>
<form name="operForm" class="form-horizontal">
  <div class="modal-body">
    <div class="box-body">
      <div class="form-group">
        <label for="deviceNum" class="col-sm-2 control-label">{{'deviceNum'|translate}}</label>
        <div class="col-sm-10">
          <input type="text" readonly id="deviceNum" class="form-control" placeholder="设备编号"
                 ng-model="updateHaulotteDeviceinfoCtrl.deviceinfo.deviceNum" name="deviceNum"
                 validator="required"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{{'SIMCardNumber'|translate}}</label>
        <div class="col-sm-10">
          <ui-select name="phoneNumber" ng-model="updateHaulotteDeviceinfoCtrl.deviceinfo.sim" theme="bootstrap"
                     ng-disabled="disabled" validator="required">
            <ui-select-match allow-clear="true" placeholder="{{'lastFourSIMNumber'|translate}}">{{$select.selected.phoneNumber}}
            </ui-select-match>
            <ui-select-choices repeat="sim in updateHaulotteDeviceinfoCtrl.simList"
                               refresh="updateHaulotteDeviceinfoCtrl.refreshSimList($select.search)"
                               refresh-delay="0">
              <div ng-bind-html="sim.phoneNumber | highlight: $select.search|translate"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">{{'protocalTypeDescribe'|translate}}</label>
        <div class="col-sm-10">
          <select validator="required" name="deviceMF" required class="form-control"
                  ng-model="updateHaulotteDeviceinfoCtrl.deviceinfo.protocalType"
                  ng-options="protocalType.value as protocalType.desc for protocalType in updateHaulotteDeviceinfoCtrl.protocalTypeList">
            <option value="">{{'pleaseSelect'|translate}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">{{'type'|translate}}</label>
        <div class="col-sm-10">
          <select name="deviceType" class="form-control" ng-model="updateHaulotteDeviceinfoCtrl.deviceinfo.deviceType" ng-options="deviceType.id as deviceType.name for deviceType in updateHaulotteDeviceinfoCtrl.deviceTypeList">
            <option value="">{{'pleaseSelect'|translate}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{{'highlyType'|translate}}</label>
        <div class="col-sm-10">
          <select name="deviceHeightType" class="form-control" ng-model="updateHaulotteDeviceinfoCtrl.deviceinfo.deviceHeightType" ng-options="deviceHeightType.id as deviceHeightType.name for deviceHeightType in updateHaulotteDeviceinfoCtrl.deviceHeightTypeList">
            <option value="">{{'pleaseSelect'|translate}}</option>
          </select>
        </div>
      </div>

    </div>
    <i style="color: red" ng-if="null!=updateHaulotteDeviceinfoCtrl.errorMsg">
      {{updateHaulotteDeviceinfoCtrl.errorMsg}}<br/>
    </i>
  </div>
  </div>


  <div class="modal-footer">

    <button class="btn btn-primary" type="button" validation-submit="operForm" presentation-href="deviceMng:gps:create"
            ng-click="updateHaulotteDeviceinfoCtrl.ok(updateHaulotteDeviceinfoCtrl.deviceinfo)">{{'save'|translate}}
    </button>
    <button class="btn btn-warning" type="button" ng-click="updateHaulotteDeviceinfoCtrl.cancel()">{{'cancel'|translate}}</button>
  </div>
</form>





