<div class="modal-header">
  <h3 class="modal-title">{{rentalUserRoleMngCtrl.userinfo.lastname}}{{rentalUserRoleMngCtrl.userinfo.firstname}}{{'roleManagement'|translate}}
  </h3>
</div>

<!-- Main content -->
<section class="content">
  <uib-tabset justified="true">


      <p>{{'systemRole'|translate}}:</p>

      <div class="row " style="padding: 10px">
        <li class="list-group-item repeat"  ng-repeat="sysRole in rentalUserRoleMngCtrl.sysRoleList">
          <div class="row">
            <div class="col-sm-2">
              <input type="checkbox" ng-checked="rentalUserRoleMngCtrl.isSelected(sysRole.id)"
                     ng-click="rentalUserRoleMngCtrl.updateSelection($event, sysRole.id)" ng-model="role.checked">
            </div>
            <div class="col-sm-5">
              {{sysRole.name}}
            </div>
          </div>
        </li>
      </div>

  </uib-tabset>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="rentalUserRoleMngCtrl.ok()">{{'confirm'|translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="rentalUserRoleMngCtrl.cancel()">{{'cancel'|translate}}</button>
  </div>


</section>

