<div class="modal-header">
    <h3 class="modal-title">{{'modifyUser'|translate}}</h3>
</div>
<!--<script type="text/ng-template" id="myPopoverTemplate.html">-->
  <!--<div >{{updateRentalUserCtrl.dynamicPopover.content}}</div>-->
  <!--<div class="form-group">-->
    <!--<abn-tree tree-data="orgCtrl1.my_data" tree-control="orgCtrl1.my_tree" on-select="orgCtrl1.my_tree_handler(branch)" expand-level="2"></abn-tree>-->
  <!--</div>-->
<!--</script>-->

<form name="updatedUserForm" class="form-horizontal" ng-submit="updateRentalUserCtrl.ok(updateRentalUserCtrl.updatedUser)">
    <div class="modal-body">
            <div class="box-body">

              <div class="form-group">
                <label for="ssn" class="col-sm-2 control-label">{{'userName'|translate}}</label>
                <div class="col-sm-10">
                  <input type="text" id="ssn" class="form-control" placeholder="{{'userName'|translate}}" ng-model="updateRentalUserCtrl.updatedUser.ssn" name="ssn" readonly validator="required,minlength=4,maxlength=20"/>
                </div>
              </div>

              <div class="form-group">
                <label for="org" class="col-sm-2 control-label">{{'organisation'|translate}}</label>
                <!--<div ng-controller="orgController as orgCtrl1">-->
                  <!--<button uib-popover-template="updateRentalUserCtrl.dynamicPopover.templateUrl" popover-title="{{updateRentalUserCtrl.dynamicPopover.title}}" type="button" class="btn btn-default">组织机构</button>-->
                <!--</div>-->
                <div class="col-sm-10">
                  <p class="input-group">
                    <input type="text" id="org" class="form-control" placeholder="{{'organisation'|translate}}" ng-model="updateRentalUserCtrl.updatedUser.organizationDto.label" name="org" readonly required/>
                  <span class="input-group-btn">
                    <!--打开组织树-->
                    <button type="button" class="btn btn-default" ng-click="updateRentalUserCtrl.openTreeInfo()">
                      <i class="fa fa-sitemap"></i>
                    </button>
                  </span>
                  </p>
                </div>
              </div>


                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label">{{'laseName'|translate}}</label>
                    <div class="col-sm-10">
                        <input type="text" id="lastName" class="form-control" placeholder="{{'laseName'|translate}}" ng-model="updateRentalUserCtrl.updatedUser.lastname" name="lastName" validator="required,minlength=1,maxlength=4"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">{{'firstName'|translate}}</label>
                    <div class="col-sm-10">
                        <input type="text" id="firstName" class="form-control" placeholder="{{'firstName'|translate}}" ng-model="updateRentalUserCtrl.updatedUser.firstname" name="firstName" validator="required,minlength=1,maxlength=10"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-sm-2 control-label">{{'phoneNumber'|translate}}</label>
                    <div class="col-sm-10">
                        <input type="text" id="mobile" class="form-control" placeholder="{{'phoneNumber'|translate}}" ng-model="updateRentalUserCtrl.updatedUser.mobile" name="mobile" validator="required,telephoneNo"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">{{'email'|translate}}</label>
                    <div class="col-sm-10">
                        <input type="text" id="email" class="form-control" placeholder="{{'email'|translate}}" ng-model="updateRentalUserCtrl.updatedUser.email" name="email" validator="required,email"/>
                    </div>
                </div>

              <div class="form-group">
                <label for="address" class="col-sm-2 control-label">{{'address'|translate}}</label>
                <div class="col-sm-10">
                  <input type="text" id="address" class="form-control" placeholder="{{'address'|translate}}" ng-model="updateRentalUserCtrl.updatedUser.address" name="address"  validator="minlength=1,maxlength=30" />
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="col-sm-2 control-label"></label>
                <div class="form-group col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="locationAlarmReceiver" ng-model="updateRentalUserCtrl.locationAlarmReceiverChk" id="locationAlarmReceiver">
                      {{'AbnormalAlarmReceivingMachine'|translate}}
                    </label>
                  </div>
                </div>
              </div>




            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" validation-submit="updatedUserForm">{{'confirm'|translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="updateRentalUserCtrl.cancel()">{{'cancel'|translate}}</button>
    </div>
</form>
