<div class="modal-header">
  <h3 class="modal-title">{{'pleaseEnterANewPassword'|translate}}</h3>
</div>
<form name="updatePasswordForm" ng-submit="updatePasswordCtrl.ok(updatePasswordCtrl.updatePassword.currentpassword,updatePasswordCtrl.updatePassword.password)">
  <div class="modal-body">
    <div class="form-group">
      <input type="password" id="currentpassword" class="form-control" placeholder="{{'oldPassword'|translate}}" ng-model="updatePasswordCtrl.updatePassword.currentpassword" name="currentpassword" />
    </div>
    <div class="form-group">
      <input type="password" id="password" class="form-control" placeholder="{{'newPassword'|translate}}" ng-model="updatePasswordCtrl.updatePassword.password" name="password" validator="numberAndCharForPass"/>
    </div>
    <div class="form-group">
      <input type="password" id="confirmPassword" class="form-control" placeholder="{{'repeatPassword'|translate}}" ng-model="updatePasswordCtrl.updatePassword.confirmPassword" name="confirmPassword" data-match="updatePasswordCtrl.updatePassword.password" validator="numberAndCharForPass"/>
      <div class="text-red" data-ng-show="updatePasswordForm.confirmPassword.$error.match">{{'mismatching'|translate}}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-show="updatePasswordForm.confirmPassword.$valid" >{{'confirm'|translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="updatePasswordCtrl.cancel()">{{'cancel'|translate}}</button>
  </div>
</form>

