<!--
  -临工大数据项目-开工率与闲置率分布图
  -author: fxp
  -date:2018-1-5
-->

  <section>
    <ol class="breadcrumb" ng-hide="utilizationCtrl.hiteTopLink">
      <li><a href="#"><i class="fa fa-dashboard"></i> {{'homePage'|translate}}</a></li>
      <li>统计分析</li>
      <li>开工热度分析</li>
      <li class="active">开工率与闲置率</li>
    </ol>
  </section>

  <div class="container-fluid machineCompared">
    <!--查询条件-->
    <div class="row" >
      <!--查询周期-->
      <label for="dateType" class="col-md-2 control-label text-center">查询周期：</label>
      <div class="col-md-1">
        <ui-select id="dateType" name="dateType" ng-model="utilizationCtrl.dateType" theme="bootstrap" on-select="utilizationCtrl.changeDateType(utilizationCtrl.dateType)">
          <ui-select-match  placeholder="周期">{{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices  repeat="type.value as type in utilizationCtrl.dateTypeList" >
            <div ng-bind-html="type.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <!--季度-->
      <div class="select-container col-md-3" ng-show="utilizationCtrl.dateType==90">
        <ui-select ng-model="utilizationCtrl.queryDate" style="width: 60%">
          <ui-select-match  placeholder="季度">{{$select.selected.quarterName}}
          </ui-select-match>
          <ui-select-choices  repeat="quarter.quarterValue as quarter in utilizationCtrl.quarterList" >
            <div  ng-bind-html="quarter.quarterName | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <!--日期-->
      <div class="form-inline col-md-3" ng-hide="utilizationCtrl.dateType==90" >
        <div class="input-group">
          <input type="text" class="form-control"  uib-datepicker-popup="{{utilizationCtrl.dateFormat}}"
                 ng-model="utilizationCtrl.queryDate"
                 is-open="utilizationCtrl.dateOpenStatus"
                 datepicker-options="utilizationCtrl.dateOptions"
                 ng-required="true"
                 current-text="{{'today'|translate}}"
                 clear-text="{{'cleanUp'|translate}}"
                 close-text="{{'close'|translate}}"/>

          <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="utilizationCtrl.datePickerOnClick($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
        </div>
      </div>

      <!--机型-->
      <div class="form-inline col-md-3">

        <form>
          <label class="control-label">机型:</label>
          <input type="radio" ng-model="utilizationCtrl.machineType" value="装载机">装载机
          <input type="radio" ng-model="utilizationCtrl.machineType" value="挖掘机">挖掘机
        </form>
      </div>

      <!--button-->
      <div class="form-inline col-md-3">
        <button class="btn btn-primary" type="button" ng-click="utilizationCtrl.query()">{{'query'|translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="utilizationCtrl.reset()">重置</button>
        <a id="mapExport" class="btn btn-primary" type="button" title="Export Table" ng-show="false"
           data="utilizationCtrl.mapOption.series[0].data"
           report-fields="{name: '区域', value: '广义开工率', value1: '活跃设备开工率', value2: '闲置率'}"
           filename="'开工率与闲置率区域分布'" ng-json-export-excel>{{'export'|translate}}
        </a>

        <a id="lineExport" class="btn btn-primary" type="button" title="Export Table" ng-show="false"
           data="utilizationCtrl.lineDataList"
           report-fields="{cDate: '日期', broadUtilizationRate: '广义开工率', narrowUtilizationRate: '活跃设备开工率', idleRate: '闲置率'}"
           filename="'开工率与闲置率时间分布'" ng-json-export-excel>{{'export'|translate}}
        </a>
      </div>
    </div>
    <!--中间地图-->
    <div class="right-container row">
      <div class="col-md-12">
        <a ng-click="utilizationCtrl.queryForLine('全国')" href="">
          <div class="panel" style="position:absolute;left: 2%;top: 2%;z-index: 80">
            <div class="box-header">
              <h6 class="box-title text-gray">全国</h6>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table table-condensed table-bordered table-striped text-nowrap">
                  <tr>
                    <td>广义开工率</td>
                    <td>{{utilizationCtrl.china.broadUtilizationRate}}%</td>
                  </tr>
                  <tr>
                    <td>活跃设备开工率</td>
                    <td>{{utilizationCtrl.china.narrowUtilizationRate}}%</td>
                  </tr>
                  <tr>
                    <td>闲置率</td>
                    <td>{{utilizationCtrl.china.idleRate}}%</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </a>
        <div id="centerMap" style="height:600px;"></div>
      </div>
    </div>
    <!--底部折线图-->
    <div class="col-md-12 leftBox">
      <div id="bottomMap" style="height:320px;padding: 0px"></div>
      <form name="settingForm" class="form-horizontal"  style="z-index: 80;top: 10px;width: 500px; margin-left:50%; position: absolute">
        <div class="row">
          <div class="col-md-12 pull-right">
            <div class="form-group">
              <label for="balanceLine" class="col-sm-3 control-label">盈亏平衡线</label>
              <div class="col-sm-2">
                <input type="text" id="balanceLine" class="form-control"
                       ng-model="utilizationCtrl.balanceLine" name="balanceLine" typeahead-show-hint="true"
                       ng-change="utilizationCtrl.balanceLineChange()"/>
              </div>

              <label for="limitLine" class="col-sm-4 control-label">预期风险预警线</label>
              <div class="col-sm-2">
                <input type="text" id="limitLine" class="form-control"
                       ng-model="utilizationCtrl.limitLine" name="limitLine" typeahead-show-hint="true"
                       ng-change="utilizationCtrl.limitLineChange()"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
