<div class="activeRate">
  <div class="left-container col-md-2">
    <div class="select-container">
      <div class="select-title">产品类型：</div>
      <ui-select ng-model="produceType.selected">
        <ui-select-match placeholder="选择一款产品">{{$select.selected}}</ui-select-match>
        <ui-select-choices class="ui-select-choices" repeat="type in getProduceType($select.search) | filter: $select.search">
          <div ng-bind="type"></div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="select-container">
      <div class="select-title">产品型号：</div>
      <ui-select ng-model="machineType.selected">
        <ui-select-match placeholder="选择一个型号">{{$select.selected}}</ui-select-match>
        <ui-select-choices class="ui-select-choices" repeat="type in getMachineType($select.search) | filter: $select.search">
          <div ng-bind="type"></div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="select-container">
      <div class="select-title">汇总周期：</div>
      <ui-select ng-model="cycleType.selected">
        <ui-select-match placeholder="选择周期">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="type in getCycleType($select.search) | filter: $select.search">
          <div ng-bind="type"></div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="select-container">
      <div class="select-title">
        <span ng-show="cycleTypeHidden1">开工月份：</span>
        <span ng-show="cycleTypeHidden2">开工季度：</span>
      </div>
      <ui-select ng-model="cycleValue.selected">
        <ui-select-match placeholder="选择开工周期" >{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="type in getCycleValue($select.search) | filter: $select.search">
          <div ng-bind="type"></div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="select-container">
      <div class="select-title">活跃阈值：</div>
      <ui-select ng-model="thresholdValue.selected">
        <ui-select-match placeholder="选择活跃阈值">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="type in getThresholdValue($select.search) | filter: $select.search">
          <div ng-bind="type"></div>
        </ui-select-choices>
      </ui-select>
    </div>

    <button class="btn btn-primary" ng-click="activeRateCtrl.customSelect();">车辆开工热度分布</button>
  </div>
  <div class="right-container col-md-10">
    <div id="activeRateTitle">
      <em id="workMonth">{{chartWorkMonth}}</em>
      <em id="workProvince">{{chartArea}}</em>
      <em id="produceType">{{chartProduceType}}</em>
      <em id="machineType">{{chartMachineType}}</em>
      <em id="thresholdValue">{{chartThresholdValue}}</em>
      <em>活跃度分布（点击视图可查看市区级分布）</em>
      <span id="backProvince" ng-click="activeRateCtrl.backProvince();">
        <a>重置</a>
      </span>
    </div>
  <div id="barChartContainer"></div>
  </div>
</div>
