<div class="main-container" id="machineworkreport">
  <div class="left-container">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12"  style="margin-top: 20px;">
          <form id="searchForm" class="form-search">
            <div class="control-group">
              <label class="control-label">{{'vehicleType'|translate}}:</label>
              <div class="controls">
                <select class="form-control" ng-model="machineworkreportMngController.machine.machineType" validator="required">
                  <option value="A1">{{'smallExcavator'|translate}}</option>
                  <option value="30">{{'oreMachine'|translate}}</option>
                  <option value="40">{{'mediumExcavator'|translate}}</option>
                  <option value="1,2,3">{{'loader'|translate}}</option>
                  <option value="A001">{{'arialVehicle'|translate}}</option>
                </select>
              </div>
            </div>

            <div class="control-group">
              <label for="licenseId" class="control-label">{{'machineNumberAndCarNumber'|translate}}:</label>
              <div>
                <input type="text" id="licenseId" class="form-control" placeholder="{{'machineNumberAndCarNumber'|translate}}"
                       ng-model="machineworkreportMngController.machine.licenseId" name="licenseId" typeahead-show-hint="true"
                       validator="required" />

              </div>
            </div>
            <div class="control-group">
              <label class="control-label">{{'workArea'|translate}}：</label>
              <div class="controls">
                <span style="width: 48%;display: inline-block;" >
                  <select required="" class="form-control"  ng-model="machineworkreportMngController.province" ng-options="m.name for m in machineworkreportMngController.division" >
                  </select>
                </span>
                <span style="width: 48%; display: inline-block;">
                  <select required="" class="form-control"  ng-model="machineworkreportMngController.city"  ng-options="m.name for m in machineworkreportMngController.province.city" >
                  </select>
                </span>

              </div>
            </div>
            <div class="control-group">
              <label class="control-label">{{'startDate'|translate}}：</label>
              <div class="controls">
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                         ng-model="machineworkreportMngController.startDateDeviceData"
                         is-open="machineworkreportMngController.startDateOpenStatusDeviceData.opened"
                         datepicker-options="machineworkreportMngController.dateOptions"
                         min-date="machineworkreportMngController.minDate"
                         max-date="machineworkreportMngController.maxDate"
                         ng-required="true" current-text="{{'today'|translate}}"
                         clear-text="{{'cleanUp'|translate}}"
                         close-text="{{'close'|translate}}" />
                  <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="machineworkreportMngController.startDateOpenDeviceData($event)">
                              <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                </p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">{{'endDate'|translate}}：</label>
              <div class="controls">
                <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                       ng-model="machineworkreportMngController.endDateDeviceData"
                       is-open="machineworkreportMngController.endDateOpenStatusDeviceData.opened"
                       datepicker-options="machineworkreportMngController.dateOptions"
                       ng-required="true" current-text="{{'today'|translate}}"
                       clear-text="{{'cleanUp'|translate}}"
                       close-text="{{'close'|translate}}" />
                <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="machineworkreportMngController.endDateOpenDeviceData($event)">
                              <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                </p>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <button id="btnSubmit" class="btn btn-primary btn-block" type="button" value="{{'createWorkReport'|translate}}"
                        presentation-href="statAnalysis:workHeat:workReport:query"
                        ng-click="machineworkreportMngController.generateReport();">{{'createWorkReport'|translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="right-container">
    <div id="chart-map-panel" class="right-chart-panel"></div>
    <div style="position:relative; width: 100%;">
      <div style="height: 550px;position: absolute;left: 0;width: 30%;">

      <div class="hoursdiv">
        <div id="hoursd">
          {{'timeInterval'|translate}}：<input id="hour2" name="hourGap" class="required" type="radio" value="2"/><label
          for="hour2">2{{'hour'|translate}}</label>
          <input id="hour4" name="hourGap" class="required" type="radio" value="4"
                 checked="checked"/><label for="hour4">4{{'hour'|translate}}</label>
          <input id="hour6" name="hourGap" class="required" type="radio" value="6"/><label
          for="hour6">6{{'hour'|translate}}</label>
          <input id="hour8" name="hourGap" class="required" type="radio" value="8"/><label
          for="hour8">8{{'hour'|translate}}</label>
        </div>
      </div>
      <div id="provinceName">
        <input id="drawHeatmap" class="btn btn-mini btn-primary" type="button" value="{{'draw'|translate}}" ng-click="machineworkreportMngController.draw();"/>
      </div>
        <div id="provinceCond">
        <script id="selectAllHeader" type="text/ng-template">
        <input type="checkbox" ng-click="machineworkreportMngController.updateAllSelection($event)"
               ng-model="machineworkreportMngController.checked">
        </script>
        <div class="table-responsive">
        <table ng-table="machineworkreportMngController.tableParams"
               class="table table-condensed table-bordered table-striped text-nowrap" >
          <tr ng-repeat="provinceinfo in machineworkreportMngController.ProvinceList">
            <td class="text-nowrap" data-header="'selectAllHeader'">
              <input type="checkbox"
                     ng-checked="machineworkreportMngController.isSelected(provinceinfo.value)"
                     ng-click="machineworkreportMngController.updateSelection($event,provinceinfo.value)"
                     ng-model="provinceinfo.checked"></td>
            <td class=" text-nowrap" data-title="'workingProvince'|translate" >
              <span ng-if="!machineworkreportMngController.validateOperPermission()">{{provinceinfo.value}}</span>
            </td>
          </tr>
        </table>
      </div>
     </div>
      </div>
      <div id="chart-heatmap-panel" style="height: 550px; position: absolute; right: 0;width: 70%;">
      </div>
    </div>
  </div>


</div>
