<section>
  <!--class="content-header"class="panel"-->
  <ol class="breadcrumb" style="padding:10px;border-bottom:1px solid #cccccc">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{'homePage'|translate}}</a></li>
    <li><a href="#">统计分析</a></li>
    <li><a href="#">开工热度分析</a></li>
    <li class="active">开工与销售热度</li>
  </ol>
</section>
<div class="mainBox"  id="machineCompared">
  <div class="leftBox " >
    <div class="row form-group">
      <div class="control-group" >
        <label class="control-label col-md-2">起始日期：</label>
        <div class="controls col-md-3">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="machineComparedMngCtrl.startDateDeviceData"
                   is-open="machineComparedMngCtrl.startDateOpenStatusDeviceData.opened"
                   datepicker-options="machineComparedMngCtrl.dateOptions"
                   min-date="machineComparedMngCtrl.minDate"
                   max-date="machineComparedMngCtrl.maxDate"
                   ng-required="true" current-text="{{'today'|translate}}"
                   clear-text="{{'cleanUp'|translate}}"
                   close-text="{{'close'|translate}}"/>
            <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="machineComparedMngCtrl.startDateOpenDeviceData($event)">
                              <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
          </p>
        </div>

        <label class="control-label col-md-2">结束日期：</label>
        <div class="controls col-md-3">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                   ng-model="machineComparedMngCtrl.endDateDeviceData"
                   is-open="machineComparedMngCtrl.endDateOpenStatusDeviceData.opened"
                   datepicker-options="machineComparedMngCtrl.dateOptions"
                   ng-required="true" current-text="{{'today'|translate}}"
                   clear-text="{{'cleanUp'|translate}}"
                   close-text="{{'close'|translate}}"/>
            <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="machineComparedMngCtrl.endDateOpenDeviceData($event)">
                              <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
          </p>
        </div>


        <div class="col-md-2">
          <button class="btn btn-primary" type="button" presentation-href="machine:page"
                  ng-click="machineComparedMngCtrl.query(machineComparedMngCtrl.startDateDeviceData,machineComparedMngCtrl.endDateDeviceData,machineComparedMngCtrl.machineType,machineComparedMngCtrl.heatType)">{{'query'|translate}}
          </button>
          <button class="btn btn-primary" type="button" ng-click="machineComparedMngCtrl.reset()">{{'reset'|translate}}</button>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-show="machineComparedMngCtrl.only">
      <label class="control-label col-md-2">车辆类型:</label>
      <div class="controls col-md-3">
        <input type="radio" name="vehicleType" value="A1" ng-model="machineComparedMngCtrl.machineType" />小挖
        <input type="radio" name="vehicleType" value="1,2,3" ng-model="machineComparedMngCtrl.machineType" />装载机
        <input type="radio" name="vehicleType" value="40"  ng-model="machineComparedMngCtrl.machineType"/>中挖
      </div>
      <label class="control-label col-md-2">车辆热度类型:</label>
      <div class="controls col-md-3">
        <input type="radio" name="heat" value="1" ng-model="machineComparedMngCtrl.heatType" />开工热度
        <input type="radio" name="heat" value="0" ng-model="machineComparedMngCtrl.heatType" />销售热度
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" type="button" presentation-href="machine:page"
                ng-click="machineComparedMngCtrl.toggle()">∨ 车型对比
        </button>
      </div>
    </div>
    <div ng-show="machineComparedMngCtrl.contrast">
      <div class="row form-group">
        <label class="control-label col-md-2">车辆类型:</label>
        <div class="controls col-md-3">
          <input type="radio" name="vehicleType1" value="A1" ng-model="machineComparedMngCtrl.machineType1" />小挖
          <input type="radio" name="vehicleType1" value="1,2,3" ng-model="machineComparedMngCtrl.machineType1" />装载机
          <input type="radio" name="vehicleType1" value="40"  ng-model="machineComparedMngCtrl.machineType1"/>中挖
        </div>
        <label class="control-label col-md-2">车辆类型:</label>
        <div class="controls col-md-3">
          <input type="radio" name="vehicleType2" value="A1" ng-model="machineComparedMngCtrl.machineType2" />小挖
          <input type="radio" name="vehicleType2" value="1,2,3" ng-model="machineComparedMngCtrl.machineType2" />装载机
          <input type="radio" name="vehicleType2" value="40"  ng-model="machineComparedMngCtrl.machineType2"/>中挖
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" type="button" presentation-href="machine:page"
                  ng-click="machineComparedMngCtrl.viewResults(machineComparedMngCtrl.machineType1,machineComparedMngCtrl.machineType2,machineComparedMngCtrl.heatType1,machineComparedMngCtrl.heatType2)">查看对比结果
          </button>
        </div>
      </div>
      <div class="row form-group">
        <label class="control-label col-md-2">车辆热度类型:</label>
        <div class="controls col-md-3">
          <input type="radio" name="heat1" value="1" ng-model="machineComparedMngCtrl.heatType1" />开工热度
          <input type="radio" name="heat1" value="0" ng-model="machineComparedMngCtrl.heatType1" />销售热度
        </div>
        <label class="control-label col-md-2">车辆热度类型:</label>
        <div class="controls col-md-3">
          <input type="radio" name="heat2" value="1" ng-model="machineComparedMngCtrl.heatType2" />开工热度
          <input type="radio" name="heat2" value="0" ng-model="machineComparedMngCtrl.heatType2" />销售热度
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" type="button" presentation-href="machine:page"
                  ng-click="machineComparedMngCtrl.toggle()">∧ 单一车型
          </button>
        </div>
      </div>
    </div>
    <div class="mapBox" style="border: 1px solid #cccccc;height: 750px;width: 100%;position: relative;">
      <div class="mapContainerBox" style="position: absolute;height: 750px;width: 100%;;left: 0px;">
        <div class="mapContainer" id="mapContainer1" style="height: 750px;width: 100%;"></div>
        <div style="position: absolute;position:absolute;right: 0;top: 0px;width: 200px;height: 120px;border: 1px solid #cccccc;">
          <div style="position: relative;">
            <div
              style="position: absolute; left: 0;top: 0;width: 30px;word-wrap: break-word;padding:0px 8px ;border-right: 1px solid #cccccc;">
              平均工作时长
            </div>
            <ul style="position: absolute;list-style: none;line-height: 28px;">
              <li>总平均：6.24小时</li>
              <li style="color: #00bb9c;">挖掘机：6.39小时<span></span><img src="assets/images/up.png"/></li>
              <li style="color: #00bb9c;">小&nbsp;&nbsp;&nbsp;挖：5.78小时<span></span><img src="assets/images/up.png"/></li>
              <li style="color: #eb4f38;">中&nbsp;&nbsp;&nbsp;挖：4.99小时<span></span><img src="assets/images/down.png"/></li>
            </ul>
            <a class="backChina" style="width: 40px; height: 40px;display: block;position: absolute;right: 5px;top: 140px;display: none;" ng-click="machineComparedMngCtrl.backChina1();">
              <img src="assets/images/back.png" alt="返回到全国" style="width: 40px;height: 40px;">
            </a>
          </div>
        </div>
      </div>
      <div class="mapContainerBox" id="mapContainerBox" style="position: absolute;display: none;height:750px;right: 0px;border-left:1px dashed #cccccc">
        <div class="mapContainer" id="mapContainer2" style="height: 750px;"></div>
        <div id="mapContainerQushi2" style="position: absolute;right: 0;top:0px;width: 200px;height: 120px;border: 1px solid #cccccc;display: none;">
          <div style="position: relative;">
            <div
              style="position: absolute; left: 0;top: 0;width: 30px;word-wrap: break-word;padding:0px 8px ;border-right: 1px solid #cccccc;">
              平均工作时长
            </div>
            <ul style="position: absolute;list-style: none;line-height: 28px;">
              <li>总平均：6.24小时</li>
              <li style="color: #00bb9c;">挖掘机：6.39小时<span></span><img src="assets/images/up.png"/></li>
              <li style="color: #00bb9c;">小&nbsp;&nbsp;&nbsp;挖：5.78小时<span></span><img src="assets/images/up.png"/></li>
              <li style="color: #eb4f38;">中&nbsp;&nbsp;&nbsp;挖：4.99小时<span></span><img src="assets/images/down.png"/></li>
            </ul>
            <a class="backChina"  style="width: 40px; height: 40px;display: block;position: absolute;right: 5px;top: 140px;display: none;" ng-click="machineComparedMngCtrl.backChina2();">
              <img src="assets/images/back.png" alt="返回到全国" style="width: 40px;height: 40px;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rightBox" style="position: absolute;right: 0px; top: 0px;height: 900px;width: 30%;">
    <div class="row form-group" style="padding:20px 10px;">
      <label class="control-label col-md-3">热度分布</label>
      <div class="controls">
        <select class="form-control col-md-5" ng-model="machineComparedMngCtrl.heatType3">
          <option value="1" ng-selected="true">开工热度分布</option>
          <option value="0">销售热度分布</option>
        </select>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" type="button" presentation-href="machine:page"
                ng-click="machineComparedMngCtrl.showMachineHeatDetails(machineComparedMngCtrl.heatType3)">查看
        </button>
      </div>
    </div>

      <div id="subMap1" class="detdistribution"></div>

      <div id="subMap2" class="detdistribution"></div>

      <div id="subMap3" class="detdistribution"></div>
    </div>
</div>
<div style="margin-top: 15px;">
  <hr>
  <div class="tips-container">&nbsp;<i class="icon-chevron-down"></i> 展示车辆变化趋势</div>
  <div style="width: 100%;height:300px;position: relative; height: 300px;width: 100%;">
    <div id="mmu-container1" class="chart-container" style="width: 65%;height: 300px;position: absolute;left: 0px;top: 0px;"></div>
    <div id="mmu-container2" class="chart-container" style="height: 300px;position: absolute;right: 0px;top: 0px;"></div>
  </div>

</div>
