<!--<div class="machineMaintenance">-->

  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<form class="form-inline">-->
        <!--<div class="form-group">-->
          <!--<label>设备号: </label>-->
          <!--<input class="form-control" placeholder="请注入设备号">-->
        <!--</div>-->
        <!--<button class="btn btn-default" ng-click="machineMaintenanceCtrl.click()">确定</button>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <!--<div class="time-container">-->
        <!--<ul>-->
          <!--<li class="time-node">-->
            <!--<div class="time-node-content">-->
              <!--<div class="time-node-title">运抵经销商处</div>-->
              <!--<div class="time-node-time">-->
                <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                <!--<span>2016-07-15</span>-->
              <!--</div>-->
              <!--<div class="time-node-item">运抵日期: 2016-07-15</div>-->
              <!--<div class="time-node-item">经销商: 贵州临沃工程机械有限公司</div>-->
              <!--<div class="time-node-item">经销商网点: 贵阳</div>-->
            <!--</div>-->
            <!--<div class="time-line"></div>-->
            <!--<div class="time-node-icon">-->
              <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li class="time-node">-->
            <!--<div class="time-node-content">-->
              <!--<div class="time-node-title">运抵经销商处</div>-->
              <!--<div class="time-node-time">-->
                <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                <!--<span>2016-07-15</span>-->
              <!--</div>-->
              <!--<div class="time-node-item">运抵日期: 2016-07-15</div>-->
              <!--<div class="time-node-item">经销商: 贵州临沃工程机械有限公司</div>-->
              <!--<div class="time-node-item">经销商网点: 贵阳</div>-->
            <!--</div>-->
            <!--<div class="triangle"></div>-->
            <!--<div class="time-line"></div>-->
            <!--<div class="time-node-icon">-->
              <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li class="time-node">-->
            <!--<div class="time-node-content">-->
              <!--<div class="time-node-title">运抵经销商处</div>-->
              <!--<div class="time-node-time">-->
                <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                <!--<span>2016-07-15</span>-->
              <!--</div>-->
              <!--<div class="time-node-item">运抵日期: 2016-07-15</div>-->
              <!--<div class="time-node-item">经销商: 贵州临沃工程机械有限公司</div>-->
              <!--<div class="time-node-item">经销商网点: 贵阳</div>-->
            <!--</div>-->
            <!--<div class="triangle"></div>-->
            <!--<div class="time-line"></div>-->
            <!--<div class="time-node-icon">-->
              <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li class="time-node">-->
            <!--<div class="time-node-content">-->
              <!--<div class="time-node-title">运抵经销商处</div>-->
              <!--<div class="time-node-time">-->
                <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                <!--<span>2016-07-15</span>-->
              <!--</div>-->
              <!--<div class="time-node-item">运抵日期: 2016-07-15</div>-->
              <!--<div class="time-node-item">经销商: 贵州临沃工程机械有限公司</div>-->
              <!--<div class="time-node-item">经销商网点: 贵阳</div>-->
            <!--</div>-->
            <!--<div class="triangle"></div>-->
            <!--<div class="time-line"></div>-->
            <!--<div class="time-node-icon">-->
              <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li class="time-node">-->
            <!--<div class="time-node-content">-->
              <!--<div class="time-node-title">运抵经销商处</div>-->
              <!--<div class="time-node-time">-->
                <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                <!--<span>2016-07-15</span>-->
              <!--</div>-->
              <!--<div class="time-node-item">运抵日期: 2016-07-15</div>-->
              <!--<div class="time-node-item">经销商: 贵州临沃工程机械有限公司</div>-->
              <!--<div class="time-node-item">经销商网点: 贵阳</div>-->
            <!--</div>-->
            <!--<div class="triangle"></div>-->
            <!--<div class="time-line"></div>-->
            <!--<div class="time-node-icon">-->
              <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li class="time-node">-->
            <!--<div class="time-node-content">-->
              <!--<div class="time-node-title">运抵经销商处</div>-->
              <!--<div class="time-node-time">-->
                <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                <!--<span>2016-07-15</span>-->
              <!--</div>-->
              <!--<div class="time-node-item">运抵日期: 2016-07-15</div>-->
              <!--<div class="time-node-item">经销商: 贵州临沃工程机械有限公司</div>-->
              <!--<div class="time-node-item">经销商网点: 贵阳</div>-->
            <!--</div>-->
            <!--<div class="triangle"></div>-->
            <!--<div class="time-line"></div>-->
            <!--<div class="time-node-icon">-->
              <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li class="time-node">-->
            <!--<div class="time-node-content">-->
              <!--<div class="time-node-title">运抵经销商处</div>-->
              <!--<div class="time-node-time">-->
                <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                <!--<span>2016-07-15</span>-->
              <!--</div>-->
              <!--<div class="time-node-item">运抵日期: 2016-07-15</div>-->
              <!--<div class="time-node-item">经销商: 贵州临沃工程机械有限公司</div>-->
              <!--<div class="time-node-item">经销商网点: 贵阳</div>-->
            <!--</div>-->
            <!--<div class="triangle"></div>-->
            <!--<div class="time-line"></div>-->
            <!--<div class="time-node-icon">-->
              <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li class="time-node">-->
            <!--<div class="time-node-content">-->
              <!--<div class="time-node-title">运抵经销商处</div>-->
              <!--<div class="time-node-time">-->
                <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                <!--<span>2016-07-15</span>-->
              <!--</div>-->
              <!--<div class="time-node-item">运抵日期: 2016-07-15</div>-->
              <!--<div class="time-node-item">经销商: 贵州临沃工程机械有限公司</div>-->
              <!--<div class="time-node-item">经销商网点: 贵阳</div>-->
            <!--</div>-->
            <!--<div class="triangle"></div>-->
            <!--<div class="time-line"></div>-->
            <!--<div class="time-node-icon">-->
              <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->




<div class="container machineMaintenance">
  <div class="row">
    <form class="form-inline">
      <div class="form-group">
        <label>设备号: </label>
        <input class="form-control" placeholder="请注入设备号">
      </div>
      <button class="btn btn-default" ng-click="machineMaintenanceCtrl.click()">确定</button>
      <div class="form-group">
        <label>车号: </label>
        <input class="form-control" placeholder="请注入车号">
      </div>
      <button class="btn btn-default" ng-click="machineMaintenanceCtrl.click()">确定</button>
    </form>
  </div>
  <div class="row">
    <div class="timeaxis-wrapper" >
      <ul class="timeaxis">
      <timeaxis-item class="timeaxis-item" ng-repeat="item in machineMaintenanceCtrl.items">
          <i class="timeaxis-point"></i>
          <div class="timeaxis-panel">
            <div class="item title">{{item.title}}</div>
            <div class="item time"><i class="fa fa-clock-o" aria-hidden="true"></i>{{item.time}}</div>
            <div class="item">保养地点: {{item.area}}</div>
            <div class="item">车辆状态: {{item.status}}</div>
            <div class="item">保养详情: {{item.description}}</div>
          </div>
      </timeaxis-item>
    </ul>
    </div>
  </div>
</div>
