<div class="main-container" id="machineworklive">
  <div class="left-container">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12"  style="margin-top: 20px;">
          <form id="searchForm" class="form-search">
            <div class="control-group">
              <label class="control-label">{{'vehicleType'|translate}}:</label>
              <div class="controls">
                <select class="form-control" ng-model="machineworkliveMngController.machine.machineType">
                  <option value="A1">{{'smallExcavator'|translate}}</option>
                  <option value="30">{{'oreMachine'|translate}}</option>
                  <option value="40">{{'mediumExcavator'|translate}}</option>
                  <option value="1,2,3">{{'loader'|translate}}</option>
                  <option value="A001">{{'arialVehicle'|translate}}</option>
                </select>
              </div>
            </div>

            <div class="control-group">
              <label for="licenseId" class="control-label">{{'machineNumberAndCarNumber'|translate}}:</label>
              <div>
                <input type="text" id="licenseId" class="form-control" placeholder="{{'machineNumberAndCarNumber'|translate}}"
                       ng-model="machineworkliveMngController.machine.licenseId" name="licenseId" typeahead-show-hint="true"
                       validator="required" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">经销商：</label>
              <div class="controls">
                <select  required class="form-control">
                  <option value="">{{'pleaseSelect'|translate}}</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">销售年度：</label>
              <div class="controls">
                <select  class="form-control">
                  <option value="">{{'pleaseSelect'|translate}}</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">{{'startDate'|translate}}：</label>
              <div class="controls">
                <p class="input-group">
                  <input id="workDate" name="workDate" type="text" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                         ng-model="machineworkliveMngController.startDateDeviceData"
                         is-open="machineworkliveMngController.startDateOpenStatusDeviceData.opened"
                         datepicker-options="machineworkliveMngController.dateOptions"
                         min-date="machineworkliveMngController.minDate"
                         max-date="machineworkliveMngController.maxDate"
                         ng-required="true" current-text="{{'today'|translate}}"
                         clear-text="{{'cleanUp'|translate}}"
                         close-text="{{'close'|translate}}" />
                  <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="machineworkliveMngController.startDateOpenDeviceData($event)">
                              <i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                </p>
              </div>
            </div>


            <div class="control-group">
              <div class="controls">
                <button id="jobStatusSubmit" class="btn btn-primary btn-block" type="button" value="查看工作实况" presentation-href="statAnalysis:workHeat:workLive:query" ng-click="machineworkliveMngController.viewWorkLive();">查看工作实况</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <div id="chart-panel" class="right-panel" ></div>
    <div class="return-mask">
      <a class="return-word" onclick="backChineMap()">返回到全国</a>
      <i class="icon-reply"></i>
    </div>


    </div>

</div>
