<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">机器作业时间分布</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row form-group">
    <div class="col-md-1">
      <label class="control-label">车辆类型:</label>
    </div>
    <div class="col-md-3">
      <label><input type="radio" name="vehicleType" value="1" ng-checked="true" ng-model="machineWorkTimeCtrl.machineType" />&nbsp;&nbsp;装载机&nbsp;&nbsp;&nbsp;</label>
      <label><input type="radio" name="vehicleType" value="2" ng-model="machineWorkTimeCtrl.machineType" />&nbsp;&nbsp;挖机&nbsp;&nbsp;&nbsp;</label>
      <label><input type="radio" name="vehicleType" value="3" ng-model="machineWorkTimeCtrl.machineType"/>&nbsp;&nbsp;矿机&nbsp;&nbsp;&nbsp;</label>
      <label><input type="radio" name="vehicleType" value="1,2,3" ng-model="machineWorkTimeCtrl.machineType"/>&nbsp;&nbsp;全部</label>
    </div>

    <!--<div class="col-md-2">
      <label class="control-label">平均作业时间类型:</label>
    </div>
    <div class="col-md-2">
      <label><input type="radio" name="averageDateType" value="1" ng-checked="true" ng-model="machineWorkTimeCtrl.averageDateType" />日&nbsp;&nbsp;&nbsp;</label>
      <label><input type="radio" name="averageDateType" value="2" ng-model="machineWorkTimeCtrl.averageDateType" />月</label>
    </div>-->

    <div class="col-md-2">
      <label class="control-label">累计作业时间类型:</label>
    </div>
    <div class="col-md-2">
      <label><input type="radio" name="totalDateType" value="1" ng-checked="true" ng-model="machineWorkTimeCtrl.totalDateType" />&nbsp;&nbsp;小时&nbsp;&nbsp;&nbsp;</label>
      <label><input type="radio" name="totalDateType" value="2" ng-model="machineWorkTimeCtrl.totalDateType" />&nbsp;&nbsp;天</label>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-1">
      <label class="control-label">查询周期:</label>
    </div>
    <div class="controls col-md-3">
        <select class="form-control" ng-change="machineComparedMngCtrl.change(machineComparedMngCtrl.dateType1)" ng-model="machineComparedMngCtrl.dateType1">
          <option value="1" ng-selected="true">按季度</option>
          <option value="2">按月</option>
        </select>
    </div>

    <div class="col-md-1">
      <label class="control-label">时间段:</label>
    </div>
    <div class="controls col-md-3">
        <select class="form-control" ng-model="machineComparedMngCtrl.dateType">
          <!--<option value="201704" ng-show="machineComparedMngCtrl.one">2017年第四季度</option>-->
          <!--<option value="201703" ng-show="machineComparedMngCtrl.one">2017年第三季度</option>-->
          <option value="201702" ng-show="machineComparedMngCtrl.one">2017年第二季度</option>
          <option value="201701" ng-show="machineComparedMngCtrl.one">2017年第一季度</option>
          <option value="201604" ng-show="machineComparedMngCtrl.one">2016年第四季度</option>
          <option value="201603" ng-show="machineComparedMngCtrl.one">2016年第三季度</option>
          <option value="201602" ng-show="machineComparedMngCtrl.one">2016年第二季度</option>
          <option value="201601" ng-show="machineComparedMngCtrl.one">2016年第一季度</option>

          <option value="201705" ng-show="machineComparedMngCtrl.two">2017年五月</option>
          <option value="201704" ng-show="machineComparedMngCtrl.two">2017年四月</option>
          <option value="201703" ng-show="machineComparedMngCtrl.two">2017年三月</option>
          <option value="201702" ng-show="machineComparedMngCtrl.two">2017年二月</option>
          <option value="201701" ng-show="machineComparedMngCtrl.two">2017年一月</option>
          <option value="201612" ng-show="machineComparedMngCtrl.two">2016年十二月</option>
          <option value="201611" ng-show="machineComparedMngCtrl.two">2016年十一月</option>
          <option value="201610" ng-show="machineComparedMngCtrl.two">2016年十月</option>
          <option value="201609" ng-show="machineComparedMngCtrl.two">2016年九月</option>
          <option value="201608" ng-show="machineComparedMngCtrl.two">2016年八月</option>
          <option value="201607" ng-show="machineComparedMngCtrl.two">2016年七月</option>
          <option value="201606" ng-show="machineComparedMngCtrl.two">2016年六月</option>
        </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" type="button" ng-click="machineWorkTimeCtrl.ok(machineWorkTimeCtrl.machineType, machineWorkTimeCtrl.averageDateType, machineWorkTimeCtrl.totalDateType)">确定</button>
    </div>
    <div class="row form-group">
      <div class="col-md-12 text-right"></div>
    </div>
  <!--散点图-->
  <div class="main-container" id="machineWorkTime">
    <div id="barChartContainer" class="chart-container" style="padding-top:20px;min-height: 500px;width: 100%;"></div>
  </div>

  <div class="row form-group">
    <div class="col-md-12 text-right">
      <a class="btn btn-primary" type="button" title="Export Table" ng-click='csv.generate()' ng-href="{{csv.link()}}" download="机器作业时间分布.csv">导出</a>
    </div>
  </div>
  <div class="row " style="padding: 20px">
    <div class="table-responsive">
      <table ng-table="machineWorkTimeCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap" export-csv='csv'>
        <tr ng-repeat="workData in $data">
          <td class="text-nowrap" data-title="'车号'">{{workData[2]}}</td>
          <td class="text-nowrap" data-title="'日平均作业时间(h)'">{{workData[1]}}</td>
          <td class="text-nowrap" ng-if="machineWorkTimeCtrl.totalDateType == 1" data-title="'累计作业时间(h)'">{{workData[0]}}</td>
          <td class="text-nowrap" ng-if="machineWorkTimeCtrl.totalDateType == 2" data-title="'累计作业时间(天)'">{{workData[0]}}</td>
        </tr>
      </table>
    </div>
  </div>
  </div>
</section>
