<section>
  <ol class="breadcrumb" style="padding:10px;border-bottom:1px solid #cccccc">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{'homePage'|translate}}</a></li>
    <li>统计分析</li>
    <li>开工热度分析</li>
    <li class="active"> 车型热度分布</li>
  </ol>
</section>
<section class="content">
  <div class="row form-group">
    <div class="col-md-1">
        <label class="control-label">查询周期：</label>
      </div>
    <div class="col-md-2">
      <select class="form-control" ng-change="modelsCompareCtrl.change(modelsCompareCtrl.dateType1)" ng-model="modelsCompareCtrl.dateType1">
        <option value="1" ng-selected="true">按季度</option>
        <option value="2">按月</option>
        <option value="3">按日期</option>
      </select>
    </div>
    <div ng-show="modelsCompareCtrl.quarterQuery">
        <label class="control-label col-md-1">查询季度:</label>
        <div class="controls col-md-2">
          <select class="form-control" ng-model="modelsCompareCtrl.dateType2">
            <option value="201702">2017年第二季度</option>
            <option value="201701">2017年第一季度</option>
            <option value="201604">2016年第四季度</option>
            <option value="201603">2016年第三季度</option>
            <option value="201602">2016年第二季度</option>
            <option value="201601">2016年第一季度</option>
            <option value="201504">2015年第四季度</option>
          </select>
        </div>
    </div>
    <div ng-show="modelsCompareCtrl.monthQuery">
        <label class="control-label col-md-1">查询月份:</label>
        <div class="controls col-md-2">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{formatCustomMonth}}"
                     ng-model="modelsCompareCtrl.monthDateDeviceData"
                     is-open="modelsCompareCtrl.monthDateOpenStatusDeviceData.opened"
                     datepicker-options="modelsCompareCtrl.dateOptions1"
                     min-date="modelsCompareCtrl.minDate"
                     max-date="modelsCompareCtrl.maxDate"
                     ng-required="true" current-text="{{'today'|translate}}"
                     clear-text="{{'cleanUp'|translate}}"
                     close-text="{{'close'|translate}}"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="modelsCompareCtrl.monthDateOpenDeviceData($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
      </div>
    <div>
      <label class="control-label col-md-1">活跃阈值:</label>
      <div class="controls col-md-2">
        <select class="form-control" ng-model="modelsCompareCtrl.hour">
          <option ng-repeat="date in modelsCompareCtrl.hours" value="{{date}}">{{date}}小时</option>
        </select>
      </div>
    </div>
    <div class="controls col-md-2">
        <button class="btn btn-warning" type="button" ng-click="modelsCompareCtrl.reset()">{{'reset'|translate}}</button>
      <span ng-show="modelsCompareCtrl.hidden">
        <button class="btn btn-primary" type="button" presentation-href="machine:page"
                ng-click="modelsCompareCtrl.query(modelsCompareCtrl.startDateDeviceData,modelsCompareCtrl.endDateDeviceData,modelsCompareCtrl.dateType1,modelsCompareCtrl.dateType2,modelsCompareCtrl.monthDateDeviceData,modelsCompareCtrl.hour,modelsCompareCtrl.machineType1,vehicleType1.selected,modelsCompareCtrl.heatType1)">{{'query'|translate}}</button>
      </span>
    </div>
  </div>

  <div class="row form-group" ng-show="modelsCompareCtrl.dayQuery">
    <div class="control-group" >
      <label class="control-label col-md-1">起始日期：</label>
      <div class="controls col-md-2">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                 ng-model="modelsCompareCtrl.startDateDeviceData"
                 is-open="modelsCompareCtrl.startDateOpenStatusDeviceData.opened"
                 datepicker-options="modelsCompareCtrl.dateOptions"
                 min-date="modelsCompareCtrl.minDate"
                 max-date="modelsCompareCtrl.maxDate"
                 ng-required="true" current-text="{{'today'|translate}}"
                 clear-text="{{'cleanUp'|translate}}"
                 close-text="{{'close'|translate}}"/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="modelsCompareCtrl.startDateOpenDeviceData($event)">
                <i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
      </div>
      <label class="control-label col-md-1">结束日期：</label>
      <div class="controls col-md-2">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                 ng-model="modelsCompareCtrl.endDateDeviceData"
                 is-open="modelsCompareCtrl.endDateOpenStatusDeviceData.opened"
                 datepicker-options="modelsCompareCtrl.dateOptions"
                 ng-required="true" current-text="{{'today'|translate}}"
                 clear-text="{{'cleanUp'|translate}}"
                 close-text="{{'close'|translate}}"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="modelsCompareCtrl.endDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <!--<div class="controls col-md-2">-->
        <!--<button class="btn btn-primary" type="button" presentation-href="machine:page"-->
                <!--ng-click="modelsCompareCtrl.query(modelsCompareCtrl.startDateDeviceData,modelsCompareCtrl.endDateDeviceData,modelsCompareCtrl.dateType1,modelsCompareCtrl.dateType2,modelsCompareCtrl.monthDateDeviceData,modelsCompareCtrl.hour,modelsCompareCtrl.machineType1,modelsCompareCtrl.vehicleType1,modelsCompareCtrl.heatType1)">{{'query'|translate}}-->
        <!--</button>-->
      <!--</div>-->
    </div>
  </div>
  <div class="row form-group">
    <label class="control-label col-md-1">产品类型:</label>
    <div class="controls col-md-2">
      <select class="form-control" ng-change="modelsCompareCtrl.change1(modelsCompareCtrl.machineType1)" ng-model="modelsCompareCtrl.machineType1">
        <option value="1">装载机</option>
        <option value="2">挖掘机</option>
        <!--<option value="3">重机</option>-->
        <!--<option ng-repeat="data in modelsCompareCtrl.machineType" value="{{data.value}}">{{data.name}}</option>-->
      </select>
    </div>

    <label class="control-label col-md-1">车辆型号:</label>
    <div class="controls col-md-2">
      <ui-select ng-model="vehicleType1.selected" >
        <ui-select-match placeholder="请选择型号">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="type1 in getVehicleType1($select.search) | filter: $select.search">
          <div ng-bind="type1"></div>
        </ui-select-choices>
      </ui-select>
    </div>

    <label class="control-label col-md-1">热度类型:</label>
    <div class="controls col-md-2">
      <input type="radio" name="heat1" value="1" ng-checked="true" ng-model="modelsCompareCtrl.heatType1" />开工热度
      <input type="radio" name="heat1" value="0" ng-model="modelsCompareCtrl.heatType1" />销售热度
    </div>
    <div class="col-md-2" ng-show="modelsCompareCtrl.comparedQuery">
      <button class="btn btn-primary" type="button" presentation-href="machine:page" ng-click="modelsCompareCtrl.toggle()"><span class="glyphicon glyphicon-chevron-down" style="color: rgb(255, 255, 255);"></span> 车型对比</button>
    </div>
    <div class="col-md-2" ng-show="modelsCompareCtrl.singleQuery">
      <button class="btn btn-primary" type="button" presentation-href="machine:page" ng-click="modelsCompareCtrl.toggle()"><span class="glyphicon glyphicon-chevron-up" style="color: rgb(255, 255, 255);"></span> 单一车型</button>
    </div>
  </div>
  <div class="row form-group" ng-show="modelsCompareCtrl.comparedType">
    <label class="control-label col-md-1">产品类型:</label>
    <div class="controls col-md-2">
      <select class="form-control" ng-change="modelsCompareCtrl.change2(modelsCompareCtrl.machineType2)" ng-model="modelsCompareCtrl.machineType2">
        <option value="1">装载机</option>
        <option value="2">挖掘机</option>
        <!--<option value="3">重机</option>-->
      </select>
    </div>
    <label class="control-label col-md-1">车辆型号:</label>
    <div class="controls col-md-2">
      <ui-select ng-model="vehicleType2.selected" >
        <ui-select-match placeholder="请选择型号">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="type2 in getVehicleType2($select.search) | filter: $select.search">
          <div ng-bind="type2"></div>
        </ui-select-choices>
      </ui-select>
    </div>

    <label class="control-label col-md-1">热度类型:</label>
    <div class="controls col-md-2">
      <input type="radio" name="heat2" value="1" ng-checked="true" ng-model="modelsCompareCtrl.heatType2" />开工热度
      <input type="radio" name="heat2" value="0" ng-model="modelsCompareCtrl.heatType2" />销售热度
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" type="button" presentation-href="machine:page"
              ng-click="modelsCompareCtrl.viewResults(modelsCompareCtrl.startDateDeviceData,modelsCompareCtrl.endDateDeviceData,modelsCompareCtrl.dateType1,modelsCompareCtrl.dateType2,modelsCompareCtrl.monthDateDeviceData,modelsCompareCtrl.hour,modelsCompareCtrl.machineType1,modelsCompareCtrl.machineType2,vehicleType1.selected,vehicleType2.selected,modelsCompareCtrl.heatType1,modelsCompareCtrl.heatType2)"
      >&nbsp;查&nbsp;询&nbsp;对&nbsp;比</button>
    </div>
  </div>

  <!-- map -->
  <div class="mapBox" style="border: 1px solid #cccccc;height: 850px;width: 99%;position: relative;">
    <div class="mapContainerBox" style="position: absolute;height: 850px;width: 100%;;left: 0px;">
      <div class="mapContainer" id="mapContainer1" style="height: 850px;width: 100%;"></div>
      <span style="display: block;" id="dateWithOut1">
      <div ng-show="modelsCompareCtrl.avgHours1" style="position: absolute;right: 0px;top: 75px;">
        <div style="position: relative;">
          <ul style="list-style: none;line-height: 24px;padding-right: 8px;font-size:15px;">
            <span ng-show="modelsCompareCtrl.avgHoursNational">
              <li>平均开工时长</li><!--text-align:center  padding-left: 25px;-->
              <li ng-if="modelsCompareCtrl.excavatorHours>=modelsCompareCtrl.beforeExcavatorHours" style="color: #00bb9c;">挖掘机：{{modelsCompareCtrl.excavatorHours}}小时<span>&nbsp;</span><img src="assets/images/up.png"/></li>
              <li ng-if="modelsCompareCtrl.excavatorHours<modelsCompareCtrl.beforeExcavatorHours" style="color: #eb4f38;">挖掘机：{{modelsCompareCtrl.excavatorHours}}小时<span>&nbsp;</span><img src="assets/images/down.png"/></li>
              <li ng-if="modelsCompareCtrl.loaderHours>=modelsCompareCtrl.beforeLoaderHours" style="color: #00bb9c;">装载机：{{modelsCompareCtrl.loaderHours}}小时<span>&nbsp;</span><img src="assets/images/up.png"/></li>
              <li ng-if="modelsCompareCtrl.loaderHours<modelsCompareCtrl.beforeLoaderHours" style="color: #eb4f38;">装载机：{{modelsCompareCtrl.loaderHours}}小时<span>&nbsp;</span><img src="assets/images/down.png"/></li>
            </span>
            <span ng-show="modelsCompareCtrl.avgHoursProvince">
              <li>平均开工时长</li>
              <li ng-if="modelsCompareCtrl.excavatorHoursProvince>=modelsCompareCtrl.beforeExcavatorHoursProvince" style="color: #00bb9c;">挖掘机：{{modelsCompareCtrl.excavatorHoursProvince}}小时<span>&nbsp;</span><img src="assets/images/up.png"/></li>
              <li ng-if="modelsCompareCtrl.excavatorHoursProvince<modelsCompareCtrl.beforeExcavatorHoursProvince" style="color: #eb4f38;">挖掘机：{{modelsCompareCtrl.excavatorHoursProvince}}小时<span>&nbsp;</span><img src="assets/images/down.png"/></li>
              <li ng-if="modelsCompareCtrl.loaderHoursProvince>=modelsCompareCtrl.beforeLoaderHoursProvince" style="color: #00bb9c;">装载机：{{modelsCompareCtrl.loaderHoursProvince}}小时<span>&nbsp;</span><img src="assets/images/up.png"/></li>
              <li ng-if="modelsCompareCtrl.loaderHoursProvince<modelsCompareCtrl.beforeLoaderHoursProvince" style="color: #eb4f38;">装载机：{{modelsCompareCtrl.loaderHoursProvince}}小时<span>&nbsp;</span><img src="assets/images/down.png"/></li>
              <!--重机-->
              <!--<li ng-if="modelsCompareCtrl.heavyHoursProvince>=modelsCompareCtrl.beforeHeavyHoursProvince" style="color: #00bb9c;">重机：{{modelsCompareCtrl.heavyHoursProvince}}小时<span>&nbsp;</span><img src="assets/images/up.png"/></li>-->
              <!--<li ng-if="modelsCompareCtrl.heavyHoursProvince<modelsCompareCtrl.beforeHeavyHoursProvince" style="color: #eb4f38;">重机：{{modelsCompareCtrl.heavyHoursProvince}}小时<span>&nbsp;</span><img src="assets/images/down.png"/></li>-->
            </span>
          </ul>
        </div>
      </div>
      <div ng-show="modelsCompareCtrl.avgHours3" style="position: absolute;right: 0px;top: 75px;">
        <div style="position: relative;">
          <ul ng-show="modelsCompareCtrl.national" style="list-style: none;line-height: 24px;padding-right: 8px;">
            <li>销售总数:{{modelsCompareCtrl.totalSales}}台</li>
            <li ng-if="modelsCompareCtrl.totalSales>=modelsCompareCtrl.beforeTotalSales"><span style="color: #00bb9c;">环比增长:{{modelsCompareCtrl.totalSales-modelsCompareCtrl.beforeTotalSales}}台<span>&nbsp;</span><img src="assets/images/up.png"/></span></li>
            <li ng-if="modelsCompareCtrl.totalSales<modelsCompareCtrl.beforeTotalSales"><span style="color: #eb4f38;">环比下降:{{modelsCompareCtrl.beforeTotalSales-modelsCompareCtrl.totalSales}}台<span>&nbsp;</span><img src="assets/images/down.png"/></span></li>
            <li ng-if="modelsCompareCtrl.totalSales>=modelsCompareCtrl.lastYearTotalSales"><span style="color: #00bb9c;">同比增长:{{modelsCompareCtrl.totalSales-modelsCompareCtrl.lastYearTotalSales}}台<span>&nbsp;</span><img src="assets/images/up.png"/></span></li>
            <li ng-if="modelsCompareCtrl.totalSales<modelsCompareCtrl.lastYearTotalSales"><span style="color: #eb4f38;">同比下降:{{modelsCompareCtrl.lastYearTotalSales-modelsCompareCtrl.totalSales}}台<span>&nbsp;</span><img src="assets/images/down.png"/></span></li>
          </ul>
          <ul ng-show="modelsCompareCtrl.allProvince" style="list-style: none;line-height: 24px;padding-right: 8px;">
            <li>销售总数:&nbsp;{{modelsCompareCtrl.provinceSales}}台</li>
            <li ng-if="modelsCompareCtrl.provinceSales>=modelsCompareCtrl.beforeProvinceSales"><span style="color: #00bb9c;">环比增长:{{modelsCompareCtrl.provinceSales-modelsCompareCtrl.beforeProvinceSales}}台<span>&nbsp;</span><img src="assets/images/up.png"/></span></li>
            <li ng-if="modelsCompareCtrl.provinceSales<modelsCompareCtrl.beforeProvinceSales"><span style="color: #eb4f38;">环比下降:{{modelsCompareCtrl.beforeProvinceSales-modelsCompareCtrl.provinceSales}}台<span>&nbsp;</span><img src="assets/images/down.png"/></span></li>
            <li ng-if="modelsCompareCtrl.provinceSales>=modelsCompareCtrl.lastYearProvinceSales"><span style="color: #00bb9c;">同比增长:{{modelsCompareCtrl.provinceSales-modelsCompareCtrl.lastYearProvinceSales}}台<span>&nbsp;</span><img src="assets/images/up.png"/></span></li>
            <li ng-if="modelsCompareCtrl.provinceSales<modelsCompareCtrl.lastYearProvinceSales"><span style="color: #eb4f38;">同比下降:{{modelsCompareCtrl.lastYearProvinceSales-modelsCompareCtrl.provinceSales}}台<span>&nbsp;</span><img src="assets/images/down.png"/></span></li>
          </ul>
        </div>
      </div>
      </span>
      <a class="backChina" style="width: 40px; height: 40px;position: absolute;right: 20px;top: 170px;display: none;" ng-click="modelsCompareCtrl.backChina1();">
        <img src="assets/images/back.png" alt="返回到全国" style="width: 40px;height: 40px;">
      </a>
    </div>
    <div class="mapContainerBox" id="mapContainerBox" style="position: absolute;display: none;height:850px;right: 0px;border-left:1px dashed #cccccc">
      <div class="mapContainer" id="mapContainer2" style="height: 850px;"></div>
      <span style="display: block;" id="dateWithOut2">
      <div ng-show="modelsCompareCtrl.avgHours2" style="position: absolute;right: 0px;top:75px;">
        <div style="position: relative;">
          <ul style="list-style: none;line-height: 24px;padding-right: 8px;font-size:15px;">
            <span ng-show="modelsCompareCtrl.avgHoursNational2">
              <li>平均开工时长</li>
              <li ng-if="modelsCompareCtrl.excavatorHours2>=modelsCompareCtrl.beforeExcavatorHours2" style="color: #00bb9c;">挖掘机：{{modelsCompareCtrl.excavatorHours2}}小时<span>&nbsp;</span><img src="assets/images/up.png"/></li>
              <li ng-if="modelsCompareCtrl.excavatorHours2<modelsCompareCtrl.beforeExcavatorHours2" style="color: #eb4f38;">挖掘机：{{modelsCompareCtrl.excavatorHours2}}小时<span>&nbsp;</span><img src="assets/images/down.png"/></li>
              <!--<li style="color: #00bb9c;">小&nbsp;&nbsp;&nbsp;挖：5.78小时<span></span><img src="assets/images/up.png"/></li>-->
              <li ng-if="modelsCompareCtrl.loaderHours2>=modelsCompareCtrl.beforeLoaderHours2" style="color: #00bb9c;">装载机：{{modelsCompareCtrl.loaderHours2}}小时<span>&nbsp;</span><img src="assets/images/up.png"/></li>
              <li ng-if="modelsCompareCtrl.loaderHours2<modelsCompareCtrl.beforeLoaderHours2" style="color: #eb4f38;">装载机：{{modelsCompareCtrl.loaderHours2}}小时<span>&nbsp;</span><img src="assets/images/down.png"/></li>
            </span>
            <span ng-show="modelsCompareCtrl.avgHoursProvince2">
              <li>平均开工时长</li>
                <!--<li>总平均：{{(modelsCompareCtrl.excavatorHoursProvince2 + modelsCompareCtrl.loaderHoursProvince2)/2 | number:2}}小时</li>-->
              <li ng-if="modelsCompareCtrl.excavatorHoursProvince2>=modelsCompareCtrl.beforeExcavatorHoursProvince2" style="color: #00bb9c;">挖掘机：{{modelsCompareCtrl.excavatorHoursProvince2}}小时<span>&nbsp;</span><img src="assets/images/up.png"/></li>
              <li ng-if="modelsCompareCtrl.excavatorHoursProvince2<modelsCompareCtrl.beforeExcavatorHoursProvince2" style="color: #eb4f38;">挖掘机：{{modelsCompareCtrl.excavatorHoursProvince2}}小时<span>&nbsp;</span><img src="assets/images/down.png"/></li>
              <li ng-if="modelsCompareCtrl.loaderHoursProvince2>=modelsCompareCtrl.beforeLoaderHoursProvince2" style="color: #00bb9c;">装载机：{{modelsCompareCtrl.loaderHoursProvince2}}小时<span>&nbsp;</span><img src="assets/images/up.png"/></li>
              <li ng-if="modelsCompareCtrl.loaderHoursProvince2<modelsCompareCtrl.beforeLoaderHoursProvince2" style="color: #eb4f38;">装载机：{{modelsCompareCtrl.loaderHoursProvince2}}小时<span>&nbsp;</span><img src="assets/images/down.png"/></li>
              <!--重机-->
              <!--<li ng-if="modelsCompareCtrl.heavyHoursProvince2>=modelsCompareCtrl.beforeHeavyHoursProvince2" style="color: #00bb9c;">重机：{{modelsCompareCtrl.heavyHoursProvince2}}小时<span>&nbsp;</span><img src="assets/images/up.png"/></li>-->
              <!--<li ng-if="modelsCompareCtrl.heavyHoursProvince2<modelsCompareCtrl.beforeHeavyHoursProvince2" style="color: #eb4f38;">重机：{{modelsCompareCtrl.heavyHoursProvince2}}小时<span>&nbsp;</span><img src="assets/images/down.png"/></li>-->
            </span>
          </ul>
        </div>
      </div>
      <div ng-show="modelsCompareCtrl.avgHours4" style="position: absolute;right: 0px;top: 75px;">
        <div style="position: relative;">
          <ul ng-show="modelsCompareCtrl.national1" style="list-style: none;line-height: 24px;padding-right: 8px;">
            <li>销售总数:{{modelsCompareCtrl.totalSales1}}台</li>
            <li ng-if="modelsCompareCtrl.totalSales1>=modelsCompareCtrl.beforeTotalSales1"><span style="color: #00bb9c;">环比增长:{{modelsCompareCtrl.totalSales1-modelsCompareCtrl.beforeTotalSales1}}台<span>&nbsp;</span><img src="assets/images/up.png"/></span></li>
            <li ng-if="modelsCompareCtrl.totalSales1<modelsCompareCtrl.beforeTotalSales1"><span style="color: #eb4f38;">环比下降:{{modelsCompareCtrl.beforeTotalSales1-modelsCompareCtrl.totalSales1}}台<span>&nbsp;</span><img src="assets/images/down.png"/></span></li>
            <li ng-if="modelsCompareCtrl.totalSales1>=modelsCompareCtrl.lastYearTotalSales1"><span style="color: #00bb9c;">同比增长:{{modelsCompareCtrl.totalSales1-modelsCompareCtrl.lastYearTotalSales1}}台<span>&nbsp;</span><img src="assets/images/up.png"/></span></li>
            <li ng-if="modelsCompareCtrl.totalSales1<modelsCompareCtrl.lastYearTotalSales1"><span style="color: #eb4f38;">同比下降:{{modelsCompareCtrl.lastYearTotalSales1-modelsCompareCtrl.totalSales1}}台<span>&nbsp;</span><img src="assets/images/down.png"/></span></li>
          </ul>
          <ul ng-show="modelsCompareCtrl.allProvince1" style="list-style: none;line-height: 24px;padding-right: 8px; ">
            <li>销售总数:&nbsp;{{modelsCompareCtrl.provinceSales1}}台</li>
            <li ng-if="modelsCompareCtrl.provinceSales1>=modelsCompareCtrl.beforeProvinceSales1"><span style="color: #00bb9c;">环比增长:{{modelsCompareCtrl.provinceSales1-modelsCompareCtrl.beforeProvinceSales1}}台<span>&nbsp;</span><img src="assets/images/up.png"/></span></li>
            <li ng-if="modelsCompareCtrl.provinceSales1<modelsCompareCtrl.beforeProvinceSales1"><span style="color: #eb4f38;">环比下降:{{modelsCompareCtrl.beforeProvinceSales1-modelsCompareCtrl.provinceSales1}}台<span>&nbsp;</span><img src="assets/images/down.png"/></span></li>
            <li ng-if="modelsCompareCtrl.provinceSales1>=modelsCompareCtrl.lastYearProvinceSales1"><span style="color: #00bb9c;">同比增长:{{modelsCompareCtrl.provinceSales1-modelsCompareCtrl.lastYearProvinceSales1}}台<span>&nbsp;</span><img src="assets/images/up.png"/></span></li>
            <li ng-if="modelsCompareCtrl.provinceSales1<modelsCompareCtrl.lastYearProvinceSales1"><span style="color: #eb4f38;">同比下降:{{modelsCompareCtrl.lastYearProvinceSales1-modelsCompareCtrl.provinceSales1}}台<span>&nbsp;</span><img src="assets/images/down.png"/></span></li>
          </ul>
        </div>
      </div>
      </span>
      <a class="backChina"  style="width: 40px; height: 40px;position: absolute;right: 20px;top: 170px;display: none;" ng-click="modelsCompareCtrl.backChina2();">
        <img src="assets/images/back.png" alt="返回到全国" style="width: 40px;height: 40px;">
      </a>
    </div>
  </div>

</section>

