<div class="main-container" id="workStart">
  <div class="left-container">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12"  style="margin-top: 20px;">
          <form id="searchForm" class="form-search">
            <div class="control-group">

              <label class="control-label">{{'vehicleType'|translate}}:</label>
              <div class="controls">
                <select class="form-control" ng-model="workStartMngController.machine.machineType">
                  <option value="A1">{{'smallExcavator'|translate}}</option>
                  <option value="30">{{'oreMachine'|translate}}</option>
                  <option value="40">{{'mediumExcavator'|translate}}</option>
                  <option value="1,2,3">{{'loader'|translate}}</option>
                  <option value="A001">{{'arialVehicle'|translate}}</option>
                </select>
              </div>

            </div>
            <div class="control-group">
              <label class="control-label">{{'heatType'|translate}}：</label>
              <div class="controls">
                  <select class="form-control" ng-model="workStartMngController.experimentalcar" placeholder="{{'pleaseSelect'|translate}}">
                    <option value="0">{{'averageWorkHours'|translate}}</option>
                    <option value="1">{{'averageWorkingFrequency'|translate}}</option>
                  </select>
                </div>
            </div>
            <div class="control-group">
              <label class="control-label">{{'startDate'|translate}}：</label>
              <div class="controls">
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                         ng-model="workStartMngController.startDateDeviceData"
                         is-open="workStartMngController.statisticalStatusData.opened"
                         datepicker-options="workStartMngController.dateOptions"
                         min-date="workStartMngController.minDate"
                         max-date="workStartMngController.maxDate" ng-required="true"
                         clear-text="{{'cleanUp'|translate}}"
                         close-text="{{'close'|translate}}"/>
                         <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="workStartMngController.statisticalData($event)"><i
                              class="glyphicon glyphicon-calendar"></i></button>
                         </span>
                </p>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <button id="btnSubmit" class="btn btn-primary btn-block" type="button" value="{{'vehicleStartHeatDistribution'|translate}}"
                        presentation-href="statAnalysis:workHeat:workHeat:query"
                        ng-click="workStartMngController.drawWorkHot();">{{'vehicleStartHeatDistribution'|translate}}</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="right-container">
    <div id="topic-container" class="topic-container">
      &nbsp;
      <span id="sapnWorkMonth"></span>
      <span id="sapnWorkProvince">{{'nationwide'|translate}}</span>
      {{'vehicleStartHeatDistribution'|translate}}
      <span class="return-mask" style="display: none;">
                <i class="icon-reply"></i>
                <a class="return-word" href="javascript:void(0);" onclick="groupEvent()">{{'returntoTheWholeCountry'|translate}}</a>
            </span>
    </div>
    <div id="map-container" class="chart-container" style="height: 350px;"> </div>
    <div class="tips-container">&nbsp;<i class="icon-chevron-down"></i> {{'relationshipBetweenHeatTypeAndNumberofWorkingVehicles'|translate}} </div>
    <div id="pds-container" class="chart-container"> </div>
    <div class="tips-container">&nbsp;<i class="icon-chevron-down"></i> {{'relationshipBetweenHeatTypeAndNumberofactiveVehiclesAndtheNumberofVehiclesSold'|translate}} </div>
    <div class="table-container">
      <div class="table-header">
        <span class="table-header-text">{{'provincialData'|translate}}<i ng-click="" style="margin-left: 20px;color:#EBA174;">{{'showMore'|translate}}</i></span>
        <a class="table-show-all" id="showAllProvince"></a>
      </div>
      <table id="areaTop" class="table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
          <th>{{'provinceName'|translate}}</th>
          <th>{{'averageStartingTime'|translate}}({{'hour'|translate}})</th>
          <th>{{'numberofActiveVehicles'|translate}}{{'carQuantifier'|translate}}</th>
          <th>{{'numberofVehiclesSold'|translate}}{{'carQuantifier'|translate}}</th>
          <th>{{'proportionActiveSold'|translate}}</th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="tips-container">&nbsp;<i class="icon-chevron-down"></i>  {{'monthlyWorkofVehicleinEachYear'|translate}} </div>
    <div id="mmu-container" class="chart-container"> </div>

    <div id="areaTop-all" style="display:none;">
      <table class="table table-striped table-bordered table-condensed table-hover" >
        <thead>
        <tr>
          <th>{{'provinceName'|translate}}</th>
          <th>{{'averageStartingTime'|translate}}({{'hour'|translate}})</th>
          <th>{{'numberofActiveVehicles'|translate}}{{'carQuantifier'|translate}}</th>
          <th>{{'numberofVehiclesSold'|translate}}{{'carQuantifier'|translate}}</th>
          <th>{{'proportionActiveSold'|translate}}</th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>


</div>
