<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">收入管理</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">

  <div class="row">

    <div class="col-md-1">
      <label class="control-label">所属车队</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">

        <input type="text" id="org" class="form-control" placeholder="所属车队" ng-model="revenueMngController.org.label" name="org" readonly required/>
          <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="revenueMngController.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
      </p>
    </div>


    <div class="col-md-1">
      <label class="control-label">整机编号/车号</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="licenseId" class="form-control " ng-model="revenueMngController.fleetRecord.licenseId"
             placeholder="支持模糊查询"/>
    </div>

    <div class="col-md-1">
      <label class="control-label">设备编号</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="deviceNum" class="form-control " ng-model="revenueMngController.fleetRecord.deviceNum"
             placeholder="支持模糊查询"/>
    </div>

  </div>


  <div class="row">
    <div class="col-md-1">
      <label class="control-label">开始时间</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" name="startDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
               ng-model="revenueMngController.startDate"
               is-open="revenueMngController.startDateOpenStatus.opened"
               datepicker-options="dateOptions" ng-readonly="true" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="revenueMngController.startDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>

    <div class="col-md-1">
      <label class="control-label">结束时间</label>
    </div>
    <div class="col-md-3">

        <p class="input-group">
          <input type="text" name="endDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                 ng-model="revenueMngController.endDate"
                 is-open="revenueMngController.endDateOpenStatus.opened"
                 datepicker-options="dateOptions" ng-readonly="true" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="revenueMngController.endDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-3">
      <button class="btn btn-primary" type="button"  ng-click="revenueMngController.selectQuery(revenueMngController.fleetRecord)">{{'query'|translate}}</button>
      <button class="btn btn-primary" type="button"  ng-click="revenueMngController.reset()">{{'reset'|translate}}</button>
    </div>


  </div>

  <div class="row" style="margin-bottom: 15px">
    <div class="col-md-12">
      <highchart id="revenueLineChart" config="revenueMngController.revenueLineChart"></highchart>
    </div>

  </div>

  <div class="row " style="padding: 10px">
      <div class="table-responsive">
      <table ng-table="revenueMngController.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="fleetRecord in $data">

          <td class="text-nowrap" data-title="'所属车队'" sortable="'phoneNumber'">{{fleetRecord.org.label}}</td>
          <td class="text-nowrap" data-title="'整机编号/车号'" sortable="'serialNumber'">{{fleetRecord.machine.licenseId}}</td>
          <td class="text-nowrap" data-title="'设备编号'" sortable="'price'">{{fleetRecord.machine.deviceinfo.deviceNum}}</td>
          <td class="text-nowrap" data-title="'开始时间'" sortable="'serviceBeginDate'">{{fleetRecord.startDate | date:'yyyy-MM-dd HH:mm'}}</td>
          <td class="text-nowrap" data-title="'结束时间'" sortable="'serviceEndDate'">{{fleetRecord.endDate | date:'yyyy-MM-dd HH:mm'}}</td>
          <td class="text-nowrap" data-title="'趟次'" sortable="'times'">{{fleetRecord.times}}</td>
          <td class="text-nowrap" data-title="'货重(吨)'" sortable="'totalWeight'">{{fleetRecord.totalWeight*0.01 | number:1}}</td>
          <td class="text-nowrap" data-title="'收入'" sortable="'revenue'">{{fleetRecord.revenue}}</td>
          <td class="text-nowrap" data-title="'油耗(L)'" sortable="'totalOil'">{{fleetRecord.totalOil}}</td>
          <td class="text-nowrap" data-title="'燃油成本'" sortable="'oilCost'">{{fleetRecord.oilCost}}</td>
          <td class="text-nowrap" data-title="'利润'">{{fleetRecord.revenue - fleetRecord.oilCost}}</td>
            </button>
          </td>
        </tr>
      </table>
      </div>
    </div>
  <div class="row">
  </div>
  <div class="box-footer">
    <uib-pagination total-items="revenueMngController.page.totalElements" ng-change="revenueMngController.query(revenueMngController.pageNumber-1,null,null,revenueMngController.phoneNumber)"
                    max-size="5" ng-model="revenueMngController.pageNumber" items-per-page="revenueMngController.page.size" class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>
  </div>

</section>

