<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{'homePage'|translate}}</a></li>
    <li class="active">{{'weightData'|translate}}</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">

  <div class="row">

    <div class="col-md-2">
      <label class="control-label">{{'excavatorDeviceNum'|translate}}</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="label" class="form-control " ng-model="weightDataCtrl.weightData.deviceNum"
             placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>

    <div class="col-md-2">
      <label class="control-label">{{'TubDeviceNum'|translate}}</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="label" class="form-control " ng-model="weightDataCtrl.weightData.rfNum"
             placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>

  </div>

  <div class="row" style="margin-top: 10px">
    <div class="col-md-2">
      <label class="control-label">{{'recordGenerationStartTime'|translate}}</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" name="recordTimeStart" class="form-control" uib-datepicker-popup="{{formatCustom}}"
               ng-model="weightDataCtrl.weightData.recordTimeStart"
               is-open="weightDataCtrl.recordTimeStartOpenStatus.opened"
               datepicker-options="dateOptions" ng-readonly="true" ng-required="true" close-text="Close"/>
        <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="weightDataCtrl.recordTimeStartOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>

    <div class="col-md-2">
      <label class="control-label">{{'recordGenerationEndTime'|translate}}</label>
    </div>
    <div class="col-md-3">

      <p class="input-group">
        <input type="text" name="recordTimeEnd" class="form-control" uib-datepicker-popup="{{formatCustom}}"
               ng-model="weightDataCtrl.weightData.recordTimeEnd"
               is-open="weightDataCtrl.recordTimeEndOpenStatus.opened"
               datepicker-options="dateOptions" ng-readonly="true" ng-required="true" close-text="Close"/>
        <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="weightDataCtrl.recordTimeEndOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-2">
      <button class="btn btn-primary" type="button" presentation-href="weightData:page"
              ng-click="weightDataCtrl.query(null,null,null,weightDataCtrl.weightData)">{{'query'|translate}}
      </button>
      <button class="btn btn-primary" type="button" ng-click="weightDataCtrl.reset()">{{'reset'|translate}}</button>
    </div>


  </div>

  <div class="row " style="padding-top: 30px;padding-left: 10px;padding-right: 10px;">
    <div class="table-responsive">

      <table ng-table="weightDataCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="weightData in $data">
          <td class="text-nowrap" data-title="'excavatorDeviceNum'|translate" sortable="'weightData.deviceNum'">{{weightData.deviceNum}}</td>
          <td class="text-nowrap" data-title="'versionNumber'|translate" sortable="'weightData.versionNum'">{{weightData.versionNum}}</td>
          <td class="text-nowrap" data-title="'functionCode'|translate" sortable="'weightData.functionCode'">{{weightData.functionCode}}</td>
          <td class="text-nowrap" data-title="'deviceType'|translate" sortable="'weightData.deviceType'">000{{weightData.deviceType}}</td>
          <td class="text-nowrap" data-title="'recordGenerationTime'|translate" sortable="'weightData.recordTime'">{{weightData.recordTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td class="text-nowrap" data-title="'serialNumber'|translate" sortable="'weightData.serialNum'">{{weightData.serialNum}}</td>
          <td class="text-nowrap" data-title="'TubDeviceNum'|translate" sortable="'weightData.rfNum'">{{weightData.rfNum}}</td>
          <td class="text-nowrap" data-title="'loadingstarttime'|translate" sortable="'weightData.beginDate'">{{weightData.beginDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td class="text-nowrap" data-title="'loadingCompletetime'|translate" sortable="'weightData.endDate'">{{weightData.endDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td class="text-nowrap" data-title="'bucketNumber'|translate" sortable="'weightData.hopperNum'">{{weightData.hopperNum}}</td>
          <td class="text-nowrap" data-title="'totalWeight(t)'|translate" sortable="'weightData.totalWeight'">{{weightData.totalWeight/100}}</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="box-footer">
    <uib-pagination total-items="weightDataCtrl.page.totalElements"
                    ng-change="weightDataCtrl.query(weightDataCtrl.pageNumber-1,null,null,weightDataCtrl.weightData)"
                    max-size="5" ng-model="weightDataCtrl.pageNumber" items-per-page="weightDataCtrl.page.size"
                    class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>

    </div>

  </div>

</section>

