<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{'homePage'|translate}}</a></li>
    <li class="active">{{'workRecord'|translate}}</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">

  <div class="row">

    <div class="col-md-1">
      <label class="control-label">{{'fleet'|translate}}</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">

        <input type="text" id="org" class="form-control" placeholder="{{'fleet'|translate}}" ng-model="workRecordCtrl.org.label" name="org" readonly required/>
        <span class="input-group-btn">
            <!--打开组织树-->
            <button type="button" class="btn btn-default" ng-click="workRecordCtrl.openTreeInfo()">
              <i class="fa fa-sitemap"></i>
            </button>
          </span>
      </p>
    </div>


    <div class="col-md-1">
      <label class="control-label">{{'machineNumberAndCarNumber'|translate}}</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="licenseId" class="form-control " ng-model="workRecordCtrl.workRecord.licenseId"
             placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>

    <div class="col-md-1">
      <label class="control-label">{{'deviceNum'|translate}}</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="deviceNum" class="form-control " ng-model="workRecordCtrl.workRecord.deviceNum"
             placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>

  </div>


  <div class="row">
    <div class="col-md-1">
      <label class="control-label">{{'startingTime'|translate}}</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" name="startDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
               ng-model="workRecordCtrl.startDate"
               is-open="workRecordCtrl.startDateOpenStatus.opened"
               datepicker-options="dateOptions" ng-readonly="true" ng-required="true" close-text="Close"/>
        <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="workRecordCtrl.startDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>

    <div class="col-md-1">
      <label class="control-label">{{'endTime'|translate}}</label>
    </div>
    <div class="col-md-3">

      <p class="input-group">
        <input type="text" name="endDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
               ng-model="workRecordCtrl.endDate"
               is-open="workRecordCtrl.endDateOpenStatus.opened"
               datepicker-options="dateOptions" ng-readonly="true" ng-required="true" close-text="Close"/>
        <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="workRecordCtrl.endDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-3">
      <button class="btn btn-primary" type="button"  ng-click="workRecordCtrl.reset()">{{'reset'|translate}}</button>
      <button class="btn btn-primary" type="button"  presentation-href="fleet:workRecord:query" ng-click="workRecordCtrl.query(workRecordCtrl.workRecord)">{{'query'|translate}}</button>
    </div>


  </div>


  <div class="row" style="margin-bottom: 15px">
    <div class="col-md-12">
      <highchart id="revenueLineChart" config="workRecordCtrl.revenueLineChart"></highchart>
    </div>

    <div class="col-md-12">
      <highchart id="totalMachineChart" config="workRecordCtrl.totalMachineChart"></highchart>
    </div>

  </div>

  <div class="row " style="padding: 10px">
    <div class="table-responsive">
      <table ng-table="workRecordCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="workRecord in $data">

          <td class="text-nowrap" data-title="'date'|translate">{{workRecord.recordDate | date: 'yyyy-MM-dd'}}</td>
          <td class="text-nowrap" data-title="'fleet'|translate">{{workRecord.fleet}}</td>
          <td class="text-nowrap" data-title="'machineNumberAndCarNumber'|translate">{{workRecord.licenseId}}</td>
          <td class="text-nowrap" data-title="'equipmentNumber'|translate">{{workRecord.deviceNum}}</td>
          <td class="text-nowrap" data-title="'times'|translate">{{workRecord.records}}</td>
          <td class="text-nowrap" data-title="'operation'|translate">
            <button type="button" class="btn btn-default btn-xs" presentation-href="fleet:workRecord:query" ng-click="workRecordCtrl.info(workRecord)">{{'viewDetails'|translate}}</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>

