<div class="modal-header">
  <h3 class="modal-title">工作明细
    <button class="btn btn-warning pull-right" type="button" ng-click="workRecordDetailCtrl.cancel()">取消</button>

  </h3>

</div>
  <div class="modal-body row">
    <div class="box-body col-sm-7">
      <br>
      <br>
      <div class="table-responsive">
        <table ng-table="workRecordDetailCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap" style="font-size: 13px">
          <tr ng-repeat="workPointRecord in $data">
            <td class="text-nowrap" data-title="'趟次'">{{$index + 1}}</td>
            <td class="text-nowrap" data-title="'开始地点'" >{{workPointRecord.startPoint}}</td>
            <td class="text-nowrap" data-title="'开始时间'" >{{workPointRecord.startTime | date: 'MM-dd HH:mm:ss'}}</td>
            <td class="text-nowrap" data-title="'结束地点'" >{{workPointRecord.endPoint}}</td>
            <td class="text-nowrap" data-title="'结束时间'" >{{workPointRecord.endTime | date: 'MM-dd HH:mm:ss'}}</td>
            <td class="text-nowrap" data-title="'用时'"  >
              <div ng-hide="workPointRecord.endTime ==null || workPointRecord.startTime==null">
                {{(workPointRecord.endTime - workPointRecord.startTime)/1000/60 | number:2 }}分钟
              </div>
              <div ng-show="workPointRecord.endTime ==null || workPointRecord.startTime==null">0</div>
            </td>
            <td class="text-nowrap" data-title="'运行里程'" ng-if="workPointRecord.mileage!=null">{{workPointRecord.mileage}}KM</td>
            <td class="text-nowrap" data-title="'运行里程'" ng-if="workPointRecord.mileage==null"></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="map-body col-sm-5">
      <div class="row">
        <div class="col-md-8 btn-group " role="group" >
          <button id="start" class="btn btn-sm" type="button">{{'startAnimation'|translate}}</button>
          <button id="stop" class="btn  btn-sm" type="button">{{'endAnimation'|translate}}</button>
          <button id="move" class="btn  btn-sm" type="button">{{'moveAnimation'|translate}}</button>
        </div>
        <div class="col-md-4 text-right" style="font-size: 16px;padding-right: 20px;">
          行使了 <span style="color: red;font-weight: bold;">{{workRecordDetailCtrl.trackMileage}}</span> 米
        </div>
      </div>
      <div class="box-body" id="workRecordDetailMap" style="height:400px;"></div>
    </div>
  </div>
