<div class="modal-header">
  <h3 class="modal-title">新建Sim</h3>
</div>
<form name="newMachineForm" class="form-horizontal" ng-submit="newSimController.ok(newSimController.sim)">
  <div class="modal-body">
    <div class="box-body">
      <div class="col-md-6">
        <div class="form-group">
          <label for="phoneNumber" class="col-sm-4 control-label">Sim卡号</label>
          <div class="col-sm-8">
            <input type="text" id="phoneNumber" class="form-control" placeholder="Sim卡号"
                   ng-model="newSimController.sim.phoneNumber" name="phoneNumber" required/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="serialNumber" class="col-sm-4 control-label">序列号</label>
          <div class="col-sm-8">
            <input type="text" id="serialNumber" class="form-control" placeholder="序列号"
                   ng-model="newSimController.sim.serialNumber" name="serialNumber" required/>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">价格</label>
          <div class="col-sm-8">
            <input type="text" id="price" class="form-control" placeholder="价格"
                   ng-model="newSimController.sim.price" name="price" required/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="org" class="col-sm-4 control-label">所属组织</label>
          <!--<div ng-controller="orgController as orgCtrl1">-->
          <!--<button uib-popover-template="updateUserinfoCtrl.dynamicPopover.templateUrl" popover-title="{{updateUserinfoCtrl.dynamicPopover.title}}" type="button" class="btn btn-default">组织机构</button>-->
          <!--</div>-->
          <div class="col-sm-8">
            <p class="input-group">
              <input type="text" id="org" class="form-control" placeholder="所属组织"
                     ng-model="newSimController.sim.org.label" name="org" readonly required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="newSimController.openOrgTree()"><i
                      class="fa fa-sitemap"></i></button>
                  </span>
            <div ng-controller="orgController as orgCtrl">
              <div
                style="background:#FFFFDF ;opacity:1;position: absolute; z-index: 110009; display: block; width: 90%; "
                ng-show="newSimController.showOrgTree">
                <abn-tree tree-data="orgCtrl.my_data" tree-control="orgCtrl.my_tree"
                          on-select="orgCtrl.my_tree_handler(branch)" expand-level="4"></abn-tree>
              </div>
            </div>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">流量限额</label>
          <div class="col-sm-8">
            <input type="text" id="gsmDataLimit" class="form-control" placeholder="流量限额"
                   ng-model="newSimController.sim.gsmDataLimit" name="gsmDataLimit" required/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">状态</label>
          <div class="col-sm-8">

            <select class="form-control" name="status" id="status" ng-model="newSimController.sim.status" required>
              <option ng-repeat="simStatus in newSimController.sim.simStatusList" value="{{simStatus.value}}">
                {{simStatus.desc}}
              </option>
            </select>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">开通时间</label>
          <div class="col-sm-8">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                     ng-model="newSimController.serviceBeginDate" is-open="newSimController.serviceBeginDateOpenStatus.opened"
                     datepicker-options="dateOptions" ng-readonly="true" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="newSimController.serviceBeginDateOpen($event)">
                    <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">服务结束时间</label>
          <div class="col-sm-8">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                     ng-model="newSimController.serviceEndDate" is-open="newSimController.serviceEndDateOpen.opened"
                     datepicker-options="dateOptions" ng-readonly="true" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="newSimController.serviceEndDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">备注</label>
          <div class="col-sm-8">
            <input type="text" id="description" class="form-control" placeholder="备注"
                   ng-model="newSimController.sim.description" name="description" required/>
          </div>
        </div>
      </div>

    </div>

  </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">保存</button>
    <button class="btn btn-warning" type="button" ng-click="newSimController.cancel()">取消</button>
  </div>
</form>
