<div class="modal-header">
  <h3 class="modal-title">新建SIM</h3>
</div>
<form name="newSimForm" class="form-horizontal">
  <div class="modal-body">
    <div class="box-body">
        <div class="form-group">
          <label for="phoneNumber" class="col-sm-2 control-label">SIM卡号</label>
          <div class="col-sm-10">
            <input type="text" id="phoneNumber" class="form-control" placeholder="SIM卡号"
                   ng-model="newSimController.sim.phoneNumber" name="phoneNumber"  validator="required,number"/>
          </div>
        </div>

        <div class="form-group">
          <label for="serialNumber" class="col-sm-2 control-label">序列号</label>
          <div class="col-sm-10">
            <input type="text" id="serialNumber" class="form-control" placeholder="序列号"
                   ng-model="newSimController.sim.serialNumber" name="serialNumber" validator="required,numberAndChar"/>
          </div>
        </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">供应商</label>
        <div class="col-sm-10">
          <select name="devicetype"  class="form-control"
                  ng-model="newSimController.sim.provider"
                  ng-options="simProvider.value as simProvider.desc for simProvider in newSimController.sim.simProviderList">
            <option value="">请选择...</option>
          </select>
        </div>
      </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">价格(元)</label>
          <div class="col-sm-10">
            <input type="text" id="price" class="form-control" placeholder="价格(元)"
                   ng-model="newSimController.sim.price" name="price" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">流量限额(MB)</label>
          <div class="col-sm-10">
            <input type="text" id="gsmDataLimit" class="form-control" placeholder="流量限额(MB)"
                   ng-model="newSimController.sim.gsmDataLimit" name="gsmDataLimit" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">开通时间</label>
          <div class="col-sm-10">
            <p class="input-group">
              <input validator="required" type="text" name="serviceBeginDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                     ng-model="newSimController.sim.serviceBeginDate" is-open="newSimController.serviceBeginDateOpenStatus.opened"
                     datepicker-options="dateOptions" ng-readonly="true" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="newSimController.serviceBeginDateOpen($event)">
                    <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">服务结束时间</label>
          <div class="col-sm-10">
            <p class="input-group">
              <input validator="required" type="text" name="serviceEndDate" class="form-control" uib-datepicker-popup="{{formatCustom}}"
                     ng-model="newSimController.sim.serviceEndDate" is-open="newSimController.serviceEndDateOpenStatus.opened"
                     datepicker-options="dateOptions" ng-readonly="true" required close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="newSimController.serviceEndDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">备注</label>
          <div class="col-sm-10">
            <input type="text" id="description" class="form-control" placeholder="备注"
                   ng-model="newSimController.sim.description" name="description"/>
          </div>
        </div>
      <!--
      <div class="form-group">
        <label class="col-sm-2 control-label">设备类型</label>
        <div class="col-sm-10">
          <select name="devicetype"  class="form-control"
                  ng-model="newSimController.sim.status"
                  ng-options="simStatus.value as simStatus.desc for simStatus in newSimController.sim.simStatusList">
            <option value="">请选择...</option>
          </select>
        </div>
      </div>
      -->
      <i style="color: red" ng-if="null!=newSimController.errorMsg">
        {{newSimController.errorMsg}}<br/>
      </i>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" validation-submit="newSimForm"  ng-click="newSimController.ok(newSimController.sim)">保存</button>
    <button class="btn btn-warning" type="button" ng-click="newSimController.cancel()">取消</button>
  </div>
</form>




