<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">SIM卡管理</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-1">
      <label class="control-label">SIM卡号:</label>

    </div>
    <div class="col-md-2">
      <input type="text" name="deviceNum" class="form-control " ng-model="simMngCtrl.phoneNumber" placeholder="支持模糊查询"/>
    </div>


    <div class="col-md-1">
      <label class="control-label">所属组织:</label>
    </div>
    <div class="col-md-2">
      <p class="input-group">
        <input type="text" id="org" class="form-control" placeholder="所属组织"
               ng-model="simMngCtrl.sim.deviceinfo.org.label" name="org" readonly required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="simMngCtrl.openOrgTree()"><i
                      class="fa fa-sitemap"></i></button>
                  </span>
      <div ng-controller="orgController as orgCtrl">
        <div
          style="background:#FFFFDF ;opacity:1;position: absolute; z-index: 110009; display: block; width: 90%; "
          ng-show="simMngCtrl.showOrgTree">
          <abn-tree tree-data="orgCtrl.my_data" tree-control="orgCtrl.my_tree"
                    on-select="orgCtrl.my_tree_handler(branch)" expand-level="4"></abn-tree>
        </div>
      </div>
      </p>
    </div>
    <div class="col-md-1">
      <label class="control-label">状态:</label>
    </div>
    <div class="col-md-2">
      <ui-select type="text" name="status" ng-required="true"  ng-model="simMngCtrl.sim.status"  on-remove="removed($item, $model)" theme="bootstrap"  >
        <ui-select-match  allow-clear="true" placeholder="请选择状态">{{$select.selected.desc}} </ui-select-match>
        <ui-select-choices  repeat="simStatus.value as simStatus in simMngCtrl.sim.simStatusList | propsFilter: {desc: $select.search}" >
          <div  ng-bind-html="simStatus.desc | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-md-2">

    </div>


  </div>

  <div class="row">
    <div class="col-md-1">
      <label class="control-label">激活开始时间:</label>
    </div>
    <div class="col-md-2">
      <p class="input-group">
        <input type="text" name="activeTimeStart" class="form-control" uib-datepicker-popup="{{format}}"
               ng-model="simMngCtrl.sim.activeTimeStart"
               is-open="simMngCtrl.activeTimeStartOpenStatus.opened"
               datepicker-options="dateOptions" ng-readonly="true" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="simMngCtrl.activeTimeStartOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
      </p>
    </div>

    <div class="col-md-1">
      <label class="control-label">激活结束时间:</label>
    </div>
    <div class="col-md-2">

        <p class="input-group">
          <input type="text" name="activeTimeEnd" class="form-control" uib-datepicker-popup="{{format}}"
                 ng-model="simMngCtrl.sim.activeTimeEnd"
                 is-open="simMngCtrl.activeTimeEndOpenStatus.opened"
                 datepicker-options="dateOptions" ng-readonly="true" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="simMngCtrl.activeTimeEndOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
    </div>
    <div class="col-md-3"></div>

    <div class="col-md-2">
      <button class="btn btn-primary" type="button" ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN'"  ng-click="simMngCtrl.query(null,null,null,simMngCtrl.phoneNumber)">查询</button>
      <button class="btn btn-primary" type="button"  ng-click="simMngCtrl.reset()">重置</button>
    </div>


  </div>
  <div class="row">
    <div class="btn-group col-md-2">
      <label class="btn btn-default btn-xs" ng-model="simMngCtrl.radioListType" uib-btn-radio="'list'" uncheckable>列表</label>
      <label class="btn btn-default btn-xs" ng-model="simMngCtrl.radioListType" uib-btn-radio="'block'" uncheckable>列块</label>
      <span class="label label-info pull-left">SIM卡总数:  {{simMngCtrl.page.totalElements}}</span>
    </div>
    <div class="col-md-10">

      <a class="btn btn-primary pull-right"
         ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN'"
         ng-click="simMngCtrl.newSim()">
        <i class="fa fa-plus"></i> 增加
      </a>
      <a class="btn btn-primary pull-right"
         ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN'"
         ng-click="simMngCtrl.uploadSim()">
        <i class="fa fa-plus"></i> 批量导入
      </a>
    </div>
  </div>
  <div class="row " style="padding: 10px">
    <div ng-if="simMngCtrl.radioListType == 'block'" class="col-md-3" ng-repeat="sim in simMngCtrl.simList">
      <div class="box box-success">
        <div class="box-header">
          <h5 class="box-title">{{sim.identityId}}</h5>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              SIM卡号:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.phoneNumber}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              序列号:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.serialNumber}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              价格(元):
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.price}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              当前状态:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.statusDesc}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              激活时间:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.activeTime | date:'yyyy-MM-dd'}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              所属组织:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.deviceinfo.org.label}}
            </div>
          </div>
          <!--
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              流量统计月份:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.gsmDataMonth}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              当月流量限额(MB):
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.gsmDataLimit}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              当月已用流量(MB):
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.gsmDataCurrentMonth}}
            </div>
          </div>
          -->
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              总共已用流量(MB):
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.gsmDataTotal}}
            </div>
          </div>


          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              备注:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.description}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              开通时间:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.serviceBeginDate | date:'yyyy-MM-dd'}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              到期时间:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.serviceEndDate | date: 'yyyy-MM-dd'}}
            </div>
          </div>
        </div>
        <div class="box-footer">
          <code>
            <div class="pull-right">
              <button type="button" class="btn btn-default btn-xs"
                      ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN'"
                      ng-click="simMngCtrl.updateSim(sim)">修改
              </button>
            </div>
          </code>
        </div>
      </div>
    </div>
    <div ng-if="simMngCtrl.radioListType == 'list'" >
      <div class="table-responsive">
      <table ng-table="simMngCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="sim in $data">

          <td class="text-nowrap" data-title="'SIM卡号'" sortable="'phoneNumber'"><a href ng-click="simMngCtrl.updateSim(sim)">{{sim.phoneNumber}}</a></td>
          <td class="text-nowrap" data-title="'序列号'" sortable="'serialNumber'">{{sim.serialNumber}}</td>
          <td class="text-nowrap" data-title="'价格(元)'" sortable="'price'">{{sim.price}}</td>
          <td class="text-nowrap" data-title="'所属设备'" sortable="'deviceinfo.deviceNum'">{{sim.deviceinfo.deviceNum}}</td>
          <td class="text-nowrap" data-title="'当前状态'" sortable="'statusDesc'">{{sim.statusDesc}}</td>
          <td class="text-nowrap" data-title="'激活时间'" sortable="'activeTime'">{{sim.activeTime | date:'yyyy-MM-dd'}}</td>
          <td class="text-nowrap" data-title="'所属组织'" sortable="'deviceinfo.org.label'">{{sim.deviceinfo.org.label}}</td>
          <td class="text-nowrap" data-title="'备注'" sortable="'description'">{{sim.description}}</td>
          <td class="text-nowrap" data-title="'开通时间'" sortable="'serviceBeginDate'">{{sim.serviceBeginDate | date:'yyyy-MM-dd'}}</td>
          <td class="text-nowrap" data-title="'到期时间'" sortable="'serviceEndDate'">{{sim.serviceEndDate | date:'yyyy-MM-dd'}}</td>
          <td class="text-nowrap" data-title="'操作'">
            <button type="button" class="btn btn-default btn-xs"
                    ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN'"
                    ng-click="simMngCtrl.updateSim(sim)">修改
            </button>
          </td>
        </tr>
      </table>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="box-footer">
    <uib-pagination total-items="simMngCtrl.page.totalElements" ng-change="simMngCtrl.query(simMngCtrl.pageNumber-1,null,null,simMngCtrl.phoneNumber)"
                    max-size="5" ng-model="simMngCtrl.pageNumber" items-per-page="simMngCtrl.page.size" class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>
  </div>

</section>

