<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{'homePage'|translate}}</a></li>
    <li class="active">{{'SIMManagement'|translate}}</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">

  <div class="row form-group">

    <div class="col-md-1">
      <label class="control-label"> {{'SIMCardNumber'|translate}}</label>
    </div>

    <div class="col-md-3">
      <input type="text" name="deviceNum" class="form-control " ng-model="simMngCtrl.sim.phoneNumber" placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-1">
      <label class="control-label"> {{'simSerialNumber'|translate}}</label>
    </div>

    <div class="col-md-3">
      <input type="text" name="SerialNumber" class="form-control " ng-model="simMngCtrl.sim.serialNumber" placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>

  </div>
  <div class="row form-group">

    <div class="col-md-1">
      <label class="control-label">{{'organisation'|translate}}</label>
    </div>

    <div class="col-md-3">
      <p class="input-group">
        <input type="text" id="org" class="form-control" placeholder="{{'organisation'|translate}}"
               ng-model="simMngCtrl.org.label" name="org" readonly required/>
        <span class="input-group-btn">
               <!--打开组织树-->
              <button type="button" class="btn btn-default" ng-click="simMngCtrl.openTreeInfo()">
                <i class="fa fa-sitemap"></i>
              </button>
            </span>
      </p>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-1">
      <label class="control-label">{{'supplier'|translate}}</label>
    </div>

    <div class="col-md-3">
      <ui-select name="status" ng-model="simMngCtrl.sim.provider" theme="bootstrap"
                 ng-disabled="disabled">
        <ui-select-match allow-clear="true" placeholder="{{'state'|translate}}">{{$select.selected.desc}}
        </ui-select-match>
        <ui-select-choices repeat="simProvider in simMngCtrl.sim.simProviderList">
          <div ng-bind-html="simProvider.desc | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary" type="button"  ng-click="simMngCtrl.reset()">{{'reset'|translate}}</button>
      <button class="btn btn-primary" type="button"  presentation-href="deviceMng:sim:query" ng-click="simMngCtrl.query(null,null,null,simMngCtrl.sim)">{{'query'|translate}}</button>

    </div>
  </div>

  <div class="row">
    <div class="btn-group col-md-2">
      <span class="label label-info pull-left">{{'totalNumberOfSIMcard'| translate}}:  {{simMngCtrl.page.totalElements}}</span>
    </div>
    <div class="col-md-10">


      <a class="btn btn-default pull-right" presentation-href="deviceMng:sim:create"
         ng-click="simMngCtrl.newSim()">
        <i class="fa fa-plus"></i> {{'add'|translate}}
      </a>
      <a class="btn btn-default pull-right" presentation-href="deviceMng:sim:import"
         ng-click="simMngCtrl.uploadSim()">
        <i class="fa fa-plus"></i> {{'bulkImport'|translate}}
      </a>

    </div>
  </div>
  <div class="row " style="padding: 10px">
      <div class="table-responsive">
      <table ng-table="simMngCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="sim in $data">

          <td class="text-nowrap" data-title="'SIMCardNumber'|translate" sortable="'phoneNumber'"><a href ng-click="simMngCtrl.updateSim(sim)">{{sim.phoneNumber}}</a></td>
          <td class="text-nowrap" data-title="'simSerialNumber'| translate" sortable="'serialNumber'">{{sim.serialNumber}}</td>

          <td class="text-nowrap" data-title="'theEquipment'|translate" sortable="'deviceinfo.deviceNum'">{{sim.deviceinfo.deviceNum}}</td>
          <td class="text-nowrap" data-title="'organisation'| translate" sortable="'deviceinfo.org.label'">{{sim.deviceinfo.org.label}}</td>
          <td class="text-nowrap" data-title="'supplier'| translate" sortable="'statusDesc'">{{sim.providerDesc}}</td>
          <td class="text-nowrap" data-title="'remarks'| translate" sortable="'description'">{{sim.description}}</td>
          <td class="text-nowrap" data-title="'price(RMB)'|translate" sortable="'price'">{{sim.price}}</td>
          <td class="text-nowrap" data-title="'activeTime'|translate" sortable="'activeTime'">{{sim.activeTime | date:'yyyy-MM-dd'}}</td>
          <td class="text-nowrap" data-title="'serviceBeginDate'|translate" sortable="'serviceBeginDate'">{{sim.serviceBeginDate | date:'yyyy-MM-dd'}}</td>
          <td class="text-nowrap" data-title="'serviceEndDate'|translate" sortable="'serviceEndDate'">{{sim.serviceEndDate | date:'yyyy-MM-dd'}}</td>
          <td class="text-nowrap" data-title="'operation'|translate">

            <button type="button" class="btn btn-default btn-xs" presentation-href="deviceMng:sim:modify"
                    ng-click="simMngCtrl.updateSim(sim)">{{'alter'| translate}}
            </button>

            <button type="button" class="btn btn-default btn-xs" presentation-href="deviceMng:sim:state"
                    ng-click="simMngCtrl.currentSim(sim,'lg')">{{'state'| translate}}
            </button>


          </td>
        </tr>
      </table>
      </div>
    </div>
  <div class="row">
  </div>
  <div class="box-footer">
    <uib-pagination total-items="simMngCtrl.page.totalElements" ng-change="simMngCtrl.query(simMngCtrl.pageNumber-1,null,null,simMngCtrl.sim)"
                    max-size="5" ng-model="simMngCtrl.pageNumber" items-per-page="simMngCtrl.page.size" class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
  </div>

</section>

