<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">SIM卡管理</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-1">
      <label class="control-label">SIM卡号:</label>

    </div>
    <div class="col-md-2">
      <input type="text" name="deviceNum" class="form-control " ng-model="simMngCtrl.phoneNumber" placeholder="支持模糊查询"/>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" type="button" ng-click="simMngCtrl.query(0,10,null,simMngCtrl.phoneNumber)">查询</button>
    </div>

    <div class="col-md-5">

      <a class="btn btn-primary pull-right"
         ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ||userInfo.userdto.role == 'ROLE_ADMIN'"
         ng-click="simMngCtrl.newSim()">
        <i class="fa fa-plus"></i> 增加
      </a>
      <a class="btn btn-primary pull-right"
         ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ||userInfo.userdto.role == 'ROLE_ADMIN'"
         ng-click="simMngCtrl.uploadSim()">
        <i class="fa fa-plus"></i> 批量导入
      </a>
    </div>
  </div>
  <div class="row">
    <div class="btn-group col-md-2">
      <label class="btn btn-default btn-xs" ng-model="simMngCtrl.radioListType" uib-btn-radio="'list'" uncheckable>列表</label>
      <label class="btn btn-default btn-xs" ng-model="simMngCtrl.radioListType" uib-btn-radio="'block'" uncheckable>列块</label>
    </div>
  </div>
  <div class="row " style="padding-top: 10px">
    <div ng-if="simMngCtrl.radioListType == 'block'" class="col-md-3" ng-repeat="sim in simMngCtrl.simList">
      <div class="box box-success">
        <div class="box-header">
          <h5 class="box-title">{{sim.identityId}}</h5>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              SIM卡号:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.phoneNumber}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              序列号:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.serialNumber}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              价格(元):
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.price}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              当前状态:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.statusDesc}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              企业名称:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.org.label}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              流量统计月份:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.gsmDataMonth}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              当月流量限额(MB):
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.gsmDataLimit}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              当月已用流量(MB):
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.gsmDataCurrentMonth}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              总共已用流量(MB):
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.gsmDataTotal}}
            </div>
          </div>


          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              备注:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.description}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              开通时间:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.serviceBeginDate | date:'yyyy-MM-dd'}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="padding-left: 15px;padding-right: 0px">
              到期时间:
            </div>
            <div class="col-md-7" style="padding-left: 0px;padding-right: 0px">
              {{sim.serviceEndDate | date: 'yyyy-MM-dd'}}
            </div>
          </div>
        </div>
        <div class="box-footer">
          <code>
            <div class="pull-right">
              <button type="button" class="btn btn-default btn-xs"
                      ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ||userInfo.userdto.role == 'ROLE_ADMIN'"
                      ng-click="simMngCtrl.updateSim(sim)">修改
              </button>
            </div>
          </code>
        </div>
      </div>
    </div>
    <div ng-if="simMngCtrl.radioListType == 'list'" >
      <table class="table table-striped" id="deviceTable">
        <tr>
          <th>SIM卡号</th>
          <th>序列号</th>
          <th>价格(元)</th>
          <th>当前状态</th>
          <th>企业名称</th>
          <th>流量统计月份</th>
          <th>当月流量限额(MB)</th>
          <th>当月已用流量(MB)</th>
          <th>总共已用流量(MB)</th>
          <th>备注</th>
          <th>开通时间</th>
          <th>到期时间</th>
          <th>操作</th>
        </tr>
        <tr ng-repeat="sim in simMngCtrl.simList">
          <td> {{sim.phoneNumber}}</td>
          <td> {{sim.serialNumber}}</td>
          <td> {{sim.price}}</td>
          <td> {{sim.statusDesc}}</td>
          <td> {{sim.org.label}}</td>
          <td> {{sim.gsmDataMonth}}</td>
          <td> {{sim.gsmDataLimit}}</td>
          <td> {{sim.gsmDataCurrentMonth}}</td>
          <td> {{sim.gsmDataTotal}}</td>
          <td> {{sim.description}}</td>
          <td>   {{sim.serviceBeginDate | date:'yyyy-MM-dd'}}</td>
          <td>   {{sim.serviceEndDate | date:'yyyy-MM-dd'}}</td>
          <td>
            <button type="button" class="btn btn-default btn-xs"
                    ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ||userInfo.userdto.role == 'ROLE_ADMIN'"
                    ng-click="simMngCtrl.updateSim(sim)">修改
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="box-footer">
    <uib-pagination total-items="simMngCtrl.page.totalElements" ng-change="simMngCtrl.query(simMngCtrl.pageNumber-1,10,null,simMngCtrl.phoneNumber)"
                    max-size="5" ng-model="simMngCtrl.pageNumber" items-per-page="simMngCtrl.page.size" class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>
  </div>

</section>

