<div class="modal-header">
    <h3 class="modal-title">请输入新密码</h3>
</div>
<form name="updatePasswordForm" ng-submit="updatePasswordCtrl.ok(updatePasswordCtrl.updatePassword.password)">
    <div class="modal-body">
        <div class="form-group">
            <input type="password" id="password" class="form-control" placeholder="密码" ng-model="updatePasswordCtrl.updatePassword.password" name="password" required/>
        </div>
        <div class="form-group">
            <input type="password" id="confirmPassword" class="form-control" placeholder="重复密码" ng-model="updatePasswordCtrl.updatePassword.confirmPassword" name="confirmPassword" data-match="updatePasswordCtrl.updatePassword.password" required/>
          <span class="text-red" data-ng-show="updatePasswordForm.confirmPassword.$error.match">密码两次输入不匹配</span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-show="updatePasswordForm.confirmPassword.$valid" >确定</button>
        <button class="btn btn-warning" type="button" ng-click="updatePasswordCtrl.cancel()">取消</button>
    </div>
</form>
