<div class="modal-header">
  <h3 class="modal-title">修改SIM</h3>
</div>
<form name="newMachineForm"class="form-horizontal w5c-form"  w5c-form-validate="vm.validateOptions">
  <input type="hidden" ng-model="updateSimController.sim.statusDesc"/>
  <div class="modal-body">
    <div class="box-body">
        <div class="form-group">
          <label for="phoneNumber" class="col-sm-2 control-label">SIM卡号</label>
          <div class="col-sm-10">
            <input type="text" id="phoneNumber" class="form-control" placeholder="SIM卡号"
                   ng-model="updateSimController.sim.phoneNumber" name="phoneNumber" required/>
          </div>
        </div>

        <div class="form-group">
          <label for="serialNumber" class="col-sm-2 control-label">序列号</label>
          <div class="col-sm-10">
            <input type="text" id="serialNumber" class="form-control" placeholder="序列号"
                   ng-model="updateSimController.sim.serialNumber" name="serialNumber" required/>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">价格(元)</label>
          <div class="col-sm-10">
            <input type="text" id="price" class="form-control" placeholder="价格(元)"
                   ng-model="updateSimController.sim.price" name="price" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">流量限额(MB)</label>
          <div class="col-sm-10">
            <input type="text" id="gsmDataLimit" class="form-control" placeholder="流量限额(MB)"
                   ng-model="updateSimController.sim.gsmDataLimit" name="gsmDataLimit" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">开通时间</label>
          <div class="col-sm-10">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                     ng-model="updateSimController.sim.serviceBeginDate" is-open="updateSimController.serviceBeginDateOpenStatus.opened"
                     datepicker-options="dateOptions" ng-readonly="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="updateSimController.serviceBeginDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">服务结束时间</label>
          <div class="col-sm-10">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                     ng-model="updateSimController.sim.serviceEndDate" is-open="updateSimController.serviceEndDateOpenStatus.opened"
                     datepicker-options="dateOptions" ng-readonly="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="updateSimController.serviceEndDateOpen($event)">
                  <i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">备注</label>
          <div class="col-sm-10">
            <input type="text" id="description" class="form-control" placeholder="备注"
                   ng-model="updateSimController.sim.description" name="description"/>
          </div>
        </div>
      <i style="color: red" ng-if="null!=updateSimController.errorMsg">
        {{updateSimController.errorMsg}}<br/>
      </i>
      </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button"  w5c-form-submit="updateSimController.ok(updateSimController.sim)">保存</button>
    <button class="btn btn-warning" type="button" ng-click="updateSimController.cancel()">取消</button>
  </div>
</form>
