<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{'homePage'|translate}}</a></li>
    <li class="active">{{'sysconfigManagement'| translate}}</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">

  <div class="row form-group">
    <div class="col-md-2">
      <label class="control-label">{{'parameterName'|translate}}</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="name" class="form-control " ng-model="sysconfigMngCtrl.sysconfig.name"
             placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>

    <div class="col-md-2">
      <label class="control-label">{{'parameterValue'|translate}}</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="value" class="form-control " ng-model="sysconfigMngCtrl.sysconfig.value"
             placeholder="{{'supportfuzzyqueriesLettersAreCaseSensitive'|translate}}"/>
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary" type="button"
              presentation-href="config:sysconfigPage"
              ng-click="sysconfigMngCtrl.query(null,null,null,sysconfigMngCtrl.sysconfig)">{{'query'|translate}}
      </button>
      <button class="btn btn-primary" type="button" ng-click="sysconfigMngCtrl.reset()">{{'reset'|translate}}</button>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-2">
      <label class="control-label">{{'parameterDescription'|translate}}</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="description" class="form-control " ng-model="sysconfigMngCtrl.sysconfig.description"
             placeholder="{{'supportfuzzyqueriesLettersAreCaseSensitive'|translate}}"/>
    </div>
  </div>


  <div class="row form-group">
    <div class="btn-group col-md-3">
      <span class="label label-info pull-left">{{'totalNumberOfParameters'|translate}}:{{sysconfigMngCtrl.page.totalElements}}</span>
    </div>
    <div class="col-md-9">
      <a class="btn btn-default pull-right"
         presentation-href="config:sysconfigOper"
         ng-click="sysconfigMngCtrl.newSysconfig()">
        <i class="fa fa-plus"></i> {{'add'|translate}}
      </a>
    </div>
  </div>
  <div class="table-responsive">
    <table ng-table="sysconfigMngCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
      <tr ng-repeat="sysconfig in $data">
        <td class="text-nowrap" data-title="'parameterName'|translate" sortable="'name'">
          <a href ng-click="sysconfigMngCtrl.updateSysconfig(sysconfig)">{{sysconfig.name}}</a>
        </td>
        <td class="text-nowrap"  data-title="'parameterValue'|translate" sortable="'value'">
          <div title="{{sysconfig.value}}">{{sysconfig.value| limitTo: 30}}{{sysconfig.value.length > 30? '...' : ''}}</div></td>
        <td class="text-nowrap"  data-title="'parameterDescription'|translate" sortable="'description'" >
          <div title="{{sysconfig.description}}">{{sysconfig.description| limitTo: 15}}{{sysconfig.description.length > 15? '...' : ''}}</div></td>
        <td class="text-nowrap" data-title="'operation'|translate" align="center">
          <button type="button" class="btn btn-default btn-xs"
                  presentation-href="config:sysconfigOper"
                  ng-click="sysconfigMngCtrl.updateSysconfig(sysconfig)">{{'alter'|translate}}
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="box-footer">
    <uib-pagination total-items="sysconfigMngCtrl.page.totalElements"
                    ng-change="sysconfigMngCtrl.query(sysconfigMngCtrl.pageNumber-1,null,null,null)"
                    max-size="5" ng-model="sysconfigMngCtrl.pageNumber" items-per-page="sysconfigMngCtrl.page.size"
                    class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="{{'pagingHomePage' | translate}}" last-text="{{'lastPage'|translate}}" next-text="{{'nextPage'|translate}}" previous-text="{{'previousPage'|translate}}"></uib-pagination>
  </div>

</section>

