<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">系统日志</li>
  </ol>
</section>

<!-- Main content -->
<section class="content form-horizontal">

  <div class="row form-group">
    <div class="col-md-2">
      <label class="control-label text-nowrap">起始日期:</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{formatCustom}}" ng-model="sysconfigLogCtrl.startDateDeviceData" is-open="sysconfigLogCtrl.startDateOpenStatusDeviceData.opened" datepicker-options="sysconfigLogCtrl.dateOptions" min-date="sysconfigLogCtrl.minDate" max-date="sysconfigLogCtrl.maxDate" ng-required="true" current-text="{{'today'|translate}}" clear-text="{{'cleanUp'|translate}}" close-text="{{'close'|translate}}" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="sysconfigLogCtrl.startDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-2">
      <label class="control-label text-nowrap">结束日期:</label>
    </div>
    <div class="col-md-3">
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{formatCustom}}" ng-model="sysconfigLogCtrl.endDateDeviceData" is-open="sysconfigLogCtrl.endDateOpenStatusDeviceData.opened" datepicker-options="sysconfigLogCtrl.dateOptions" ng-required="true" current-text="{{'today'|translate}}" clear-text="{{'cleanUp'|translate}}" close-text="{{'close'|translate}}" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="sysconfigLogCtrl.endDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-1 col-md-offset-1">
      <button class="btn btn-primary" type="button" presentation-href="config:sysconfiglog" ng-click="sysconfigLogCtrl.query(null,null,null,sysconfigLogCtrl.startDateDeviceData,sysconfigLogCtrl.endDateDeviceData)">{{'confirm'|translate}}</button>
    </div>
  </div>

  <div class="row form-group">
    <div class="btn-group col-md-3">
      <span class="label label-info pull-left">参数总数:{{sysconfigLogCtrl.page.totalElements}}</span>
    </div>
  </div>

  <div class="table-responsive">
    <table ng-table="sysconfigLogCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
      <tr ng-repeat="sysconfigLogData in $data">
        <td class="text-nowrap" data-title="'描述'" sortable="'updateDesc'">{{sysconfigLogData.updateDesc}}</td>
        <td class="text-nowrap" data-title="'修改人'" sortable="'operator'">{{sysconfigLogData.operator}}</td>
        <td class="text-nowrap" data-title="'所属组织'" sortable="'operatorOrg'">{{sysconfigLogData.operatorOrg}}</td>
        <td class="text-nowrap" data-title="'修改时间'" sortable="'recordTime'">{{sysconfigLogData.recordTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
    </table>
  </div>

  <div class="box-footer">
    <uib-pagination total-items="sysconfigLogCtrl.page.totalElements"
                    ng-change="sysconfigLogCtrl.query(sysconfigLogCtrl.pageNumber-1,null,null,sysconfigLogCtrl.startDateDeviceData,sysconfigLogCtrl.endDateDeviceData)"
                    max-size="10" ng-model="sysconfigLogCtrl.pageNumber" items-per-page="sysconfigLogCtrl.page.size"
                    class="pagination-sm" boundary-links="true" rotate="false"
                    first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>
  </div>
</section>

