
<div class="modal-header">
  <h3 class="modal-title">设备工作状态详情</h3>
</div>
<form name="deviceDetailForm" class="form-horizontal" ng-submit="ok()">
  <uib-tabset justified="true">
    <uib-tab>
      <uib-tab-heading>
        数据
      </uib-tab-heading>
      <div class="modal-body">
        <div class="box-body">
          <div class="row">
            <div class="col-md-3" >
              <highchart id="container-air" style="width: 200px; height: 150px; float: left"  config="deviceCurrentInfoCtrl.highchartsAir"></highchart>
            </div>
            <div class="col-md-6" >
              <highchart id="container-rpm" style="width: 400px; height: 200px; float:left" config="deviceCurrentInfoCtrl.highchartsRpm"></highchart>
            </div>
            <div class="col-md-3" >
              <highchart id="container-oil" style="width: 200px; height: 150px; float: left"  config="deviceCurrentInfoCtrl.highchartsOil"></highchart>
            </div>
            <!--<div class="col-md-4">-->
              <!--<highchart id="container-rpm" config="deviceCurrentInfoCtrl.highchartsAir"></highchart>-->
            <!--</div>-->
            <!--<div class="col-md-2">-->
              <!--<highchart id="container-oil" config="deviceCurrentInfoCtrl.highchartsAir"></highchart>-->
            <!--</div>-->
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <!-- Default panel contents -->
                <!-- Table -->
                <table class="table">
                  <tr>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:0">
                      <div ng-switch-when="0" class="chargeNormal" title="充电"></div>
                      <div ng-switch-when="1" class="chargeWarning" title="充电"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:1">
                      <div ng-switch-when="0" class="turnLeftNormal" title="左转"></div>
                      <div ng-switch-when="1" class="turnLeftWarning" title="左转"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:2">
                      <div ng-switch-when="0" class="centerCodeNormal" title="中央报警"></div>
                      <div ng-switch-when="1" class="centerCodeWarning" title="中央报警"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:3">
                      <div ng-switch-when="0" class="turnRightNormal" title="右转"></div>
                      <div ng-switch-when="1" class="turnRightNormal" title="右转"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:4">
                      <div ng-switch-when="0" class="stopPressNormal" title="制动压力"></div>
                      <div ng-switch-when="1" class="stopPressWarning" title="制动压力"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:5">
                      <div ng-switch-when="0" class="oilLevelNormal" title="燃油液位低"></div>
                      <div ng-switch-when="1" class="oilLevelWarning" title="燃油液位低"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:6">
                      <div ng-switch-when="0" class="holdNormal" title="驻车制动"></div>
                      <div ng-switch-when="1" class="holdWarning" title="驻车制动"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:7">
                      <div ng-switch-when="0" class="farLightNormal" title="远光"></div>
                      <div ng-switch-when="1" class="farLightWarning" title="远光"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:8">
                      <div ng-switch-when="0" class="fastSwitchNormal" title="快速切换"></div>
                      <div ng-switch-when="1" class="fastSwitchWarning" title="快速切换"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:9">
                      <div ng-switch-when="0" class="stabilizerNormal" title="稳压模块"></div>
                      <div ng-switch-when="1" class="stabilizerWarning" title="稳压模块"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:10">
                      <div ng-switch-when="0" class="differentialNormal" title="差速锁"></div>
                      <div ng-switch-when="1" class="differentialWarning" title="差速锁"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:11">
                      <div ng-switch-when="0" class="bridgeColderNormal" title="桥散热"></div>
                      <div ng-switch-when="1" class="bridgeColderWarning" title="桥散热"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:12">
                      <div ng-switch-when="0" class="oilWaterNormal" title="油水分离"></div>
                      <div ng-switch-when="1" class="oilWaterWarning" title="油水分离"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:13">
                      <div ng-switch-when="0" class="oilFilter2Normal" title="油滤"></div>
                      <div ng-switch-when="1" class="oilFilter2Warning" title="油滤"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:14">
                      <div ng-switch-when="0" class="oilTempratureNormal" title="液压油温"></div>
                      <div ng-switch-when="1" class="oilTempratureWarning" title="液压油温"></div>
                    </td>
                  </tr>
                  <tr>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:15">
                      <div ng-switch-when="0" class="safeLockNormal" title="安全锁定"></div>
                      <div ng-switch-when="1" class="safeLockWarning" title="安全锁定"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:16">
                      <div ng-switch-when="0" class="colderOilLevelNormal" title="冷却液位"></div>
                      <div ng-switch-when="1" class="colderOilLevelWarning" title="冷却液位"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:17">
                      <div ng-switch-when="0" class="preWarmNormal" title="预热"></div>
                      <div ng-switch-when="1" class="preWarmWarning" title="预热"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:18">
                      <div ng-switch-when="0" class="powerShutNormal" title="动力切断"></div>
                      <div ng-switch-when="1" class="powerShutWarning" title="动力切断"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:19">
                      <div ng-switch-when="0" class="muteNormal" title="静音"></div>
                      <div ng-switch-when="1" class="muteWarning" title="静音"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:20">
                      <div ng-switch-when="0" class="backCoverNormal" title="后罩开启"></div>
                      <div ng-switch-when="1" class="backCoverWarning" title="后罩开启"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:21">
                      <div ng-switch-when="0" class="oilFilterNormal" title="油滤"></div>
                      <div ng-switch-when="1" class="oilFilterWarning" title="油滤"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:22">
                      <div ng-switch-when="0" class="airFilterNormal" title="空滤"></div>
                      <div ng-switch-when="1" class="airFilterWarning" title="空滤"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:23">
                      <div ng-switch-when="0" class="colderNormal" title="散热故障"></div>
                      <div ng-switch-when="1" class="colderWarning" title="散热故障"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:24">
                      <div ng-switch-when="0" class="speedSwitchNormal" title="变速箱压力低"></div>
                      <div ng-switch-when="1" class="speedSwitchWarning" title="变速箱压力低"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:25">
                      <div ng-switch-when="0" class="engineError1Normal" title="发动机故障1"></div>
                      <div ng-switch-when="1" class="engineError1Warning" title="发动机故障1"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:26">
                      <div ng-switch-when="0" class="engineError2Normal" title="发动机故障2"></div>
                      <div ng-switch-when="1" class="engineError2Warning" title="发动机故障2"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:27">
                      <div ng-switch-when="0" class="colderOilTempratureNormal" title="冷却液温度高"></div>
                      <div ng-switch-when="1" class="colderOilTempratureNormal" title="冷却液温度高"></div>
                    </td>
                    <td ng-switch on="deviceCurrentInfoCtrl.deviceinfo.ledStatus | limitTo:1:28">
                      <div ng-switch-when="0" class="engineOilPressureNormal" title="机油压力低"></div>
                      <div ng-switch-when="1" class="engineOilPressureWarning" title="机油压力低"></div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row detailMargin">
                <table class="table table-striped" ng-init="rowInx=0">
                  <tr>
                    <th>名称</th>
                    <th>状态</th>
                    <th>名称</th>
                    <th>状态</th>
                    <th>名称</th>
                    <th>状态</th>
                  </tr>
                  <tr>
                    <td>终端编号</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.deviceNum}}</td>
                    <td>GPS协议版本</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.desiredProtocalVersion}}</td>
                    <td>GPS速度</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.gpsSpeed | number:2}}</td>
                  </tr>
                  <tr>
                    <td>是否定位</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.locateStatus=='A'" class="bg-info text-info">已定位</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.locateStatus=='V'" class="bg-danger text-danger">未定位</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.locateStatus==null">没有数据</td>
                    <td>定位时间</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.locateStatus=='A'" ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.locateDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.locateStatus=='V'">--</td>
                    <td>回传时间</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.lastDataUploadTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                  </tr>
                  <tr>
                    <td>车辆类型</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.deviceTypeDto.name}}</td>
                    <td>整机编号/车号</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.hostNo}}</td>
                    <td>GPS信号百分比</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.gprsSignal}}</td>
                  </tr>
                  <tr>
                    <td>运行总时间(小时)</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.totalDuration | number:2}}</td>
                    <td>燃油液位</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.oilLevel}}</td>
                    <td>冷却剂温度</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.engineTemperature}}</td>
                  </tr>
                  <tr>
                    <td>变矩器油温</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.oilTemperature| number:2}}</td>
                    <td>CAN通讯状态</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.commStatus=='10'" class="bg-danger text-danger">异常</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.commStatus=='01'" class="bg-info text-info">正常</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.commStatus==null">没有数据</td>
                    <td>供电方式</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.powerType=='00'" class="bg-info text-info">车载电源</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.powerType=='01'" class="bg-warning text-warning">内部电池</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.powerType==null">没有数据</td>
                  </tr>
                  <tr>
                    <td>GPS信号质量</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.gsmSignal}}</td>
                    <td ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ">运行监控</td>
                    <td ng-cloak ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ">{{deviceCurrentInfoCtrl.deviceinfo.workMonitor}}</td>
                    <td>实时工时(H)</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.realtimeDuration | number:2}}</td>
                  </tr>
                  <tr>
                    <td>启动次数</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.startTimes}}</td>
                    <td>锁车状态</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.lockStatus=='00'" class="bg-info text-info">正常</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.lockStatus=='01'" class="bg-warning text-warning">一级</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.lockStatus=='10'" class="bg-danger text-danger">二级</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.lockStatus==null">没有数据</td>
                    <td>ACC状态</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.accStatus=='01'" class="bg-info text-info">工作</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.accStatus=='10'" class="bg-danger text-danger">不工作</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.accStatus==null">没有数据</td>
                  </tr>
                  <tr>
                    <td>发电机状态</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.elecStatus=='01'" class="bg-info text-info">工作</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.elecStatus=='10'" class="bg-danger text-danger">不工作</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.elecStatus==null">没有数据</td>
                    <td>GPS电源检测</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.gpsPowerStatus=='00'" class="bg-info text-info">正常</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.gpsPowerStatus=='01'" class="bg-warning text-warning">无电源</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.gpsPowerStatus=='10'" class="bg-danger text-danger">无信号</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.gpsPowerStatus==null">没有数据</td>
                    <td>开盖状态</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.lockerStatus=='00'">未开盖</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.lockerStatus=='11'">开盖</td>
                    <td ng-if="deviceCurrentInfoCtrl.deviceinfo.lockerStatus==null">没有数据</td>
                  </tr>
                  <tr>
                    <td>模拟量1</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.imitate1}}</td>
                    <td>模拟量2</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.imitate2}}</td>
                    <td>SIM卡号</td>
                    <td ng-cloak>{{deviceCurrentInfoCtrl.deviceinfo.sim.phoneNumber}}</td>
                  </tr>
                </table>
                <table class="table table-striped" ng-init="rowInx=0">
                  <tr>
                    <td>当前位置</td>
                    <td class="text-nowrap">{{deviceCurrentInfoCtrl.deviceinfo.address}}</td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>

    <!--历史数据-->
    <uib-tab select="">
      <uib-tab-heading>
        历史数据
      </uib-tab-heading>

      <div class="modal-body">
        <div class="box-body">
          <div class="row">
            <div class="col-md-2">
              <label class="control-label">起始日期:</label>
            </div>
            <div class="col-md-3">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="deviceCurrentInfoCtrl.startDateDeviceData" is-open="deviceCurrentInfoCtrl.startDateOpenStatusDeviceData.opened" datepicker-options="deviceCurrentInfoCtrl.dateOptions" min-date="deviceCurrentInfoCtrl.minDate" max-date="deviceCurrentInfoCtrl.maxDate" ng-required="true" current-text="今天" clear-text="清除" close-text="关闭" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="deviceCurrentInfoCtrl.startDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
              </p>
            </div>
            <div class="col-md-2">
              <label class="control-label">结束日期:</label>
            </div>
            <div class="col-md-3">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="deviceCurrentInfoCtrl.endDateDeviceData" is-open="deviceCurrentInfoCtrl.endDateOpenStatusDeviceData.opened" datepicker-options="deviceCurrentInfoCtrl.dateOptions" ng-required="true" current-text="今天" clear-text="清除" close-text="关闭" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="deviceCurrentInfoCtrl.endDateOpenDeviceData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
              </p>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" type="button" ng-click="deviceCurrentInfoCtrl.getDeviceData(0,20,null,deviceCurrentInfoCtrl.deviceinfo.deviceNum,deviceCurrentInfoCtrl.startDateDeviceData,deviceCurrentInfoCtrl.endDateDeviceData)">确定</button>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <!-- Default panel contents -->
                <!-- Table -->
                <table class="table">
                  <tr>
                    <th class="text-nowrap">数据回传时间</th>
                    <th class="text-nowrap">定位时间</th>
                    <th class="text-nowrap">位置</th>
                    <th class="text-nowrap">速度</th>
                    <th class="text-nowrap">总工时</th>

                    <th class="text-nowrap">燃油液位</th>
                    <th class="text-nowrap">发动机转速</th>
                    <th class="text-nowrap">水温</th>
                    <th class="text-nowrap">CAN通信状态</th>
                    <th class="text-nowrap">供电方式</th>

                    <th class="text-nowrap">变矩器油温</th>
                    <th class="text-nowrap">制动气压</th>
                    <th class="text-nowrap">GPS信号质量</th>
                    <th class="text-nowrap" ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ">运行监控</th>
                    <th class="text-nowrap">LED状态</th>

                    <th class="text-nowrap">实时工时</th>
                    <th class="text-nowrap">启动次数</th>
                    <th class="text-nowrap">锁车状态</th>
                    <th class="text-nowrap">ACC状态</th>
                    <th class="text-nowrap">发电机状态</th>

                    <th class="text-nowrap">GPS电源检测</th>
                    <th class="text-nowrap">开盖状态</th>
                    <th class="text-nowrap">模拟量1</th>
                    <th class="text-nowrap">模拟量2</th>
                  </tr>
                  <tr ng-repeat="deviceData in deviceCurrentInfoCtrl.deviceDataList">
                    <td ng-cloak class="text-nowrap">{{deviceData.recordTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td ng-cloak ng-if="deviceData.locateStatus=='A'" class="text-nowrap">{{deviceData.locateDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td ng-cloak ng-if="deviceData.locateStatus=='V' || deviceData.locateStatus==null" class="text-nowrap">--</td>
                    <td ng-cloak ng-if="deviceData.locateStatus=='A' && deviceData.address!=null" class="text-nowrap" style="min-width: 300px">{{deviceData.address}}</td>
                    <td ng-cloak ng-if="deviceData.locateStatus=='V' || deviceData.locateStatus==null || deviceData.address==null" class="text-nowrap" style="min-width: 300px">--</td>
                    <td ng-cloak>{{deviceData.gpsSpeed | number:2}}</td>
                    <td ng-cloak>{{deviceData.totalDuration | number:2}}</td>

                    <td ng-cloak>{{deviceData.oilLevel}}</td>
                    <td ng-cloak>{{deviceData.enginRotate | number:2}}</td>
                    <td ng-cloak>{{deviceData.engineTemperature}}</td>
                    <!--串口通信状态-->
                    <td ng-if="deviceData.commStatus=='10'" class="bg-danger text-danger">异常</td>
                    <td ng-if="deviceData.commStatus=='01'" class="bg-info text-info">正常</td>
                    <td ng-if="deviceData.commStatus==null">没有数据</td>
                    <!--供电方式-->
                    <td ng-if="deviceData.powerType=='00'" class="bg-info text-info">车载电源</td>
                    <td ng-if="deviceData.powerType=='01'" class="bg-warning text-warning">内部电池</td>
                    <td ng-if="deviceData.powerType==null">没有数据</td>

                    <td ng-cloak>{{deviceData.oilTemperature}}</td>
                    <td ng-cloak>{{deviceData.pressureMeter}}</td>
                    <td ng-cloak>{{deviceData.gsmSignal}}</td>
                    <td ng-cloak ng-if="userInfo.userdto.role == 'ROLE_SYSADMIN' ">{{deviceData.workMonitor}}</td>
                    <td ng-cloak>{{deviceData.ledStatus}}</td>

                    <td ng-cloak>{{deviceData.realtimeDuration | number:2}}</td>
                    <td ng-cloak>{{deviceData.startTimes}}</td>
                    <!--锁车状态-->
                    <td ng-if="deviceData.lockStatus=='00'" class="bg-info text-info">正常</td>
                    <td ng-if="deviceData.lockStatus=='01'" class="bg-warning text-warning">一级</td>
                    <td ng-if="deviceData.lockStatus=='10'" class="bg-danger text-danger">二级</td>
                    <td ng-if="deviceData.lockStatus==null">没有数据</td>
                    <!--ACC状态-->
                    <td ng-if="deviceData.accStatus=='01'" class="bg-info text-info">工作</td>
                    <td ng-if="deviceData.accStatus=='10'" class="bg-danger text-danger">不工作</td>
                    <td ng-if="deviceData.accStatus==null">没有数据</td>
                    <!--发电机状态-->
                    <td ng-if="deviceData.elecStatus=='01'" class="bg-info text-info">工作</td>
                    <td ng-if="deviceData.elecStatus=='10'" class="bg-danger text-danger">不工作</td>
                    <td ng-if="deviceData.elecStatus==null">没有数据</td>

                    <!--GPS电源检测-->
                    <td ng-if="deviceData.gpsPowerStatus=='00'" class="bg-info text-info">正常</td>
                    <td ng-if="deviceData.gpsPowerStatus=='01'" class="bg-warning text-warning">无电源</td>
                    <td ng-if="deviceData.gpsPowerStatus=='10'" class="bg-danger text-danger">无信号</td>
                    <td ng-if="deviceData.gpsPowerStatus==null">没有数据</td>
                    <!--开盖状态-->
                    <td ng-if="deviceData.lockerStatus=='00'">未开盖</td>
                    <td ng-if="deviceData.lockerStatus=='11'">开盖</td>
                    <td ng-if="deviceData.lockerStatus==null">没有数据</td>
                    <!--模拟量1-->
                    <td ng-cloak>{{deviceData.imitate1}}</td>
                    <!--模拟量2-->
                    <td ng-cloak>{{deviceData.imitate2}}</td>
                    <!--总里程 消息结构中没有数据-->
                  </tr>

                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <uib-pagination total-items="deviceCurrentInfoCtrl.deviceDataPage.totalElements" ng-change="deviceCurrentInfoCtrl.getDeviceData(deviceCurrentInfoCtrl.deviceDataPageNumber-1,20,null,deviceCurrentInfoCtrl.deviceinfo.deviceNum,deviceCurrentInfoCtrl.startDateDeviceData,deviceCurrentInfoCtrl.endDateDeviceData)" max-size="10" ng-model="deviceCurrentInfoCtrl.deviceDataPageNumber" items-per-page="deviceCurrentInfoCtrl.deviceDataPage.size" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>
            </div>
          </div>
        </div>

      </div>
    </uib-tab>

    <!--报警数据-->
    <uib-tab select="">
      <uib-tab-heading>
        报警数据
      </uib-tab-heading>
      <div class="modal-body">
        <div class="box-body">
          <div class="row">
            <div class="col-md-2">
              <label class="control-label">起始日期:</label>
            </div>
            <div class="col-md-3">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="deviceCurrentInfoCtrl.startDateDeviceWarningData" is-open="deviceCurrentInfoCtrl.startDateOpenStatusDeviceWarningData.opened" datepicker-options="deviceCurrentInfoCtrl.dateOptions" min-date="deviceCurrentInfoCtrl.minDate" max-date="deviceCurrentInfoCtrl.maxDate" ng-required="true" current-text="今天" clear-text="清除" close-text="关闭" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="deviceCurrentInfoCtrl.startDateOpenDeviceWarningData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
              </p>
            </div>
            <div class="col-md-2">
              <label class="control-label">结束日期:</label>
            </div>
            <div class="col-md-3">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="deviceCurrentInfoCtrl.endDateDeviceWarningData" is-open="deviceCurrentInfoCtrl.endDateOpenStatusDeviceWarningData.opened" datepicker-options="deviceCurrentInfoCtrl.dateOptions" ng-required="true" current-text="今天" clear-text="清除" close-text="关闭" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="deviceCurrentInfoCtrl.endDateOpenDeviceWarningData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
              </p>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" type="button" ng-click="deviceCurrentInfoCtrl.getDeviceWarningData(0,20,null,deviceCurrentInfoCtrl.deviceinfo.deviceNum,deviceCurrentInfoCtrl.startDateDeviceWarningData,deviceCurrentInfoCtrl.endDateDeviceWarningData)">确定</button>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <!-- Default panel contents -->
                <!-- Table -->
                <table class="table">
                  <tr>
                    <th class="text-nowrap">终端编号</th>
                    <th class="text-nowrap">报警时间</th>
                    <th class="text-nowrap">数据回传时间</th>
                    <th class="text-nowrap">故障内容</th>
                  </tr>
                  <tr ng-repeat="deviceWarningData in deviceCurrentInfoCtrl.deviceWarningDataList">
                    <td ng-cloak class="text-nowrap">{{deviceWarningData.deviceNum}}</td>
                    <td ng-cloak class="text-nowrap">{{deviceWarningData.warningTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td ng-cloak class="text-nowrap">{{deviceWarningData.recordTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td ng-cloak class="text-nowrap">{{deviceWarningData.warningMsg}}</td>
                  </tr>

                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <uib-pagination total-items="deviceCurrentInfoCtrl.deviceWarningDataPage.totalElements" ng-change="deviceCurrentInfoCtrl.getDeviceWarningData(deviceCurrentInfoCtrl.deviceWarningDataPageNumber-1,20,null,deviceCurrentInfoCtrl.deviceinfo.deviceNum,deviceCurrentInfoCtrl.startDateDeviceWarningData,deviceCurrentInfoCtrl.endDateDeviceWarningData)" max-size="10" ng-model="deviceCurrentInfoCtrl.deviceWarningDataPageNumber" items-per-page="deviceCurrentInfoCtrl.deviceWarningDataPage.size" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="最后一页" next-text="下一页" previous-text="前一页"></uib-pagination>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>

    <!--地图-->
    <uib-tab select="deviceCurrentInfoCtrl.initMapTab(deviceCurrentInfoCtrl.deviceinfo)">
      <uib-tab-heading>
        地图
      </uib-tab-heading>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-1">
            <label class="control-label text-nowrap">起始日期:</label>
          </div>
          <div class="col-md-3">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup ng-model="deviceCurrentInfoCtrl.startDateMapData" is-open="deviceCurrentInfoCtrl.startDateOpenStatusMapData.opened" datepicker-options="deviceCurrentInfoCtrl.dateOptions" min-date="deviceCurrentInfoCtrl.minDate" max-date="deviceCurrentInfoCtrl.maxDate" ng-required="true" current-text="今天" clear-text="清除" close-text="关闭" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="deviceCurrentInfoCtrl.startDateOpenMapData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
            </p>
          </div>
          <div class="col-md-1">
            <label class="control-label text-nowrap">结束日期:</label>
          </div>
          <div class="col-md-3">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup ng-model="deviceCurrentInfoCtrl.endDateMapData" is-open="deviceCurrentInfoCtrl.endDateOpenStatusMapData.opened" datepicker-options="deviceCurrentInfoCtrl.dateOptions" ng-required="true" current-text="今天" clear-text="清除" close-text="关闭" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="deviceCurrentInfoCtrl.endDateOpenMapData($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
            </p>
          </div>
          <div class="col-md-1">
            <button class="btn btn-primary" type="button" ng-click="deviceCurrentInfoCtrl.getDeviceMapData(0,1000,null,deviceCurrentInfoCtrl.deviceinfo.deviceNum,deviceCurrentInfoCtrl.startDateMapData,deviceCurrentInfoCtrl.endDateMapData)">确定</button>
          </div>
          <div class="col-md-3">
            <button id="start" class="btn btn-default" type="button">开始动画</button>
            <button id="stop" class="btn btn-default" type="button">结束动画</button>
          </div>
          <!--<div class="col-md-1">-->
          <!--</div>-->

        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="box-body" style="height: 600px" id="deviceDetailMap"></div>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>

  <div class="modal-footer">
    <!--<button class="btn btn-primary" type="submit">OK</button>-->
    <button class="btn btn-warning" type="button" ng-click="deviceCurrentInfoCtrl.cancel()">关闭</button>
  </div>
</form>
