<div class="container" style="margin-top: 50px">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h2>
          Nvr Cloud, 在此 !
        </h2>
        <p>
          Hi ! 手机客户端终于与大家见面了，客户端集成了平台常用的一些功能。未来，我们将继续优化升级，为您提供更加智能，更加完善的产品！
        </p>
        <p>
          <a class="btn btn-primary btn-large" href="" target="_blank">{{ 'viewDetails' | translate }}</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6 column">
      <h2>
        Android
      </h2>
      <p>
        {{ 'scanQRcode' | translate }}<br>
        <!--<img src="assets/images/apk_download.png">-->
      </p>
      <p>
        <a class="btn" href="">{{ 'download' | translate }} »</a>
      </p>
    </div>
    <div class="col-md-6 column">
      <h2>
        Iphone
      </h2>
      <p>
        {{ 'comingSoon' | translate }}!
      </p>
    </div>
  </div>
</div>
