<div class="modal-header">
  <h3 class="modal-title">修改升级文件</h3>
</div>
<form name="modifyFileForm" class="form-horizontal" enctype="multipart/form-data">
  <div class="modal-body">
    <div class="box-body form-horizontal">
      <div class="form-group">
        <b class="col-sm-2 text-right">文件名</b>
        <div class="col-sm-10">{{modifyFileCtrl.updateFile.fileName}}</div>
      </div>
      <div class="form-group">
        <label for="versionNum" class="col-sm-2 control-label">{{'ProtocolVersion'|translate}}</label>
        <div class="col-sm-10">
          <input type="text" id="versionNum" class="form-control" placeholder="协议版本" ng-model="modifyFileCtrl.updateFile.versionNum" name="versionNum" validator="required"/>
        </div>
      </div>
      <div class="form-group">
        <label for="softVersion" class="col-sm-2 control-label">软件版本</label>
        <div class="col-sm-10">
          <span style="position: absolute;left: 28px;height: 34px;line-height: 34px;">VER</span>
          <input type="text" id="softVersion" class="form-control" placeholder="软件版本" ng-model="modifyFileCtrl.softVersion" name="softVersion" validator="required,softVersionNum" style="padding-left: 42px;"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">项目组</label>
        <div class="col-sm-10">
          <select name="projectTeam" class="form-control" ng-model="modifyFileCtrl.updateFile.projectTeam"
                  ng-change="modifyFileCtrl.getProjectCodeList(modifyFileCtrl.updateFile.projectTeam)"
                  ng-options="projectTeam.code as projectTeam.label for projectTeam in modifyFileCtrl.projectTeamList">
            <option value="">请选择...</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">项目代号</label>
        <div class="col-sm-10">
          <select name="projectCode" class="form-control" ng-model="modifyFileCtrl.updateFile.projectCode"
                  ng-change="modifyFileCtrl.getCustomerCodeList(modifyFileCtrl.updateFile.projectCode)"
                  ng-options="projectCode.code as projectCode.label for projectCode in modifyFileCtrl.projectCodeList">
            <option value="">请选择...</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">客户编码</label>
        <div class="col-sm-10">
          <select name="customerCode" class="form-control" ng-model="modifyFileCtrl.updateFile.customerCode"
                  ng-options="customerCode.code as customerCode.label for customerCode in modifyFileCtrl.customerCodeList">
            <option value="">请选择...</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">硬件版本</label>
        <div class="col-sm-10">
          <select name="hardwareVersion" class="form-control" ng-model="modifyFileCtrl.updateFile.hardwareVersion" validator="required">
            <option value="0">全部为0</option>
            <option value="1">VER1</option>
            <option value="2">VER2</option>
            <option value="3">VER3</option>
            <option value="4">VER4</option>
            <option value="5">VER5</option>
            <option value="6">VER6</option>
            <option value="7">VER7</option>
            <option value="8">VER8</option>
            <option value="9">VER9</option>
            <option value="10">VER10</option>
            <option value="11">VER11</option>
            <option value="12">VER12</option>
            <option value="13">VER13</option>
            <option value="14">VER14</option>
            <option value="15">VER15</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">升级方式</label>
        <div class="col-sm-10">
          <select name="upgradeMethod" class="form-control" ng-model="modifyFileCtrl.updateFile.upgradeMethod" validator="required">
            <option value="1">GPS自身</option>
            <option value="2">HY64</option>
            <option value="3">BIN文件</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="remarks" class="col-sm-2 control-label">{{'remarks'|translate}}</label>
        <div class="col-sm-10">
          <textarea rows="3" class="form-control" id="remarks" name="remarks" ng-model="modifyFileCtrl.updateFile.remarks" placeholder="{{'remarks'|translate}}" style="resize: none;"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" validation-submit="modifyFileForm" ng-click="modifyFileCtrl.ok(modifyFileCtrl.softVersion,modifyFileCtrl.updateFile)" >保存</button>
    <button class="btn btn-warning" type="button" ng-click="modifyFileCtrl.cancel()">取消</button>
  </div>
</form>




