<div class="modal-header">
  <h3 class="modal-title">上传升级文件</h3>
</div>
<form name="newFileForm" class="form-horizontal" enctype="multipart/form-data">
  <div class="modal-body">
    <div class="box-body form-horizontal">
      <div class="form-group">
        <label for="updateFile" class="col-sm-2 control-label">选择文件</label>
        <div class="col-sm-10">
          <input type="file" ngf-select id="updateFile" ng-model="newUpdateFileCtrl.file" ngf-max-size="2MB" required ngf-model-invalid="errorFiles" name="updateFile" />
        </div>
      </div>
      <div class="form-group">
        <label for="versionNum" class="col-sm-2 control-label">协议版本</label>
        <div class="col-sm-10">
          <input type="text" id="versionNum" class="form-control" placeholder="协议版本" ng-model="newUpdateFileCtrl.file.versionNum" name="versionNum" validator="required"/>
        </div>
      </div>
      <div class="form-group">
        <label for="softVersion" class="col-sm-2 control-label">软件版本</label>
        <div class="col-sm-10">
          <span style="position: absolute;left: 28px;height: 34px;line-height: 34px;">VER</span>
          <input type="text" id="softVersion" class="form-control" placeholder="软件版本" ng-model="newUpdateFileCtrl.file.softVersion" name="softVersion" validator="required,softVersionNum" style="padding-left: 42px;"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">适用对象</label>
        <div class="col-sm-10">
          <select name="fileType1" class="form-control" ng-model="newUpdateFileCtrl.file.fileType1"
                  ng-change="newUpdateFileCtrl.getFileTypeList2(newUpdateFileCtrl.file.fileType1)"
                  ng-options="fileType1.value as fileType1.desc for fileType1 in newUpdateFileCtrl.fileTypeList1">
            <option value="">请选择...</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <select name="fileType2" class="form-control" ng-model="newUpdateFileCtrl.file.fileType2" ng-options="fileType2.value as fileType2.desc for fileType2 in newUpdateFileCtrl.fileTypeList2">
            <option value="">请选择...</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="remarks" class="col-sm-2 control-label">{{'remarks'|translate}}</label>
        <div class="col-sm-10">
          <textarea rows="3" class="form-control" id="remarks" name="remarks" ng-model="newUpdateFileCtrl.file.remarks" placeholder="{{'remarks'|translate}}" style="resize: none;"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" validation-submit="newFileForm" ng-click="newUpdateFileCtrl.ok(newUpdateFileCtrl.file)" presentation-href="updateFile:upload">保存</button>
    <button class="btn btn-warning" type="button" ng-click="newUpdateFileCtrl.cancel()">取消</button>
  </div>
</form>




