<div class="modal-header">
  <h3 class="modal-title">上传升级文件</h3>
</div>
<form name="newFileForm" class="form-horizontal" enctype="multipart/form-data">
  <div class="modal-body">
    <div class="box-body form-horizontal">
      <div class="form-group">
        <label for="updateFile" class="col-sm-2 control-label">选择文件</label>
        <div class="col-sm-10">
          <input type="file" ngf-select id="updateFile" ng-model="newUpdateFileCtrl.file" ngf-max-size="2MB" required ngf-model-invalid="errorFiles" name="updateFile" />
        </div>
      </div>
      <div class="form-group">
        <label for="versionNum" class="col-sm-2 control-label">版本号</label>
        <div class="col-sm-10">
          <span style="position: absolute;left: 28px;height: 34px;line-height: 34px;">VER</span>
          <input type="text" id="versionNum" class="form-control" placeholder="版本号" ng-model="newUpdateFileCtrl.file.versionNum" name="versionNum" validator="required,numberAndDot" style="padding-left: 42px;"/>
        </div>
      </div>
      <div class="form-group">
        <label for="applicableProducts" class="col-sm-2 control-label">适用对象</label>
        <div class="col-sm-10">
          <select class="form-control" id="applicableProducts" ng-model="newUpdateFileCtrl.file.applicableProducts">
            <option value="1">GPS自身</option>
            <option value="2">显示器</option>
            <option value="3">控制器</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="newUpdateFileCtrl.ok(newUpdateFileCtrl.file)" presentation-href="updateFile:upload">保存</button>
    <button class="btn btn-warning" type="button" ng-click="newUpdateFileCtrl.cancel()">取消</button>
  </div>
</form>




