<div class="modal-header">
  <h3 class="modal-title">选择升级文件</h3>
</div>
<form name="newFileForm" class="form-horizontal">
  <div class="modal-body" style="padding-bottom: 0;">
    <div class="box-body form-horizontal table-responsive">
      <table ng-table="selectUpdateFileCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
        <tr ng-repeat="updateFile in $data">
          <td class="text-nowrap text-center">
            <input type="radio"
                   name="selectFile"
                   ng-checked
                   ng-click="selectUpdateFileCtrl.fileSelection(updateFile)"
                   ng-model="updateFile.checked">
          </td>
          <td class="text-nowrap" data-title="'softVersion'|translate" sortable="'softVersion'">VER{{updateFile.softVersion/100 | number:2}}</td>
          <td class="text-nowrap" data-title="'fileSize'|translate" sortable="'size'">{{updateFile.size/1024 | number:1}}KB</td>
          <td class="text-nowrap" data-title="'项目组'" sortable="'projectTeam'">{{updateFile.projectTeamSec}}</td>
          <td class="text-nowrap" data-title="'项目代号'" sortable="'projectCode'">{{updateFile.projectCodeSec}}</td>
          <td class="text-nowrap" data-title="'客户编码'" sortable="'customerCode'">{{updateFile.customerCodeSec}}</td>

          <td class="text-nowrap" data-title="'硬件版本'" sortable="'hardwareVersion'" ng-if="updateFile.hardwareVersion=='0'">全部为0</td>
          <td class="text-nowrap" data-title="'硬件版本'" sortable="'hardwareVersion'" ng-if="updateFile.hardwareVersion!='0'">VER{{updateFile.hardwareVersion}}</td>

          <td class="text-nowrap" data-title="'升级方式'" sortable="'upgradeMethod'" ng-if="updateFile.upgradeMethod=='1'">GPS自身</td>
          <td class="text-nowrap" data-title="'升级方式'" sortable="'upgradeMethod'" ng-if="updateFile.upgradeMethod=='2'">HY64</td>
          <td class="text-nowrap" data-title="'升级方式'" sortable="'upgradeMethod'" ng-if="updateFile.upgradeMethod=='3'">BIN文件</td>
          <td class="text-nowrap" data-title="'升级方式'" sortable="'upgradeMethod'" ng-if="updateFile.upgradeMethod!='1'&&updateFile.upgradeMethod!='2'&&updateFile.upgradeMethod!='3'">{{updateFile.upgradeMethod}}</td>
          <!--<td class="text-nowrap" data-title="'升级方式'" sortable="'upgradeMethod'">BIN文件</td>-->

          <td class="text-nowrap" data-title="'上传时间'" sortable="'createTime'">{{updateFile.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td class="text-nowrap" data-title="'remarks'|translate" sortable="'remarks'" style="min-width: 300px;white-space: normal;">{{updateFile.remarks}}</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="box-footer" style="padding: 0 10px;">
    <uib-pagination total-items="selectUpdateFileCtrl.page.totalElements" ng-change="selectUpdateFileCtrl.query(selectUpdateFileCtrl.pageNumber-1,null,null,selectUpdateFileCtrl.versionNum)" max-size="15" ng-model="selectUpdateFileCtrl.pageNumber" items-per-page="selectUpdateFileCtrl.page.size" class="pagination-sm" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
  </div>


  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="selectUpdateFileCtrl.ok(selectUpdateFileCtrl.updateFile)" presentation-href="deviceUpdate:update">确定</button>
    <button class="btn btn-warning" type="button" ng-click="selectUpdateFileCtrl.cancel()">取消</button>
  </div>
</form>




