<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{'homePage'|translate}}</a></li>
    <li class="active">{{'upgradeFile'|translate}}</li>
  </ol>
</section>
<section class="content form-horizontal">
  <div class="row form-group">
    <div class="col-md-2">
      <label class="control-label">{{'ProtocolVersion'|translate}}</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="queryVersionNum" class="form-control" ng-model="updateFileMngCtrl.queryVersionNum" ng-keyup="$event.keyCode == 13 ? updateFileMngCtrl.query(0,null,null,updateFileMngCtrl.update) : null" placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>
    <div class="col-md-2">
      <label class="control-label">{{'softVersion'|translate}}</label>
    </div>
    <div class="col-md-3">
      <span style="position: absolute;left: 28px;height: 34px;line-height: 34px;">VER</span>
      <input type="text" name="querySoftVersion" class="form-control" ng-model="updateFileMngCtrl.querySoftVersion" ng-keyup="$event.keyCode == 13 ? updateFileMngCtrl.query(0,null,null,updateFileMngCtrl.update) : null" style="padding-left: 42px;"/>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" type="button" ng-click="updateFileMngCtrl.reset()">{{'reset'|translate}}</button>
      <button class="btn btn-primary" type="button" presentation-href="upgrade:upgradeFile:query" ng-click="updateFileMngCtrl.query(0,null,null,updateFileMngCtrl.update)" style="margin: 0 12px;">{{'rentalQuery'|translate}}</button>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-2">
      <label class="control-label">{{'fileName'|translate}}</label>
    </div>
    <div class="col-md-3">
      <input type="text" name="queryFileName" class="form-control" ng-model="updateFileMngCtrl.queryFileName" ng-keyup="$event.keyCode == 13 ? updateFileMngCtrl.query(0,null,null,updateFileMngCtrl.update) : null" placeholder="{{'supportfuzzyqueries'|translate}}"/>
    </div>
    <div class="col-md-2">
      <label class="control-label">{{'applicableObject'|translate}}</label>
    </div>
    <div class="col-md-3">
      <select class="form-control" id="applicableProducts" ng-model="updateFileMngCtrl.queryApplicableProducts">
        <option value="1">{{'GPSItself'|translate}}</option>
        <option value="2">{{'monitor'|translate}}</option>
        <option value="3">{{'controller'|translate}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default" type="button" presentation-href="upgrade:upgradeFile:upload" ng-click="updateFileMngCtrl.newUpdateFile();"><i class="fa fa-plus"></i>{{'upload'|translate}}</button>
    </div>
  </div>
  <div class="row form-group">
    <div class="btn-group col-md-2">
      <span class="label label-info pull-left">{{'totalVersion'|translate}}:  {{updateFileMngCtrl.page.totalElements}}</span>
    </div>
  </div>
  <div class="row " style="padding-top: 10px">
    <div class="col-md-12">
      <div class="table-responsive">
        <table ng-table="updateFileMngCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
          <tr ng-repeat="updateFile in $data">
            <td class="text-nowrap" data-title="'ID'" sortable="'id'">{{updateFile.id}}</td>
            <td class="text-nowrap" data-title="'ProtocolVersion'|translate" sortable="'versionNum'">{{updateFile.versionNum}}</td>
            <td class="text-nowrap" data-title="'softVersion'|translate" sortable="'softVersion'">VER{{updateFile.softVersion/100 | number: 2}}</td>
            <td class="text-nowrap" data-title="'fileName'|translate" sortable="'fileName'">{{updateFile.fileName}}</td>
            <td class="text-nowrap" data-title="'fileSize'|translate" sortable="'size'">{{updateFile.size/1024 | number: 1}}KB</td>
            <td class="text-nowrap" data-title="'applicableObject'|translate" sortable="'applicableProducts'" ng-if="updateFile.applicableProducts==null"></td>
            <td class="text-nowrap" data-title="'applicableObject'|translate" sortable="'applicableProducts'" ng-if="updateFile.applicableProducts==1">{{'GPSItself'|translate}}</td>
            <td class="text-nowrap" data-title="'applicableObject'|translate" sortable="'applicableProducts'" ng-if="updateFile.applicableProducts==2">{{'monitor'|translate}}</td>
            <td class="text-nowrap" data-title="'applicableObject'|translate" sortable="'applicableProducts'" ng-if="updateFile.applicableProducts==3">{{'controller'|translate}}</td>
            <td class="text-nowrap" data-title="'uploadTime'|translate" sortable="'createTime'">{{updateFile.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td data-title="'remarks'|translate" sortable="'remarks'" style="max-width: 500px;white-space: normal;">{{updateFile.remarks}}</td>
            <td class="text-nowrap text-center" data-title="'operation'|translate">
              <button type="button" class="btn btn-default btn-xs" ng-click="updateFileMngCtrl.modifyFile(updateFile)" presentation-href="upgrade:upgradeFile:modify">{{'rentalEdit'|translate}}</button>
              <button type="button" class="btn btn-default btn-xs btn-danger" ng-click="updateFileMngCtrl.removeFile(updateFile.id)" presentation-href="upgrade:upgradeFile:remove">{{'rentalDelete'|translate}}</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <uib-pagination total-items="updateFileMngCtrl.page.totalElements" ng-change="updateFileMngCtrl.query(updateFileMngCtrl.pageNumber-1,null,null,updateFileMngCtrl.versionNum)" max-size="15" ng-model="updateFileMngCtrl.pageNumber" items-per-page="updateFileMngCtrl.page.size" class="pagination-sm" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
  </div>
</section>
