<!-- Right side column. Contains the navbar and content of the page -->
<!-- Content Header (Page header) -->

<section class="content-header">
  <h1>
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">升级文件管理</li>
  </ol>
</section>

<section class="content form-horizontal">
  <div class="row form-group">
    <div class="col-md-1">
      <label class="control-label">协议版本</label>
    </div>
    <div class="col-md-2">
      <input type="text" name="queryVersionNum" class="form-control" ng-model="updateFileMngCtrl.queryVersionNum" ng-keyup="$event.keyCode == 13 ? updateFileMngCtrl.query(0,null,null,updateFileMngCtrl.update) : null" placeholder="支持模糊查询"/>
    </div>
    <div class="col-md-1">
      <label class="control-label">软件版本</label>
    </div>
    <div class="col-md-2">
      <span style="position: absolute;left: 28px;height: 34px;line-height: 34px;">VER</span>
      <input type="text" name="querySoftVersion" class="form-control" ng-model="updateFileMngCtrl.querySoftVersion" ng-keyup="$event.keyCode == 13 ? updateFileMngCtrl.query(0,null,null,updateFileMngCtrl.update) : null" placeholder="支持模糊查询" style="padding-left: 42px;"/>
    </div>
    <div class="col-md-1">
      <label class="control-label">文件名</label>
    </div>
    <div class="col-md-2">
      <input type="text" name="queryFileName" class="form-control" ng-model="updateFileMngCtrl.queryFileName" ng-keyup="$event.keyCode == 13 ? updateFileMngCtrl.query(0,null,null,updateFileMngCtrl.update) : null" placeholder="支持模糊查询"/>
    </div>
    <div class="col-md-1">
      <label class="control-label">升级方式</label>
    </div>
    <div class="col-md-2">
      <select name="upgradeMethod" class="form-control" ng-model="updateFileMngCtrl.queryUpgradeMethod">
        <option value="1">GPS自身</option>
        <option value="2">HY64</option>
        <option value="3">BIN文件</option>
      </select>
    </div>

  </div>
  <div class="row form-group">
    <div class="col-md-1">
      <label class="control-label">项目组</label>
    </div>
    <div class="col-md-2">
      <!--<select name="updateFileType1" class="form-control" ng-model="updateFileMngCtrl.queryUpdateFileType1"-->
              <!--ng-change="updateFileMngCtrl.getUpdateFileTypeList2(updateFileMngCtrl.queryUpdateFileType1)"-->
              <!--ng-options="updateFileType1.value as updateFileType1.desc for updateFileType1 in updateFileMngCtrl.updateFileTypeList1">-->
        <!--<option value="">请选择...</option>-->
      <!--</select>-->
      <select name="projectTeam" class="form-control" ng-model="updateFileMngCtrl.queryProjectTeam">
        <option value="0">老产品</option>
        <option value="1">GPS</option>
        <option value="2">仪表盘</option>
        <option value="3">显示器</option>
      </select>
    </div>
    <div class="col-md-1">
      <label class="control-label">项目代号</label>
    </div>
    <div class="col-md-2">
      <select name="projectCode" class="form-control" ng-model="updateFileMngCtrl.queryProjectCode">
        <option value="0">波士顿</option>
        <option value="1">波士顿</option>
        <option value="2">芝加哥</option>
        <option value="1">马德里</option>
        <option value="1">维也纳</option>
      </select>
    </div>
    <div class="col-md-1">
      <label class="control-label">客户编码</label>
    </div>
    <div class="col-md-2">
      <select name="customerCode" class="form-control" ng-model="updateFileMngCtrl.queryCustomerCode">
        <option value="0">全部为0</option>
        <option value="1">2790</option>
        <option value="2">2490</option>
        <option value="1">2116</option>
        <option value="1">1949</option>
      </select>
    </div>
    <div class="col-md-1">
      <label class="control-label">硬件版本</label>
    </div>
    <div class="col-md-2">
      <select name="hardwareVersion" class="form-control" ng-model="updateFileMngCtrl.queryHardwareVersion">
        <option value="0">全部为0</option>
        <option value="1">VER1</option>
        <option value="2">VER2</option>
        <option value="3">VER3</option>
        <option value="4">VER4</option>
        <option value="5">VER5</option>
        <option value="6">VER6</option>
        <option value="7">VER7</option>
        <option value="8">VER8</option>
        <option value="9">VER9</option>
        <option value="10">VER10</option>
        <option value="11">VER11</option>
        <option value="12">VER12</option>
        <option value="13">VER13</option>
        <option value="14">VER14</option>
        <option value="15">VER15</option>
      </select>
    </div>

  </div>
  <div class="row form-group">
    <div class="col-md-12 text-right">
      <button class="btn btn-primary" type="button" ng-click="updateFileMngCtrl.query(0,null,null,updateFileMngCtrl.update)" presentation-href="updateFile:page">查询</button>
      <button class="btn btn-primary" type="button"  ng-click="updateFileMngCtrl.reset()" style="margin: 0 12px;">重置</button>
      <button class="btn btn-default" type="button" ng-click="updateFileMngCtrl.newUpdateFile();" presentation-href="updateFile:upload"><i class="fa fa-plus"></i>上传</button>
    </div>
  </div>

  <div class="row form-group">
    <div class="btn-group col-md-2">
      <span class="label label-info pull-left">版本总数:  {{updateFileMngCtrl.page.totalElements}}</span>
    </div>
  </div>

  <div class="row " style="padding-top: 10px">
    <div class="col-md-12">
      <div class="table-responsive">
        <table ng-table="updateFileMngCtrl.tableParams" class="table table-condensed table-bordered table-striped text-nowrap">
          <tr ng-repeat="updateFile in $data">
            <td class="text-nowrap" data-title="'ID'" sortable="'id'">{{updateFile.id}}</td>
            <td class="text-nowrap" data-title="'协议版本'" sortable="'versionNum'">{{updateFile.versionNum}}</td>
            <td class="text-nowrap" data-title="'软件版本'" sortable="'softVersion'">VER{{updateFile.softVersion/100 | number: 2}}</td>
            <td class="text-nowrap" data-title="'文件名'" sortable="'fileName'">{{updateFile.fileName}}</td>
            <td class="text-nowrap" data-title="'文件大小'" sortable="'size'">{{updateFile.size/1024 | number: 1}}KB</td>
            <td class="text-nowrap" data-title="'项目组'" sortable="'projectTeam'">{{updateFile.projectTeam}}</td>
            <td class="text-nowrap" data-title="'项目代号'" sortable="'projectCode'">{{updateFile.projectCode}}</td>
            <td class="text-nowrap" data-title="'客户编码'" sortable="'customerCode'">{{updateFile.customerCode}}</td>
            <td class="text-nowrap" data-title="'硬件版本'" sortable="'hardwareVersion'">{{updateFile.hardwareVersion}}</td>
            <td class="text-nowrap" data-title="'升级方式'" sortable="'upgradeMethod'">{{updateFile.upgradeMethod}}</td>
            <td class="text-nowrap" data-title="'上传时间'" sortable="'createTime'">{{updateFile.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td data-title="'remarks'|translate" sortable="'备注'" style="max-width: 500px;white-space: normal;">{{updateFile.remarks}}</td>
            <td class="text-nowrap text-center" data-title="'操作'">
              <button type="button" class="btn btn-default btn-xs" ng-click="updateFileMngCtrl.modifyFile(updateFile)" presentation-href="updateFile:modify">修改</button>
              <button type="button" class="btn btn-default btn-xs btn-danger" ng-click="updateFileMngCtrl.removeFile(updateFile.id)" presentation-href="upgrade:upgradeFile:remove">删除</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="box-footer" style="background-color: transparent!important;border-top:none!important;">
    <uib-pagination total-items="updateFileMngCtrl.page.totalElements" ng-change="updateFileMngCtrl.query(updateFileMngCtrl.pageNumber-1,null,null,updateFileMngCtrl.versionNum)" max-size="15" ng-model="updateFileMngCtrl.pageNumber" items-per-page="updateFileMngCtrl.page.size" class="pagination-sm" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
  </div>
</section>
